{% set title = "Обратная связь" %}

{% set description = "Сообщение, которое Вы отправите через данную форму, руководитель интернет-магазина SkinRomance получит напрямую." %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<article class="page-feedback">

			<h1 class="title">
				Уважаемые посетители интернет-магазина SkinRomance!
			</h1>

			<p>
				Мы благодарны Вам за обращение! Нам очень важно, чтобы клиентам было комфортно с нами сотрудничать на всех этапах&nbsp;работы!
			</p>

			<p>
				Сообщение, которое Вы отправите через данную форму, руководитель интернет-магазина SkinRomance получит&nbsp;напрямую.
			</p>

			<h2 class="h1">
				Напишите нам отзыв
			</h2>

{% include "feedback/form.html" %}

		</article>

	</div>

{% endblock %}