{% set list = [

	{
		id    : 1,
		compare : [
			'2581 ₽',
			'-',
			'3 шт по 10 мл',
			'Германия',
			'Питание, увлажнение',
			'Любой',
			'Сухость',
			'Любой',
			'Ежедневное',
			'В любое время суток'
		]
	},
	{
		id    : 2,
		compare : [
			'2581 ₽',
			'-',
			'100 мл',
			'Франция',
			'Увлажнение',
			'Любой',
			'Любой',
			'Любой',
			'Ежедневное',
			'Вечернее'
		]
	},
	{
		id    : 3,
		compare : [
			'2581 ₽',
			'Скидка 20%',
			'100 мл',
			'Россия',
			'Смягчение, питание',
			'Любой',
			'Недостаток питания, сухость',
			'Любой',
			'Не чаще 2 раз в неделю',
			'В любое время суток'
		]
	},
	{
		id    : 4,
		compare : [
			'2581 ₽',
			'-',
			'100 мл',
			'Италия',
			'Смягчение, питание',
			'Любой',
			'Недостаток питания',
			'Любой',
			'Не чаще 2 раз в неделю',
			'В любое время суток'
		]
	},
	{
		id    : 5,
		compare : [
			'2581 ₽',
			'-',
			'3 шт по 10 мл',
			'Германия',
			'Питание, увлажнение',
			'Любой',
			'Сухость',
			'Любой',
			'Ежедневное',
			'В любое время суток'
		]
	},
	{
		id    : 6,
		compare : [
			'2581 ₽',
			'-',
			'100 мл',
			'Италия',
			'Смягчение, питание',
			'Любой',
			'Недостаток питания',
			'Любой',
			'Не чаще 2 раз в неделю',
			'В любое время суток'
		]
	},
	{
		id    : 7,
		compare : [
			'2581 ₽',
			'Скидка 20%',
			'100 мл',
			'Россия',
			'Смягчение, питание',
			'Любой',
			'Недостаток питания, сухость',
			'Любой',
			'Не чаще 2 раз в неделю',
			'В любое время суток'
		]
	}

] %}

	<div class="catalog-list is-compare swiper-wrapper">

{% for item in list %}

		<div class="catalog-list__item swiper-slide">

			<div class="compare-table">

{% for key in item.compare %}

				<div class="compare-value">
					{{ key }}
				</div>

{% endfor %}

			</div>

		</div>

{% endfor %}

	</div>