{% set title = "Оплата" %}

{% set description = "Оплата по картой, Оплата наличными на пункте самовывоза, Оплата через СБП, Безналичная (юридическое лицо)" %}

{% set breadcrumbs = ["Информация",title] %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<article class="page-bar">

			<h1 class="title">
				Как оплатить в интернет-магазине SkinRomance
			</h1>

			<div class="page-bar__box">

				<div class="page-bar__head">

{% include "about/menu.html" %}

				</div>

				<div class="page-bar__body">

					<p>
						Уважаемые наши клиенты!
					</p>

					<p>
						С самого начала работы нашего интернет-магазина мы стремились сделать его максимально удобным для вас, потому и была введена возможность «Оплаты заказа при получении». Спустя 11 лет работы, с 1 марта 2022 года мы переходим на выполнение <b>только оплаченных заказов</b>.
					</p>

					<p>
						Предоплата возможна в размере 50% или 100%.
					</p>

					<p>
						Эти изменения связаны с тем, что за время работы мы часто сталкивались с тем, что клиент не забирает заказ или не отвечает на звонок курьера. При этом все расходы по доставке и возврату ложатся на нас. Качество товара при возвратах также может страдать, а это недопустимо. Мы обязаны соблюдать и гарантировать сохранность.
					</p>

					<p>
						Вся косметика представленная в магазине имеет лучшие сроки годности, так как заказываем по 1-2 позиции на склад  или индивидуально под клиента, чтобы сохранить качество и не допустить излишних доставок при возврате. Мы небольшая компания, которая специализируется только на профессиональной косметики и ценностью является качество доставляемой продукции.
					</p>

					<p>
						Мы всегда с Вами на связи – по телефону, <a href="https://wa.me/79222977730" target="_blank" rel="noopener nofollow"><b>whatsapp</b></a> и <a href="mailto:shop@skinromance.ru"><b>почте</b></a>. Работаем открыто и честно, идем навстречу в решении различных вопросов.
					</p>

					<p>
						Наша компания официально зарегистрирована в Федеральной Налоговой службе. При оплате заказа вы увидите название организации с реквизитами – ООО «Жемчужина». Расчетный счет открыт в ОАО Альфа банк.
					</p>

					<p>
						Мы используем безопасную платежную «Систему быстрых платежей» или оплату по счёту.
					</p>

					<p>
						До начала сотрудничества банк  тщательно проверил нашу деятельность, т.к. банки работают только с проверенными магазинами.
					</p>

					<p>
						<b>Все Ваши заказы застрахованы.</b> <br> Благодарим за ваше доверие!
					</p>

					<div class="accordion">

{% for item in [
	{
		head : "Оплата через систему быстрых платежей (СБП)",
		body : 'Мы скомплектуем Ваш заказ, зарезервируем выбранные позиции, далее отправим ссылку для оплаты, через «Систему быстрых платежей» вы оплачиваете через любой удобный для Вас банк. Данная система является самой безопасной, так как не вводится номер карты. Оплата поступает к нам моментально, на официальный расчётный счёт АО «Альфа банк» <br>Просим отправить подтверждение удобным для Вас способом на <a href="https://wa.me/79222977730" target="_blank" rel="noopener nofollow"><b>whatsapp</b></a> и <a href="mailto:shop@skinromance.ru"><b>почту</b></a> <br>Мы уведомим Вас об оплате.'
	},
	{
		head : "Оплата по счёту",
		body : 'Мы скомплектуем Ваш заказ, зарезервируем выбранные позиции, далее отправим счёт на оплату. Просим после оплаты отправить платёжное поручение, для более оперативной отгрузки заказа, так как платежи по счёту могут поступать в течении 2-х дней.'
	},
	{
		head : "Оплата через Тинькофф, Сбербанк, Альфабанк",
		body : 'Если для Вас удобен такой способ оплаты. Мы отправим платёжные данные после комплектации  заказа на <a href="https://wa.me/79222977730" target="_blank" rel="noopener nofollow"><b>whatsapp</b></a> и <a href="mailto:shop@skinromance.ru"><b>почту</b></a>.'
	}
]%}

						<div class="accordion__item">

							<div class="accordion__head accordion__btn">

								<h2 class="page-bar__h3">
									{{ item.head }}
								</h2>

							</div>

							<div class="accordion__body">

								<div class="accordion__body-inner">

									<p>
										{{ item.body | safe }}
									</p>

								</div>

							</div>

						</div>

{% endfor %}

					</div>

				</div>

			</div>

		</article>

{% include "_include/support.html" %}

	</div>

{% endblock %}