{% set title = "Оплата" %}

{% set description = "Оплата по картой, Оплата наличными на пункте самовывоза, Оплата через СБП, Безналичная (юридическое лицо)" %}

{% set breadcrumbs = ["Информация",title] %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<article class="page-bar">

			<h1 class="title">
				Как оплатить в интернет-магазине Cosmogid
			</h1>

			<div class="page-bar__box">

				<div class="page-bar__head">

{% include "about/menu.html" %}

				</div>

				<div class="page-bar__body">

					<p>
						Понравившиеся вещи Вы можете оплатить перечисленными ниже способами.
					</p>

					<p>
						А ещё сделанные на базе интернет-аналитики выводы своевременно верифицированы. Являясь всего лишь частью общей картины, представители современных социальных резервов, инициированные исключительно синтетически, преданы социально-демократической анафеме. В своём стремлении улучшить пользовательский опыт мы упускаем, что интерактивные прототипы, вне зависимости от их уровня, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Также как перспективное планирование однозначно определяет каждого участника как способного принимать собственные решения касаемо экономической целесообразности.
					</p>

					<div class="accordion">

{% for item in [
	{
		head : "Оплата по картой",
		body : "Обладатели карт Мир, Visa или MasterCard могут полностью оплатить заказ в момент его оформления. Данный вариант оплаты позволит сэкономить время при получении посылки. При встрече с курьером, менеджерами пункта самовывоза или почтового отделения вам нужно будет просто забрать заказ, предварительно предоставив документ, подтверждающий личность получателя."
	},
	{
		head : "Оплата наличными на пункте самовывоза",
		body : "Обладатели карт Мир, Visa или MasterCard могут полностью оплатить заказ в момент его оформления. Данный вариант оплаты позволит сэкономить время при получении посылки. При встрече с курьером, менеджерами пункта самовывоза или почтового отделения вам нужно будет просто забрать заказ, предварительно предоставив документ, подтверждающий личность получателя."
	},
	{
		head : "Оплата через СБП (Систему быстрых платежей)",
		body : "Обладатели карт Мир, Visa или MasterCard могут полностью оплатить заказ в момент его оформления. Данный вариант оплаты позволит сэкономить время при получении посылки. При встрече с курьером, менеджерами пункта самовывоза или почтового отделения вам нужно будет просто забрать заказ, предварительно предоставив документ, подтверждающий личность получателя."
	},
	{
		head : "Безналичная (юридическое лицо)",
		body : "Обладатели карт Мир, Visa или MasterCard могут полностью оплатить заказ в момент его оформления. Данный вариант оплаты позволит сэкономить время при получении посылки. При встрече с курьером, менеджерами пункта самовывоза или почтового отделения вам нужно будет просто забрать заказ, предварительно предоставив документ, подтверждающий личность получателя."
	}
]%}

						<div class="accordion__item">

							<div class="accordion__head accordion__btn">

								<h2 class="page-bar__h3">
									{{ item.head }}
								</h2>

							</div>

							<div class="accordion__body">

								<div class="accordion__body-inner">

									<p>
										{{ item.body }}
									</p>

								</div>

							</div>

						</div>

{% endfor %}

					</div>

				</div>

			</div>

		</article>

{% include "_include/support.html" %}

	</div>

{% endblock %}