{% set title = "Каталог профессиональной косметики" %}

{% set description = "Профессиональная косметика для лица огромный выбор по низким ценам в интернет-магазине профессиональной косметики CosmoGid." %}

{% set urlPage = "catalog" %}
{% set view = "column" %}

{% set breadcrumbs = ['Каталог'] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="center">

{% include "catalog/head.html" %}

		<div class="catalog__body">

			<div class="catalog__filter">

{% include "catalog/filter.html" %}

			</div>

			<div class="catalog__items">

{% include "catalog/bar.html" %}
{% include "catalog/pagin.html" %}
{% include "catalog/column.html" %}
{% include "catalog/pagin.html" %}

			</div>

		</div>

{% include "catalog/article.html" %}
{% include "catalog/articles.html" %}
{% include "home/procedure.html" %}
{% include "home/sale.html" %}
{% include "home/visited.html" %}

	</section>

{% endblock %}