{% set title = "Протоколы процедур (программы ухода от Cosmogid)" %}

{% set description = "Протоколы процедур (программы ухода от Cosmogid)" %}

{% set breadcrumbs = ["Каталог", "Лицо"] %}

{% extends "template/base.html" %}

{% block content %}

{% include "_include/content.html" %}

	<div class="center">

		<article class="catalog">

			<h1 class="title">
				{{ title }}
			</h1>

			<div class="catalog__box">

				<div class="catalog__filter">

{% include "catalog/filter.html" %}

				</div>

				<div class="catalog__body">

{% include "catalog/set/billboard.html" %}

{% include "catalog/sort.html" %}

{% include "catalog/tags.html" %}

{% include "catalog/set/list.html" %}

{% include "catalog/foot.html" %}

				</div>

			</div>

		</article>

{% include "_include/recently-watched-set.html" %}

{% include "_include/review.html" %}

{% include "_include/support.html" %}

	</div>

{% endblock %}