						<div class="preview-card__foot">

							<div class="preview-card__foot-buy">

	{% if card.buy === "enabled" or card.buy === "disabled" %}

								<button class="preview-card__buy btn"{% if card.buy === "disabled" %} disabled="disabled"{% endif %}>
									В корзину
								</button>

	{% endif %}

							</div>

							<div class="preview-card__foot-favourite">

	{% if [1,2] | random === 2 %}

								<button class="btn btn--favourite" type="button" aria-label="В избранное">
									<svg width="24" height="24" viewBox="0 0 24 24">
										<use xlink:href="#svg-favourite"/>
									</svg>
								</button>

	{% else %}

								<button class="btn btn--favourite" type="button" aria-label="Удалить из избранного">
									<svg width="24" height="24" viewBox="0 0 24 24">
										<use xlink:href="#svg-favourite-fill"/>
									</svg>
								</button>

	{% endif %}

							</div>

						</div>