			<div class="preview-card__head">

				<a href="/product/" class="preview-card__img">

					{% set img = [1,2,3,4,5] | random %}

					<picture>

						<source srcset="/img/preview-card/{{ img }}.webp 1x, /img/preview-card/{{ img }}@2x.webp 2x" type="image/webp">
						<source srcset="/img/preview-card/{{ img }}.jpg 1x, /img/preview-card/{{ img }}@2x.jpg 2x">

						<img src="/img/preview-card/{{ img }}.jpg" alt="Academie Ultimate Line Correcting serum (Корректирующая сыворотка от морщин), 30 мл" loading="lazy" width="272" height="200">

					</picture>

				</a>

{% if card.overlay %}

				<div class="overlay-disabled">

	{% if card.overlay === "login" %}

					<p class="overlay-disabled__title">
						Товар для специстов
					</p>

					<p class="overlay-disabled__text">
						Для покупки этого товара вам требуется регистрация
					</p>

					<button class="overlay-disabled__btn btn btn--outline" type="button" data-modal="login">
						Авторизоваться
					</button>

	{% elif card.overlay === "not" %}

					<p class="overlay-disabled__title">
						Отсутствует до 25.09.2020
					</p>

					<button class="overlay-disabled__btn btn btn--outline js-find-notify" type="button" data-modal="find-notify">
						Уведомить  / <span class="hidden-sm">найти</span> аналог
					</button>

	{% elif card.overlay === "withdrawn" %}

					<p class="overlay-disabled__title">
						Снят с продажи
					</p>

					<button

						class="overlay-disabled__btn btn btn--outline js-find-analogue"
						type="button"
						data-modal="find-analogue"
						data-id="123"
						data-articleid="234"
						data-link="/product/"
						data-price="2581"
						data-price-old="2888"
						data-img="/img/preview-card/preview-80x80.jpg"
						data-img2x="/img/preview-card/preview-160x160.jpg"
						data-name="Academie Ultimate Line Correcting serum (Корректирующая сыворотка от морщин), 30 мл"

					>
						Найти аналог
					</button>

{% endif %}

				</div>

{% endif %}

{% if card.label %}

				<div class="preview-card__label">

	{% for label in card.label %}

					<p class="preview-card__label-item is-{{ label.mod }}">
						<span class="visuallyhidden">{{ label.name }}</span> {{ label.value }}
					</p>

	{% endfor %}

				</div>

{% endif %}

{% if card.flag %}

				<div class="preview-card__flag">

					<p class="preview-card__flag-item is-{{ card.flag[0] }}">
						{{ card.flag[1] }}
					</p>

				</div>

{% endif %}

			</div>

			<p class="preview-card__rating">

				<span class="ratio ratio--product ratio--{{ card.rating }}">

{% if card.rating === 0 %}

					<span class="visuallyhidden">
						нет рейтинга
					</span>

{% else %}

					<span class="visuallyhidden">
						рейтинг
					</span>

					4,9

{% endif %}

				</span>

				<a href="/product/#review" class="preview-card__review">
					{{ card.review }}
				</a>

			</p>

			<p class="preview-card__madein">
				Kaaral (Италия)
			</p>

			<a href="/" class="preview-card__title tooltip-title" title="Academie Ultimate Line Correcting serum (Корректирующая сыворотка от морщин), 30 мл">
				Academie Ultimate Line Correcting serum (Корректирующая сыворотка от морщин), 30 мл
			</a>

			<p class="preview-card__price">

				<span class="price">

	{% if card.priceOld %}

					<s class="price__old">
						3456 ₽
					</s>

	{% endif %}

					<b class="price__value">
						2581 ₽
					</b>

				</span>

			</p>