			<div class="preview-card__modal-color hide">

				<div class="modal-card-color__left">

					<p class="modal-card-color__title">
						Краска для волос безаммиачная Wella Professionals Color Touch Vibrant Reds
					</p>

					<div class="modal-card-color__photo">

						<img src="/img/modal/card-color/big.jpg" srcset="/img/modal/card-color/big@2x.jpg 2x" width="468" height="468" loading="lazy" alt="">

					</div>

				</div>

				<div class="modal-card-color__right">

					<p class="modal-card-color__availability" data-color="green">
						есть в наличии
					</p>

					<p class="modal-card-color__price">

						<s class="modal-card-color__price-old">
							2581 ₽
						</s>

						<b class="modal-card-color__price-value">
							2581 ₽
						</b>

					</p>

					<p class="modal-card-color__label">

						<b>
							Выберите цвет краски:
						</b>

						<span class="modal-card-color__label-count">
							из 125 вариантов
						</span>

					</p>

					<ul class="modal-card-color__list is-scroll">

{% for i in range(0, 50) %}

						<li class="modal-card-color__item">

							<label class="modal-card-color__item-btn">

								<input

									type="radio"
									name="articleid"
									value="123{{ loop.index }}"
									class="modal-card-color__item-input visuallyhidden"

								{% if loop.index === 5%}

									checked="checked"

								{% endif %}

									data-src="/img/modal/card-color/big.jpg"
									data-srcset="/img/modal/card-color/big@2x.jpg 2x"

									data-price="2581 ₽"

								{% if [1,2] | random === 2 %}

									data-price-old="3456 ₽"

								{% endif %}

								{% if loop.index === 2 %}

									data-buy="disabled"

									data-overlay="login"
									data-overlay-title="Товар для специстов"
									data-overlay-text="Для покупки этого товара вам требуется регистрация"

									data-availability="есть в наличии"
									data-availability-color="green"

								{% elif loop.index === 3 %}

									data-buy="disabled"

									data-overlay="not"
									data-overlay-title="Отсутствует до 25.09.2020"

									data-availability="нет в наличии"
									data-availability-color="red"

								{% else %}

									{% if [true,false] | random %}

									data-buy="in-cart"

									{% endif %}

									data-availability="есть в наличии"
									data-availability-color="green"

								{% endif %}

								>

								<span class="modal-card-color__item-img">

									<img src="/img/modal/card-color/small.jpg" srcset="/img/modal/card-color/small@2x.jpg 2x" width="40" height="40" loading="lazy" alt="">

								</span>

								<span class="modal-card-color__item-label">
									Арт:65417626 <br>
									10/0 экстра светлый блонд натуральный
								</span>

							</label>

						</li>

{% endfor %}

					</ul>

					<div class="modal-card-color__submit">

						<button class="btn">
							В корзину
						</button>

					</div>

				</div>

			</div>