		<div class="preview-card__modal-preview-card hide">

			<div class="modal-preview-card__left">

				<div class="modal-preview-card__sku">
					Код: <b>TMC044</b>
				</div>

				<p class="modal-preview-card__title">

					<a href="/product/">
						Краска для волос безаммиачная Wella Professionals Color Touch Vibrant Reds
					</a>

				</p>

				<div class="modal-preview-card__photo">

					<img src="/img/modal/card-color/468x468.jpg" srcset="/img/modal/card-color/936x936.jpg 2x" width="468" height="468" loading="lazy" alt="">

				</div>

			</div>

			<div class="modal-preview-card__right">

				<p class="modal-preview-card__availability">

					<span class="availability is-not">
						есть в наличии
					</span>

				</p>

				<p class="modal-preview-card__price">

					<span class="price">

						<s class="price__old">
							2581 ₽
						</s>

						<b class="price__value">
							2581 ₽
						</b>

					</span>

				</p>

				<p class="modal-preview-card__label">

					<b>
						Выберите цвет краски:
					</b>

					<span class="modal-preview-card__label-count">
						из 125 вариантов
					</span>

				</p>

				<div class="modal-preview-card__list">

					<ul class="modal-preview-card__list-scroll is-scroll">

{% for i in range(0, 50) %}

						<li class="modal-preview-card__item">

							<label class="modal-preview-card__item-btn">

								<input

									type="radio"
									name="articleid"
									value="123{{ loop.index }}"
									class="modal-preview-card__item-input visuallyhidden"

								{% if loop.index === 5%}

									checked="checked"

								{% endif %}

									data-src="/img/modal/card-color/468x468.jpg"
									data-srcset="/img/modal/card-color/936x936.jpg 2x"

							{% if loop.index !== 2 %}

									data-price="2581 ₽"

								{% if [1,2] | random === 2 %}

									data-price-old="3456 ₽"

								{% endif %}

							{% endif %}

								{% if loop.index === 2 %}

									data-buy="disabled"

									data-overlay="login"
									data-overlay-title="Товар для специстов"
									data-overlay-text="Для покупки этого товара вам требуется регистрация"

								{% elif loop.index === 3 %}

									data-buy="disabled"

									data-overlay="not"
									data-overlay-title="Отсутствует до 25.09.2020"

								{% else %}

									{% if [true,false] | random %}

									data-buy="in-cart"

									{% endif %}

								{% endif %}

								>

								<span class="modal-preview-card__item-img">

									<img src="/img/modal/card-color/40x40.jpg" srcset="/img/modal/card-color/80x80.jpg 2x" width="40" height="40" loading="lazy" alt="">

								</span>

								<span class="modal-preview-card__item-label">
									Арт:65417626 <br>
									10/0 экстра светлый блонд натуральный
								</span>

							</label>

						</li>

{% endfor %}

					</ul>

				</div>

				<div class="modal-preview-card__submit">

					<div class="modal-preview-card__buy flex">

						<button class="btn flex--grow-1" disabled="disabled">

							Купить

							<svg width="24" height="24" viewBox="0 0 24 24">
								<use xlink:href="#svg-arrow-narrow-right"/>
							</svg>

						</button>

						<button class="btn btn--favourite" type="button" aria-label="В избранное">
							<svg width="24" height="24" viewBox="0 0 24 24">
								<use xlink:href="#svg-favourite"/>
							</svg>
						</button>

{#
	Если уже добавлен в избранное

						<button class="btn btn--favourite" type="button" aria-label="Удалить из избранного">
							<svg width="24" height="24" viewBox="0 0 24 24">
								<use xlink:href="#svg-favourite-fill"/>
							</svg>
						</button>
#}

						<button class="btn btn--compare" type="button" aria-label="Сравнить">
							<svg width="24" height="24" viewBox="0 0 24 24">
								<use xlink:href="#svg-compare"/>
							</svg>
						</button>

					</div>

					<button class="btn btn--outline w100p hidden-sm" type="button">
						Купить в 1 клик
					</button>

				</div>

			</div>

		</div>