{% set title = "Парафинотерапия — рецепт красоты и здоровья Вашей кожи" %}

{% set description = "Полезное действие парафина на кожу, Применение парафина в домашних условиях, Проведение парафинотерапии, Как выбрать косметический парафин, Как выбрать ванночку для парафинотерапии" %}

{% set urlPage = "articles/item" %}

{% set ogImage = "img/articles/item/ogImage.jpg" %}
{% set ogImage236 = "img/articles/item/ogImage236.jpg" %}

{% set breadcrumbs = ['Статьи',title] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

		<div class="news">

			<div class="news__body">

				<div class="news-item news-item--article">

					<div class="news-item__body">

						<header class="news-item__header">

							<div class="news-item__head">

								<a href="/" class="news-item__cat">
									тело
								</a>

								<time class="news-item__date" datetime="2020-11-02">
									02.11.2020
								</time>

								<span class="news-item__label">
									<span class="news-item__label-item">
										NEW
									</span>
								</span>

							</div>

							<h1 class="news-item__title is-first-letter">
								{{ title }}
							</h1>

						</header>

						<div class="news-item__text">

							<img class="img-pull-right" src="/img/articles/item/1.jpg" srcset="/img/articles/item/1@2x.jpg 2x" loading="lazy" alt="Полезное действие парафина на кожу">

							<h2>
								<u>Полезное</u> действие парафина на кожу
							</h2>

							<p>
								Бархатистая, невероятно гладкая, глубоко увлажнённая кожа даже в самое холодное время года — добиться столь потрясающих результатов Вам помогут процедуры парафинотерапии на основе парафина косметического. После применения этого средства кожа точно обретает второе дыхание, радует нежностью и посвежевшим видом!

							</p>

							<p>
								Что же такое <a href="/">парафинотерапия</a> в косметологии? Это метод теплового и компрессионного воздействия расплавленным парафином на разные участки тела для восстановления и омоложения кожи. Применяют его в виде аппликаций, ванночек, наслаиваний, а также в составе антицеллюлитного обёртывания проблемных зон тела (методика парафанго).
							</p>

							<p>
								Поистине волшебное действие горячего парафина объясняется его большой теплоёмкостью: соприкасаясь с кожей, он +понемногу отдаёт ей своё тепло, разогревая на 1,5-2 градуса. Происходит размягчение рогового слоя эпидермиса и раскрытие пор, кожа начинает усиленно потеть и отторгать накопившиеся токсины. Плотный парафиновый покров не даёт влаге испариться, за счёт чего кожа получает интенсивное увлажнение, а вредные вещества при этом не всасываются в неё обратно. Одновременно ценные компоненты косметических средств, наносимых под парафин, глубоко проникают в кожные слои. Остывая, парафиновая масса уменьшается в объёме и оказывает сдавливающее действие на ткани, что способствует разглаживанию кожи.
							</p>

							<p>
								Parafinoterapiya dlya ruk i nog CosmogidБлагодаря своим уникальным качествам, жидкий парафин эффективен при таких проблемах, как повышенная сухость кожи, шелушение, мимические морщины, мелкие ранки и микротрещины, постакне, отёки, мозоли, огрубение кожи стоп, дряблость тканей, нарушение чёткости овала лица, целлюлит. Помимо того, что горячая парафинотерапия улучшает кровообращение и обмен веществ в тканях, превосходно очищает, тонизирует, подтягивает кожу и укрепляет ногти, эта методика сама по себе очень приятна и к тому же безопасна. Особой популярностью сегодня пользуется парафинотерапия для рук и ног. Этот вид ухода наиболее актуален глубокой осенью и зимой, когда коже кистей рук и ступней требуется усиленная защита. Процедура достаточно проста, поэтому Вы легко можете устраивать парафиновые спа-сеансы для ручек и ножек в домашней обстановке, не прибегая к услугам салонов красоты.
							</p>

							<h2>
								<u>Применение</u> парафина в домашних условиях
							</h2>

							<p>
								Для парафинотерапии дома понадобится специальный косметический парафин — продукт высокой степени очистки, зачастую обогащённый витаминами, растительными маслами и экстрактами. Из аксессуаров потребуется ёмкость для расплавления парафина (эмалированная, керамическая или стеклянная чаша) либо специальная ванночка для парафинотерапии, которая обеспечивает оптимальный нагрев парафиновой массы. Также пригодятся полиэтиленовые одноразовые перчатки/пакеты; тёплые рукавички или носки либо <a href="/" class="color-pink"><u>термоварежки</u></a>, <a href="/" class="color-pink"><u>термоноски</u></a> или большое махровое полотенце; кисть для парафинотерапии; средства для подготовки кожи к сеансу и завершения процедуры.
							</p>

{% include "articles/item/list.html" %}

							<h2>
								<u>Проведение</u> парафинотерапии
							</h2>

							<p>
								Парафинотерапия для рук в домашних условиях проводится 1-2 раза в неделю, курсом 3-4  раза в год по 10 сеансов. Состоит процедура обычно из пяти этапов.
							</p>

							<div class="page-counter-increment">

								<div class="page-counter-increment__item is-flex">

									<div class="page-counter-increment__img is-counter">

										<picture>

											<source srcset="/img/articles/item/steps/1.webp 1x, /img/articles/item/steps/1@2x.webp 2x" type="image/webp">

											<source srcset="/img/articles/item/steps/1.jpg 1x, /img/articles/item/steps/1@2x.jpg 2x">

											<img src="/img/articles/item/steps/1.jpg" alt="Подготовка парафина" loading="lazy" width="190" height="142">

										</picture>

									</div>

									<div class="page-counter-increment__text is-counter">

										<p>
											Подготовка парафина. Парафин надо полностью растопить в приготовленной ёмкости на водяной бане либо в специальной ванночке до получения густой тягучей массы. Следите за тем, чтобы в неё не попадали капли воды.
										</p>

									</div>

								</div>

								<div class="page-counter-increment__item is-flex">

									<div class="page-counter-increment__img is-counter">

										<picture>

											<source srcset="/img/articles/item/steps/2.webp 1x, /img/articles/item/steps/2@2x.webp 2x" type="image/webp">

											<source srcset="/img/articles/item/steps/2.jpg 1x, /img/articles/item/steps/2@2x.jpg 2x">

											<img src="/img/articles/item/steps/2.jpg" alt="Подготовка рук" loading="lazy" width="190" height="142">

										</picture>

									</div>

									<div class="page-counter-increment__text is-counter">

										<p>
											Подготовка рук. Перед процедурой кожу надо продезинфицировать и очистить от ороговевших частиц эпидермиса. На данном этапе можно воспользоваться такими препаратами как <a href="/" class="color-pink"><u>очищающий лосьон для рук и ног перед парафинотерапией  Kapous, спрей антисептик для парафинотерапии Clean+Easy, мягкий скраб с маслом персика ARAVIA</u></a>. Затем нанесите подготовительное средство, например, <a href="/" class="color-pink"><u>эмульсию с коллагеном и эластином перед парафинотерапией Kapous</u></a>. Все эти манипуляции можно проделать, пока парафин плавится.
										</p>

									</div>

								</div>

{% include "articles/item/list2.html" %}

								<div class="page-counter-increment__item is-flex">

									<div class="page-counter-increment__img is-counter">

										<picture>

											<source srcset="/img/articles/item/steps/3.webp 1x, /img/articles/item/steps/3@2x.webp 2x" type="image/webp">

											<source srcset="/img/articles/item/steps/3.jpg 1x, /img/articles/item/steps/3@2x.jpg 2x">

											<img src="/img/articles/item/steps/3.jpg" alt="Погружение в парафин" loading="lazy" width="190" height="142">

										</picture>

									</div>

									<div class="page-counter-increment__text is-counter">

										<p>
											Погружение в парафин. Когда парафин полностью расплавится, проверьте тыльной стороной руки или пальцем, насколько он горяч, чтобы избежать ожога. Если температура получившейся массы терпима для кожи, можно приступать к самой процедуре парафинотерапии. Медленно опустите кисти рук в ванночку, раздвинув пальцы, подержите несколько секунд и выньте. Повторите действие с интервалом в 10 секунд до 6-8 раз, пока на руках не образуется толстый слой парафина. При чувствительной коже первое наслоение можно нанести специальной кистью.
										</p>

									</div>

								</div>

								<div class="page-counter-increment__item is-flex">

									<div class="page-counter-increment__img is-counter">

										<picture>

											<source srcset="/img/articles/item/steps/4.webp 1x, /img/articles/item/steps/4@2x.webp 2x" type="image/webp">

											<source srcset="/img/articles/item/steps/4.jpg 1x, /img/articles/item/steps/4@2x.jpg 2x">

											<img src="/img/articles/item/steps/4.jpg" alt="Прогревание рук" loading="lazy" width="190" height="142">

										</picture>

										<picture>

											<source srcset="/img/articles/item/steps/4.1.webp 1x, /img/articles/item/steps/4.1@2x.webp 2x" type="image/webp">

											<source srcset="/img/articles/item/steps/4.1.jpg 1x, /img/articles/item/steps/4.1@2x.jpg 2x">

											<img src="/img/articles/item/steps/4.1.jpg" alt="Прогревание рук" loading="lazy" width="190" height="142">

										</picture>

									</div>

									<div class="page-counter-increment__text is-counter">

										<p>
											Прогревание рук. Наденьте на руки полиэтиленовые перчатки или мешочки, поверх них наденьте терморукавицы или укутайте полотенцем. Эта своеобразная сауна даст рукам хорошо пропотеть и поможет усилить полезное воздействие парафина. Тепловой компресс выдерживают 20-30 минут.
										</p>

									</div>

								</div>

								<div class="page-counter-increment__item is-flex">

									<div class="page-counter-increment__img is-counter">

										<picture>

											<source srcset="/img/articles/item/steps/5.webp 1x, /img/articles/item/steps/5@2x.webp 2x" type="image/webp">

											<source srcset="/img/articles/item/steps/5.jpg 1x, /img/articles/item/steps/5@2x.jpg 2x">

											<img src="/img/articles/item/steps/5.jpg" alt="Прогревание рук" loading="lazy" width="190" height="142">

										</picture>

									</div>

									<div class="page-counter-increment__text is-counter">

										<p>
											Удаление парафина и нанесение финишного средства. Аккуратно снимите парафин в направлении от запястий к пальцам. Ополосните руки тёплой водой либо снимите остатки парафина смоченным в тёплой воде полотенцем. Далее смажьте кожу защитным или увлажняющим средством. Это может быть <a href="/" class="color-pink"><u>защитный крем для рук после парафинотерапии Kapous, увлажняющая эмульсия (спрей) Depilflax 100, сливки «Питательный уход» с коллагеном ARAVIA</u></a>. Помните, что после процедуры кожу нельзя подвергать холоду в течение двух часов.
										</p>

									</div>

								</div>

							</div>

{% include "articles/item/list3.html" %}

							<p class="page-achtung">
								Домашняя парафинотерапия для ног делается по такой же схеме. Сеанс для ножек лучше проводить в вечернее время, перед сном.
							</p>

							<h2>
								<u>Как выбрать</u> косметический парафин
							</h2>

							<p>
								Как и всякая косметическая процедура, <span class="color-pink">парафинотерапия</span> имеет <b>противопоказания</b>. Это сильные повреждения кожи и открытые раны, кожные заболевания и аллергические реакции, гипертрихоз, варикозное расширение вен, повышенное артериальное давление, сердечно-сосудистые заболевания, сахарный диабет, цирроз печени и печёночные дисфункции, хронический гломерулонефрит… Тем, кому <span class="color-pink">тепловое воздействие парафина противопоказано</span>, подойдёт холодная парафинотерапия с использованием крем-парафина. Отличный уход за кожей в этом случае подарят продукты ARAVIA, например, <a href="/" class="color-pink"><u>крем-парафин «Natural» c молочными протеинами и маслом хлопка</u></a> или <a href="/" class="color-pink"><u>крем-парафин «Creamy chocolate» c маслом какао и витамином F</u></a>.
							</p>

{% include "articles/item/list.html" %}

							<p>
								Чтобы эффект от проведения горячей парафинотерапии оказался максимальным, выбирайте парафин в соответствии с проблемой Вашей кожи. Для раздражённого и воспалённого кожного покрова подходят продукты с содержанием масла конопли, экстракта алоэ, белой мяты, абрикосового масла  (<a href="/" class="color-pink"><u>парафин с маслом конопли Clean+Easy, парафин «Заживляющий» с белой мятой, парафин с экстрактом алоэ в брикете Kapous</u></a>).
							</p>

{% include "articles/item/list.html" %}

							<p>
								Интенсивный уход сухой и теряющей упругость коже обеспечивают парафины с маслами жожоба, апельсина, какао (<a href="/" class="color-pink"><u>парафин «Натуральный» с маслом жожоба от ARAVIA, Depilflax100 парафин «Персико-Апельсиновый», парафин «Сливочный шоколад» с маслом какао ARAVIA</u></a>). <br>
								Спасением для чувствительной и пересушенной кожи станет препарат с маслом карите или молочными протеинами (<a href="/" class="color-pink"><u>Depilflax100 парафин белый с маслом карите,  биопарафин с маслом карите в брикете Kapous</u></a>). <br>
								Продукты с маслом лайма, экстрактами зелёного яблока или земляники прекрасно тонизируют и повышают эластичность кожи (<a href="/" class="color-pink"><u>парафин косметический «Тропический коктейль» ARAVIA</u></a>).
							</p>

{% include "articles/item/list6.html" %}

							<p>
								Устранить пигментные пятна помогают парафины с экстрактом лимона, обладающие лёгким отбеливающим действием. <br>
								Препарат с маслом шиповника является прекрасным средством для уставшей и увядающей кожи. <br>
								Если у Вас очень чувствительная кожа лучше пользоваться парафином без каких-либо добавок (<span class="color-pink">парафин белый нейтральный в брикете Kapous</span>).
							</p>

{% include "articles/item/list1.html" %}

							<h2>
								<u>Как выбрать</u> ванночку для парафинотерапии
							</h2>

							<img class="img-pull-right" src="/img/articles/item/2.jpg" srcset="/img/articles/item/2@2x.jpg 2x" loading="lazy" alt="Как выбрать ванночку для парафинотерапии">

							<p>
								И наконец, стоит определиться с выбором <span class="color-pink">ёмкости для парафина</span>. Очень удобным вариантом являются ванночки для парафинотерапии, которые помогают сэкономить время на подогрев целебной массы и сделать саму процедуру комфортной. При подборе модели, решите, с какой целью ванна будет использоваться: если только для парафинотерапии рук, то подойдёт прибор, рассчитанный примерно на 2 кг парафина, для рук и ног — на 3-4 кг. Также существуют универсальные нагреватели для парафина и воска небольшого объёма (парафин в таком случае наносится на кожу кистью). Обратите внимание на возможности устройства — наличие функций разогрева парафина до определённой температуры (от 45 до 75 градусов) и поддержания заданной температуры в течение сеанса, индикатора степени нагрева и защиты от перелива. Учитывайте, что не все ванночки подходят для парафина любого состава.
							</p>

						</div>

					</div>

				</div>

			</div>

		</div>

{% include "news/article/pagin.html" %}

	</article>

{% endblock %}