{% set title = "Контакты" %}

{% set description = "Связаться с нами вы всегда можете по телефонам указанным в шапке сайта. Также вы можете направить свой запрос/жалобу/предложение в отдел по работе с клиентами или в отдел маркетинга с помощью формы на этой странице." %}

{% set breadcrumbs = ["Информация",title] %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<article class="page-bar">

{% include "contacts/schema.html" %}

			<h1 class="title">
				Мы всегда на связи
			</h1>

			<div class="page-bar__box">

				<div class="page-bar__head">

{% include "about/menu.html" %}

				</div>

				<div class="page-bar__body page-contacts">

					<p>
						Связаться с нами вы всегда можете по телефонам указанным в шапке сайта.
					</p>

					<p>
						Также вы можете направить свой запрос/жалобу/предложение в отдел по работе с клиентами или в отдел маркетинга с помощью формы на этой странице.
					</p>

					<p>
						Если вы являетесь представителем бренда и хотели бы предложить нам сотрудничество, свяжитесь с нами. Мы рассмотрим предложение и в случае заинтересованности, свяжемся с вами.
					</p>

					<div class="page-contacts__columns">

						<h2>
							Служба поддержки клиентов
						</h2>

						<div class="page-contacts__columns-item">

{% set list = [
	{
		name : "+7 (922) 297 77 30",
		href : "https://wa.me/79222977730",
		ico  : "whatsapp"
	},
	{
		name : "+7 (922) 297 77 30",
		href : "https://t.me/cosmo_gid_bot",
		ico  : "telegram"
	},
	{
		name : "shop@skinromance.ru",
		href : "mailto:shop@skinromance.ru",
		ico  : "mail-forward",
		suf  : "служба поддержки"
	},
	{
		name : "с 7:00 до 19:00",
		ico  : "clock",
		suf  : "пн-пт"
	}
]%}

{% include "contacts/list.html" %}

						</div>

						<div class="page-contacts__columns-item">

{% set list = [
	{
		name : "8 (800) 100-08-53",
		href : "tel:88001000853",
		ico  : "phone"
	},
	{
		name : "+7 (967) 555 90 78",
		href : "tel:+79675559078",
		ico  : "phone"
	},
	{
		name : "+7 (343) 339 48 43",
		href : "tel:+73433394843",
		ico  : "phone"
	},
	{
		name : "+7 (812) 385 73 17",
		href : "tel:+78123857317",
		ico  : "phone"
	}
]%}

{% include "contacts/list.html" %}

						</div>

					</div>

					<div class="page-contacts__columns">

						<h2>
							По вопросам сотрудничества
						</h2>

						<div class="page-contacts__columns-item">

{% set list = [
	{
		name : "shop@skinromance.ru",
		href : "mailto:shop@skinromance.ru",
		ico  : "mail-forward",
		suf  : "служба поддержки"
	}
]%}

{% include "contacts/list.html" %}

						</div>

					</div>

					<h2 class="page-bar__h3">
						Если у вас есть вопрос - задайте их ниже
					</h2>

{% include "contacts/form.html" %}

				</div>

			</div>

		</article>

	</div>

{% endblock %}