	<script type="application/ld+json">

		[
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "Cosmogid специализированный интернет-магазин профессиональной косметики",
				"url": "https://cosmogid.ru",
				"logo": "https://cosmogid.ru/img/logo.svg",
				"telephone": [
					"+7 (343) 339-48-43",
					"+7 (499) 346-86-80",
					"+7 (812) 385-73-17",
					"+7 (383) 207-85-03",
					"8 (800) 1000-853"
				],
				"email": "shop@cosmogid.ru",
				"address": {
					"@type": "PostalAddress",
					"postalCode": "620100",
					"addressLocality": "г. Екатеринбург",
					"streetAddress": "ул. Ткачей, д.8, кв. 34 Свердловская область"
				}
			},
			{
				"@context": "https://schema.org",
				"@type": "WPHeader",
				"name": "{{ title }}",
				"description": "{{ description }}"
			}

		]

	</script>