					<div class="order__step hide" data-hash="step-2">

{% include "cart/order/city.html" %}

{% include "cart/order/cdek.html" %}

{% include "cart/order/payment.html" %}

						<div class="order__file">

							<h3 class="order__file-head">
								Реквизиты для оплаты
							</h3>

							<p class="order__file-text">
								Вы можете заполнить форму ниже или приложить файл с вашими реквизитами нажав на ссылку рядом
							</p>

							<div class="fileupload">

								<label class="fileupload__btn">

									<input type="file" name="file" class="visuallyhidden">

									<span class="btn btn--hash">
										Приложить файл с реквизитами
									</span>

								</label>

							</div>

						</div>

						<div class="order__column">

							<div class="inputbox">

								<label class="inputbox__label" for="order-org-name">
									Название организации
								</label>

								<input class="input" name="org-name" id="order-org-name">

							</div>

							<div class="inputbox">

								<label class="inputbox__label" for="order-org-address">
									Юридический адрес
								</label>

								<input class="input" name="org-address" id="order-org-address">

							</div>

							<div class="inputbox">

								<label class="inputbox__label" for="order-org-inn">
									ИНН
								</label>

								<input type="tel" class="input" name="org-inn" id="order-org-inn">

							</div>

							<div class="inputbox">

								<label class="inputbox__label" for="order-org-kpp">
									КПП
								</label>

								<input type="tel" class="input" name="org-kpp" id="order-org-kpp">

							</div>

							<div class="inputbox">

								<label class="inputbox__label" for="order-org-bank-account">
									Расчетный счет
								</label>

								<input type="tel" class="input" name="org-bank-account" id="order-org-bank-account">

							</div>

							<div class="inputbox">

								<label class="inputbox__label" for="order-org-bank">
									Банк
								</label>

								<input class="input" name="org-bank" id="order-org-bank">

							</div>

							<div class="inputbox">

								<label class="inputbox__label" for="order-org-bik">
									БИК
								</label>

								<input type="tel" class="input" name="org-bik" id="order-org-bik">

							</div>

						</div>

{% include "cart/order/info.html" %}

						<div class="order__next">

							<a href="#step-1" class="btn btn--outline">
								Назад
							</a>

							<button class="btn">
								Оформить заказ
							</button>

						</div>

					</div>