					<div class="page-shipping__item">

						<h2 class="page-bar__h3">
							Доставка курьером
						</h2>

						<p>
							Ближайшее возможное время доставки мы предложим выбрать при оформлении заказа.
						</p>

						<p>
							Пожалуйста, для своевременного подтверждения доставки курьером будьте на связи по вашему контактному номеру телефона. Если вы дважды не ответили на телефонный звонок и курьер уже выехал за пределы вашего района — доставка будет перенесена на следующий день.
						</p>

						<p>
							Пожалуйста, обратите внимание, в случае отсутствия или поломки лифта, курьер сможет доставить заказ только до 5-го этажа. Если вы живёте выше, вам нужно будет спуститься и встретить курьера для получения заказа.
						</p>

						<p>
							Наш курьер всегда старается доставить заказ до дверей офиса. Но если в вашем Бизнес Центре существует пропускная система — пожалуйста, встретьте курьера на пропускном пункте для получения заказа или заранее побеспокойтесь о получении специального пропуска для него. Благодарим за понимание.
						</p>

						<p>
							Перед доставкой наши менеджеры обязательно согласуют с вами детали доставки, а наш курьер предварительно созвонится с вами!
						</p>

						<p>
							Вы можете оплатить свой заказ при помощи карт Visa/Mastercard во время оформления заказа или наличными, передав их курьеру во время доставки. Курьер обязательно выдаст вам товарный чек.
						</p>

						<p>
							После оплаты заказа, пожалуйста, сверьте содержимое с накладной в присутствии курьера. В случае, если доставленный товар не будет соответствовать вашему заказу, курьер по вашей просьбе заберёт такой товар и вернёт уплаченные за него денежные средства.
						</p>

						<p>
							Пожалуйста, обратите внимание: при оплате картами указанный в заказе получатель должен будет показать документ, удостоверяющий личность.
						</p>

						<p>
							Если вы хотите, чтобы вместо вас заказ получил другой человек (например, консьерж или кто-то из членов семьи), он обязательно должен назвать курьеру фамилию адресата посылки и последние 4 цифры номера заказа.
						</p>

						<div class="page-shipping-table">

							<table>

								<thead>

									<tr>

	{% for th in ["Способ доставки","Сроки","Стоимость","Способы оплаты"] %}

										<th>
											{{ th }}
										</th>

	{% endfor %}

									</tr>

								</thead>

	{% set tbody = [
		{
			name : "<b>Курьер</b> Центральные районы города",
			time : "",
			price   : "",
			payment : ""
		},
		{
			name : "<b>Курьер</b> Отдаленные районы города: Изоплит, Калиновка, Птицефабрика, Елизавет, Нижнеисетский, Эльмаш, Уралмаш, Химмаш,Вторчермет, Сортировка, Семь ключей, Кольцово, Чусовское озеро, Широкая речка, Уктус, Академический",
			time : "",
			price   : "",
			payment : ""
		},
		{
			name : "<b>Курьер</b> Отдаленные районы города: Изоплит, Калиновка, Птицефабрика, Елизавет, Нижнеисетский, Эльмаш, Уралмаш, Химмаш,Вторчермет, Сортировка,",
			time : "",
			price   : "",
			payment : ""
		}
	] %}

	{% include "shipping/tbody.html" %}

							</table>

						</div>

					</div>