					<div class="page-shipping__item">

						<h2 class="page-bar__h3">
							Самовывоз
						</h2>

						<p>
							Ближайшее возможное время доставки мы предложим выбрать при оформлении заказа.
						</p>

						<p>
							Пожалуйста, для своевременного подтверждения доставки курьером будьте на связи по вашему контактному номеру телефона. Если вы дважды не ответили на телефонный звонок и курьер уже выехал за пределы вашего района — доставка будет перенесена на следующий день.
						</p>

						<p>
							Пожалуйста, обратите внимание, в случае отсутствия или поломки лифта, курьер сможет доставить заказ только до 5-го этажа. Если вы живёте выше, вам нужно будет спуститься и встретить курьера для получения заказа.
						</p>

						<p>
							Наш курьер всегда старается доставить заказ до дверей офиса. Но если в вашем Бизнес Центре существует пропускная система — пожалуйста, встретьте курьера на пропускном пункте для получения заказа или заранее побеспокойтесь о получении специального пропуска для него. Благодарим за понимание.
						</p>

						<div class="page-shipping-table">

							<table>

								<thead>

									<tr>

	{% for th in ["Адреса пунктов самовывоза","Сроки","Стоимость","Способы оплаты"] %}

										<th>
											{{ th }}
										</th>

	{% endfor %}

									</tr>

								</thead>

	{% set tbody = [
		{
			name : "<b>Пункт выдачи №1. Метро Ивановская</b> ТЦ Глобус 2-я Линия, бутик под вывеской Cosmogid, расположен на -1 этаже, от центрального входа влево, в сторону к Ozon. Тел. (495) 123-45-67",
			time : "",
			price   : "",
			payment : ""
		},
		{
			name : "<b>Пункт выдачи №2. Метро Ивановская</b> ТЦ Глобус 2-я Линия, бутик под вывеской Cosmogid, расположен на -1 этаже, от центрального входа влево, в сторону к Ozon. Тел. (495) 123-45-67",
			time : "",
			price   : "",
			payment : ""
		},
		{
			name : "<b>Пункт выдачи №3. Метро Ивановская</b> ТЦ Глобус 2-я Линия, бутик под вывеской Cosmogid, расположен на -1 этаже, от центрального входа влево, в сторону к Ozon. Тел. (495) 123-45-67",
			time : "",
			price   : "",
			payment : ""
		}
	] %}

	{% include "shipping/tbody.html" %}

							</table>

						</div>

					</div>