{% set title = "Доставка" %}

{% set description = "" %}

{% set breadcrumbs = ["Информация",title] %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<article class="page-bar">

			<h1 class="title">
				Доставляем счастье на дом )
			</h1>

			<div class="page-bar__box">

				<div class="page-bar__head">

{% include "about/menu.html" %}

				</div>

				<div class="page-bar__body page-shipping">

					<form action="/" class="page-shipping-place">

						<p class="page-shipping-place__label">
							Введите название вашего населенного пункта, и мы предложим варианты доставки
						</p>

						<div class="page-shipping-place__fieldset">

							<input name="keywords" class="input" placeholder="В какой город вам привезти заказ?">

							<button class="button" aria-label="Искать">

								<svg width="24" height="24" viewBox="0 0 24 24">
									<use xlink:href="#svg-search"/>
								</svg>

							</button>

						</div>

					</form>

{% include "shipping/type.html" %}

{% include "shipping/current-city.html" %}

{% include "shipping/near.html" %}

					<div class="page-shipping__item" id="shipping-map">

						<div class="page-shipping__map">

{% include "template/modal/map-points-issue.html" %}

						</div>

					</div>

{% include "shipping/text.html" %}

				</div>

			</div>

		</article>

{% include "_include/support.html" %}

	</div>

{% endblock %}