							<tbody>

{% for row in tbody %}

	{% if row.list %}

		{% for tr in row.list %}

								<tr>

			{% if loop.first %}

									<td rowspan="{{ row.list.length }}">
										{{ row.name | safe }}
									</td>

			{% endif %}

									<td>
										{{ tr.name | safe }}
									</td>

									<td>
										{{ tr.time | safe }}*
									</td>

									<td>
										{{ tr.price | safe }} ₽**
									</td>

									<td>
										{{ tr.free | safe }} ₽**
									</td>

								</tr>

		{% endfor %}

	{% else %}

								<tr>

									<td>
										{{ row.name | safe }}
									</td>

									<td>
										{{ row.time | safe }}*
									</td>

									<td>
										{{ row.price | safe }} ₽**
									</td>

									<td>
										{{ row.free | safe }} ₽**
									</td>

								</tr>

	{% endif %}

{% endfor %}

							</tbody>