						<div class="menu-catalog__column">

							<ul class="menu-catalog__level-2">

				{% for level2 in [

					{
						name : "Окрашивание волос",
						level3 : ["Краски для бровей и ресниц","Аммиачные красители","Безаммиачные красители","Осветление волос","Тонирование волос","Смывка","Оттеночные средства","Защита от краски","Технические средства","Оксиды и активаторы","Средства до и после окрашивания"]
					},
					{
						name : "Укладка волос",
						level3 : ["Усиление кудрей и локонов","Усиление объёма волос","Средства для текстурирования волоса","Термозащита волос","Усиление гладкости волос","Средства для укладки и моделирования","Средства для придания блеска и сияния","Усиление матового эффекта","Финишные средства","Средства для стрижки","Эффект мокрых волос","Средства для плетения кос"]
					},
					{
						name : "Сухая кожа головы"
					}

				] %}

								<li>

									<a class="menu-catalog__link is-level-2{% if level2.level3 %} is-btn{% endif %}" href="/">
										{{ level2.name }}
									</a>

						{% if level2.level3 %}

									<ul class="menu-catalog__level-3">

								{% for level3 in level2.level3 %}

										<li>

											<a class="menu-catalog__link is-level-3" href="/">
												{{ level3 }}
											</a>

										</li>

								{% endfor %}

									</ul>

						{% endif %}

								</li>

				{% endfor %}

								<li>

									<a class="menu-catalog__link is-level-2 menu-catalog__link--sale" href="/">
										Распродажа
									</a>

								</li>

							</ul>

						</div>

						<div class="menu-catalog__column">

							<ul class="menu-catalog__level-2">

				{% for level2 in ["Жирная кожа головы","Чувствительная кожа головы","Средства для секущихся волос","Увлажнение волос","Средства от перхоти","Тонкие волосы","Восстановление волос"] %}

								<li>

									<a class="menu-catalog__link is-level-2" href="/">
										{{ level2 }}
									</a>

								</li>

				{% endfor %}

							</ul>

						</div>

						<div class="menu-catalog__column">

							<ul class="menu-catalog__level-2">

				{% for level2 in ["Усиление роста волос","Уход для окрашенных волос","Усиление объёма","Уход для всех типов волос","Ламинирование волос","Хим.завивка, карвинг","Долговременное распрямление волос"] %}

								<li>

									<a class="menu-catalog__link is-level-2" href="/">
										{{ level2 }}
									</a>

								</li>

				{% endfor %}

							</ul>

						</div>

						<div class="menu-catalog__column">

							<ul class="menu-catalog__level-2">

				{% for level2 in ["Средства для вьющихся волос","Кератиновое выпрямление волос, уход","Средство для  нарощенных волос","Экранирование","Средства для термозащиты"] %}

								<li>

									<a class="menu-catalog__link is-level-2" href="/">
										{{ level2 }}
									</a>

								</li>

				{% endfor %}

							</ul>

						</div>