<ul class="menu-catalog__column">

	<li class="menu-catalog__item">

		<a itemprop="url" class="menu-catalog__link" href="/brands/">
			<b itemprop="name">
				Все бренды (200+)
			</b>
		</a>

	</li>

{% for level2 in ["Armand Basi","Armani","Angel Schlesser","Artdeco","Bioderma","Bobbi Brown","Bourjois","Chanel","Charlotte Tilbury","Christina","Clinique","Creed","Dior","Donna Karan","Dolce\& Gabbana","Estee Lauder","Fenty Beauty","Garnier","Guerlain","Inglot","Kerastase","Kilian","L'Oreal Paris","L'Oreal Professionnel","La Roche-Posay","Lancome","Lanvin","Luxvisage","MAKEUP","Max Factor","Maybelline New York","Montale","NYX Professional Makeup","Relouis","SHAKYLAB","Tarte Cosmetics","TheBalm","Versace","Vichy","Yves Saint Laurent"] %}

	<li class="menu-catalog__item">

		<a itemprop="url" class="menu-catalog__link" href="/">

			<span itemprop="name">
				{{ level2 }}
			</span>

		</a>

	</li>

{% endfor %}

</ul>