						<div class="menu-catalog__column">

							<ul class="menu-catalog__level-2">

								<li>

									<a class="menu-catalog__link is-level-2" href="/brands/">
										Все бренды (200+)
									</a>

								</li>

								<li>

									<a class="menu-catalog__link is-level-2 is-open" href="/">
										Популярные бренды
									</a>

									<ul class="menu-catalog__level-3">

						{% for level3 in ["Armand Basi","Armani","Angel Schlesser","Artdeco","Bioderma","Bobbi Brown","Bourjois","Chanel","Charlotte Tilbury","Christina","Clinique","Creed"] %}

										<li>

											<a class="menu-catalog__link is-level-3" href="/">
												{{ level3 }}
											</a>

										</li>

						{% endfor %}

									</ul>

								</li>

							</ul>

						</div>

						<div class="menu-catalog__column">

							<ul class="menu-catalog__level-3">

				{% for level3 in ["Dior","Donna Karan","Dolce\& Gabbana","Estee Lauder","Fenty Beauty","Garnier","Guerlain","Inglot","Kerastase","Kilian","L'Oreal Paris","L'Oreal Professionnel","La Roche-Posay","Lancome"] %}

										<li>

											<a class="menu-catalog__link is-level-3" href="/">
												{{ level3 }}
											</a>

										</li>

				{% endfor %}

							</ul>

						</div>

						<div class="menu-catalog__column">

							<ul class="menu-catalog__level-3">

						{% for level3 in ["Lanvin","Luxvisage","MAKEUP","Max Factor","Maybelline New York","Montale","NYX Professional Makeup","Relouis","SHAKYLAB","Tarte Cosmetics","TheBalm","Versace","Vichy","Yves Saint Laurent"] %}

										<li>

											<a class="menu-catalog__link is-level-3" href="/">
												{{ level3 }}
											</a>

										</li>

						{% endfor %}

							</ul>

						</div>

						<div class="menu-catalog__column">

							<ul class="menu-catalog__level-2">

								<li>

									<a class="menu-catalog__link is-level-2 is-open" href="/">
										Популярные страны
									</a>

									<ul class="menu-catalog__level-3">

						{% for level3 in ["Израиль","Испания","Италия","Корея","Польша","США","Украина","Франция","Япония"] %}

										<li>

											<a class="menu-catalog__link is-level-3" href="/">
												{{ level3 }}
											</a>

										</li>

						{% endfor %}

									</ul>

								</li>

							</ul>

						</div>