	<nav class="menu-catalog">

		<div class="menu-catalog__wrap">

			<div class="center">

{% include "template/menu/mobile.html" %}

				<ul class="menu-catalog__list">

{% for item in menu %}

					<li class="menu-catalog__item">

						<a href="/" class="menu-catalog__link{% if item.mod %} menu-catalog__link--{{ item.mod }}{% endif %}{% if item.level2 %} menu-catalog__link--arrow{% endif %}">

							<span class="menu-catalog__name">
								{{ item.name }}
							</span>

						</a>

	{% include "template/menu/sub.html" %}

					</li>

{% endfor %}

				</ul>

			</div>

		</div>

	</nav>