	<ul class="menu-catalog__level-2">

{% for level2 in item.level2 %}

		<li class="menu-catalog__item">

			<a itemprop="url" class="menu-catalog__link" href="/catalog/level2/">

				<span itemprop="name" class="menu-catalog__name">

					{{ level2.name }}

				</span>

			</a>

	{% if level2.level3 %}

			<div class="menu-catalog__sub">

				<ul class="menu-catalog__level-3">

			{% for level3 in level2.level3 %}

					<li class="menu-catalog__item">

						<a itemprop="url" class="menu-catalog__link" href="/catalog/">

							<span itemprop="name" class="menu-catalog__name">

								{{ level3 }}

							</span>

						</a>

					</li>

			{% endfor %}

				</ul>

			</div>

	{% endif %}

		</li>

{% endfor %}

	</ul>