		{% for column in item.level2 %}

				{% set lastColumn = loop.last %}

						<div class="menu-catalog__column">

							<ul class="menu-catalog__level-2">

				{% for level2 in column %}

								<li>

									<a itemprop="url" class="menu-catalog__link is-level-2{% if level2.level3 %} is-btn{% endif %}" href="/catalog/level2/">

										<span itemprop="name" class="menu-catalog__name">

											{{ level2.name }}

											{% if loop.index % 4 === 0 %}

											<svg class="menu-catalog__name-ico" width="24" height="24" viewBox="0 0 24 24">
												<use xlink:href="#svg-gift"/>
											</svg>

											{% endif %}

										</span>

									</a>

						{% if level2.level3 %}

									<ul class="menu-catalog__level-3">

								{% for level3 in level2.level3 %}

										<li>

											<a itemprop="url" class="menu-catalog__link is-level-3" href="/catalog/">

												<span itemprop="name" class="menu-catalog__name">

													{{ level3 }}

													{% if loop.index % 4 === 0 %}

													<svg class="menu-catalog__name-ico" width="24" height="24" viewBox="0 0 24 24">
														<use xlink:href="#svg-gift"/>
													</svg>

													{% endif %}

												</span>

											</a>

										</li>

								{% endfor %}

									</ul>

						{% endif %}

								</li>

						{% if loop.last and lastColumn %}

								<li>

									<a itemprop="url" class="menu-catalog__link is-level-2 menu-catalog__link--sale" href="/catalog/level2/">
										<span itemprop="name">
											Распродажа
										</span>
									</a>

								</li>

						{% endif %}

				{% endfor %}

							</ul>

						</div>

		{% endfor %}