{% set menu = [

	{
		parent : "Бренды"
	},
	{
		parent : "Волосы",
		separator : "top",
		category : [
			{
				name : "По брендам",
				list : [
					'Уход для мужчин',
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду средства",
				list : [
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду процедуры",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			},
			{
				name : "По назначению",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			}
		]
	},
	{
		parent : "Лицо",
		category : [
			{
				name : "По брендам",
				list : [
					'Уход для мужчин',
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду средства",
				list : [
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду процедуры",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			},
			{
				name : "По назначению",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			}
		]
	},
	{
		parent : "Тело",
		category : [
			{
				name : "По брендам",
				list : [
					'Уход для мужчин',
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду средства",
				list : [
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду процедуры",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			},
			{
				name : "По назначению",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			}
		]
	},
	{
		parent : "Пилинги и скрабы",
		category : [
			{
				name : "По брендам",
				list : [
					'Уход для мужчин',
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду средства",
				list : [
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду процедуры",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			},
			{
				name : "По назначению",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			}
		]
	},
	{
		parent : "Руки",
		category : [
			{
				name : "По брендам",
				list : [
					'Уход для мужчин',
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду средства",
				list : [
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду процедуры",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			},
			{
				name : "По назначению",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			}
		]
	},
	{
		parent : "Ноги",
		category : [
			{
				name : "По брендам",
				list : [
					'Уход для мужчин',
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду средства",
				list : [
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду процедуры",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			},
			{
				name : "По назначению",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			}
		]
	},
	{
		parent : "Мужчинам",
		category : [
			{
				name : "По брендам",
				list : [
					'Уход для мужчин',
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду средства",
				list : [
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду процедуры",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			},
			{
				name : "По назначению",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			}
		]
	},
	{
		parent : "Защита от солнца",
		category : [
			{
				name : "По брендам",
				list : [
					'Уход для мужчин',
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду средства",
				list : [
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду процедуры",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			},
			{
				name : "По назначению",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			}
		]
	},
	{
		parent : "Мезотерапия",
		category : [
			{
				name : "По брендам",
				list : [
					'Уход для мужчин',
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду средства",
				list : [
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду процедуры",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			},
			{
				name : "По назначению",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			}
		]
	},
	{
		parent : "Прочее",
		category : [
			{
				name : "По брендам",
				list : [
					'Уход для мужчин',
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду средства",
				list : [
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "По виду процедуры",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			},
			{
				name : "По назначению",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			}
		]
	}


] %}

<nav class="menu-catalog">

	<div class="menu-catalog__header">

		<h3 class="menu-catalog__current-category h2">
			Меню
		</h3>

		<button type="button" class="menu-catalog__back button hide" aria-label="На уровень назад">
			<svg width="10" height="16" viewBox="0 0 10 16">
				<path d="M3.16 8l6-6a.88.88 0 000-1.24l-.54-.5a.88.88 0 00-1.24 0L.26 7.38a.88.88 0 000 1.24l7.12 7.12a.88.88 0 001.24 0l.52-.52a.88.88 0 000-1.24z"/>
			</svg>
		</button>

		<button type="button" class="menu-catalog__close button" aria-label="Закрыть меню">
			<svg width="16" height="16" viewBox="0 0 16 16">
				<path d="M.82 16a.82.82 0 01-.58-1.41L14.59.24a.82.82 0 011.16 1.16L1.41 15.76a.83.83 0 01-.59.24z"/>
				<path d="M15.18 16a.82.82 0 01-.58-.24L.24 1.41A.82.82 0 011.41.24l14.35 14.35a.82.82 0 01-.58 1.41z"/>
			</svg>
		</button>

	</div>

	<div class="menu-catalog__inner center">

		<ul class="menu-catalog__list">

{% for item in menu %}

			<li class="menu-catalog__item menu-catalog__level1-item{% if item.separator %} menu-catalog__separator{% endif %}">

				<a class="menu-catalog__link{% if item.category %} menu-catalog__link--arrow menu-catalog__head{% endif %}" href="/" title="{{ item.parent }}">
					{{ item.parent }}
				</a>

	{% if item.category %}

				<div class="menu-catalog__level2">

		{% for level2 in item.category %}

					<div class="menu-catalog__level2-column">

						<div class="menu-catalog__item menu-catalog__level2-item">

							<a class="menu-catalog__link menu-catalog__level2-head" href="/" title="{{ level2.name }}">
								{{ level2.name }}
							</a>

						</div>

			{% if level2.list %}

{% include "template/menu/menu-" + loop.index + ".txt" %}

						<ul class="menu-catalog__level3 hide">

				{% for level3 in level2.list %}

							<li class="menu-catalog__item menu-catalog__level3-item">

								<a class="menu-catalog__link" href="/" title="{{ level3 }}">
									{{ level3 }}
								</a>

							</li>

				{% endfor %}

						</ul>

						<button class="button" style="font-size: 14px; color: #000; margin: 16px">
							Развернуть
						</button>

			{% endif %}

					</div>

		{% endfor %}

				</div>

	{% endif %}

			</li>

{% endfor %}

		</ul>

{% include "template/menu/menu-second.html" %}

	</div>

</nav>