{% set menu = [

	{
		name  : "Альгинатные маски",
		list  : [
			"Средства для разведения альгинатных масок",
			"Для глаз",
			"От акне, черных точек, постакне",
			"Для отбеливания и осветления кожи, от пигментации",
			"Для лифтинга и подтягивания кожи",
			"Для омоложения кожи и сокращени морщин",
			"Для снятия воспалений, покраснений, раздражений",
			"Для заживления повреждений, успокаивания кожи",
			"Для укрепления сосудов, защиты и снижения проявления купероза",
			"Для очищения и отшелушивания кожи",
			"Для тонизирования и придания энергии коже",
			"Маски с криоэфетом",
			"Маски с термоэффектом"
		]
	},
	{
		name  : "Водородная маска, кирбокситерапия, маски-выкройки, кремовые"
	},
	{
		name  : "Средства для губ"
	},
	{
		name  : "Наращивае ресниц, уход за ресницами",
		list  : [
			"Аксессуары для наращивания ресниц",
			"Поресничное наращивание ресниц",
			"Уход за нарощенными ресницами, снятие нарощенных ресниц",
			"Пучковое наращивание ресниц",
			"Уход за ресницами",
			"Для заживления повреждений",
			"Для укрепления сосудов"
		]
	},
	{
		name  : "Основной уход",
		list  : [
			"Очищение и тонизирование",
			"Увлажнение",
			"Питание и восстановление",
			"Омоложение",
			"Чувствительная кожа и лечение",
			"Уход за жирной и комбинированной кожей",
			"Для снятия воспалений",
			"Для заживления повреждений"
		]
	},
	{
		name  : "Профессиональный макияж",
		list  : [
			"Ухаживающие за кожей тональные средства",
			"Подготовка кожи к макияжу",
			"Основы для макияжа",
			"Макияж для бровей",
			"Макияж для глаз",
			"Румяна",
			"Корректоры, наборы  корректоров",
			"Бронзанты",
			"Косметички для косметики, косметички для кистей",
			"Наборы для макияжа",
			"Макияж и уход за губами"
		]
	}

] %}

{% for item in menu %}

		<div class="menu-catalog__level2-block">

			<a class="menu-catalog__level2-head" href="/">
				{{ item.name }}
			</a>

			<ul class="menu-catalog__level2-list">

	{% for link in item.list %}

				<li class="menu-catalog__level2-item">

					<a class="menu-catalog__level2-link" href="/" title="{{ link }}">
						{{ link }}
					</a>

				</li>

	{% endfor %}

			</ul>

		</div>

{% endfor %}