<nav class="menu-catalog">

	<div class="menu-catalog__header">

		<h3 class="menu-catalog__current-category h2">
			Меню
		</h3>

		<button type="button" class="menu-catalog__back button hide" aria-label="На уровень назад">
			<svg width="10" height="16" viewBox="0 0 10 16">
				<path d="M3.16 8l6-6a.88.88 0 000-1.24l-.54-.5a.88.88 0 00-1.24 0L.26 7.38a.88.88 0 000 1.24l7.12 7.12a.88.88 0 001.24 0l.52-.52a.88.88 0 000-1.24z"/>
			</svg>
		</button>

		<button type="button" class="menu-catalog__close button" aria-label="Закрыть меню">
			<svg width="16" height="16" viewBox="0 0 16 16">
				<path d="M.82 16a.82.82 0 01-.58-1.41L14.59.24a.82.82 0 011.16 1.16L1.41 15.76a.83.83 0 01-.59.24z"/>
				<path d="M15.18 16a.82.82 0 01-.58-.24L.24 1.41A.82.82 0 011.41.24l14.35 14.35a.82.82 0 01-.58 1.41z"/>
			</svg>
		</button>

	</div>

	<div class="menu-catalog__inner center">

		<div class="menu-catalog__left">

{% include "template/menu/menu-parent.html" %}

{% include "template/menu/menu-second.html" %}

		</div>

		<div class="menu-catalog__right">

{% include "template/menu/menu-brand-all.html" %}

{% for idParent in [1,2,3,4,5,6,7,8,9,10] %}

			<div class="menu-catalog__level2 menu-catalog__level2--{{ idParent }} hide">

				<ul class="menu-catalog__right-top">

					<li>
						<a href="/">
							Новинки
						</a>
					</li>

					<li>
						<a href="/">
							Распродажи
						</a>
					</li>

				</ul>

				<div class="menu-catalog__right-column-3">

{% include "template/menu/menu-column-3.html" %}

				</div>

				<div class="menu-catalog__right-toggle">

{% include "template/menu/menu-toggle.html" %}

				</div>

				<div class="menu-catalog__right-brand">

{% include "template/menu/menu-brand.html" %}

				</div>

			</div>

{% endfor %}

		</div>

		<div class="menu-catalog__level3"></div>

	</div>

</nav>