					<div class="menu-catalog__sub">

						<div class="menu-catalog__grid center{% if item.mod %} menu-catalog__grid--{{ item.mod }}{% endif %}">

		{% if item.level2 === 'brand' %}

{% include "template/menu/brand.html" %}

		{% elif item.level2 === 'other' %}

{% include "template/menu/all.html" %}

						</div>
{# это для разрыва grid #}
						<div class="center">

{% include "template/menu/brand-logo.html" %}

		{% else %}

{% include "template/menu/grid.html" %}

		{% endif %}

						</div>

					</div>