			<div class="footer__bottom">

				<ul class="footer__payment">

					<li>
						<img src="/img/payment/sbp.svg" width="40" height="20" loading="lazy" alt="Система быстрых платежей">
					</li>

					<li>
						<img src="/img/payment/mastercard.svg" width="32" height="32" loading="lazy" alt="MasterCard">
					</li>

					<li>
						<img src="/img/payment/mir.svg" width="74" height="20" loading="lazy" alt="МИР">
					</li>

					<li>
						<img src="/img/payment/visa.svg" width="32" height="32" loading="lazy" alt="Visa">
					</li>

				</ul>

				<p class="footer__copyright">
					<span class="hidden-sm">Cosmogid</span> © 2010-2022
				</p>

			</div>