			<div class="callback-fixed">

				<button class="callback-fixed__btn button" type="button" aria-label="Обратный звонок" data-modal="callback">

					<svg width="32" height="32" viewBox="0 0 24 24">
						<use xlink:href="#svg-phone"/>
					</svg>

				</button>

				<a class="callback-fixed__btn" href="https://t.me/cosmo_gid_bot" title="telegram {{ site }}" target="_blank" rel="noopener nofollow">

					<svg width="32" height="32" viewBox="0 0 24 24">
						<use xlink:href="#svg-telegram"/>
					</svg>

				</a>

				<a class="callback-fixed__btn" href="https://wa.me/79222977730" title="WhatsApp {{ site }}" target="_blank" rel="noopener nofollow">

					<svg width="32" height="32" viewBox="0 0 24 24">
						<use xlink:href="#svg-whatsapp"/>
					</svg>

				</a>

			</div>

			<button class="page-up button" type="button" aria-label="К началу страницы">

				<svg width="40" height="40" viewBox="0 0 24 24">
					<use xlink:href="#svg-arrow-upward"/>
				</svg>

			</button>

			<a class="cart-fixed" href="/cart/" aria-label="Корзина товаров">

				<svg width="40" height="40" viewBox="0 0 24 24">
					<use xlink:href="#svg-shopping-bag"/>
				</svg>

			</a>

