				<ul class="footer__contacts">

					<li class="footer__contacts-item">

						<a href="tel:+79675559078">

							<svg width="24" height="24" viewBox="0 0 24 24">
								<use xlink:href="#svg-phone"/>
							</svg>

							+7 (967) 555 90 78

						</a>

					</li>

					<li class="footer__contacts-item">

						<a href="https://t.me/cosmo_gid_bot">

							<svg width="24" height="24" viewBox="0 0 24 24">
								<use xlink:href="#svg-telegram"/>
							</svg>

							+7 (922) 297 77 30

						</a>

					</li>

					<li class="footer__contacts-item">

						<a href="https://wa.me/79222977730" target="_blank" rel="noopener nofollow">

							<svg width="24" height="24" viewBox="0 0 24 24">
								<use xlink:href="#svg-whatsapp"/>
							</svg>

							+7 (922) 297 77 30

						</a>

					</li>

					<li class="footer__contacts-item">

						<a href="mailto:shop@skinromance.ru">

							<svg width="24" height="24" viewBox="0 0 24 24">
								<use xlink:href="#svg-mail-forward"/>
							</svg>

							shop@skinromance.ru

						</a>

					</li>

					<li class="footer__contacts-item">

						<p>

							<svg width="24" height="24" viewBox="0 0 24 24">
								<use xlink:href="#svg-clock"/>
							</svg>

							07:00 - 19:00

						</p>

					</li>

				</ul>