				<div class="footer__contacts">

					<a class="footer__contacts-item" href="tel:+74951234567">

						<svg width="24" height="24" viewBox="0 0 24 24">
							<use xlink:href="#svg-phone"/>
						</svg>

						+7 (495) 123 45 67

					</a>

					<a class="footer__contacts-item" href="https://t.me/74951234567">

						<svg width="24" height="24" viewBox="0 0 24 24">
							<use xlink:href="#svg-telegram"/>
						</svg>

						+7 (495) 123 45 67

					</a>

					<a class="footer__contacts-item" href="https://wa.me/74951234567" target="_blank" rel="noopener nofollow">

						<svg width="24" height="24" viewBox="0 0 24 24">
							<use xlink:href="#svg-whatsapp"/>
						</svg>

						+7 (495) 123 45 67

					</a>

					<a class="footer__contacts-item" href="mailto:info@cosmogid.ru">

						<svg width="24" height="24" viewBox="0 0 24 24">
							<use xlink:href="#svg-mail-forward"/>
						</svg>

						info@cosmogid.ru

					</a>

					<p class="footer__contacts-item">

						<svg width="24" height="24" viewBox="0 0 24 24">
							<use xlink:href="#svg-clock"/>
						</svg>

						09:00 - 21:00

					</p>

				</div>