				<div class="footer__menu">

					<p class="footer__head">
						Каталог изделий
					</p>

					<ul class="footer__menu-columns">

{% for name in ["Уход за лицом","Уход за волосами","Пилинги и скрабы","Уход за руками","Уход за телом","Инъекционные и мезо-препараты","Уход за ногами","Детская косметика","Наборы косметических средств","Техника и аксессуары","БАДы и витамины"] %}

						<li>

							<a itemprop="url" href="/">
								<span itemprop="name">
									{{ name }}
								</span>
							</a>

						</li>

{% endfor %}

					</ul>

				</div>