				<div class="footer__menu">

					<p class="footer__head">
						Каталог изделий
					</p>

					<ul class="footer__menu-columns">

{% for name in ["Уход за лицом","Уход за телом","Уход за руками","Уход за ногами","Уход за волосами","Уход для мужчин","Наращивание ресниц","Депиляция","Уход за лицом","Уход за телом","Уход за руками","Уход за ногами","Уход за волосами","Уход для мужчин","Наращивание ресниц","Депиляция"] %}

						<li>

							<a href="/">
								{{ name }}
							</a>

						</li>

{% endfor %}

					</ul>

				</div>

				<div class="footer__menu">

					<p class="footer__head">
						О компании
					</p>

					<ul>

{% for name in ["Условия доставки","Варианты оплаты","Правила возврата","О нас","Акции","Бьюти блог","Программы ухода","Частые вопросы"] %}

						<li>

							<a href="/">
								{{ name }}
							</a>

						</li>

{% endfor %}

					</ul>

				</div>

				<div class="footer__menu">

					<p class="footer__head">
						Информация
					</p>

					<ul>

{% for name in ["Пользовательское соглашение","Возврат, гарантия и оплата","Сотрудничество","Вакансии","Контакты"] %}

						<li>

							<a href="/">
								{{ name }}
							</a>

						</li>

{% endfor %}

					</ul>

				</div>