			<form action="/" class="footer-subscribe">

				<div class="footer-subscribe__head">

					<p class="footer-subscribe__title">
						Присоединяйтесь к Cosmogid и получайте выгодные предложения
					</p>

					<p class="footer-subscribe__text">
						Подпишитесь на рассылку, чтобы получить доступ к специальным предложениям и скидку 5% на первый заказ
					</p>

				</div>

				<div class="footer-subscribe__fieldset">

					<div class="footer-subscribe__inputbox">

						<input type="email" required="required" name="email" class="footer-subscribe__input input" placeholder="Ваша почта">

						<button class="footer-subscribe__submit button" aria-label="Отправить">
							<svg width="24" height="24" viewBox="0 0 24 24">
								<use xlink:href="#svg-send"/>
							</svg>
						</button>

					</div>

					<p class="footer-subscribe__note">
						Подписываясь на рассылку, Вы подтверждаете свое согласие с <a href="/">Политикой конфиденциальности</a> и <a href="/">Cookie</a>.
					</p>

				</div>

			</form>