{% for status in ["Доставляется","Отменен","Выполнен","Выполнен","Выполнен","Выполнен","Выполнен"] %}

				<div class="orderlist">

					<div class="orderlist__head{% if status === 'Доставляется' %} is-yellow{% elif status === 'Отменен' %} is-gray{% elif status === 'Выполнен' %} is-green{% endif %}">

						<dl>

							<dt class="orderlist__label">
								№256 от 25.05.2022
							</dt>

							<dd class="orderlist__status">
								{{ status }}
							</dd>

						</dl>

						<dl class="orderlist__open-hide">

							<dt class="orderlist__label">
								сумма заказа
							</dt>

							<dd class="orderlist__price">
								2581 ₽
							</dd>

						</dl>

						<div class="orderlist__products orderlist__open-hide">

{% for i in range(1, [2,3,4,5,6] | random) %}

{% if i === 5 %}

							<div class="orderlist__products-more">
								+10
							</div>
{% else %}

								<a href="/product/" target="_blank">

									<picture>

										<source srcset="/img/cart/64x64.webp 1x, /img/cart/128x128.webp 2x" type="image/webp">
										<source srcset="/img/cart/64x64.jpg 1x, /img/cart/128x128.jpg 2x">

										<img src="/img/cart/64x64.jpg" alt="Academie Ultimate Line Correcting serum (Корректирующая сыворотка от морщин), 30 мл" loading="lazy" width="64" height="64">

									</picture>

								</a>
{% endif %}

{% endfor %}

						</div>

						<div class="orderlist__toggle">

							<button class="button" type="button" aria-label="Показать детали заказа">

								<svg width="32" height="32" viewBox="0 0 24 24">
									<use xlink:href="#svg-chevron-down"/>
								</svg>

							</button>

						</div>

					</div>

{% include "lk/orderlist/body.html" %}

				</div>

{% endfor %}