			<div class="brands">

{% set lastLetter = '' %}

{% for letter in brands %}

	{% if lastLetter | upper !== letter.name | first | upper %}

		{% set lastLetter = letter.name | first %}

			{% if loop.first === false %}

					</ul>

				</section>

			{% endif %}

				<section class="brands__group" data-hash="{{ lastLetter | urlencode }}">

					<h2 class="brands__head">
						{{ lastLetter }}
					</h2>

					<ul class="brands__list">

		{% endif %}

						<li class="brands__item">

							<a class="brands__item-link" href="/brands/item/">

								<span class="brands__item-name">

									{{ letter.name }}

								</span>

								{% if loop.index % 10 === 0 %}

								<svg class="brands__item-ico" width="18" height="18" viewBox="0 0 24 24">
									<use xlink:href="#svg-gift"/>
								</svg>

								{% endif %}

							</a>

						</li>

{% endfor %}
					</ul>

				</section>

			</div>