{% set title = "Правила продажи" %}

{% set description = "Представленные на сайте изображения товаров - носят демонстративный характер и могут не являться точным отображением физического товара. Внешний вид товара может не соответствовать указанному изображению. Внешний вид товара определяется производителем. Производитель может не сообщать об изменении внешнего вида продукта." %}

{% set urlPage = "rules" %}

{% set breadcrumbs = [title] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="center">

		<div class="service-page">

			<p class="h1">
				Помощь
			</p>

			<div class="service-page__box">

				<div class="service-page-bar">

{% include "service-page/menu.html" %}

				</div>

				<article class="service-page__body service-page__content">

					<h1 class="h2">
						<u>Правила</u> продажи
					</h1>

					<ol>
						<li>
							Товары, размещенные на сайте, предназначены для личного потребления.
						</li>
						<li>
							Закон «О защите прав потребителей».
						</li>
						<li>
							Гражданский кодекс Российской Федерации (Часть вторая), подробная информация указана в статье 497 Гражданского кодекса Российской Федерации.
						</li>
						<li>
							Постановление Правительства Российской Федерации от 27.09.2007 № 612 «Об утверждении правил продажи товаров дистанционным способом».
						</li>
						<li>
							Заказ формируется через интернет-сайт ООО «Вайлдберриз» (www.wildberries.ru).
						</li>
						<li>
							Стоимость доставки составляет от 0 до 700 рублей. Точную информацию о стоимости доставки в Ваш регион Вы можете узнать
							при оформлении заказа.
						</li>
						<li>
							Правила и условия эффективного и безопасного использования Товаров указаны на ярлыках или в инструкции по эксплуатации
							Товара.
						</li>
					</ol>

				</article>

			</div>

		</div>

	</section>

{% endblock %}