						<button class="header-city__btn btn btn--text" type="button" aria-label="изменить Ваш город" data-modal="city">

							<svg width="16" height="16" viewBox="0 0 16 16">
								<path d="M3.76 3.6a6 6 0 0 0 0 8.48l2.83 2.82a2 2 0 0 0 2.82 0l2.83-2.82a6 6 0 0 0-8.48-8.49Zm7.54.93a4.67 4.67 0 0 1 0 6.6l-2.83 2.83a.67.67 0 0 1-.94 0L4.7 11.13a4.67 4.67 0 0 1 6.6-6.6ZM8 5.17a2.67 2.67 0 1 0 0 5.33 2.67 2.67 0 0 0 0-5.33ZM8 6.5a1.33 1.33 0 1 1 0 2.67A1.33 1.33 0 0 1 8 6.5Z"/>
							</svg>

							<span class="header-city__value">
								Екатеринбург
							</span>

						</button>

						<form action="/" class="header-city-auto">

							<p class="header-city-auto__title">
								Ваш город <b>Екатеринбург?</b>
							</p>

							<div class="header-city-auto__foot">

								<button class="btn btn--outline" type="button" data-modal="city">
									Нет
								</button>

								<button class="btn">
									Да
								</button>

							</div>

						</form>
