		<div class="header__center">

			<div class="center">

				<div class="header__box">

					<div class="header__left">

						<button class="header__btn-menu button js-toggle-menu" type="button">
							<span>меню</span>
						</button>

						<a class="header__logo" href="/">

							<picture>

								<source srcset="/img/logo.svg" media="(min-width: 1220px)">
								<source srcset="/img/logo-img.svg">

								<img src="/img/logo.svg" alt="{{ site }}" width="160" height="33" loading="lazy">

							</picture>

						</a>

					</div>

					<div class="header__search">

{% include "template/header/header__search.html" %}

					</div>

					<div class="header__right header__icons">

{% include "template/header/header__icons.html" %}

					</div>

				</div>

			</div>

		</div>