		<div class="header__main">

			<div class="center">

				<div class="header__main-inner">

					<div class="header__logo">

						<a href="/" title="Главная страница {{ site }}">

							<img src="/img/logo.svg" width="238" height="40" loading="lazy" alt="Компания {{ site }}">

						</a>

					</div>

					<div class="header__btn-menu">

						<button class="btn btn--outline btn-menu-toggle" type="button" aria-label="Каталог">
							<svg width="24" height="24" viewBox="0 0 24 24" class="btn-menu-toggle__open">
								<use xlink:href="#svg-menu"/>
							</svg>
							<svg width="24" height="24" viewBox="0 0 24 24" class="btn-menu-toggle__close">
								<use  xlink:href="#svg-close"/>
							</svg>
						</button>

					</div>

					<div class="header__search">

{% include "template/header/search.html" %}

					</div>

					<div class="header__phone">

{% include "template/header/phone.html" %}

					</div>

					<div class="header__callback">

						<button class="btn" type="button" data-modal="callback">
							Обратный звонок
							<svg width="24" height="24" viewBox="0 0 24 24">
								<use xlink:href="#svg-arrow-narrow-right"/>
							</svg>
						</button>

					</div>

				</div>

			</div>

		</div>