						<ul class="menu-top">

							<li>
								<a href="/about-company/" title="О компании FortHouse">
									О компании
								</a>
							</li>

							<li>
								<a href="/delivery/" title="Доставка товара по Москве и России">
									Доставка
								</a>
							</li>

							<li>
								<a href="/payment/" title="Оплата за товар">
									Оплата
								</a>
							</li>

							<li>
								<a href="/warranty/" title="Гарантия на товар, возврат товара">
									Гарантии
								</a>
							</li>

							<li>
								<a href="/action/" title="Акции, скидки, специальные предложения">
									Акции
								</a>
							</li>

							<li>
								<a href="/partners/" title="Оптовые продажи, партнерство, дизайнерам">
									Партнерам
								</a>
							</li>

							<li>
								<a href="/publication/" title="Как выбрать бытовую технику - статьи, обзоры, новинки">
									Статьи
								</a>
							</li>

						</ul>