		<nav class="menu-main">

			<ul class="menu-main__list">

{% for item in [

	{
		name : "Бренды",
		mod  : "brand"
	},

	{
		name : "Парфюмерия"
	},

	{
		name : "Макияж"
	},

	{
		name : "Волосы"
	},

	{
		name : "Лицо"
	},

	{
		name : "Тело и ванная"
	},

	{
		name : "Аксессуары и техника"
	},

	{
		name : "Мужчинам"
	},

	{
		name : "Подарки и наборы"
	},

	{
		name : "Здоровье и уход"
	}

] %}

				<li class="menu-main__item">

					<a class="menu-main__link{% if item.mod %} menu-main__link--{{ item.mod }}{% endif %}" href="/">
						{{ item.name }}
					</a>

		{% if item.name === 'Парфюмерия' %}

					<div class="menu-main__sub">

{% include "template/header/menu-main-grid.html" %}

{% include "template/header/menu-main-brand.html" %}

					</div>

		{% endif %}

				</li>

{% endfor %}

			</ul>

		</nav>