		<nav class="menu-category">

			<ul>

				<li><a href="https://forthouse.ru/katalog/tehnika/">Техника для кухни</a></li>

				<li><a href="https://forthouse.ru/katalog/prachechnaya/">Уход за бельем</a></li>

				<li><a href="https://forthouse.ru/katalog/melkaya-tehnika/">Мелкая бытовая техника</a></li>

				<li><a href="https://forthouse.ru/katalog/moyki-i-smesiteli/">Мойки и смесители</a></li>

				<li><a href="https://forthouse.ru/katalog/posuda-i-interer/">Посуда и интерьер</a></li>

				<li><a href="https://forthouse.ru/katalog/likenew/">Распродажа</a></li>

			</ul>

		</nav>