		<div class="header__mobile">

			<div class="header__mobile-left">

				<button class="ico-box button btn-menu-open" aria-label="открыть меню" type="button">

					<svg width="24" height="24" viewBox="0 0 24 24">
						<use xlink:href="#svg-menu"/>
					</svg>

				</button>

				<a class="ico-box" href="https://wa.me/79222977730" target="_blank" rel="noopener nofollow" title="whatsapp {{ site }}">

					<svg width="24" height="24" viewBox="0 0 24 24">
						<use xlink:href="#svg-whatsapp"/>
					</svg>

				</a>

			</div>

			<div class="header__logo">

				<a href="/" title="Главная страница {{ site }}">

					<img src="/img/logo-mobile.svg" width="60" height="48" loading="eager" alt="Компания {{ site }}">

				</a>

			</div>

			<div class="header__mobile-right">

				<a class="ico-box" href="/favourites/" title="Избранное">

					<svg width="24" height="24" viewBox="0 0 24 24">
						<use xlink:href="#svg-heart"/>
					</svg>

				</a>

				<a class="ico-box" href="/cart/" title="Ваша корзина">

					<svg width="24" height="24" viewBox="0 0 24 24">
						<use xlink:href="#svg-cart"/>
					</svg>

				</a>

			</div>

			<div class="header__search">

{% include "template/header/search.html" %}

			</div>

		</div>