						<div class="header__phones">

							<a href="tel:+74951234567" class="ico-box">

								<svg width="24" height="24" viewBox="0 0 24 24">
									<use xlink:href="#svg-phone"/>
								</svg>

							</a>

							<p class="header__phones-value is-fixed-hide">

								<a href="tel:+74951234567">
									+7 (495) 123-45-67
								</a>

								<a href="tel:88001234567">
									8 (800) 123-45-67
								</a>

							</p>

							<p class="header__phones-time is-fixed-hide">
								каждый день с 8 до 21
							</p>

							<a href="https://wa.me/74951234567" class="ico-box button is-fixed-show" target="_blank" rel="noopener nofollow">

								<svg width="24" height="24" viewBox="0 0 24 24">
									<use xlink:href="#svg-whatsapp"/>
								</svg>

							</a>

						</div>

						<div class="header__callback is-fixed-hide">

							<button class="btn" type="button" data-modal="callback">
								Обратный звонок
							</button>

						</div>