
{% for double in [1,2,3,4,5] %}

					<a href="/" class="card-item">

						<span class="card-item__img">

							<picture>

								<source srcset="/img/card-product/27--34x34.webp 1x, /img/card-product/27--68x68.webp 2x" type="image/webp">

								<source srcset="/img/card-product/27--34x34.jpg 1x, /img/card-product/27--68x68.jpg 2x">

								<img src="/img/card-product/27--68x68.jpg" alt="" width="34" height="34">

							</picture>

						</span>

						<span class="card-item__body">

							<span class="card-item__row">

								<span class="card-item__cat">
									Ericson Laboratoire
								</span>

								<span class="card-item__title">
									Mini-kit acti-biotic (Мини-Кит), 3 шт по 10 мл
								</span>

							</span>

							<span class="card-item__row">

								<span class="card-item__title">
									3 шт/10 мл, 3 шт/20 мл, 200 мл, 300 мл, 400 мл
								</span>

							</span>

						</span>

						<span class="card-item__price" data-suf="₽">
							2581
						</span>

					</a>

					<a href="/" class="card-item">

						<span class="card-item__img">

							<picture>

								<source srcset="/img/card-product/28--34x34.webp 1x, /img/card-product/28--68x68.webp 2x" type="image/webp">

								<source srcset="/img/card-product/28--34x34.jpg 1x, /img/card-product/28--68x68.jpg 2x">

								<img src="/img/card-product/28--68x68.jpg" alt="" width="34" height="34">

							</picture>

						</span>

						<span class="card-item__body">

							<span class="card-item__row">

								<span class="card-item__cat">
									Periche
								</span>

								<span class="card-item__title">
									Argan Keratin Cleansing (Очищающий шампунь)
								</span>

							</span>

						</span>

						<span class="card-item__price" data-suf="₽">
							581
						</span>

					</a>

{% endfor %}