		<div class="header__top">

			<div class="center">

				<div class="flex">

					<div class="header__city">

{% include "template/header/city.html" %}

					</div>

					<div class="header__menu-top">

{% include "template/header/menu-top.html" %}

					</div>

					<div class="header__user">

{% include "template/header/user.html" %}

{% include "template/header/user-menu.html" %}

					</div>

					<div class="header__phone-mobile">

						<a href="tel:+73433394843">

							<svg width="16" height="16" viewBox="0 0 24 24">
								<use xlink:href="#svg-phone"/>
							</svg>

							+7 (343) 339-48-43

						</a>

					</div>

				</div>

			</div>

		</div>