		<div class="header__top">

			<div class="center">

				<div class="flex">

					<div class="header__city">

{% include "template/header/city.html" %}

					</div>

					<div class="header__menu-top">

{% include "template/header/menu-top.html" %}

					</div>

					<div class="header__user">

{% if signIn %}

{% include "template/header/sign-in.html" %}

{% else %}

{% include "template/header/user.html" %}

{% include "template/header/user-menu.html" %}

{% endif %}

					</div>

				</div>

			</div>

		</div>