{% if lk %}

						<aside class="header-user">

							<div class="header-user__notification">

								<button class="button" type="button" aria-label="Уведомления">

									<svg width="24" height="24" viewBox="0 0 24 24">
										<use xlink:href="#svg-bell"/>
									</svg>

									<span>
										10
									</span>

								</button>

							</div>

							<p class="header-user__name">
								Марина
							</p>

							<p class="header-user__phone">
								+7 (495) 123-45-67
							</p>

							<ul class="header-user__menu">

								<li class="header-user__menu-item">

									<a href="/">

										<svg width="24" height="24" viewBox="0 0 24 24">
											<use xlink:href="#svg-various"/>
										</svg>

										Доставки

									</a>

								</li>

								<li class="header-user__menu-item">

									<a href="/">

										<svg width="24" height="24" viewBox="0 0 24 24">
											<use xlink:href="#svg-cash-banknote"/>
										</svg>

										Баланс

									</a>

								</li>

								<li class="header-user__menu-item">

									<a href="/lk/favourites/">

										<svg width="24" height="24" viewBox="0 0 24 24">
											<use xlink:href="#svg-heart"/>
										</svg>

										Избранное

									</a>

								</li>

								<li class="header-user__menu-item">

									<a href="/">

										<svg width="24" height="24" viewBox="0 0 24 24">
											<use xlink:href="#svg-discount"/>
										</svg>

										Скидка покупателя

									</a>

								</li>

								<li class="header-user__menu-item">

									<a href="/lk/orderlist/">

										<svg width="24" height="24" viewBox="0 0 24 24">
											<use xlink:href="#svg-shopping-bag"/>
										</svg>

										Покупки

									</a>

								</li>

								<li class="header-user__menu-item is-sep">

									<a href="/faq/">

										<svg width="24" height="24" viewBox="0 0 24 24">
											<use xlink:href="#svg-help"/>
										</svg>

										Ответы на вопросы

									</a>

								</li>

								<li class="header-user__menu-item">

									<a href="/?logout=yes">

										<svg width="24" height="24" viewBox="0 0 24 24">
											<use xlink:href="#svg-log-out"/>
										</svg>

										Выйти

									</a>

								</li>

							</ul>

						</aside>

{% endif %}