{% set list = [

	{
		brand  : "HOLY LAND",
		title  : "Атравматическая чистка лица",
		img    : 28,
		label  : "хит",
		result : "Чистое лицо, без камедонов, сужение пор.",
		kurs   : "1р/неделя, 5-6раз.",
		ratio  : 5,
		ratioTotal : 1
	},
	{
		brand  : "HOLY LAND",
		title  : "Атравматическая чистка лица",
		img    : 27,
		label  : "new",
		result : "Чистое лицо, без камедонов",
		kurs   : "1р/неделя, 5-6раз."
	}

] %}

	<div class="catalog-list">

{% for double in [1,2,3,4,5,6] %}
{% for item in list %}

		<article class="catalog-list__item">

{% include "_include/card-procedure.html" %}

		</article>

{% endfor %}
{% endfor %}

	</div>