{% set title = "Подобрать личную схему ухода" %}

{% set description = "Для оформления заявки как можно подробнее заполните поля формы отправки, это увеличит точность подобранной схемы ухода." %}

{% set urlPage = "consultations/select" %}

{% set ogImage = "img/consultations/ogImage.jpg" %}
{% set ogImage236 = "img/consultations/ogImage236.jpg" %}

{% set breadcrumbs = ['Консультации специалистов',title] %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<form action="/" class="form form-table">

{% include "consultations/select/head.html" %}

{% include "consultations/select/data.html" %}

{% include "consultations/select/contact.html" %}

{% include "consultations/select/category.html" %}

{% include "consultations/select/problem.html" %}

{% include "consultations/select/type.html" %}

{% include "consultations/select/expectation.html" %}

{% include "consultations/select/brand.html" %}

{% include "consultations/select/budget.html" %}

{% include "consultations/select/comment.html" %}

{% include "consultations/select/foot.html" %}

		</form>

	</div>

{% endblock %}