{% set title = "Адресная книга" %}

{% set lk = true %}

{% set breadcrumbs = [title] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="lk">

		<header class="center">

			<h1 class="title">
				{{ title }}
			</h1>

{% include "lk/menu.html" %}

		</header>

		<div class="center">

			<div class="lk-form">

				<div class="lk-form__column-3">

{% include "lk/address/list.html" %}

					<form action="/" class="lk-form__fieldset is-column-span-2">

						<h2 class="lk__head">
							Редактирование адреса
						</h2>

						<div class="lk-form__column-2">

							<div class="lk-form__fieldset">

								<div class="inputbox">

									<label class="inputbox__label" for="lk-form-name">
										Имя получателя
									</label>

									<input class="input" name="name" id="lk-form-name" value="Марина">

								</div>

								<div class="inputbox">

									<label class="inputbox__label" for="lk-form-lastname">
										Фамилия получателя
									</label>

									<input class="input" name="name" id="lk-form-lastname" value="Кузякина">

								</div>

								<div class="inputbox">

									<label class="inputbox__label" for="lk-form-middlename">
										Отчество получателя
									</label>

									<input class="input" name="name" id="lk-form-middlename" value="Сергеевна">

									<p class="inputbox__text color-red">
										Необходимо для отправки почтой РФ
									</p>

								</div>

								<div class="inputbox">

									<p class="inputbox__label">
										Телефон получателя
									</p>

									<div class="phone-country">

										<button class="phone-country__btn button" type="button">

											<span class="phone-country__value">
												RUS
											</span>

											<svg width="20" height="20" viewBox="0 0 20 20">
												<use xlink:href="#svg-chevron"/>
											</svg>

										</button>

										<input class="phone-country__mask input inputmask inputmask--phone" type="tel" name="phone" data-mask="+\7 (999) 999 99 99" placeholder="+7 ( --- ) --- -- --" required="required" value="4951234567">

{% include "lk/phone-country-list.html" %}

									</div>

								</div>

							</div>

							<div class="lk-form__fieldset">

								<div class="inputbox">

									<label class="inputbox__label" for="lk-form-city">
										Ваш город
									</label>

									<input class="input" name="city" placeholder="Населенный пункт" id="lk-form-city" list="lk-form-city-list" value="Екатеринбург">

									<datalist id="lk-form-city-list">

									{% for value in ["Екатеринбург","Москва","Санкт-Петербург","Казань","Ростов-на-Дону"] %}

										<option value="{{ value }}">

									{% endfor %}

									</datalist>

								</div>

								<div class="inputbox">

									<label class="inputbox__label" for="lk-form-street">
										Улица
									</label>

									<input class="input" name="street" value="ул. Константина Острожского" id="lk-form-street" list="lk-form-street-list">

									<datalist id="lk-form-street-list">

										{% include "cart/order/datalist.html" %}

									</datalist>

								</div>

								<div class="inputbox is-one-row">

									<div class="lk-form__row-inputbox">

										<div class="inputbox">

											<label class="inputbox__label" for="lk-form-house">
												Дом
											</label>

											<input class="input" name="house" value="24" id="lk-form-house">

										</div>

										<div class="inputbox">

											<label class="inputbox__label" for="lk-form-entrance">
												Подьезд
											</label>

											<input class="input" name="entrance" value="7" id="lk-form-entrance">

										</div>

										<div class="inputbox">

											<label class="inputbox__label" for="lk-form-apartment">
												Квартира
											</label>

											<input class="input" name="apartment" value="25" id="lk-form-apartment">

										</div>

									</div>

								</div>

								<div class="inputbox">

									<label class="inputbox__label" for="lk-form-information">
										Примечания
									</label>

									<textarea class="input autosize" name="information" placeholder="Дополнительная информация" id="lk-form-information">этаж 4</textarea>

								</div>

								<div class="lk-form__submit">

									<button class="btn">
										Сохранить
									</button>

								</div>

							</div>

						</div>

					</form>

				</div>

			</div>

		</div>

	</article>

{% endblock %}