		<div class="club-inside__catalog catalog">

			<div class="catalog__list">

{% for item in range(0,8) %}

				<div class="catalog__item">

					<article class="preview-product">

{% include "main/preview-swiper__preview-card-3.html" %}

					</article>

				</div>

{% endfor %}

			</div>

			<div class="club-inside__catalog-btns">

				<button class="btn btn--outline" type="button">
					Еще 12 товаров
				</button>

				<a href="/catalog/" class="btn">
					Перейти в каталог
				</a>

			</div>

		</div>