{% set title = "Вступить в Cosmogid Профи" %}

{% set profile = true %}

{% extends "template/base.html" %}

{% block content %}

{% set menuActive = title %}

	<div class="lk-header">

{% include "lk/menu.html" %}

		<div class="center">

			<h1 class="h2">
				Заявка на вступление  в клуб профессионалов Cosmogid Профи
			</h1>

			<p class="lk__text lk__text--desc">
				Для оформления заявки заполните поля формы отправки, приложив сканы ваших документов об образовании в бьюти-сфере.
			</p>

			<hr>

		</div>

	</div>

	<div class="center">

		<form action="/" class="form lk-form lk-form--club" enctype="multipart/form-data">

			<div class="lk-form__table">

				<div class="lk-form__row">

					<label class="lk-form__label" for="lk-form-name">
						Имя:
					</label>

					<div class="lk-form__control">

						<input class="input" required="required" name="name" id="lk-form-name">

					</div>

				</div>

				<div class="lk-form__row">

					<label class="lk-form__label" for="lk-form-surname">
						Фамилия:
					</label>

					<div class="lk-form__control">

						<input class="input" required="required" name="surname" id="lk-form-surname">

					</div>

				</div>

				<div class="lk-form__row">

					<label class="lk-form__label" for="lk-form-phone">
						Телефон:
					</label>

					<div class="lk-form__control">

						<input class="input" required="required" name="phone" id="lk-form-phone" type="tel">

					</div>

				</div>

				<div class="lk-form__row">

					<label class="lk-form__label" for="lk-form-email">
						E-mail:
					</label>

					<div class="lk-form__control">

						<input class="input" required="required" name="email" id="lk-form-email" type="email">

					</div>

				</div>

			</div>

			<div class="lk-form__table lk-form__table--club">

				<div class="lk-form__row">

					<label class="lk-form__label">
						Вы:
					</label>

					<div class="lk-form__control">

						<div class="lk-form__club">

							<div class="lk-form__club-item lk-form__club-group">

								<div class="lk-form__club-type lk-form__flex">

									<label class="checkbox-radio">

										<input type="radio" class="checkbox-radio__input" value="profi" name="type" checked="checked" data-group="profi">

										<span class="checkbox-radio__label">
											Профессионал
										</span>

									</label>

								</div>

								<fieldset data-disabled-false="profi" data-disabled-true="wholesale">

									<div class="lk-form__club">

										<div class="lk-form__club-item lk-form__club-group">

											<div class="lk-form__flex">

												<label class="checkbox-radio">

													<input type="radio" class="checkbox-radio__input" value="Салон красоты" name="profi-sub" data-group="salon" checked="checked">

													<span class="checkbox-radio__label">
														Салон красоты
														<small>
															(отметьте оказываемые вами услуги)
														</small>
													</span>

												</label>

											</div>

											<fieldset data-disabled-false="salon" data-disabled-true="private">

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-11" checked="checked">

														<span class="checkbox-2__label">
															Солярий
														</span>

													</label>

												</div>

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-12">

														<span class="checkbox-2__label">
															Депиляция
														</span>

													</label>

												</div>

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-13">

														<span class="checkbox-2__label">
															Косметолгия
														</span>

													</label>

												</div>

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-14">

														<span class="checkbox-2__label">
															Маникюр и педикюр
														</span>

													</label>

												</div>

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-15">

														<span class="checkbox-2__label">
															Массаж
														</span>

													</label>

												</div>

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-16">

														<span class="checkbox-2__label">
															Парикмахерская
														</span>

													</label>

												</div>

											</fieldset>

										</div>

										<div class="lk-form__club-item lk-form__club-group">

											<label class="checkbox-radio">

												<input type="radio" class="checkbox-radio__input" value="Частный мастер" name="profi-sub" data-group="private">

												<span class="checkbox-radio__label">
													Частный мастер
													<small>
														(отметьте оказываемые вами услуги)
													</small>
												</span>

											</label>

											<fieldset disabled="disabled" data-disabled-false="private" data-disabled-true="salon">

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-21">

														<span class="checkbox-2__label">
															Бровист
														</span>

													</label>

												</div>

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-22">

														<span class="checkbox-2__label">
															Косметолог
														</span>

													</label>

												</div>

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-23">

														<span class="checkbox-2__label">
															Косметолог-Эстетист
														</span>

													</label>

												</div>

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-24">

														<span class="checkbox-2__label">
															Массажист
														</span>

													</label>

												</div>

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-25">

														<span class="checkbox-2__label">
															Мастер мникюра и педикюра
														</span>

													</label>

												</div>

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-26">

														<span class="checkbox-2__label">
															Парикмахер
														</span>

													</label>

												</div>

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-27">

														<span class="checkbox-2__label">
															Стилист
														</span>

													</label>

												</div>

												<div class="lk-form__flex">

													<label class="checkbox-2">

														<input class="checkbox-2__input" type="checkbox" name="type-details-28">

														<span class="checkbox-2__label">
															Визажист
														</span>

													</label>

												</div>

											</fieldset>

										</div>

									</div>

								</fieldset>

							</div>

							<div class="lk-form__club-item lk-form__club-group">

								<div class="lk-form__club-type">

									<label class="checkbox-radio">

										<input type="radio" class="checkbox-radio__input" value="wholesale" name="type" data-group="wholesale">

										<span class="checkbox-radio__label">
											Оптовый покупатель
										</span>

									</label>

								</div>

								<fieldset disabled="disabled" data-disabled-false="wholesale" data-disabled-true="profi">

									<div class="lk-form__flex">

										<label class="checkbox-radio">

											<input type="radio" class="checkbox-radio__input" value="Розничный магазин" name="wholesale-sub">

											<span class="checkbox-radio__label">
												Розничный магазин
											</span>

										</label>

									</div>

									<div class="lk-form__flex">

										<label class="checkbox-radio">

											<input type="radio" class="checkbox-radio__input" value="Косметолог" name="wholesale-sub">

											<span class="checkbox-radio__label">
												Косметолог
											</span>

										</label>

									</div>

								</fieldset>

							</div>

						</div>

					</div>

				</div>

			</div>

			<div class="lk-form__files">

				<p class="lk-form__label lk-form__label--full">
					Загрузите сканы:
				</p>

				<label class="input-files">

					<input class="input-files__input" type="file" name="file-1">

					<span class="input-files__label">
						Первый разворот паспорта
						<small></small>
					</span>

					<span class="input-files__btn btn btn--outline">
						Выбрать
					</span>

					<span class="input-files__suf">
						Максимальный размер файла 2Мб
					</span>

				</label>

				<label class="input-files">

					<input class="input-files__input" type="file" name="file-2">

					<span class="input-files__label">
						Ваше фото с паспортом в руке
						<small></small>
					</span>

					<span class="input-files__btn btn btn--outline">
						Выбрать
					</span>

					<span class="input-files__suf">
						Максимальный размер файла 2Мб
					</span>

				</label>

				<label class="input-files">

					<input class="input-files__input" type="file" name="file-3">

					<span class="input-files__label">
						Дипломы
						<small></small>
					</span>

					<span class="input-files__btn btn btn--outline">
						Выбрать
					</span>

					<span class="input-files__suf">
						Максимальный размер файла 2Мб
					</span>

				</label>

			</div>

			<button class="btn btn--blue lk-form__submit">
				Отправить заявку
			</button>

		</form>

	</div>

{% endblock %}