{% set list = [

	{
		name  : "collistar",
		img   : "collistar"
	},
	{
		name  : "indola",
		img   : "indola"
	},
	{
		name  : "kalson",
		img   : "kalson"
	},
	{
		name  : "collistar",
		img   : "collistar"
	}

] %}

	<section class="card-list card-list--brand">

		<h2 class="card-list__title h2">
			Популярные бренды
		</h2>

		<div class="swiper-container-wrap">

			<div class="card-list__swiper swiper-container swiper-container--card-list" data-count-row="auto">

				<ul class="card-list__list swiper-wrapper">

{% for double in [1,2,3,4,5,6,7,8,9,10] %}

{% for item in list %}

					<li class="card-list__item swiper-slide">

{% include "_include/card-brand.html" %}

					</li>

{% endfor %}

{% endfor %}

				</ul>

			</div>

		</div>

		<a href="/" class="card-list__all">
			Все
		</a>

	</section>