{% set list = [

	{
		name  : "christina",
		img   : "christina"
	},
	{
		name  : "alessandro",
		img   : "alessandro"
	},
	{
		name  : "casmara",
		img   : "casmara"
	},
	{
		name  : "prirodniy",
		img   : "prirodniy"
	},
	{
		name  : "academie",
		img   : "academie"
	},
	{
		name  : "loreal",
		img   : "loreal"
	},
	{
		name  : "keune",
		img   : "keune"
	},
	{
		name  : "christina",
		img   : "christina"
	}

] %}

	<section class="card-list card-list--brand">

		<div class="card-list__head">

			<h2 class="card-list__title h2">
				Популярные бренды
			</h2>

			<a href="/" class="card-list__all">
				Смотреть все
			</a>

		</div>

		<div class="card-list__wrap">

			<ul class="card-list__brand">

{% for item in list %}

				<li class="card-list__brand-item">

{% include "_include/card-brand.html" %}

				</li>

{% endfor %}

				<li class="card-list__brand-item is-big">

					<picture>

						<source srcset="/img/card-brand/{{ item.img }}--88x88.webp 1x, /img/card-brand/{{ item.img }}--176x176.webp 2x" type="image/webp">

						<source srcset="/img/card-brand/{{ item.img }}--88x88.png 1x, /img/card-brand/{{ item.img }}--176x176.png 2x">

						<img src="/img/card-brand/{{ item.img }}--176x176.png" alt="{{ item.name }}" width="88" height="88" loading="lazy">

					</picture>

				</li>

			</ul>

		</div>

	</section>