{% set list = [

	{
		title  : "Вопрос: сухие, слабые волосы, что делать?",
		brand  : "Indola Hydrate Shampoo",
		date   : "25/09/2020",
		autor  : "Юлия, 20 лет",
		desc   : "Решение: подобрано уходовое средство - увлажняющий и питающий шампунь для ежедневного приминения."
	}

] %}

	<section class="card-list">

		<div class="card-list__head">

			<h2 class="card-list__title h2">
				Последние консультации
			</h2>

			<a href="/" class="card-list__all">
				Смотреть все
				<svg width="17" height="9" viewBox="0 0 17 9">
					<path d="M0 4.5h15.5M11.5 1l4 3.5-4 3.5"/>
				</svg>
			</a>

		</div>

		<div class="card-list__wrap swiper-container-wrap">

			<div class="card-list__swiper swiper-container swiper-container--card-list" data-count-row="3" data-nav="on">

				<div class="card-list__list swiper-wrapper">

{% for double in [1,2,3,4,5,6,7,8,9,10,11,12] %}

{% for item in list %}

					<article class="card-list__item swiper-slide">

{% include "_include/card-consultation.html" %}

					</article>

{% endfor %}

{% endfor %}

				</div>

			</div>

		</div>

	</section>