{% set list = [

	{
		name  : "Ericson Laboratoire",
		desc  : "Mini-kit acti-biotic (Мини-Кит), 3 шт по 10 мл",
		img   : 28,
		price : 2581,
		oldPrice : 4585,
		label : "NEW"
	},
	{
		name  : "Periche",
		desc  : "Argan Keratin Cleansing (Очищающий шампунь)",
		img   : 27,
		price : 2581,
		wishlist : "true"
	}

] %}

	<section class="card-list">

		<div class="card-list__head">

			<h2 class="card-list__title h2">
				Хиты продаж
			</h2>

			<a href="/" class="card-list__all">
				Смотреть все
			</a>

		</div>

		<div class="card-list__wrap swiper-container-wrap">

			<div class="card-list__swiper swiper-container swiper-container--card-list" data-count-row="5">

				<div class="card-list__list swiper-wrapper">

{% for double in [1,2,3,4,5,6,7,8,9,10] %}

{% for item in list %}

					<article class="card-list__item swiper-slide">

{% include "_include/card-product.html" %}

					</article>

{% endfor %}

{% endfor %}

				</div>

			</div>

		</div>

	</section>