{% set title = "Профессиональная косметика в Интернет магазине, купить косметику в Екатеринбурге" %}

{% set description = "Профессиональная косметика в Интернет магазине, купить косметику в Екатеринбурге" %}

{% set preloadImage = [
	{
		media: "(min-width: 768px)",
		img : "/img/billboard/w1140.webp"
	},
	{
		media: "(min-width: 361px) and (max-width: 767px)",
		img : "/img/billboard/w744.webp"
	},
	{
		media: "(max-width: 360px)",
		img : "/img/billboard/w670.webp"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

{% include "home/billboard.html" %}

	<div class="center">

{% include "home/sale.html" %}

		<hr>

{% include "home/hit.html" %}

		<hr>

{% include "home/best.html" %}

		<hr>

{% include "home/brand.html" %}

		<hr>

{% include "home/review.html" %}

		<hr>

{% include "home/visited.html" %}

		<hr>

	</div>

{% endblock %}