{% set title = "Профессиональная косметика в Интернет магазине, купить косметику в Екатеринбурге" %}

{% set description = "Профессиональная косметика в Интернет магазине, купить косметику в Екатеринбурге" %}

{% set preloadImage = [
	{
		media: "(min-width: 768px)",
		img : "/img/billboard/w1140.webp"
	},
	{
		media: "(min-width: 361px) and (max-width: 767px)",
		img : "/img/billboard/w744.webp"
	},
	{
		media: "(max-width: 360px)",
		img : "/img/billboard/w670.webp"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

{% include "home/billboard.html" %}
{% include "home/sale-swiper.html" %}

		<hr>

% include "home/blog-swiper.html" %}
% include "home/address-shops.html" %}

	</div>

	<script>

		setTimeout( () => CG.modalShow('city-confirm'), 9991000);

	</script>

{% endblock %}