{% set list = [

	{
		brand  : "HOLY LAND",
		title  : "Атравматическая чистка лица",
		img    : 28,
		label  : "хит",
		result : "Чистое лицо, без камедонов, сужение пор.",
		kurs   : "1р/неделя, 5-6раз."
	},
	{
		brand  : "HOLY LAND",
		title  : "Атравматическая чистка лица",
		img    : 27,
		label  : "new",
		result : "Чистое лицо, без камедонов, сужение пор.",
		kurs   : "1р/неделя, 5-6раз."
	}

] %}


	<section class="card-list">

		<div class="card-list__head">

			<h2 class="card-list__title h2">
				Популярные протоколы процедур
			</h2>

			<a href="/" class="card-list__all">
				Смотреть все
				<svg width="17" height="9" viewBox="0 0 17 9">
					<path d="M0 4.5h15.5M11.5 1l4 3.5-4 3.5"/>
				</svg>
			</a>

		</div>

		<div class="card-list__wrap swiper-container-wrap">

			<div class="card-list__swiper swiper-container swiper-container--card-list" data-count-row="5">

				<div class="card-list__list swiper-wrapper">

{% for double in [1,2,3,4,5] %}

{% for item in list %}

					<article class="card-list__item swiper-slide">

{% include "_include/card-procedure.html" %}

					</article>

{% endfor %}

{% endfor %}

				</div>

			</div>

		</div>

	</section>