{% set list = [

	{
		name  : "Ericson Laboratoire",
		desc  : "Mini-kit acti-biotic (Мини-Кит), 3 шт по 10 мл",
		text  : "The beauty insider’s secret, IT Cosmetics was developed with plastic surgeons, the leading experts in skin rejuvenation, along with a former news presenter looking for beauty products that would stand up to unforgiving HD cameras.",
		user  : "Иванова Наталья",
		img   : 39,
		price : 2581
	}

] %}

	<section class="card-list card-list--review">

		<div class="card-list__head">

			<h2 class="card-list__title h2">
				Рекомендации покупателей
			</h2>

			<a href="/" class="card-list__all">
				Смотреть все
			</a>

		</div>

		<div class="card-list__wrap swiper-container-wrap">

			<div class="card-list__swiper swiper-container swiper-container--card-list" data-count-row="4">

				<div class="card-list__list swiper-wrapper">

{% for double in [1,2,3,4,5,6,7,8,9,10,11,12] %}

{% for item in list %}

					<article class="card-list__item swiper-slide">

{% include "_include/card-review.html" %}

					</article>

{% endfor %}

{% endfor %}

				</div>

			</div>

		</div>

	</section>