{% set list = [

	{
		id    : 1,
		name  : "Ericson Laboratoire",
		desc  : "Mini-kit acti-biotic (Мини-Кит), 3 шт по 10 мл",
		img   : 28,
		price : 2581,
		oldPrice : 4585,
		sale  : 30,
		size  : [
			{
				id    : "1",
				value : "50 мл",
				price : 2581,
				oldPrice : 4585,
				active   : "true"
			},
			{
				id    : "1-100",
				value : "100 мл",
				price : 3581
			},
			{
				id    : "1-200",
				value : "200 мл",
				price : 4581,
				oldPrice : 6585,
				inBasket : "true"
			}
		]
	},
	{
		id    : 2,
		name  : "Periche",
		desc  : "Argan Keratin Cleansing (Очищающий шампунь)",
		img   : 27,
		price : 2581,
		sale  : 25,
		wishlist : "true",
		inBasket : "true"
	},
	{
		id    : 3,
		name  : "Ericson Laboratoire",
		desc  : "Mini-kit acti-biotic (Мини-Кит), 3 шт по 10 мл",
		img   : 28,
		price : 2581,
		oldPrice : 4585,
		sale  : 30
	},
	{
		id    : 4,
		name  : "Periche",
		desc  : "Argan Keratin Cleansing (Очищающий шампунь)",
		img   : 27,
		price : 2581,
		sale  : 25,
		wishlist : "true"
	},
	{
		id    : 5,
		name  : "Ericson Laboratoire",
		desc  : "Mini-kit acti-biotic (Мини-Кит), 3 шт по 10 мл",
		img   : 28,
		price : 2581,
		oldPrice : 4585,
		sale  : 30
	}

] %}

	<section class="card-list">

		<h2 class="card-list__title h2">
			SALE
		</h2>

		<p class="card-list__label">
			<span>Большие сроки годности</span>
		</p>

		<div class="card-list__list">

{% for item in list %}

			<article class="card-list__item">

{% include "_include/card-product.html" %}

			</article>

{% endfor %}

		</div>

		<a href="/" class="card-list__all">
			Смотреть все
		</a>

	</section>