{% set list = [

	{
		name  : "Ericson Laboratoire",
		desc  : "Mini-kit acti-biotic (Мини-Кит), 3 шт по 10 мл",
		img   : 28,
		price : 2581,
		oldPrice : 4585
	},
	{
		name  : "Periche",
		desc  : "Argan Keratin Cleansing (Очищающий шампунь)",
		img   : 27,
		price : 2581,
		wishlist : "true"
	}

] %}

	<section class="card-list">

		<h2 class="card-list__title h2">
			Вы смотрели
		</h2>

		<div class="swiper-container-wrap">

			<div class="card-list__swiper swiper-container swiper-container--card-list" data-count-row="5">

				<div class="card-list__list swiper-wrapper">

{% for item in list %}

					<article class="card-list__item swiper-slide">

{% include "_include/card-product.html" %}

					</article>

{% endfor %}

				</div>

			</div>

		</div>

		<a href="/" class="card-list__all">
			Смотреть все
		</a>

	</section>