	<div class="breadcrumbs{% if breadcrumbsMod %} {{ breadcrumbsMod }}{% endif %}">

		<div class="center">

			<ul class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">

				<li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">

					<a href="/" itemprop="item" class="breadcrumbs__link">

						<span itemprop="name">
							Главная
						</span>

					</a>

					<meta itemprop="position" content="1">

				</li>

{% for item in breadcrumbs %}

				<li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">

					<a href="/" itemprop="item" class="breadcrumbs__link">

						<span itemprop="name">
							{{ item }}
						</span>

					</a>

					<meta itemprop="position" content="{{ loop.index + 1 }}">

				</li>

{% endfor %}

			</ul>

		</div>

	</div>