	<footer class="footer">

		<div class="center">

{% include "template/footer/logo.html" %}

{% include "template/footer/subscribe.html" %}

{% include "template/footer/btns.html" %}

			<div class="footer__grid" itemscope itemtype="https://www.schema.org/SiteNavigationElement">

{% include "template/footer/menu-catalog.html" %}

{% include "template/footer/menu-info.html" %}

{% include "template/footer/menu-company.html" %}

{% include "template/footer/contacts.html" %}

{% include "template/footer/social.html" %}

			</div>

			<hr>

{% include "template/footer/bottom.html" %}

{% include "template/schema/organization.html" %}

		</div>

	</footer>