	<header class="header">

		<div class="header__top">

			<div class="center">

				<div class="flex">

					<div class="header__city">

{% include "template/header/city.html" %}

					</div>

					<div class="header__menu-top">

{% include "template/header/menu-top.html" %}

					</div>

					<div class="header__user">

{% include "template/header/user.html" %}

					</div>

				</div>

			</div>

		</div>

		<div class="header__main">

			<div class="center">

				<div class="flex">

					<div class="header__main-left">

{% include "template/header/phone.html" %}

					</div>

					<div class="header__logo">

{% include "template/header/logo.html" %}

					</div>

					<div class="header__main-right">

						<div class="header__cart">

{% include "template/header/cart.html" %}

						</div>

						<div class="header__search">

{% include "template/header/search.html" %}

						</div>

					</div>

				</div>

				<div class="header__menu-main">

{% include "template/header/menu-main.html" %}

				</div>

			</div>

		</div>

	</header>