	<nav class="menu">

{% set menu = [

	{
		name : "Бренды"
	},
	{
		name : "Средства для лица"
	},
	{
		name : "Средства для волос"
	},
	{
		name : "Средства для рук"
	},
	{
		name : "Средства для тела"
	},
	{
		name : "Средства для тела"
	},
	{
		name : "Прочее",
		sub  : [
			'Макияж',
			'Защита от солнца',
			'Уход для мужчин',
			'Наборы средств',
			'Проф. оборудование',
			'Акессуары',
			'Парфюмерия',
			'Дезинфекция',
			'Подарочные сертификаты'
		]
	}

] %}

		<ul class="menu__list">

{% for item in menu %}

			<li class="menu__item{% if item.sub %} is-parent{% endif %}">

				<a class="menu__link" href="/">
					{{ item.name }}
				</a>

	{% if item.sub %}

				<ul class="menu__sub">

		{% for sub in item.sub %}

					<li class="menu__sub-item">

						<a class="menu__sub-link" href="/">
							{{ sub }}
						</a>

					</li>

		{% endfor %}

				</ul>

	{% endif %}

			</li>

{% endfor %}

		</ul>

{% set second = [

	{
		name : "Акции"
	},
	{
		name : "Оплата и доставка"
	},
	{
		name : "Бренды"
	},
	{
		name : "Информация"
	},
	{
		name : "О нас"
	},
	{
		name : "Контакты"
	},
	{
		name : "Информация"
	}

] %}

		<ul class="menu__list menu__list--second">

{% for item in second %}

			<li class="menu__item">

				<a class="menu__link" href="/">
					{{ item.name }}
				</a>

			</li>

{% endfor %}

		</ul>

	</nav>