{% set menu = [

	{
		parent : "Бренды"
	},
	{
		parent : "Лицо"
	},
	{
		parent : "Защита от солнца"
	},
	{
		parent : "Руки"
	},
	{
		parent : "Ноги"
	},
	{
		parent : "Тело"
	},
	{
		parent : "Волосы"
	},
	{
		parent : "Мужчинам"
	},
	{
		parent : "Пилинги и скрабы"
	},
	{
		parent : "Мезотерапия"
	},
	{
		parent : "Прочее",
		category  : [
			{
				name : "Макияж",
				list : [
					'Уход для мужчин',
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "Защита от солнца",
				list : [
					'Наборы средств',
					'Проф. оборудование',
					'Акессуары'
				]
			},
			{
				name : "Уход для мужчин",
				list : [
					'Макияж',
					'Защита от солнца',
					'Наборы средств'
				]
			},
			{
				name : "Наборы средств"
			},
			{
				name : "Проф. оборудование"
			},
			{
				name : "Акессуары"
			},
			{
				name : "Парфюмерия"
			},
			{
				name : "Дезинфекция"
			},
			{
				name : "Подарочные сертификаты"
			}
		]
	}

] %}

<nav class="menu">

	<div class="menu__header">

		<h3 class="menu__current-category h2">
			Меню
		</h3>

		<button type="button" class="menu__back button hide" aria-label="На уровень назад">
			<svg width="10" height="16" viewBox="0 0 10 16">
				<path d="M3.16 8l6-6a.88.88 0 000-1.24l-.54-.5a.88.88 0 00-1.24 0L.26 7.38a.88.88 0 000 1.24l7.12 7.12a.88.88 0 001.24 0l.52-.52a.88.88 0 000-1.24z"/>
			</svg>
		</button>

		<button type="button" class="menu__close button" aria-label="Закрыть меню">
			<svg width="16" height="16" viewBox="0 0 16 16">
				<path d="M.82 16a.82.82 0 01-.58-1.41L14.59.24a.82.82 0 011.16 1.16L1.41 15.76a.83.83 0 01-.59.24z"/>
				<path d="M15.18 16a.82.82 0 01-.58-.24L.24 1.41A.82.82 0 011.41.24l14.35 14.35a.82.82 0 01-.58 1.41z"/>
			</svg>
		</button>

	</div>

	<div class="menu__inner">

		<ul class="menu__list">

{% for item in menu %}

			<li class="menu__item menu__level1-item">

				<a class="menu__link menu__link--arrow{% if item.category %} menu__head{% endif %}" href="/" title="{{ item.parent }}">
					{{ item.parent }}
				</a>

	{% if item.category %}

				<div class="menu__level2">

		{% for level2 in item.category %}

					<div class="menu__item menu__level2-item">

						<a class="menu__link{% if level2.list %} menu__link--arrow menu__head-level2{% endif %}" href="/" title="{{ level2.name }}">
							{{ level2.name }}
						</a>

					</div>

			{% if level2.list %}

					<ul class="menu__level3">

				{% for level3 in level2.list %}

						<li class="menu__item menu__level3-item">

							<a class="menu__link" href="/" title="{{ level3 }}">
								{{ level3 }}
							</a>

						</li>

				{% endfor %}

					</ul>

			{% endif %}

		{% endfor %}

				</div>

	{% endif %}

			</li>

{% endfor %}

		</ul>

{% set second = [

	"Акции",
	"Оплата и доставка",
	"Бренды",
	"Информация",
	"О нас",
	"Контакты",
	"Информация"

] %}

		<ul class="menu__second">

{% for item in second %}

			<li class="menu__second-item">

				<a class="menu__second-link" href="/">
					{{ item }}
				</a>

			</li>

{% endfor %}

		</ul>

	</div>

</nav>