	<nav class="menu visuallyhidden">

		<div class="center">

			<h3 class="menu__title h1">
				Меню
			</h3>

			<ul class="menu__list">

				<li class="menu__item">

					<a class="menu__link" href="/">Личный кабинет</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/">Распродажа</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/">Рассрочка</a>


				</li>

				<li class="menu__item">

					<a class="menu__link" href="/">Доставка и оплата</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/">Отзывы о магазине</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/">Гарантия</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/">Мишкины монеты</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/">Контакты</a>

				</li>

			</ul>

			<hr>

			<ul class="menu__list">

				<li class="menu__item">

					<a class="menu__link" href="/">Поиск</a>


				</li>

				<li class="menu__item">

					<a class="menu__link" href="/">Каталог</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/">Корзина</a>

				</li>

			</ul>

			<div class="menu__tel">

				<a href="tel:+74991109938" class="h1">
					+7 (499) 110-99-38
				</a>

			</div>

			<div class="menu__btn">

				<button class="btn" type="button" data-modal="callback">
					Заказать звонок
				</button>

			</div>

			<div class="menu__city">

				<p class="menu__city-label">
					Ваш город:
				</p>

				<span class="menu__city-ico">
					<svg width="14" height="19" viewBox="0 0 14 19">
						<path d="M7 0a7 7 0 00-7 7c0 3.73 6.4 12.24 6.67 12.6a.41.41 0 00.66 0C7.6 19.24 14 10.73 14 7a7 7 0 00-7-7zm0 10.71A3.71 3.71 0 1110.71 7 3.71 3.71 0 017 10.71z"/>
					</svg>
				</span>

				<button class="btn btn--readme" type="button" data-modal="city">
					Москва
				</button>

			</div>

		</div>

	</nav>