	<ul class="menu-bar">

		<li class="menu-bar__item">

			<button class="menu-bar__link button btn-menu-open" type="button">

				<svg width="32" height="32" viewBox="0 0 24 24">
					<use xlink:href="#svg-list-search"/>
				</svg>

				Каталог

			</button>

		</li>

		<li class="menu-bar__item">

			<a href="/" class="menu-bar__link">

				<svg width="32" height="32" viewBox="0 0 24 24">
					<use xlink:href="#svg-star"/>
				</svg>

				Бренды

			</a>

		</li>

		<li class="menu-bar__item">

			<a href="/cart/" class="menu-bar__link"{% if cart %} data-counter="2"{% endif %}>

				<svg width="32" height="32" viewBox="0 0 24 24">
					<use xlink:href="#svg-cart"/>
				</svg>

				Корзина

			</a>

		</li>

		<li class="menu-bar__item">

			<a href="/" class="menu-bar__link">

				<svg width="32" height="32" viewBox="0 0 24 24">
					<use xlink:href="#svg-heart"/>
				</svg>

				Любимое

			</a>

		</li>

		<li class="menu-bar__item">

			<a href="/" class="menu-bar__link">

				<svg width="32" height="32" viewBox="0 0 24 24">
					<use xlink:href="#svg-user"/>
				</svg>

				Профиль

			</a>

		</li>

	</ul>