	<div class="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--info modal-info">

				<div id="modal-info__title" class="modal-info__title h4"></div>

				<div id="modal-info__message" class="modal-info__message"></div>

				<div class="modal-info__btn">

					<button class="btn btn--outline modal__close" type="button">
						Закрыть
					</button>

				</div>

			</div>

{% include "template/modal/lk.html" %}

{% include "template/modal/city.html" %}

{% include "template/modal/product.html" %}

{% include "template/modal/callback.html" %}

{% include "template/modal/gallery.html" %}

{% include "template/modal/wishlist.html" %}

{% include "template/modal/club.html" %}

{% include "template/modal/confirm-phone.html" %}

			<button type="button" class="modal__close modal__close-btn button" aria-label="Закрыть окно">
				<svg width="16" height="16" viewBox="0 0 16 16">
					<path d="M.82 16a.82.82 0 01-.58-1.41L14.59.24a.82.82 0 011.16 1.16L1.41 15.76a.83.83 0 01-.59.24z"/>
					<path d="M15.18 16a.82.82 0 01-.58-.24L.24 1.41A.82.82 0 011.41.24l14.35 14.35a.82.82 0 01-.58 1.41z"/>
				</svg>
			</button>

		</div>

	</div>