	<div class="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--info modal-info">

				<div id="modal-info__title" class="modal-info__title h4"></div>

				<div id="modal-info__message" class="modal-info__message"></div>

				<div class="modal-info__btn">

					<button class="btn btn--outline modal__close" type="button">
						Закрыть
					</button>

				</div>

			</div>

			<form action="/" class="modal__item modal__item--callback form-modal form">

				<h3 class="form-modal__title h3">
					Заказать звонок
				</h3>

				<div class="form-modal__input-box">

					<input type="tel" class="input" placeholder="Введите Ваш номер телефона" aria-label="Ваш номер телефона" required="required" name="phone">

				</div>

				<div class="form-modal__input-box">

					<input class="input" placeholder="Введите Ваше имя" aria-label="Ваше имя" required="required" name="name">

				</div>

				<div class="form-modal__checkbox">

					<label class="checkbox">

						<input type="checkbox" class="checkbox__input" required="required">

						<span class="checkbox__label white-space-nowrap">
							Я согласен на обработку <a href="/" target="_blank">персональных данных</a>
						</span>

					</label>

				</div>

				<button class="form-modal__submit btn btn--blue">
					Отправить
				</button>

			</form>

			<form action="/" class="modal__item modal__item--buy-one-click form-buy-one-click form-modal form">

				<h3 class="form-modal__title h3">
					Быстрая покупка
				</h3>

				<div class="form-buy-one-click__product">

					<input type="hidden" name="id">
					<input type="hidden" name="storeid">
					<input type="hidden" name="articleid">

					<div class="card-item">

						<div class="card-item__img"></div>

						<div class="card-item__cat"></div>

						<div class="card-item__title"></div>

						<div class="card-item__price" data-suf="₽"></div>

					</div>

				</div>

				<div class="form-modal__input-box">

					<input class="input" placeholder="Введите ФИО" aria-label="Ваше ФИО" required="required" name="name">

				</div>

				<div class="form-modal__input-box">

					<input type="tel" class="input" placeholder="Введите Ваш номер телефона" aria-label="Ваш номер телефона" required="required" name="phone">

				</div>

				<div class="form-modal__input-box">

					<input type="email" class="input" placeholder="Введите Ваш e-mail" aria-label="Ваш e-mail" required="required" name="email">

				</div>

				<div class="form-modal__checkbox">

					<label class="checkbox">

						<input type="checkbox" class="checkbox__input" required="required">

						<span class="checkbox__label white-space-nowrap">
							Я согласен на обработку <a href="/" target="_blank">персональных данных</a>
						</span>

					</label>

				</div>

				<button class="form-modal__submit btn btn--blue">
					Заказать
				</button>

			</form>

			<form action="/" class="modal__item modal__item--city-confirm form-city-confirm modal-info">

				<input type="hidden" name="city" value="Екатеринбург">

				<h3 class="modal-info__title modal-info__title--city h4">
					Ваш город <b>Екатеринбург?</b>
				</h3>

				<div class="modal-info__btn">

					<button class="btn btn--outline">
						Да
					</button>

				</div>

				<div class="modal-info__foot">

					<button class="btn btn--link" type="button" data-modal="cities">
						Выбрать другой
					</button>

				</div>

			</form>

			<form action="/" class="modal__item modal__item--cities form-city">

				<input class="input form-city__input" placeholder="Введите название города..." aria-label="Введите свой город" name="searchword">

				<div class="form-city__result"></div>

				<h3 class="form-city__title h4">
					Наиболее популярные города
				</h3>

{% set cities = [
	'Москва',
	'Санкт-Петербург',
	'Екатеринбург',
	'Нижний Новгород',
	'Новосибирск',
	'Краснодар',
	'Красноярск',
	'Кемерово',
	'Ростов-на-Дону',
	'Тюмень',
	'Челябинск'
] %}

				<ul class="form-city__list">

{% for city in cities %}

					<li>
						<button type="button" class="form-city__select button" data-id="123">
							{{ city }}
						</button>
					</li>

{% endfor %}

				</ul>

			</form>

<!--
			<button type="button" class="modal__close modal__close-btn button" aria-label="Закрыть окно">
				<svg width="16" height="16" viewBox="0 0 16 16">
					<path d="M.82 16a.82.82 0 01-.58-1.41L14.59.24a.82.82 0 011.16 1.16L1.41 15.76a.83.83 0 01-.59.24z"/>
					<path d="M15.18 16a.82.82 0 01-.58-.24L.24 1.41A.82.82 0 011.41.24l14.35 14.35a.82.82 0 01-.58 1.41z"/>
				</svg>
			</button>
 -->
		</div>

	</div>