			<ul class="pagin">

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						1
					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						2
					</a>

				</li>

				<li class="pagin__item pagin__item--current">

					<a href="/" class="pagin__link">
						3
					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						4
					</a>

				</li>

				<li class="pagin__item pagin__item--sep">
					...
				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						11
					</a>

				</li>

			</ul>