	<script type="application/ld+json">

		[
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "{{ site }}",
				"url": "{{ url }}",
				"logo": "{{ url }}/og.png",
				"telephone": [
					"8 (800) 100-08-53",
					"8 (499) 346-86-80",
					"8 (812) 385-73-17",
					"8 (343) 339-48-43",
				]
				"email": "shop@cosmogid.ru",
				"address": {
					"@type": "PostalAddress",
					"postalCode": "105062",
					"addressLocality": "Сысертский район, пос. Кадниково",
					"streetAddress": "пер. Школьный, д. 5А",
					"hoursAvailable": {
						"@type": "OpeningHoursSpecification",
						"opens": "09:00",
						"closes": "19:00"
					}
				}
			},
			{
				"@context": "https://schema.org",
				"@type": "WPHeader",
				"name": "{{ title }}",
				"description": "{{ description }}"
			}

		]

	</script>