	<script type="application/ld+json">

		[
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "{{ site }}",
				"url": "{{ url }}",
				"logo": "{{ url }}/og.png",
				"telephone": "+7 (499) 110-99-38",
				"address": {
					"@type": "PostalAddress",
					"addressLocality": "г. Москва",
					"streetAddress": "Барклая д. 8 ТЦ Горбушка, пав. 240",
					"hoursAvailable": {
						"@type": "OpeningHoursSpecification",
						"opens": "10:00",
						"closes": "20:00"
					}
				}
			},
			{
				"@context": "https://schema.org",
				"@type": "WPHeader",
				"name": "{{ title }}",
				"description": "{{ description }}"
			}

		]

	</script>