
		<form action="/sitesearch/" class="search">

			<div class="search__inner">

				<input class="input search__input" placeholder="Введите запрос" aria-label="искать на сайте" name="searchword">

				<button type="reset" class="button search__reset hide" aria-label="очистить форму поиска">
					<svg width="10" height="11" viewBox="0 0 10 11">
						<use xlink:href="#ico-reset"/>
					</svg>
				</button>

				<div class="search__result hide">

{% include "template/search__ajax.html" %}

				</div>

			</div>

		</form>