
					<span class="search__result-item search__result-item--pre-search">

						<span class="search__result-value">
							тушь для ресниц
						</span>

						<button class="search__result-remove button" type="button" aria-label="удалить из поиска">
							<svg width="10" height="11" viewBox="0 0 10 11">
								<use xlink:href="#ico-reset"/>
							</svg>
						</button>

					</span>

					<span class="search__result-item search__result-item--pre-search">

						<span class="search__result-value">
							тушь для ресниц
						</span>

						<button class="search__result-remove button" type="button" aria-label="удалить из поиска">
							<svg width="10" height="11" viewBox="0 0 10 11">
								<use xlink:href="#ico-reset"/>
							</svg>
						</button>

					</span>

					<hr>

					<a href="/" class="search__result-item search__result-item--search">

						<span class="search__result-value">
							тушь для бровей
						</span>

					</a>

					<a href="/" class="search__result-item search__result-item--search">

						<span class="search__result-value">
							тушь для ресниц
						</span>

					</a>