{% set title = "Абрикосовое масло" %}

{% set description = "Абрикосовое масло производится методом холодного отжима из косточек плодов абрикоса. Масло абрикоса богато насыщенными и ненасыщенными жирными кислотами, витаминами А, Е, С и F" %}

{% set urlPage = "spravka" %}

{% set breadcrumbs = ['Каталог','Справочник ингридиентов','Ингридиенты на букву А',title] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center article">

		<header class="article__header">

			<h1 class="h1 article__title-first-letter">
				{{ title }}
			</h1>

		</header>

		<div class="article__body">

			<p>
				<span class="color-pink">Абрикосовое масло</span> производится методом холодного отжима из косточек плодов абрикоса. Масло абрикоса богато насыщенными и ненасыщенными жирными кислотами, витаминами А, Е, С и F, а также различными минеральными веществами. <br>Благодаря высокому содержанию витаминов и жирных кислот, абрикосовое масло интенсивно питает кожу, устраняя сухость и ее последствия, такие, как шелушение, огрубелости и ощущение стянутости. Также масло абрикосовых косточек восстанавливает липидный барьер эпидермиса, который предохраняет кожу от агрессивного влияния внешних факторов: резкого ветра, плохой экологии, чрезмерно сухого воздуха и т. д. Кроме того, липидный слой препятствует испарению воды из кожи, поддерживая оптимальный уровень увлажненности дермы и не допуская обезвоживания.
			</p>

			<p>
				Масло также способствует восстановлению клеточных мембран, тем самым укрепляя кожу и повышая ее тонус. Благодаря содержанию витамина Е абрикосовое масло обладает сильным антиоксидантным эффектом, то есть предотвращает разрушительное воздействие свободных радикалов на клетки кожи. Способствует замедлению старения кожи, разглаживает морщины и делает кожу значительно более упругой и подтянутой, придает ей жизненный тонус. Также абрикосовое масло активизирует процессы обновления в клетках кожи, делает ее более свежей, гладкой и приятной на ощупь. Стимулирует процессы синтеза эластина и коллагена, благодаря чему оказывает лифтинг-эффект и уменьшает количество морщин. Масло абрикосовой косточки выравнивает цвет лица, придавая коже естественное сияние и здоровый румянец. Эффективно снимает воспаление и устраняет покраснения, обладает антисептическим действием, за счет чего является отличным средством для проблемной кожи, склонной к возникновению сыпи.
			</p>

			<p>
				Кроме того, абрикосовое масло благотворно влияет на волосы, придавая им гладкость, шелковистость и здоровое сияние. Восстанавливает поврежденную структуру волос, делая их сильными и здоровыми.
			</p>

		</div>

	</article>

{% endblock %}