{% set title = "Консультации специалистов" %}

{% set description = "Cosmogid сотрудничает с врачами-косметологами, технологами и другими специалистами, поэтому консультации проводятся только на профессиональном уровне." %}

{% set breadcrumbs = ["Консультации"] %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<article class="consultations">

			<h1 class="title">
				{{ title }}
			</h1>

{% include "consultations/billboard.html" %}

			<div class="consultations__text">

				<p>
					Уважаемый клиент! Добро пожаловать в раздел консультаций! Cosmogid сотрудничает с врачами-косметологами, технологами и другими специалистами, поэтому консультации проводятся только на профессиональном уровне. Можно посмотреть готовые консультации, задать вопрос косметологу или подобрать личную схему ухода, заполнив специальную форму. Наша задача-максимально точно подобрать для Вас уход, чтобы результат Вас радовал!
				</p>

			</div>

{% include "consultations/filter.html" %}

{% include "consultations/sort.html" %}

			<div class="consultations__list">

{% for item in range(0,4) %}

{% include "consultations/card.html" %}

{% endfor %}

			</div>

{% include "consultations/foot.html" %}

{% include "consultations/billboards.html" %}

		</article>

	</div>

{% endblock %}