{% set title = "О компании" %}

{% set description = "Мы приветствуем Вас в интернет-магазине Cosmogid. Мы очень рады, что Вы попали на эту страницу на просторах интернета. Наша команда хочет немного рассказать Вам о нашем магазине." %}

{% set breadcrumbs = ["Информация",title] %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<article class="page-bar">

			<h1 class="title">
				Мы приветствуем Вас в интернет-магазине Cosmogid
			</h1>

			<div class="page-bar__box">

				<div class="page-bar__head">

{% include "about/menu.html" %}

				</div>

				<div class="page-bar__body page-about">

					<p>
						Мы приветствуем Вас в интернет-магазине Cosmogid. Мы очень рады, что Вы попали на эту страницу на просторах интернета. Наша команда хочет немного рассказать Вам о нашем магазине.
					</p>

					<p>
						Начали свою деятельность мы 11 лет назад. Изначально это был небольшой магазин с небольшим ассортиментом профессиональной косметики. Почему профессиональной, спросите Вы? Потому что именно профессиональная косметика способна решить множество эстетических и терапевтических проблем. Наша миссия - это дарить людям положительные эмоции, предоставлять качественную оригинальную косметику и рассказать о том, что красота - это не сложно и не дорого!
					</p>

					<div class="video-clip">

						<a href="/" class="video-clip__link">

							<picture>

								<source srcset="/img/video-clip/about--686x400.webp" type="image/webp" media="(max-width: 375px)">
								<source srcset="/img/video-clip/about--686x400.jpg" media="(max-width: 375px)">

								<source srcset="/img/video-clip/about--912x400.webp 1x, /img/video-clip/about--1824x800.webp 2x" type="image/webp">
								<source srcset="/img/video-clip/about--912x400.jpg 1x, /img/video-clip/about--1824x800.jpg 2x">

								<img src="/img/video-clip/about--912x400.jpg" alt="{{ title }} {{ site }}" loading="lazy" width="912" height="400">

							</picture>

						</a>

					</div>

					<h2 class="page-bar__h2">
						Почему нам можно доверять
					</h2>

					<dl class="page-about__dl">

{% for item in [
	{
		dt : "Работаем с 2008 года",
		dd : "Компания Cosmogid начала развитие с 2008 г. И продолжает развиваться, чтобы выполнить все потребности наших клиентов. <br> Возраст домена можно проверить по <a href=\"https://whois.ru/cosmogid.ru\" target=\"_blank\" rel=\"noopener nofollow\">ссылке</a>."
	},
	{
		dt : "Индивидуальный подход",
		dd : "В нашей команде работают лучшие люди, с целью служения и помощи покупателям. Весь процесс от приёма до комплектации заказа проходит с индивидуальным подходом."
	},
	{
		dt : "Более 200 брендов",
		dd : "Поддерживаем ассортимент более 200 брендов, качество продукции для нас на первом месте. Вся косметика имеет сертификаты качества и безопасности."
	},
	{
		dt : "Подбираем лучшее",
		dd : "Тестируем бренды на практике, многие продукты распределяем и тестируем внутри коллектива. Благодаря этому есть возможность подбирать для покупателей  лучшее и индивидуально по ценовой категории."
	},
	{
		dt : "Уникальные программы",
		dd : "Мы  разрабатываем предоставляем уникальные программы ухода и делимся уникальными знаниями и разработками, чтобы наши покупатели могли получить максимальный результат и не потратить средства зря при «случайном» выборе профессиональной косметики."
	},
	{
		dt : "Мы в социльных сетях",
		dd : "В социальных сетях наши косметологи, дерматологи и парикмахеры делятся разными лайфхаками и полезностями по уходу за собой. Мы часто показываем как проводить процедуры самостоятельно. Вы можете подписаться на нас <a href=\"https://vk.com/cosmoguide\" target=\"_blank\" rel=\"noopener nofollow\">Вконтакте</a> и <a href=\"https://t.me/cosmo_gid_bot\" target=\"_blank\" rel=\"noopener nofollow\">Телеграмме</a>"
	}
]%}





						<div class="page-about__dl-item">

							<dt>
								{{ item.dt }}
							</dt>

							<dd>
								{{ item.dd | safe }}
							</dd>

						</div>

{% endfor %}

					</dl>

					<div class="page-about__review">

{% include "_include/review.html" %}

					</div>

					<div class="page-about__certificates">

						<h2 class="page-bar__h2">
							Наши сертификаты
						</h2>

						<div class="certificates">

							<p class="certificates__text">
								На каждый продукт имеется сертификат качества. Как правило документы отправляются по запросу, так как на каждый бренд может быть более 30 страниц, ниже некоторые примеры
							</p>

{% include "product/certificates.html" %}

						</div>

					</div>

				</div>

			</div>

		</article>

{% include "_include/support.html" %}

	</div>

{% endblock %}