	<section class="preview-swiper">

		<h2 class="h2 preview-swiper__title">
			Наборы косметических средств
		</h2>

		<div class="tabs">

			<div class="tabs__nav">

				<button class="tabs__btn button is-active" type="button">
					<span class="h4">Распродажа</span>
				</button>

				<button class="tabs__btn button" type="button">
					<span class="h4">Новинки</span>
				</button>

				<button class="tabs__btn button" type="button">
					<span class="h4">Хиты продаж</span>
				</button>

				<button class="tabs__btn button" type="button">
					<span class="h4">Акции</span>
				</button>

			</div>

			<div class="tabs__item">

				<div class="preview-swiper__box">

					<div class="preview-swiper__wrap">

						<div class="preview-swiper__swiper swiper-container swiper-container--preview">

							<ul class="preview-swiper__list swiper-wrapper">

								<li class="preview-swiper__item preview-swiper__item--billboard swiper-slide hidden-sm">

{% include "main/preview-swiper__billboard-2.html" %}

								</li>

								<li class="preview-swiper__item swiper-slide">

{% include "main/preview-swiper__preview-card-3.html" %}

								</li>

								<li class="preview-swiper__item swiper-slide">

{% include "main/preview-swiper__preview-card-3.html" %}

								</li>

								<li class="preview-swiper__item swiper-slide">

{% include "main/preview-swiper__preview-card-3.html" %}

								</li>

								<li class="preview-swiper__item swiper-slide">

{% include "main/preview-swiper__preview-card-3.html" %}

								</li>

							</ul>

						</div>

					</div>

				</div>

				<div class="preview-swiper__all">

					<a href="/" class="btn btn--outline">
						Смотреть все
					</a>

				</div>

			</div>

{% include "main/perfumery__item.html" %}

{% include "main/perfumery__item.html" %}

		</div>

	</section>