{% set title = "Экспозиция кухонь и бытовой техники ведущих Европейских производителей" %}

{% set description = "Компания FortHouse - одна из немногих, кто уникален в решении самых сложных задач при выборе бытовой техники. Из огромного ассортимента мы подберем вам стиральную или посудомоечную машину, холодильник или встраиваемую технику. Мелкие бытовые помощники: пылесосы, кофе-машины, блендеры и др. приборы дополнят вашу кухню." %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/billboard.html" %}

	<div class="center">

{% include "main/service.html" %}

{% include "main/brand.html" %}

	</div>

{% endblock %}