		<div class="preview-card">

{% set card = {

	overlay : false,
	label : [
		{
			mod  : "discount",
			name : "скидка"
		},
		{
			mod  : "gift",
			name : "подарок"
		},
		{
			mod  : "sale",
			name : "скидка",
			value : "35%"
		}
	],
	flag : ["red","sale"],
	rating : 3,
	review : "2 отзыва",
	priceOld : true,

	buy : "enabled"

} %}

{% include "_include/preview-card/head.html" %}

			<form action="/" class="preview-card__form swiper-no-swiping">

				<input type="hidden" name="id" value="123">

				<div class="preview-card__hover">

					<div class="preview-card__hover-inner">

						<button class="preview-card__btn-modal-card button js-modal-preview-card" type="button">

							<span class="preview-card__btn-modal-card-name">
								Выбор цвета
							</span>

							<svg width="16" height="16" viewBox="0 0 24 24">
								<use xlink:href="#svg-arrow-chevron-down"/>
							</svg>

						</button>

{% include "_include/preview-card/foot.html" %}

					</div>

				</div>

{% include "_include/preview-card/modal.html" %}

			</form>

		</div>