		<div class="preview-card">

{% set card = {

	overlay : false,
	label : [
		{
			mod : "sale",
			name : "скидка",
			value : "25%"
		}
	],
	flag : ["green","new"],
	rating : 3,
	review : "5 отзывов",
	priceOld : true,

	buy : "enabled",

	madein : "ZO Skin"

} %}

{% include "_include/preview-card/head.html" %}

			<form action="/" class="preview-card__form swiper-no-swiping">

				<input type="hidden" name="id" value="123">

				<div class="preview-card__hover">

					<div class="preview-card__hover-inner">

{% include "_include/preview-card/foot.html" %}

					</div>

				</div>

			</form>

		</div>