		<article class="preview-card">

{% set card = {

	overlay : false,
	label : [
		{
			mod  : "discount",
			name : "скидка"
		},
		{
			mod  : "gift",
			name : "подарок"
		}
	],
	flag : "лидер продаж",
	rating : 5,
	review : "2455 отзывов",
	priceOld : true,

	buy : "enabled"

} %}

{% include "_include/preview-card/head.html" %}

			<form action="/" class="preview-card__form swiper-no-swiping">

				<input type="hidden" name="id" value="123">

				<div class="preview-card__hover">

					<div class="preview-card__hover-inner">

						<div class="preview-card__volume">

							<div class="preview-card__volume-list">

								<label class="preview-card__volume-item">

									<input

										checked="checked"

										type="radio"
										class="preview-card__volume-input visuallyhidden"
										name="value"
										value="120 мл"

										data-label-sale="25%"
										data-price="2581"
										data-old-price="2581"
										data-flag-red="хит продаж"
										data-in-cart="false"

										data-flag-login=""
										data-flag-not=""
										data-flag-withdrawn=""

									>

									<span class="preview-card__volume-name">
										120 мл
									</span>

								</label>

								<label class="preview-card__volume-item">

									<input

										type="radio"
										class="preview-card__volume-input visuallyhidden"
										name="value"
										value="220 мл"

										data-label-sale=""
										data-price="5581"
										data-old-price="6581"
										data-flag-red="новинка"
										data-in-cart="true"

										data-flag-login=""
										data-flag-not="Снят с продажи"
										data-flag-withdrawn="Отсутствует до 25.09.2020"

									>

									<span class="preview-card__volume-name">
										220 мл
									</span>

								</label>

								<label class="preview-card__volume-item">

									<input

										type="radio"
										class="preview-card__volume-input visuallyhidden"
										name="value"
										value="300 мл"

										data-label-sale=""
										data-price="5581"
										data-old-price="6581"
										data-flag-red="лидер продаж"
										data-in-cart="true"

										data-flag-login="false"
										data-flag-not="Снят с продажи"
										data-flag-withdrawn="Отсутствует до 25.09.2020"

									>

									<span class="preview-card__volume-name">
										300 мл
									</span>

								</label>

								<label class="preview-card__volume-item">

									<input

										type="radio"
										class="preview-card__volume-input visuallyhidden"
										name="value"
										value="1 л"

										data-label-sale="30%"
										data-label-gift="подарок"
										data-label-discount="скидка"
										data-price="5581"
										data-old-price="6581"
										data-flag-red=""
										data-in-cart="true"

										data-flag-login="Товар для специстов"
										data-flag-not="Снят с продажи"
										data-flag-withdrawn="Отсутствует до 25.09.2020"

									>

									<span class="preview-card__volume-name">
										1 л
									</span>

								</label>

							</div>

						</div>

{% include "_include/preview-card/foot.html" %}

					</div>

				</div>

			</form>

		</article>