		<article class="preview-card">

{% set card = {

	overlay : false,
	label : [
		{
			mod : "sale",
			name : "скидка",
			value : "25%"
		}
	],
	flag : "Новинка",
	rating : 3,
	review : "5 отзывов",
	priceOld : true,

	buy : "enabled"

} %}

{% include "_include/preview-card/head.html" %}

			<form action="/" class="preview-card__form swiper-no-swiping">

				<input type="hidden" name="id" value="123">

				<div class="preview-card__hover">

					<div class="preview-card__hover-inner">

						<div class="preview-card__volume">

							<div class="preview-card__volume-list">

								<label class="preview-card__volume-item">

									<input

										checked="checked"

										type="radio"
										class="preview-card__volume-input visuallyhidden"
										name="articleid"
										value="123"

										data-buy="enabled"

										data-price="2581"
										data-price-old="3456"

										data-flag="Новинка"

										data-label-sale="25%"

									>

									<span class="preview-card__volume-name">
										120 мл
									</span>

								</label>

								<label class="preview-card__volume-item">

									<input

										type="radio"
										class="preview-card__volume-input visuallyhidden"
										name="articleid"
										value="234"

										data-buy="disabled"
										data-favourite="true"

										data-price="5581"

									>

									<span class="preview-card__volume-name">
										220 мл
									</span>

								</label>

								<label class="preview-card__volume-item">

									<input

										type="radio"
										class="preview-card__volume-input visuallyhidden"
										name="articleid"
										value="345"

										data-buy="in-cart"

										data-price="6640"
										data-price-old="10000"

										data-flag="хит продаж"

										data-label-sale="35%"
										data-label-discount="скидка"
										data-label-gift="подарок"

									>

									<span class="preview-card__volume-name">
										1000 мл
									</span>

								</label>

							</div>

						</div>

{% include "_include/preview-card/foot.html" %}

					</div>

				</div>

			</form>

		</article>