		<article class="preview-card">

{% set card = {

	overlay : "login",
	label : false,
	flag  : false,
	rating : 3,
	review : "3 отзыва",
	priceOld : true,

	buy : "disabled"

} %}

{% include "_include/preview-card/head.html" %}

			<form action="/" class="preview-card__form swiper-no-swiping">

				<input type="hidden" name="id" value="123">

				<div class="preview-card__hover">

					<div class="preview-card__hover-inner">

						<div class="preview-card__volume">

							<div class="preview-card__volume-wrap">

								<div class="preview-card__volume-list">

									<label class="preview-card__volume-item">

										<input

											type="radio"
											class="preview-card__volume-input visuallyhidden"
											name="articleid"
											value="234"

											data-overlay="login"
											data-overlay-title="Товар для специалистов"
											data-overlay-text="вступите в клуб CosmoGid для доступа"

										>

										<span class="preview-card__volume-name">
											120 мл
										</span>

									</label>

									<label class="preview-card__volume-item">

										<input

											checked="checked"

											type="radio"
											class="preview-card__volume-input visuallyhidden"
											name="articleid"
											value="345"

											data-price="3581"

										>

										<span class="preview-card__volume-name">
											220 мл
										</span>

									</label>

								</div>

								<div class="preview-card__volume-mobile">

									<select class="preview-card__volume-select">

										<option value="234">
											120 мл (2581 ₽)
										</option>

										<option value="345" selected="selected">
											220 мл (3581 ₽)
										</option>

									</select>

									<svg width="16" height="16" viewBox="0 0 24 24">
										<use xlink:href="#svg-arrow-chevron-down"/>
									</svg>

								</div>

							</div>

						</div>

{% include "_include/preview-card/foot.html" %}

					</div>

				</div>

			</form>

		</article>