		<article class="preview-card">

{% set card = {

	overlay : "not",
	label : false,
	flag  : false,
	rating : 4,
	review : "1 отзыв",
	priceOld : false,

	buy : "disabled"

} %}

{% include "_include/preview-card/head.html" %}

			<form action="/" class="preview-card__form swiper-no-swiping">

				<input type="hidden" name="id" value="123">

				<div class="preview-card__hover">

					<div class="preview-card__hover-inner">

						<div class="preview-card__volume">

							<div class="preview-card__volume-wrap">

								<div class="preview-card__volume-list">

									<label class="preview-card__volume-item">

										<input

											type="radio"
											class="preview-card__volume-input visuallyhidden"
											name="value"
											value="234"

											data-buy="disabled"

											data-price="2581"

											data-overlay="not"
											data-overlay-title="Отсутствует до 25.09.2020"

										>

										<span class="preview-card__volume-name">
											120 мл
										</span>

									</label>

									<label class="preview-card__volume-item">

										<input

											checked="checked"

											type="radio"
											class="preview-card__volume-input visuallyhidden"
											name="value"
											value="345"

											data-price="3581"

										>

										<span class="preview-card__volume-name">
											220 мл
										</span>

									</label>

									<label class="preview-card__volume-item">

										<input

											type="radio"
											class="preview-card__volume-input visuallyhidden"
											name="value"
											value="456"

											data-buy="disabled"

											data-price="6581"

											data-overlay="login"
											data-overlay-title="Товар для специстов"
											data-overlay-text="Для покупки этого товара вам требуется регистрация"

										>

										<span class="preview-card__volume-name">
											400 мл
										</span>

									</label>

								</div>

								<div class="preview-card__volume-mobile">

									<select class="preview-card__volume-select">

										<option value="234">
											120 мл (2581 ₽)
										</option>

										<option value="345" selected="selected">
											220 мл (3581 ₽)
										</option>

										<option value="456">
											400 мл (6581 ₽)
										</option>

									</select>

									<svg width="16" height="16" viewBox="0 0 24 24">
										<use xlink:href="#svg-arrow-chevron-down"/>
									</svg>

								</div>

							</div>

						</div>

{% include "_include/preview-card/foot.html" %}

					</div>

				</div>

			</form>

		</article>