			<div class="card-item card-product">

				<a href="/" class="card-item__img">

					<picture>

						<source srcset="/img/card-product/{{ item.img }}--150x150.webp 1x, /img/card-product/{{ item.img }}--300x300.webp 2x" type="image/webp">

						<source srcset="/img/card-product/{{ item.img }}--150x150.jpg 1x, /img/card-product/{{ item.img }}--300x300.jpg 2x">

						<img src="/img/card-product/{{ item.img }}--300x300.jpg" alt="{{ item.title }}" loading="lazy" width="150" height="150">

					</picture>

{% if item.ratio %}

					<span class="card-item__ratio card-item__ratio--{{ item.ratio }}">
						<span class="visuallyhidden">Рейтинг {{ item.ratio }} звезд</span>
					</span>

{% endif %}

{% if item.availability %}

					<span class="card-item__availability">
						{{ item.availability }}
					</span>

{% endif %}

				</a>

				<address class="card-item__cat">
					{{ item.brand }}
				</address>

				<h3 class="card-item__title">
					<a href="/">
						{{ item.title }}
					</a>
				</h3>

{% if item.article and item.article.length > 5 %}

				<a href="/" class="card-product__article-link">
					всего {{ item.article.length }} вариантов
				</a>

{% endif %}

				<form action="/" class="card-product__order form-buy">

					<input type="hidden" name="id" value="{{ item.id }}">
					<input type="hidden" name="storeid" value="{{ item.storeid }}">

{% if item.sku %}

					<span class="card-product__sku">
						Арт : <span class="card-product__sku-value">{{ item.sku }}</span>
					</span>

{% endif %}

{% if item.sale or item.label %}

					<p class="card-item__label">

	{% if item.sale %}

						<span class="card-item__label-item">

							<span class="visuallyhidden">Скидка</span>
							<span class="card-product__sale">{{ item.sale }}</span>%

						</span>

	{% endif %}

	{% if item.label %}

						<span class="card-item__label-item">
							{{ item.label }}
						</span>

	{% endif %}

					</p>

{% endif %}

{% if item.article and item.article.length <= 5 %}

					<div class="card-product__article">

		{% for article in item.article %}

						<label class="card-product__article-item form-buy__article">

							<input
								name="articleid"
								type="radio"

								value="{{ article.id }}"

								data-sku="{{ article.sku }}"
								data-price="{{ article.price }}"
								data-old-price="{{ article.oldPrice }}"

								class="form-buy__article-input visuallyhidden"

								{% if article.active %}
									checked="checked"
								{% endif %}

								{% if article.sale %}
									data-sale="{{ article.sale }}"
								{% endif %}

								{% if article.storeid %}
									data-storeid="{{ article.storeid }}"
								{% endif %}

								{% if article.inBasket %}
									data-in-basket="in basket"
								{% endif %}
							>

							<span class="card-product__article-label form-buy__article-label">
								{{ article.value }}
							</span>

						</label>

		{% endfor %}

					</div>

{% endif %}

					<p class="card-product__price">

{% if item.oldPrice %}

						<s class="card-product__old-price">

							<b class="visuallyhidden">
								Старая цена
							</b>

							<span class="card-product__old-price-value">
								{{ item.oldPrice }}
							</span>

							<span class="card-product__price-suf">
								₽
							</span>

						</s>

{% endif %}

						<b class="visuallyhidden">
							Цена
						</b>

						<span class="card-product__price-value">
							{{ item.price }}
						</span>

						<span class="card-product__price-suf">
							₽
						</span>

					</p>

					<div class="card-item__btn card-product__btn">

{% if item.article and item.article.length > 5 %}

						<a href="/" class="btn btn--outline{% if item.inBasket %} hide{% endif %}">
							Купить
						</a>

{% else %}
						<button class="btn btn--outline{% if item.inBasket %} hide{% endif %}">
							В корзину
						</button>
{% endif %}

						<a href="/basket/" class="btn btn--pink{% if not item.inBasket %} hide{% endif %}">
							В корзине
						</a>

					</div>

					<button class="card-product__one-click btn btn--link buy-one-click" type="button">
						Купить в один клик
					</button>

				</form>

				<form action="/" class="card-item__wishlist form-wishlist">

					<input type="hidden" name="id" value="{{ item.id }}">
					<input type="hidden" name="type" value="0">

{% if item.wishlist %}

					<input type="hidden" name="mode" value="del">

{% else %}
					<input type="hidden" name="mode" value="add">

{% endif %}

					<button class="button">
						Добавить в избранное
					</button>

				</form>

{% if item.desc %}

				<p class="card-product__desc">
					{{ item.desc }}
				</p>

{% endif %}

			</div>