			<div class="card-item card-procedure is-hover">

				<a href="/" class="card-item__head">

{% include "_include/card-item__img.html" %}

				</a>

				<address class="card-item__cat">
					{{ item.brand }}
				</address>

				<h3 class="card-item__title">
					“{{ item.title }}”
				</h3>

{% if item.label %}

				<p class="card-item__label">
					<span class="card-item__label-item">
						{{ item.label }}
					</span>
				</p>

{% endif %}

				<dl class="card-procedure__desc">

					<div class="card-procedure__desc-item">

						<dt>
							Результат:
						</dt>
						<dd>
							{{ item.result }}
						</dd>

					</div>

					<div class="card-procedure__desc-item">

						<dt>
							Курс:
						</dt>
						<dd>
							{{ item.kurs }}
						</dd>

					</div>

				</dl>

				<div class="card-item__btn">

					<a href="/" class="btn btn--outline">
						Подробнее
					</a>

				</div>

			</div>