			<div class="card-product">

				<a href="/" class="card-product__img">

					<picture>

						<source srcset="/img/card-product/{{ item.img }}--148x148.webp 1x, /img/card-product/{{ item.img }}--296x296.webp 2x" type="image/webp">

						<source srcset="/img/card-product/{{ item.img }}--148x148.jpg 1x, /img/card-product/{{ item.img }}--296x296.jpg 2x">

						<img src="/img/card-product/{{ item.img }}--296x296.jpg" alt="{{ item.name }}" loading="lazy" width="148" height="148">

					</picture>

				</a>

				<h3 class="card-product__name">
					<a href="/">
						{{ item.name }}
					</a>
				</h3>

				<p class="card-product__desc{% if item.size %} card-product__desc--2-row{% endif %}">
					{{ item.desc }}
				</p>

{% if item.sale %}

				<p class="card-product__sale">
					<span class="visuallyhidden">Скидка</span>
					{{ item.sale }}%
				</p>

{% endif %}

				<form action="/" class="card-product__order form-buy">

					<input type="hidden" name="id" value="{{ item.id }}">
					<input type="hidden" name="mode" value="{% if item.inBasket %}del{% else %}add{% endif %}">

{% if item.size %}

					<div class="card-product__size">

	{% for size in item.size %}

						<label class="card-product__size-item form-buy__size">

							<input
								name="size"
								type="radio"
								value="{{ size.id }}"
								data-price="{{ size.price }}"
								data-old-price="{{ size.oldPrice }}"
								class="form-buy__size-input visuallyhidden"
								{% if size.active %}checked="checked"{% endif %}
								{% if size.inBasket %}data-in-basket="in basket"{% endif %}
								>

							<span class="card-product__size-label form-buy__size-label">
								{{ size.value }}
							</span>

						</label>

	{% endfor %}

					</div>

{% endif %}

					<p class="card-product__price">

						<b class="visuallyhidden">
							Цена
						</b>

						<span class="card-product__price-value">
							{{ item.price }}
						</span>

						руб.

{% if item.oldPrice %}

						<s class="card-product__old-price">

							<b class="visuallyhidden">
								Старая цена
							</b>

							<span class="card-product__old-price-value">
								{{ item.oldPrice }}
							</span>

							руб.

						</s>

{% endif %}

					</p>

					<button class="card-product__buy btn btn--outline" data-remove="В корзине">
						Добавить в корзину
					</button>

					<button class="card-product__one-click btn btn--link buy-one-click" type="button">
						Купить в один клик
					</button>

				</form>

				<form action="/" class="card-product__wishlist form-wishlist">

					<input type="hidden" name="id" value="123456">

{% if item.wishlist %}

					<input type="hidden" name="mode" value="del">

{% else %}
					<input type="hidden" name="mode" value="add">

{% endif %}

					<button class="button">
						Добавить в избранное
					</button>

				</form>

			</div>