			<div class="card-preview">

				<a href="/" class="card-preview__img">

					<picture>

						<source srcset="/img/card-preview/{{ item.img }}--124x148.webp 1x, /img/card-preview/{{ item.img }}--248x296.webp 2x" type="image/webp">

						<source srcset="/img/card-preview/{{ item.img }}--124x148.jpg 1x, /img/card-preview/{{ item.img }}--248x296.jpg 2x">

						<img src="/img/card-preview/{{ item.img }}--124x148.jpg" alt="Xiaomi Redmi Note 7 6/64GB Twilight Gold" loading="lazy" width="124" height="148">

					</picture>

				</a>

				<h3 class="card-preview__name">
					<a href="/">
						{{ item.name }}
					</a>
				</h3>

				<p class="card-preview__desc">
					{{ item.desc }}
				</p>

{% if item.sale %}

				<p class="card-preview__sale">
					<span class="visuallyhidden">Скидка</span>
					{{ item.sale }}%
				</p>

{% endif %}

				<form action="/" class="card-preview__order form-buy">

					<input type="hidden" name="id" value="123456">
					<input type="hidden" name="mode" value="add">

					<p class="card-preview__price">

						<b class="visuallyhidden">
							Цена
						</b>

						{{ item.price }} руб.

{% if item.oldPrice %}

						<strike>

							<b class="visuallyhidden">
								Старая цена
							</b>

							{{ item.oldPrice }} руб.

						</strike>

{% endif %}

					</p>

					<button class="card-preview__buy btn btn--outline" data-remove="Удалить из корзины">
						Добавить в корзину
					</button>

					<button class="card-preview__one-click btn btn--link buy-one-click" type="button">
						Купить в один клик
					</button>

				</form>

				<form action="/" class="card-preview__wishlist form-wishlist">

					<input type="hidden" name="id" value="123456">

{% if item.wishlist %}

					<input type="hidden" name="mode" value="del">

{% else %}
					<input type="hidden" name="mode" value="add">

{% endif %}

					<button class="button">
						Добавить в избранное
					</button>

				</form>

			</div>