			<div class="card-product">

				<a href="/" class="card-product__img">

					<picture>

						<source srcset="/img/card-product/{{ item.img }}--150x150.webp 1x, /img/card-product/{{ item.img }}--300x300.webp 2x" type="image/webp">

						<source srcset="/img/card-product/{{ item.img }}--150x150.jpg 1x, /img/card-product/{{ item.img }}--300x300.jpg 2x">

						<img src="/img/card-product/{{ item.img }}--300x300.jpg" alt="{{ item.name }}" loading="lazy" width="150" height="150">

					</picture>

{% if item.ratio %}

					<span class="card-product__ratio card-product__ratio--{{ item.ratio }}">
						<span class="visuallyhidden">Рейтинг {{ item.ratio }} звезд</span>
					</span>

{% endif %}

{% if item.availability %}

					<span class="card-product__availability">
						{{ item.availability }}
					</span>

{% endif %}

				</a>

				<address class="card-product__brand">
					{{ item.brand }}
				</address>

				<h3 class="card-product__name">
					<a href="/">
						{{ item.name }}
					</a>
				</h3>

{% if item.sale %}

				<p class="card-product__sale">
					<span class="visuallyhidden">Скидка</span>
					{{ item.sale }}%
				</p>

{% endif %}

{% if item.label %}

				<p class="card-product__label">
					{{ item.label }}
				</p>

{% endif %}

				<form action="/" class="card-product__order form-buy">

					<input type="hidden" name="id" value="{{ item.id }}">
					<input type="hidden" name="mode" value="{% if item.inBasket %}del{% else %}add{% endif %}">

{% if item.sku %}

					<span class="card-product__sku">
						Арт : <span class="card-product__sku-value">{{ item.sku }}</span>
					</span>

{% endif %}

{% if item.size %}

					<div class="card-product__size">

	{% for size in item.size %}

						<label class="card-product__size-item form-buy__size">

							<input
								name="size"
								type="radio"
								value="{{ size.id }}"
								data-sku="{{ size.sku }}"
								data-price="{{ size.price }}"
								data-old-price="{{ size.oldPrice }}"
								class="form-buy__size-input visuallyhidden"
								{% if size.active %}checked="checked"{% endif %}
								{% if size.inBasket %}data-in-basket="in basket"{% endif %}
								>

							<span class="card-product__size-label form-buy__size-label">
								{{ size.value }}
							</span>

						</label>

	{% endfor %}

					</div>

{% endif %}

					<p class="card-product__price">

{% if item.oldPrice %}

						<s class="card-product__old-price">

							<b class="visuallyhidden">
								Старая цена
							</b>

							<span class="card-product__old-price-value">
								{{ item.oldPrice }}
							</span>

							<span class="card-product__price-suf">
								₽
							</span>

						</s>

{% endif %}

						<b class="visuallyhidden">
							Цена
						</b>

						<span class="card-product__price-value">
							{{ item.price }}
						</span>

						<span class="card-product__price-suf">
							₽
						</span>

					</p>

					<button class="card-product__buy btn btn--outline" data-remove="В корзине">
						В корзину
					</button>

					<button class="card-product__one-click btn btn--link buy-one-click" type="button">
						Купить в один клик
					</button>

				</form>

				<form action="/" class="card-product__wishlist form-wishlist">

					<input type="hidden" name="id" value="123456">

{% if item.wishlist %}

					<input type="hidden" name="mode" value="del">

{% else %}
					<input type="hidden" name="mode" value="add">

{% endif %}

					<button class="button">
						Добавить в избранное
					</button>

				</form>

				<button class="card-product__fast-view btn btn--shadow" type="button">
					Быстрый просмотр
				</button>

{% if item.desc %}

				<p class="card-product__desc">
					{{ item.desc }}%
				</p>

{% endif %}

			</div>