	<section class="preview-swiper preview-swiper--news">

		<h2 class="h1 preview-swiper__title">

			{{ previewSwiperTitle | default ('Новости и интересные статьи') }}

		</h2>

		<div class="preview-swiper__box">

			<div class="preview-swiper__wrap">

				<div class="preview-swiper__swiper swiper-container swiper-container--news">

					<div class="preview-swiper__list swiper-wrapper">

{% for i in range(0, 4) %}

						<div class="preview-swiper__item preview-swiper__item--news swiper-slide">

							<article class="preview-news">

								<a href="/news/article/" class="preview-news__img">

									<picture>

										<source srcset="/img/preview-news/288x200.webp 1x, /img/preview-news/576x400.webp 2x" type="image/webp">
										<source srcset="/img/preview-news/288x200.jpg 1x, /img/preview-news/576x400.jpg 2x">

										<img src="/img/preview-news/288x200.jpg" alt="С учётом сложившейся международной обстановки." loading="lazy" width="288" height="200">

									</picture>

								</a>

								<div class="preview-news__category">

									<a href="/news/">
										{% if loop.index === 3 %}Статьи{% else %}Новости{% endif %}
									</a>

								</div>

								<div class="preview-news__body">

									<div class="preview-news__date">

										<svg width="16" height="16" viewBox="0 0 24 24">
											<use xlink:href="#svg-calendar"/>
										</svg>

										<time datetime="2022-09-24">
											25.09.2022
										</time>

									</div>

									<p class="preview-news__title">
										С учётом сложившейся международной обстановки.
									</p>

									<p class="preview-news__text">
										А также некоторые особенности внутренней политики набирают популярность среди определенных слоев населения, а значит, должны быть ассоциативно распределены по отраслям. И нет.
									</p>

								</div>

							</article>

						</div>

{% endfor %}

					</div>

				</div>

			</div>

		</div>

		<div class="preview-swiper__all">

			<a href="/" class="btn btn--outline">
				Смотреть все
			</a>

		</div>

	</section>