<nav class="lk-menu">

	<div class="lk-menu__main">

		<div class="center">

			<ul class="lk-menu__list">

{% set menu = [

	"Заказы",
	"Отложенные товары 4",
	"История просмотра",
	"Сравнение товаров 3",
	"Подборка проф. ухода",
	"Вступить в Cosmogid Профи",
	"Мои данные и настройки"

] %}

{% for item in menu %}

				<li class="lk-menu__item{% if menuActive === item %} is-current{% endif %}">

					<a href="/">
						{{ item }}
					</a>

				</li>

{% endfor %}

			</ul>

		</div>

	</div>

	<div class="center">

		<ul class="lk-menu__list-second">

{% set menu = [

	"заказы в обработке 0",
	"архив заказов 0",
	"заказанные товары 0"

] %}

{% for item in menu %}

			<li class="lk-menu__item-second{% if menuSecontdActive === item %} is-current{% endif %}">

				<a href="/">
					{{ item }}
				</a>

			</li>

{% endfor %}

		</ul>

	</div>

</nav>