.article {

	font-size: 14px;
	line-height: 22px;

	&__header {

		margin-bottom: 24px;

	}

	&__footer {


	}

	&__readme {

		display: flex;
		justify-content: center;

		.btn {

			font-style: normal;

		}

	}

	&__title {

		text-align: center;

		a {

			text-decoration: none;
			color: inherit;
			border-bottom: 2px solid transparent;
			transition: var(--transitionDefault);

			&:hover {

				border-color: var(--pink);

			}

		}

	}

	&__body {

		h2, h3, b, strong {

			font-weight: 600;

		}

		p {

			margin: 22px 0;

		}

		ul {

			margin: 22px 0;

			li {

				padding-left: 16px;

				&::before {

					position: absolute;
					top: 0;
					left: 0;
					content: '-';

				}

			}

		}

		p + ul {

			margin-top: -22px;

		}

		& > *:first-child {

			margin-top: 0;

		}

		.img-pull-right {

			float: right;
			max-width: 40%;
			margin: 0 0 10px 16px;

		}

		.list-disk {

			li::before {

				content: "";
				width: 3px;
				height: 3px;
				top: 8px;
				left: 6px;
				border-radius: 50%;
				background-color: var(--text);

			}

			&.is-row {

				li {

					display: inline-block;
					vertical-align: top;
					margin-right: 16px;

				}

			}

		}

	}

}

.text-short {

	&__hide {

		position: relative;
		overflow: hidden;
		max-height: 0px;
		opacity: 0;
		transition: var(--transitionDefault);

	}

	&.is-open &__hide {

		max-height: 3000px;
		overflow: visible;
		opacity: 1;

	}

	&.is-open &__btn:not([data-alt]),
	&.is-open &__btn-inner {

		display: none;

	}

	&.is-open &__btn {

		&::before {

			content: attr(data-alt);

		}

		&::after {

			border-width: 0 4px 8px;

		}

	}

	&__btn[data-alt] {

		color: var(--blue);
		font-size: 14px;
		padding: 0;
		height: 20px;
		line-height: 20px;

		&::after {

			position: absolute;
			width: 0;
			height: 0;
			top: 6px;
			left: 100%;
			margin-left: 5px;
			content: '';
			border-style: solid;
			border-width: 8px 4px 0;
			border-color: var(--blue) transparent;

		}

	}

}

.mb-0 {

	margin-bottom: 0;

}
.mt-0 {

	margin-top: 0;

}

.youtube {

	display: flex;
	justify-content: center;

	iframe {

		max-width: 100%;

	}

}