.billboard {

	margin: var(--gap) 0;

	@media $mdWidth {

		margin: 10px 0;

	}

	@media $smWidth {

		margin: 16px 0;

	}

	&__wrap:not(.swiper-initialized) &__item + &__item {

		display: none;

	}

	@media $desktop {

		&:not(:hover) .swiper-navigation {

			opacity: 0;

		}

		.swiper-pagination {

			display: none;

		}

	}

	@media $mdWidth {

		.center {

			width: 100%;
			padding: 0;

		}

	}

	&__item {

		position: relative;
		width: 100%;
		flex-shrink: 0;

	}

	&__link {

		display: block;
		height: 400px;

		@media $mdWidth {

			height: auto;

			img {

				width: 100%;
				height: auto;

			}

		}

	}

}

.sale-billboard {

	display: flex;
	margin-bottom: 16px;

	@media $smWidth {

		display: block;
		margin-bottom: 32px;

	}

	&__img {

		margin-right: 32px;
		flex-shrink: 0;

		@media $mdWidth {

			img {

				width: 360px;
				height: auto;

			}

		}

		@media $smWidth {

			float: left;
			margin-right: var(--indent);
			margin-bottom: var(--indent);

			img {

				width: 160px;

			}

		}

		@media $xsWidth {

			img {

				width: 128px;

			}

		}

	}

	&__content {

		align-self: center;
		color: var(--gray);

	}

	&__slogan {

		font-size: 18px;

		@media $mdWidth {

			font-size: 14px;

		}

	}

	&__title {

		font-weight: 400;
		font-size: 32px;
		text-transform: uppercase;
		line-height: 1.2;

		@media $mdWidth {

			font-size: 24px;

		}

		@media $xsWidth {

			font-size: 18px;

		}

	}

	&__text {

		font-size: 14px;

		p + p {

			margin-top: 1em;

		}

		@media $mdWidth {

			font-size: 12px;

		}

	}

	&__foot {

		margin-top: 40px;
		display: flex;

		.btn {

			padding: 0 40px;

			@media $smWidth {

				padding: 0;
				width: 100%;

			}

		}

	}

}