.billboard {

	position: relative;

	&__box {

		margin: 0 -16px;
		overflow: hidden;
		position: relative;

	}

	&__list {

		display: flex;

	}

	&__item {

		width: 100%;
		flex-shrink: 0;
		padding: 0 16px;

	}

	&__el {

		width: 100%;
		flex-shrink: 0;
		position: relative;
		display: block;

	}

	img {

		width: 100%;
		height: auto;
		object-fit: cover;

	}

}