.breadcrumbs {

	margin: 24px 0 16px;
	position: relative;

	&__list {

		display: flex;
		justify-content: center;
		font-weight: 500;
		color: var(--text);
		flex-wrap: wrap;

		@media $smWidth {

			flex-wrap: nowrap;

		}

	}

	&__item {

		display: flex;
		align-items: center;

		&::after {

			content: ' / ';
			margin: 0 4px;

			@media $smWidth {

				margin: 0 10px;

			}

		}

		&:last-child {

			&::after {

				display: none;

			}

			.breadcrumbs__link {

				text-decoration: none;

			}

		}

	}

	&__link {

		text-decoration: underline;

		@media $desktop {

			&:hover {

				color: var(--gray);

			}

		}

		@media $smWidth {

			text-decoration: none;
			white-space: nowrap;

		}

	}

	@media $smWidth {

		.center {

			width: 100%;
			padding: 0;
			display: flex;
			overflow: hidden;
			border-top: 1px solid #f5f3ff;
			border-bottom: 1px solid #f5f3ff;

		}

	}

	&__back {

		display: none;
		border-right: 1px solid #f5f3ff;
		margin-right: var(--gap);

		.button {

			padding: 10px;

		}

		@media $smWidth {

			display: block;

		}

	}


}