.breadcrumbs {

	margin: 24px 0 16px;
	position: relative;

	&__list {

		display: flex;
		justify-content: center;
		font-weight: 500;
		color: var(--text);
		flex-wrap: wrap;

	}

	&__item {

		display: flex;
		align-items: center;

		&::after {

			content: ' / ';
			margin: 0 4px;

		}

		&:last-child {

			&::after {

				display: none;

			}

			.breadcrumbs__link {

				text-decoration: none;

			}

		}

	}

	&__link {

		text-decoration: underline;

		@media $desktop {

			&:hover {

				color: var(--gray);

			}

		}

	}

	&.is-small & {

		margin-bottom: 24px;

		@media $mdWidth {

			&__list {

				font-size: 12px;
				display: block;

			}

			&__item {

				display: inline;

				&::after {

					margin: 0;

				}

				&:nth-child(n+2)::before {

					content: '...';

				}

				&:nth-last-child(-n+2)::before {

					display: none;

				}

				&:nth-child(n+2) .breadcrumbs__link {

					display: none;

				}

				&:nth-last-child(-n+2) .breadcrumbs__link {

					display: inline;

				}

			}

		}

	}

}