.card-procedure {

	.card-item {

		&__cat,
		&__title {

			text-align: center;

		}

		&__btn {

			margin-top: auto;

		}

	}

	&__desc {

		font-size: 12px;
		line-height: 14px;
		color: #737373;
		margin: 6px 0 16px;

		&-item {

			display: flex;
			margin-top: 5px;

		}

		dt {

			padding-right: 5px;

		}

	}

}
