.card-review {

	padding-right: 20px;

	&__product {

		display: flex;
		text-decoration: none;

	}

	&__img {

		width: 88px;
		flex-shrink: 0;
		margin-right: 8px;

	}

	&__name {

		font-size: 14px;
		line-height: 18px;
		font-weight: 500;
		margin-bottom: 6px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-transform: uppercase;
		color: var(--color);

	}

	&__desc {

		font-size: 14px;
		line-height: 16px;
		color: #303030;
		height: 32px;
		overflow: hidden;
		text-transform: lowercase;

	}

	&__price {

		color: #000;
		font: 500 14px/20px 'ProximaNova';
		white-space: nowrap;
		margin: 8px 0;

	}

	&__blockquote {

		margin-top: 8px;

	}

	&__text {

		font-size: 14px;
		line-height: 18px;
		color: #303030;
		margin: 8px 0;

	}

	&__user {

		font-style: italic;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		color: #000;
		text-align: right;
		display: block;

	}

}