.card-review {

	@media ($desktop) {

		display: flex;

	}

	&__product {

		text-decoration: none;

		@media ($responsive) {

			padding: 0;
			border: 0;

		}

		@media ($desktop) {

			width: 214px;
			flex-shrink: 0;
			margin-right: 26px;
			text-align: center;

			.card-review__ratio {

				display: none;

			}

		}

	}

	.card-item {

		@media ($responsive) {

			padding-left: 100px;
			min-height: 90px;

			&__img {

				position: absolute;
				width: 90px;
				height: 90px;
				top: 0;
				left: 0;
				border: 1px solid var(--border);

				img {

					width: 80px;
					height: 80px;
					object-fit: contain;

				}

			}

		}

		@media ($desktop) {

			&__img {

				img {

					width: 100%;
					height: 120px;
					object-fit: contain;

				}

			}

		}

	}

	&__blockquote {

		position: relative;

		@media ($responsive) {

			.card-review__ratio {

				display: none;

			}

		}

	}

	&__text {

		font-size: 14px;
		line-height: 25px;
		color: #000;
		margin: 6px 0;
		height: 100px;
		overflow: hidden;

	}

	&__link {

		font-size: 12px;
		font-weight: 500;
		font-style: italic;

	}

	&__user {

		font-style: normal;
		font-size: 14px;
		line-height: 20px;
		color: #000;
		display: block;

		@media ($responsive) {

			position: absolute;
			right: 0;
			bottom: 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 40%;

		}

	}

	&__ratio {

		height: 12px;
		width: 86px;
		margin: 14px 0 22px;
		display: block;
		background-image: url("data:image/svg+xml,%3Csvg width='160' height='12' viewBox='0 0 160 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ed4993'%3E%3Cpath d='M6 0l1.3 4.1h4.4L8.2 6.7l1.3 4.1L6 8.3l-3.5 2.6 1.3-4.1L.3 4.1h4.4L6 0zM60 0l1.3 4.1h4.4l-3.5 2.6 1.3 4.1L60 8.3l-3.5 2.6 1.3-4.1-3.5-2.6h4.4L60 0zM78 0l1.3 4.1h4.4l-3.5 2.6 1.3 4.1L78 8.3l-3.5 2.6 1.3-4.1-3.5-2.6h4.4L78 0zM42 0l1.3 4.1h4.4l-3.5 2.6 1.3 4.1L42 8.3l-3.5 2.6 1.3-4.1-3.5-2.6h4.4L42 0zM24 0l1.3 4.1h4.4l-3.5 2.6 1.3 4.1L24 8.3l-3.5 2.6 1.3-4.1-3.5-2.6h4.4L24 0z'/%3E%3C/g%3E%3Cg fill='%23E4E4E4'%3E%3Cpath d='M132 0l1.3 4.1h4.4l-3.5 2.6 1.3 4.1-3.5-2.5-3.5 2.6 1.3-4.1-3.5-2.6h4.4L132 0zM150 0l1.3 4.1h4.4l-3.5 2.6 1.3 4.1-3.5-2.5-3.5 2.6 1.3-4.1-3.5-2.6h4.4L150 0zM114 0l1.3 4.1h4.4l-3.5 2.6 1.3 4.1-3.5-2.5-3.5 2.6 1.3-4.1-3.5-2.6h4.4L114 0zM96 0l1.3 4.1h4.4l-3.5 2.6 1.3 4.1L96 8.3l-3.5 2.6 1.3-4.1-3.5-2.6h4.4L96 0z'/%3E%3C/g%3E%3C/svg%3E");

		&--4 {

			background-position: -18px 0;

		}

		&--3 {

			background-position: -36px 0;

		}

		&--2 {

			background-position: -54px 0;

		}

		&--1 {

			background-position: -72px 0;

		}

	}

}