.card-procedure {

	&__desc {

		font-size: 12px;
		line-height: 14px;
		color: #737373;
		margin: 12px 0;
		min-height: 84px;

		&-item {

			display: flex;
			margin-top: 5px;

		}

		dt {

			padding-right: 5px;

		}

	}

}
