.card-list {

	position: relative;

	@media ($responsive) {

		margin: 30px 0;

	}

	@media ($desktop) {

		margin: 60px 0;

		&--related {

			margin: 40px 0;

		}

	}

	&__head {

		min-height: 70px;
		position: relative;

		@media ($responsive) {

			min-height: 0;
			padding-right: 90px;

		}

	}

	&__wrap {

		position: relative;
		margin: 24px 0;

		@media ($desktop) {

			&:not(.swiper-container-style) {

				margin: 18px -6px;
				padding: 6px;
				overflow: hidden;

			}

		}

	}

	.swiper-container-style {

		.swiper-container {

			padding: 6px;
			margin: -6px -6px 0;

			&[data-nav] + .swiper-controls .swiper-navigation {

				bottom: 46px;

			}

		}

		.swiper-slide {

			height: auto;

		}

		.swiper-pagination {

			position: relative;
			bottom: 0;
			margin: 40px 0;

		}

	}

	&__all {

		position: absolute;
		right: 0;
		font-size: 12px;
		line-height: 16px;
		font-weight: 500;
		padding-right: 32px;
		color: var(--text);
		text-decoration: none;

		svg {

			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			fill: none;
			stroke: var(--text);

		}

		@media ($desktop) {

			bottom: 0;

			&:hover {

				color: var(--blue);

				svg {

					stroke: var(--blue);

				}

			}

		}

		@media ($responsive) {

			top: 2px;
			font-size: 10px;
			padding-right: 18px;

			svg {

				width: 12px;
				height: 6px;

			}

		}

	}

	&__title {

		text-align: center;

		@media ($responsive) {

			text-align: left;

		}

	}

	&--related &__title {

		font-size: 20px;
		text-align: left;

		b {

			font-weight: 600;
			text-transform: uppercase;

		}

	}

	&--related &__head {

		min-height: 0;

	}

	&__label {

		display: flex;
		justify-content: center;
		margin: 3px 0;

		@media ($responsive) {

			justify-content: flex-start;

		}

		span {

			padding: 2px 22px;
			font-size: 12px;
			line-height: 16px;
			border-radius: 2px;
			color: #fff;
			background-color: color(var(--pink) a(60%));

		}

	}

	&__list {

		display: flex;

		@media ($responsive) {

			margin: 0 -16px;
			padding-bottom: 16px;
			overflow-x: auto;
			scroll-snap-type: x mandatory;

		}

		@media ($mobile) {

			margin: 0 -10px;

		}

	}

	&__item {

		width: 216px;
		flex-shrink: 0;
		position: relative;
		display: flex;

		@media ($responsive) {

			padding-left: 16px;
			margin-right: 0;
			scroll-snap-align: start;
			scroll-snap-stop: always;

			&:last-child {

				padding-right: 16px;
				width: 232px;

			}

		}

		@media ($mobile) {

			padding-left: 10px;

			&:last-child {

				padding-right: 10px;
				width: 220px;

			}

		}

		@media ($tablet) {

			width: calc((100% - 16px) / 4);

		}

		@media ($desktop) {

			margin-right: 30px;
			width: calc((100% - 120px) / 5);/*  120 = 30 * 4 */

			&:last-child {

				margin-right: 0;

			}

		}

	}

	&--review &__item {

		@media ($responsive) {

			padding: 0 16px;
			width: 100% !important;

		}

		@media ($mobile) {

			padding: 0 10px;

		}

		@media ($tablet) {

			/* width: calc((100% - 30px) / 2); */

		}

		@media ($desktop) {

			width: calc((100% - 30px) / 2);

		}

	}

	&--consultation &__item {

		@media ($responsive) {

			padding: 0 16px;
			width: 100% !important;

		}

		@media ($mobile) {

			padding: 0 10px;

		}

		@media ($tablet) {

			/* width: calc((100% - 30px) / 2); */

		}

		@media ($desktop) {

			width: calc((100% - 60px) / 3);

		}

	}


	&__category {

		@media ($desktop) {

			@supports(display: grid) {

				display: grid;
				grid-gap: 40px 50px;
				grid-template-rows: 206px 206px;
				grid-template-columns: 410px 300px 410px;

				&-item {

					position: relative;

					&.is-rows-2 {

						grid-row: span 2;

					}


		/*

					&--2-columns {

						grid-column: span 2;

					}
					grid-row-start: 1;
					grid-row-end: 2;
					grid-column-start: 2;
					grid-column-end: 3;
		 */


				}

			}

		}

		@media ($responsive) {

			display: flex;
			flex-wrap: wrap;
			margin: -4px;

			&-item {

				width: calc(50% - 8px);
				margin: 4px;
				height: 0;
				padding-bottom: calc(31.25% - 5px);

				&.is-rows-2 {

					display: none;

				}

			}

		}

	}

	&__brand {

		position: relative;

		@media ($desktop) {

			@supports(display: grid) {

				display: grid;
				grid-gap: 1px;
				grid-template-rows: auto;
				grid-template-columns: 190px 190px 190px 190px 1fr;
				background-color: var(--border);
				padding: 1px;

				img {

					width: 100%;
					height: auto;

				}

				&-item {

					background-color: #fff;

					&.is-big {

						grid-row-start: 1;
						grid-row-end: 3;
						grid-column-start: -2;
						grid-column-end: -1;
						margin: -1px;

					}

				}

			}

		}

		@media ($mobile) {

			margin: 0 -10px;

			&-item {

				padding-left: 10px;

				&:last-child {

					padding-right: 10px;

				}

			}

		}

		@media ($tablet) {


		}

		@media ($responsive) {

			display: flex;
			margin: 0 0 0 -16px;
			padding-bottom: 16px;
			padding-right: 16px;
			overflow-x: auto;
			scroll-snap-type: x mandatory;

			&-item {

				padding-left: 16px;
				scroll-snap-align: start;
				scroll-snap-stop: always;

				&.is-big {

					display: none;

				}

				&:last-child {

					padding-right: 16px;

				}


			}

			.card-brand {

				background-color: #fff;
				border-radius: 2px;
				border: 1px solid #e0e0e0;

			}

		}

	}

/* 	tags  */

	&__tags {

		margin: 20px -9px;

		@media ($responsive) {

			margin: 20px -4px;
			height: 72px;
			overflow: hidden;

		}

		&-list {

			display: flex;
			flex-wrap: wrap;

		}

		&-item {

			margin: 7px 9px;

			@media ($responsive) {

				margin: 4px;

			}

		}

		&-link {

			display: block;
			padding: 8px;
			font-weight: 500;
			font-size: 13px;
			line-height: 18px;
			text-decoration: none;
			letter-spacing: 0.05em;
			color: #6A6868;
			background-color: #F5F5F5;
			border: 1px solid #E4E4E4;
			white-space: nowrap;
			border-radius: 22px;

			@media ($responsive) {

				padding: 4px 8px;
				font-size: 12px;

			}

		}

	}

}