.card-consultation {

	position: relative;
	border: 1px solid var(--border);
	padding: 28px 26px 56px;

	&__link {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		opacity: 0;
		transition: var(--transitionDefault);
		background-color: color(var(--pink) a(30%));

		@media ($desktop) {

			&:hover {

				opacity: 1;

			}

		}

	}

	&__btn {

		font-weight: 500;
		font-size: 14px;
		line-height: 44px;
		color: #3D3D3D;
		text-align: center;
		width: 184px;
		height: 44px;
		background-color: #fff;
		box-shadow: 0px 1px 5px rgba(65, 142, 188, 0.5);
		border-radius: 5px;

	}

	&__title {

		font-size: 14px;
		line-height: 16px;
		font-weight: 500;
		color: #303030;

	}

	&__desc {

		font-size: 12px;
		line-height: 15px;
		color: #737373;
		margin-top: 21px;

	}

	&__brand {

		font-size: 12px;
		line-height: 15px;
		color: var(--blue);
		font-style: italic;
		display: block;

	}

	&__date,
	&__autor {

		font-size: 12px;
		color: #737373;
		position: absolute;
		left: 25px;
		bottom: 22px;
		font-style: normal;

	}

	&__date {

		left: auto;
		right: 25px;

	}

}