.card-list {

	margin: 60px 0 70px;
	position: relative;

	&__head {

		min-height: 88px;
		position: relative;

	}

	&__wrap {

		position: relative;
		margin: 10px 0;

		&.swiper-container-style {

			overflow: hidden;
			margin: 10px -20px;

			.swiper-container {

				overflow: visible;
				padding: 0 20px;

			}

			.swiper-slide {

				height: auto;
				display: flex;

			}

		}

	}

	&__all {

		position: absolute;
		right: 0;
		bottom: 20px;
		font-size: 12px;
		line-height: 16px;
		font-weight: 500;
		background-position: right;
		background-repeat: no-repeat;
		padding-right: 32px;
		background-image: url("data:image/svg+xml,%3Csvg width='17' height='9' viewBox='0 0 17 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.5h15.5M11.5 1l4 3.5-4 3.5' stroke='%23424242'/%3E%3C/svg%3E");
		color: var(--text);
		text-decoration: none;

		@media ($desktop) {

			&:hover {

				color: var(--blue);
				background-image: url("data:image/svg+xml,%3Csvg width='17' height='9' viewBox='0 0 17 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.5h15.5M11.5 1l4 3.5-4 3.5' stroke='%23418EBC'/%3E%3C/svg%3E");

			}

		}

	}

	&__title {

		text-align: center;

	}

	&__label {

		display: flex;
		justify-content: center;
		margin: 3px 0;

		span {

			padding: 2px 22px;
			font-size: 12px;
			line-height: 16px;
			border-radius: 2px;
			color: #fff;
			background-color: color(var(--pink) a(60%));

		}

	}

	&__list {

		display: flex;
		padding: 14px 0;
		overflow-x: auto;
		scroll-snap-type: x mandatory;

		@media ($desktop) {

			overflow-x: hidden;

			.swiper-container-style & {

				overflow-x: visible;

			}

		}

	}

	&__item {

		width: 211px;
		flex-shrink: 0;
		position: relative;
		scroll-snap-align: start;
		scroll-snap-stop: always;
		margin-right: 40px;

		@media ($tablet) {

			width: calc((100% - 120px) / 4);/*  120 = 40 * 3 */

		}

		@media ($desktop) {

			width: calc((100% - 160px) / 5);/*  160 = 40 * 4 */

		}

		&:last-child {

			margin-right: 0;

		}

	}

	&--review &__item {

		width: 100%;

		@media ($tablet) {

			/* width: calc((100% - 40px) / 2); */
			width: 100%;

		}

		@media ($desktop) {

			width: calc((100% - 40px) / 2);

		}

	}

	&__category {

		@supports(display: grid) {

			display: grid;
			grid-gap: 40px 50px;
			grid-template-rows: 206px 206px;
			grid-template-columns: 410px 300px 410px;

			&-item {

				position: relative;

				&.is-rows-2 {

					grid-row: span 2;

				}


	/*

				&--2-columns {

					grid-column: span 2;

				}
				grid-row-start: 1;
				grid-row-end: 2;
				grid-column-start: 2;
				grid-column-end: 3;
	 */


			}

		}

	}

	&__brand {

		position: relative;
		@supports(display: grid) {

			display: grid;
			grid-gap: 1px;
			grid-template-rows: auto;
			grid-template-columns: 190px 190px 190px 190px 1fr;
			background-color: var(--border);
			padding: 1px;

			&-item {

min-height: 102px;
				background-color: #fff;

				&.is-big {

					grid-row-start: 1;
					grid-row-end: 3;
					grid-column-start: -2;
					grid-column-end: -1;
					margin: -1px;

				}

				.card-brand {

					display: none;

				}

			}

		}

	}

}