.card-consultation {

	position: relative;
	border: 1px solid var(--border);

	@media ($responsive) {

		padding: 28px 10px 48px;

	}

	@media ($desktop) {

		padding: 28px 26px 56px;

	}

	&__link {

		position: absolute;
		text-decoration: none;

		@media ($responsive) {

			right: 10px;
			bottom: 10px;

		}

		@media ($desktop) {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0;
			transition: var(--transitionDefault);
			background-color: color(var(--pink) a(30%));

			&:hover {

				opacity: 1;

			}

		}

	}

	&__btn {

		background-color: #fff;
		text-align: center;
		color: #303030;
		font-weight: 500;
		display: block;

		@media ($responsive) {

			width: 94px;
			height: 22px;
			line-height: 20px;
			border-radius: 2px;
			font-size: 12px;
			border: 1px solid var(--blue);

		}

		@media ($desktop) {

			font-size: 14px;
			line-height: 44px;
			width: 184px;
			height: 44px;
			box-shadow: 0px 1px 5px rgba(65, 142, 188, 0.5);
			border-radius: 5px;

		}

	}

	&__title {

		font-size: 14px;
		line-height: 16px;
		font-weight: 500;
		color: #303030;

	}

	&__desc {

		font-size: 12px;
		line-height: 15px;
		color: #737373;
		margin-top: 8px;

		@media ($desktop) {

			margin-top: 22px;

		}

	}

	&__brand {

		font-size: 12px;
		line-height: 15px;
		color: var(--blue);
		font-style: italic;
		display: block;

	}

	&__date,
	&__autor {

		font-size: 12px;
		color: #737373;
		position: absolute;
		left: 10px;
		bottom: 14px;
		font-style: normal;

		@media ($desktop) {

			left: 25px;
			bottom: 22px;

		}

	}

	&__date {

		left: auto;
		right: 10px;

		@media ($responsive) {

			bottom: auto;
			top: 8px;

		}

		@media ($desktop) {

			right: 25px;

		}

	}

}