.cart {

	&__box {

		display: flex;
		margin: 64px 0;

		@media $mdWidth {

			margin: 48px 0;

		}

		@media $smWidth {

			display: block;
			margin-bottom: 24px;

		}

	}

	&__list {

		flex-grow: 1;
		margin-bottom: -24px;

		@media $smWidth {

			margin: 24px 0;

		}

	}

	&__item {

		margin-bottom: 24px;

		&.is-remove {

			transition: var(--transitionDefault);
			opacity: 0;
			margin-bottom: 0;
			overflow: hidden;
			pointer-events: none;
			height: 0 !important;

		}

	}

	&__foot {

		width: 392px;
		flex-shrink: 0;
		margin-left: 24px;

		@media $mdWidth {

			width: 320px;
			margin-left: 16px;

		}

		@media $smWidth {

			width: auto;
			margin: 24px 0;

		}

	}

}

.cart-data {

	box-shadow: var(--box-shadow);
	padding: 40px 24px;
	position: sticky;
	top: var(--scrollMargin);

	@media $xsWidth {

		padding: 24px 16px;

	}

	&__list {

		font-weight: 500;
		font-size: 16px;
		line-height: 1.2;
		color: var(--gray);

		@media $tablet {

			font-size: 14px;

		}

		@media $xsWidth {

			font-size: 14px;

		}

		&::after {

			width: 100%;
			display: table;
			clear: both;
			content: '';
			height: 16px;

		}

		dt {

			float: left;
			clear: both;
			margin-bottom: 16px;

			&:first-child,
			&:first-child + dd {

				font-size: 24px;
				text-transform: uppercase;
				color: var(--purple);

			}

		}

		dd {

			float: right;

		}

	}

	&__promo {

		display: flex;

		.input {

			font-weight: 500;
			padding: 10px 6px;
			height: 40px;
			line-height: 20px;
			color: var(--purple);
			border-bottom: 1px solid;

			@media $tablet {

				padding-left: 0;

			}

			&::placeholder {

				font-weight: 500;
				font-style: normal;
				font-size: 14px;

				@media $tablet {

					font-size: 12px;

				}

			}

		}

		.btn {

			padding: 0 20px;
			background-color: #c4b5fd;
			color: var(--purple);
			border-bottom: 1px solid;

			@media $tablet {

				padding: 0 16px;

			}

		}

	}

	&__submit {

		margin: 64px 0;

		@media $mdWidth {

			margin-bottom: 24px;

		}

		.btn {

			width: 100%;

		}

	}

	&__help {

		margin-top: auto;

		.btn {

			width: 100%;

		}

	}

}

.cart-item {

	display: flex;
	padding: 24px;
	background-color: #f9f9f9;
	position: relative;

	@media $mdWidth {

		padding: 16px;
		flex-wrap: wrap;

	}

	&__head {

		width: 100px;
		flex-shrink: 0;

		@media $mdWidth {

			width: 40px;

			img {

				width: 100%;
				height: auto;

			}

		}

	}

	&__body {

		flex-grow: 1;
		padding: 0 16px;

		@media $mdWidth {

			width: calc( 100% - 40px );

		}

	}

	&__foot {

		display: flex;
		flex-shrink: 0;

		@media $mdWidth {

			width: 100%;
			justify-content: space-between;
			align-items: center;
			padding-left: 56px;
			margin-top: 16px;

		}

		@media $xsWidth {

			padding-left: 0;

		}

	}

	&__name {

		font-weight: 600;
		font-size: 18px;
		line-height: 1.2;
		color: var(--gray);

		@media $mdWidth {

			font-size: 14px;

		}

	}

	&__param {

		margin-top: 16px;
		font-size: 12px;
		color: var(--gray);

		th {

			font-weight: 600;
			text-align: left;
			padding-right: 24px;
			width: 164px;

		}

		a {

			color: var(--purple);
			text-decoration: underline;

			&:hover {

				text-decoration: none;

			}

		}

	}

	&__price {

		flex-shrink: 0;
		white-space: nowrap;
		width: 132px;

		.price {

			display: block;
			text-align: right;

			@media $mdWidth {

				line-height: 1.5;

			}

			&__value {

				@media $mdWidth {

					font-size: 16px;

				}

			}

			&__old {

				margin-top: 4px;

				@media $mdWidth {

					font-size: 14px;

				}

			}

		}

	}

	&__quantity {

		flex-shrink: 0;
		display: flex;

	}

	&__remove {

		position: absolute;
		bottom: 24px;
		right: 24px;
		color: var(--purple);

		@media $mdWidth {

			bottom: auto;
			top: 8px;
			right: 8px;

		}

	}

}

.cart-quantity {

	position: relative;
	display: flex;
	gap: 4px;
	user-select: none;

	&__count {

		text-align: center;
		line-height: 40px;
		width: 40px;
		height: 40px;
		font-weight: 500;
		padding: 0;
		background-color: transparent;
		box-shadow: none;
		color: var(--purple);

	}

	&__btn {

		text-align: center;
		width: 40px;
		height: 40px;
		font-weight: 500;
		font-size: 16px;
		line-height: 38px;
		color: var(--gray);
		border: 1px solid;
		flex-shrink: 0;

		&:hover {

			color: var(--purple);

		}

	}

}

.cart-related {

	@media $mdWidth {

		display: none;

	}

	.preview-swiper {

		margin: 112px 0;

	}

}