.catalog {

	&-head {

		@media ($tablet) {

			margin: 20px 0;

		}

		&__title {

			@media ($desktop) {

				margin-bottom: 14px;

			}

			@media ($responsive) {

				font-size: 16px;
				font-weight: 500;

			}

			&[data-counter]::after {

				content: attr(data-counter);
				font-size: 14px;
				font-weight: 400;
				color: #818181;

			}

		}

		&__desc {

			font-size: 14px;
			line-height: 22px;
			color: var(--text);
			margin: 10px 0 20px;

		}

	}

	&-filter-tags {

		position: relative;
		display: flex;

		@media ($responsive) {

			margin: 0 -16px;

		}

		@media ($desktop) {

			margin: -5px;

		}

		@media ($mobile) {

			margin: 0 -10px;

		}

		&__list {

			display: flex;
			align-items: center;

			@media ($responsive) {

				overflow-x: scroll;
				padding: 0 10px 10px;

			}

			@media ($mobile) {

				padding: 0 5px 10px;

			}

			@media ($desktop) {

				flex-wrap: wrap;

			}

		}

		&__item {

			margin: 5px;
			border-radius: 15px;

			@media ($responsive) {

				display: block !important;

			}

		}

		&__show-all {

			color: var(--blue);
			margin: 5px 0 5px 10px;
			border-bottom: 0;
			font-size: 13px;

			@media ($responsive) {

				display: none;

			}

		}

		&__input:checked + &__label {

			background-color: var(--blue);
			color: #fff;

		}

		&__label {

			display: block;
			padding: 0 10px;
			text-decoration: none;
			border-radius: 15px;
			font-size: 13px;
			font-weight: 600;
			color: var(--text);
			border: 1px solid var(--blue);
			line-height: 26px;
			white-space: nowrap;
			cursor: pointer;

			@media ($desktop) {

				&:hover {

					color: var(--blue);

				}

			}

		}

	}

	&__box {

		display: flex;
		margin-bottom: 60px;

		@media ($responsive) {

			margin-bottom: 20px;

			.loading-indicator {

				display: none;

			}

		}

	}

	&__filter {

		display: none;
		position: relative;
		width: 100%;

		@media ($desktop) {

			display: block;
			width: 220px;
			margin-right: 36px;
			flex-shrink: 0;
			z-index: 2;

		}

	}

	&__body {

		flex-grow: 1;
		z-index: 1;
		position: relative;

	}

	&__items {

		position: relative;

		&.is-loading {

			pointer-events: none;

			& > * {

				opacity: .3;

			}

			.loading-indicator {

				opacity: 1;

			}

		}

	}

	&-bar {

		background-color: color(#c4c4c4 a(17%));
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media ($responsive) {

			margin: 16px -16px;
			padding: 4px 16px;

		}

		@media ($mobile) {

			margin: 16px -10px;
			padding: 4px 10px;

		}

		@media ($desktop) {

			padding: 5px 12px;
			margin: 20px 0;

		}

		&__left {

			@media ($responsive) {

				.select {

					&::after {

						display: none;

					}

					select {

						background-color: transparent;
						color: #818181;
						padding: 0;
						padding-left: 26px;
						line-height: 22px;
						height: 32px;
						border: 0;
						border-radius: 0;
						background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewBox='0 0 21 22'%3E%3Cpath d='M15.75 19.37l-3.5-3.5h2.63V7.12h-2.63l3.5-3.5 3.5 3.5h-2.63v8.75h2.63l-3.5 3.5zm-14-1.75v-1.75h8.75v1.75H1.75zm0-5.25v-1.75h6.13v1.75H1.75zm0-5.25V5.37h3.5v1.75h-3.5z' fill='%23418EBC'/%3E%3C/svg%3E%0A");
						background-position: left;
						background-repeat: no-repeat;

					}

				}

			}

		}

		&__right {

			display: flex;
			align-items: center;

		}

		&__btn-filter-show {

			font-size: 16px;
			color: #818181;
			height: 22px;
			line-height: 22px;
			padding-left: 26px;

			svg {

				fill: var(--blue);
				position: absolute;
				top: 0;
				left: 0;

			}

		}

	}

	&-view {

		display: flex;
		margin-left: 24px;

		&__radio {

			width: 27px;
			height: 27px;
			position: relative;
			cursor: pointer;
			margin: 0 6px;

		}

		&__ico {

			position: absolute;
			top: 0;
			left: 0;
			fill: #bebebe;

		}

		input {

			opacity: .0001;
			z-index: -1;
			appearance: none;

		}

		&__radio:hover &__ico,
		input:checked + &__ico {

			fill: #818181;

		}

	}

	&-list {

		margin: -4px;
		display: flex;
		flex-wrap: wrap;

		@media ($tablet) {

			margin: -8px;

		}

		@media ($desktop) {

			margin: -10px;

		}

		&__item {

			width: 50%;
			padding: 4px;
			display: flex;

			@media ($tablet) {

				padding: 8px;
				width: calc(100% / 3);

			}

			@media ($desktop) {

				padding: 10px;
				width: 25%;

			}

		}

	}

	&-column {

		&__item {

			margin: 20px 0;

		}

	}

}

.filter-show {

	@media ($responsive) {

		.catalog__filter {

			display: block;

		}

		.catalog__box {

			margin: 0;

		}

		.header,
		.footer,
		.catalog-head,
		.catalog__body,
		.catalog__box ~ * {

			display: none;

		}

		.center {

			width: 100%;

		}

	}

}


.loading-indicator {

	height: 25px;
	position: sticky;
	bottom: 50%;
	z-index: 9;
	display: block;
	opacity: 0;
	pointer-events: none;

	&::before {

		position: absolute;
		width: 30px;
		height: 25px;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		content: '';
		animation: loadingIndicator 2s infinite linear;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23418ebc' width='30' viebox='0 0 30 25' height='25'%3E%3Ccircle r='5' cx='15' cy='5'/%3E%3Ccircle r='5' cx='5' cy='20'/%3E%3Ccircle r='5' cx='25' cy='20'/%3E%3C/svg%3E");

	}

}

@keyframes loadingIndicator {

	to {

		transform: rotateZ(720deg);

	}

}