.catalog {

	&-head {

		margin: 20px 0;

		&__title {

			margin-bottom: 14px;

			&[data-counter]::after {

				content: attr(data-counter);
				font-size: 14px;
				font-weight: 400;
				color: #818181;

			}

		}

	}

	&-filter-tags {

		margin: -5px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		&__item {

			margin: 5px;

		}

		&__show-all {

			color: var(--blue);
			margin-left: 10px;
			border-bottom: 0;
			font-size: 13px;

		}

		&__input:checked + &__label {

			background-color: var(--blue);
			color: #fff;

		}

		&__label {

			display: block;
			padding: 0 10px;
			text-decoration: none;
			border-radius: 15px;
			font-size: 13px;
			font-weight: 600;
			color: var(--text);
			border: 1px solid var(--blue);
			line-height: 26px;
			white-space: nowrap;
			cursor: pointer;

			@media ($desktop) {

				&:hover {

					color: var(--blue);

				}

			}

		}

	}

	&__box {

		display: flex;
		margin-bottom: 60px;

	}

	&__filter {

		width: 220px;
		position: relative;
		margin-right: 36px;
		flex-shrink: 0;
		z-index: 2;

	}

	&__body {

		flex-grow: 1;
		z-index: 1;
		position: relative;

	}

	&__items {

		position: relative;

		&.is-loading {

			pointer-events: none;

			& > * {

				opacity: .3;

			}

			.loading-indicator {

				opacity: 1;

			}

		}

	}

	&-bar {

		background-color: color(#c4c4c4 a(17%));
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 12px;
		margin: 20px 0;

		&__right {

			display: flex;
			align-items: center;

		}

	}

	&-view {

		display: flex;
		margin-left: 24px;

		&__radio {

			width: 27px;
			height: 27px;
			position: relative;
			cursor: pointer;
			margin: 0 6px;

		}

		&__ico {

			position: absolute;
			top: 0;
			left: 0;
			fill: #bebebe;

		}

		input {

			opacity: .0001;
			z-index: -1;
			appearance: none;

		}

		&__radio:hover &__ico,
		input:checked + &__ico {

			fill: #818181;

		}

	}

	&-list {

		margin: -20px;
		display: flex;
		flex-wrap: wrap;

		&__item {

			width: 25%;
			padding: 20px;
			display: flex;

		}

	}

	&-column {

		&__item {

			margin: 20px 0;

		}

	}

}


.loading-indicator {

	height: 25px;
	position: sticky;
	bottom: 50%;
	z-index: 9;
	display: block;
	opacity: 0;
	pointer-events: none;

	&::before {

		position: absolute;
		width: 30px;
		height: 25px;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		content: '';
		animation: loadingIndicator 2s infinite linear;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23418ebc' width='30' viebox='0 0 30 25' height='25'%3E%3Ccircle r='5' cx='15' cy='5'/%3E%3Ccircle r='5' cx='5' cy='20'/%3E%3Ccircle r='5' cx='25' cy='20'/%3E%3C/svg%3E");

	}

}

@keyframes loadingIndicator {

	to {

		transform: rotateZ(720deg);

	}

}