.consultations {

	&__text {

		margin: 56px 0;
		font-size: 18px;

	}

	&__list {

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 48px;
		margin: 24px 0;

		@media $mdWidth {

			gap: 24px;

		}

		@media $smWidth {

			display: block;

			.consultations-card {

				margin: 24px 0;

			}

		}

	}

	&__pagin {

		display: flex;
		justify-content: center;
		margin: 48px 0;

	}

	&__billboards {

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 24px;
		margin: 120px 0 48px;

		@media $mdWidth {

			display: block;

			.billboard-consultation {

				margin: 24px 0;

			}

		}

		@media $smWidth {

			margin: 48px 0;

		}

	}

	.filter {

		display: none;

	}

	@media $mdWidth {

		.is-filter-show & > *,
		.is-filter-show & + * {

			display: none;

		}

		.is-filter-show & > .filter {

			display: block;

		}

	}

}

.filter-row {

	position: relative;

	&__inner {

		display: flex;
		flex-wrap: wrap;
		gap: 16px;

		@media $mdWidth {

			display: none;

		}

	}

	&__item {

		position: relative;

	}

	&__item--reset &__btn {

		text-transform: uppercase;

	}

	&__btn {

		padding: 0 40px;

	}

	&__wrap {

		position: absolute;
		top: 48px;
		width: 240px;
		left: 0;
		padding: 8px;
		padding-left: 0;
		background-color: #fff;
		z-index: 1;
		border: 1px solid #d1d5db;

	}

	&__item:not(.is-open) &__wrap {

		display: none;

	}

	&__item:last-child &__wrap {

		left: auto;
		right: 0;

	}

	&__list {

		max-height: 256px;
		padding-left: 16px;

	}

	&__checkbox {

		.checkbox {

			&::before {

				position: absolute;
				top: 0;
				left: -16px;
				right: 0;
				bottom: 0;
				content: '';
				cursor: pointer;

			}

			&__label {

				font-size: 12px;

			}

		}

	}

	.btn--filter {

		margin: auto;

	}

}

.consultations-card {

	color: var(--gray);

	.page-article & {

		margin: 72px 24px 48px;

		@media $mdWidth {

			margin: 24px 0;

		}

	}

	&__expert {

		display: flex;
		align-items: center;
		font-weight: 600;
		margin-bottom: 24px;
		line-height: 1.2;

		img {

			border-radius: 50%;
			margin-right: 8px;

		}

	}

	&__question {

		&-name {

			font-style: normal;
			font-weight: 600;
			margin-bottom: 8px;
			font-size: 18px;

		}

		&-title {

			margin-bottom: 8px;

			@media $desktop {

				font-weight: 400;
				font-size: 28px;
				line-height: 1.2;
				text-transform: uppercase;

			}

			@media $mdWidth {

				font-weight: 600;
				font-size: 18px;

			}

		}

		&-text {

			margin-bottom: 16px;
			font-size: 18px;

		}

		&-tags {

			color: var(--purple);
			display: flex;
			flex-wrap: wrap;
			gap: 8px;

		}

	}

	&__foot {

		display: flex;
		margin-top: auto;
		padding-top: 24px;

		.btn {

			min-width: 300px;

			@media $smWidth {

				min-width: 100%;

			}

		}

	}

	&--link {

		display: flex;
		flex-direction: column;
		padding: 24px;
		background-color: #f9fafb;

	}

	&--link &__question-name,
	&--link &__question-text {

		margin-bottom: 8px;
		font-size: 14px;

	}

}