.content {

	color: var(--text);
	margin: 96px auto;
	scroll-margin: var(--scrollMargin);
	margin: 24px;

	@media $smWidth {

		margin: var(--gap) 0;

	}

	hr {

		margin: 24px 0;
		background-color: var(--text);

	}

	h1, h2, h3, h4, h5 {

		font-size: 36px;
		line-height: 1.2;
		font-weight: 700;
		margin: 24px 0;
		color: #06070A;

		@media $smWidth {

			font-size: 24px;

		}

	}

	h2 {

		font-size: 32px;

		@media $smWidth {

			font-size: 20px;

		}

	}

	h3 {

		font-size: 26px;

		@media $smWidth {

			font-size: 18px;

		}

	}

	h4 {

		font-size: 20px;
		margin: 16px 0;

	}

	h5 {

		font-size: 16px;
		margin: 16px 0;

	}

	p, ul {

		margin: 16px 0;

	}

	ul {

		li {

			padding-left: 22px;

			&::before {

				position: absolute;
				top: 10px;
				left: 10px;
				content: '';
				background-color: var(--text);
				width: 3px;
				height: 3px;
				border-radius: 50%;

			}

		}

	}

	ol {

		counter-reset: headings 0;

		li {

			padding-left: 22px;
			counter-increment: headings 1;

			&::before {

				position: absolute;
				top: 0;
				left: 0;
				content: counter(headings, decimal) '.';

			}

		}

	}

}

.mt-gap {

	margin-top: var(--gap);

}

.mb-gap {

	margin-bottom: var(--gap);

}