* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

html {

	min-height: 100%;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;

	&.scroll-behavior-off {

		scroll-behavior: auto;

	}

}

body {

	min-width: 320px;
	color: var(--color);
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Isabella Sans', sans-serif;
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: scrollbar;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	overflow-y: scroll;
	position: relative;
	background-color: var(--bg);

}

a {

	color: currentColor;
	text-decoration: none;
	cursor: pointer;

}

::selection {

	color: #fff;
	background-color: var(--main);

}

img {

	border: 0;
	display: block;
	position: relative;

}

svg {

	display: block;
	position: relative;
	fill: currentColor;
	flex-shrink: 0;
	transition: var(--transitionDefault);

}

li {

	list-style: none;
	position: relative;

}

.h1 {

	font-size: 36px;
	line-height: 1.2;
	font-weight: 700;

	@media $smWidth {

		font-size: 24px;

	}

}

.h2 {

	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;

}

.h3 {

	font-weight: 700;
	font-size: 28px;
	line-height: 1.2;

}

.h4 {

	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;

}

.h5 {

	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;

}

hr {

	border: 0;
	height: 1px;
	background-color: var(--color);

}

.title {

	margin-bottom: 24px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	color: var(--text);
	word-break: break-word;

	@media $mdWidth {

		font-size: 24px;

	}

}

table {

	border: 0;
	border-collapse: collapse;

}


.color-red {

	color: var(--red);

}

.link {

	text-decoration: underline;

	@media $desktop {

		transition: var(--transitionDefault);

		&:hover {

			text-decoration-color: transparent;

		}

	}

}

/*
-----------------------------------------------------------------------------*/
.main,
.wrapper {

	flex-shrink: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;

}

.main {

	padding: 16px 0;

}


/* hidden
-----------------------------------------------------------------------------*/
.hide {

	display: none !important;

}

.visuallyhidden {

	position: absolute !important;

	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;

	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;

}

.nowrap {

	white-space: nowrap;

}

.modal-show jdiv,
.grecaptcha-badge {

	display: none;

}