.filter {

	&__title {

		color: var(--text);
		font-weight: 600;
		font-size: 15px;
		margin-bottom: 10px;

	}

	&__item {

		margin: 20px 0;

	}

	&__label {

		margin: 10px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	&__scroll {

		max-height: 280px;

		.text-short.is-open & + .text-short__btn {

			margin-top: 10px;

		}

	}

	&__radio,
	&__checkbox {

		margin: 10px 0;

	}

	&__range {

		display: flex;
		justify-content: space-between;

		&-item {

			position: relative;
			width: calc(50% - 5px);

		}

		&-pref {

			position: absolute;
			width: 30px;
			top: 0;
			left: 0;
			text-align: center;
			font-size: 14px;
			line-height: 28px;
			color: #bfbfbf;
			pointer-events: none;
			z-index: 1;

		}

		&-input {

			border-color: #bfbfbf !important;
			border-radius: 2px;
			padding: 0 10px 0 30px;
			height: 28px;
			line-height: 28px;
			color: var(--text);

		}

	}

}

.scroll-bar {

	overflow-y: auto;
	scroll-snap-type: y mandatory;

	&::-webkit-scrollbar {

		width: 4px;

	}

	&::-webkit-scrollbar-track {

		background-color: #d3d3d3;

	}

	&::-webkit-scrollbar-thumb {

		background-color: color(#115afe a(50%));

	}

}