.filter {

	position: relative;

	@media ($responsive) {

		padding: 50px 0 80px;

	}

	&.is-loading {

		opacity: .7;

	}

	&__head {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9;
		background-color: var(--bg);
		border-bottom: 1px solid var(--border);
		padding: 16px;

		&-innner {

			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			text-align: center;
			color: var(--text);

		}

		@media ($desktop) {

			display: none;

		}

	}

	&__foot {

		.btn {

			width: 100%;

		}

		@media ($responsive) {

			padding: 16px;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 9;
			background-color: var(--bg);
			border-top: 1px solid var(--border);

		}

	}

	&__float {

		position: absolute;
		top: 0;
		left: 100%;
		opacity: 0;
		z-index: 9;
		padding-left: 20px;
		pointer-events: none;
		transition: opacity var(--transitionDefault);

		@media ($responsive) {

			display: none;

		}

		&.is-show {

			opacity: 1;
			pointer-events: auto;

		}

		.btn {

			height: 24px;
			line-height: 24px;
			font-size: 13px;
			font-weight: 600;

			&::after {

				position: absolute;
				top: 0;
				left: 100%;
				content: '';
				border-width: 12px 0 12px 6px;
				border-style: solid;
				border-color: transparent var(--pink);

			}

		}

	}

	&__btn-close {

		fill: none;
		stroke: var(--text);
		position: absolute;
		top: 15px;
		right: 15px;

	}

	.input {

		border-color: #bfbfbf !important;
		border-radius: 2px;
		padding: 0 10px;
		height: 28px;
		line-height: 28px;
		color: var(--text);

		@media ($desktop) {

			height: 24px;
			line-height: 24px;
			font-size: 14px;

		}

	}

	&__title {

		color: var(--text);
		font-weight: 600;
		font-size: 15px;
		margin-bottom: 10px;

		&-suf {

			font-weight: 400;

		}

		&--litter {

			margin: 10px 0 0;

		}

	}

	&__item {

		margin: 20px 0;

		@media ($responsive) {

			border-top: 1px solid var(--border);
			margin: 0 -16px;
			padding: 16px;

		}

		@media ($mobile) {

			margin: 0 -10px;
			padding: 10px;

		}

		&--view {

			display: flex;
			align-items: center;
			justify-content: space-between;
			border: 0 !important;

			@media ($tablet) {

				display: none;

			}

			.filter__title {

				margin: 0;

			}

		}

	}

	&__label {

		margin: 10px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	&__scroll {

		max-height: 280px;

		.only-hit.is-all & {

			border-top: 1px solid var(--border);
			border-bottom: 1px solid var(--border);
			margin: 10px 0;
			padding: 10px 0;

		}

	}

	&__radio,
	&__checkbox {

		margin: 10px 0;

	}

}

.scroll-bar {

	overflow-y: auto;
	scroll-snap-type: y mandatory;

	&::-webkit-scrollbar {

		width: 4px;

	}

	&::-webkit-scrollbar-track {

		background-color: #d3d3d3;

	}

	&::-webkit-scrollbar-thumb {

		background-color: color(#115afe a(50%));

	}

}

.slider-range {

	white-space: nowrap;

	&__key {

		display: flex;
		justify-content: space-between;

	}

	&__input {

		position: relative;
		width: calc(50% - 5px);

		&-pref {

			position: absolute;
			width: 30px;
			top: 0;
			left: 0;
			text-align: center;
			font-size: 14px;
			line-height: 28px;
			color: #bfbfbf;
			pointer-events: none;
			z-index: 1;

		}

		.input {

			padding-left: 30px;

		}

	}

	&__track {

		margin: 24px 0;
		height: 2px;
		padding: 0 10px;
		background-color: #bebebe;
		position: relative;

	}

}

.only-hit {

	&.is-all.is-not-found [data-not-found]::after {

		content: attr(data-not-found);
		color: var(--text);
		font-size: 13px;

	}

	&__sort {

		display: flex;
		flex-direction: column;

		.filter__radio,
		.filter__checkbox {

			margin: 5px 0;

		}

	}

	&.is-all &__hide,
	&.is-all &__btn-inner {

		display: none;

	}

	&.is-all &__btn {

		&::before {

			content: attr(data-alt);

		}

		&::after {

			border-width: 0 4px 8px;

		}

	}

	&:not(.is-all) &__item:not([data-hit]) {

		display: none;

	}

	&:not(.is-all) &__item {

		@for $i from 1 to 10 {

			&[data-hit="$i"] {

				order: $i;

			}

		}

	}

	&__btn {

		color: var(--blue);
		font-size: 14px;
		padding: 0;
		height: 20px;
		line-height: 20px;
		margin-top: 5px;

		&::after {

			position: absolute;
			width: 0;
			height: 0;
			top: 6px;
			left: 100%;
			margin-left: 5px;
			content: '';
			border-style: solid;
			border-width: 8px 4px 0;
			border-color: var(--blue) transparent;

		}

	}

}