.filter {

	position: relative;

	@media $mdWidth {

		padding: 36px 0 72px;

	}

	&__foot {

		padding: var(--indent);
		display: flex;
		gap: 24px;
		background-color: #fff;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px -4px 8px rgba(0, 0, 0, 0.06);

		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;

		.btn {

			flex-grow: 1;

		}

		@media $desktop {

			display: none;

		}

	}

	&__btn-close {

		position: fixed;
		top: var(--indent);
		right: var(--indent);
		color: var(--main);
		background-color: rgba(255,255,255,.5);

		@media $desktop {

			display: none;

		}

		@media $smWidth {

			top: 8px;
			right: 8px;

		}

	}

	&__fieldset {

		padding: 16px;
		margin-bottom: 16px;

		@media $smWidth {

			padding: 16px 0;

		}

	}

	&__legend {

		float: left;
		width: 100%;
		font-size: 24px;
		line-height: 1.2;
		font-weight: 700;
		padding: 8px 0;
		color: var(--text);
		cursor: pointer;
		user-select: none;
		position: relative;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%23111827' fill-rule='evenodd' d='M8.662 3.756a.667.667 0 0 0-1.329.077v4h-4l-.077.005a.667.667 0 0 0 .077 1.329h4v4l.005.077a.667.667 0 0 0 1.329-.077v-4h4l.078-.005a.667.667 0 0 0-.078-1.329h-4v-4l-.005-.077Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
		background-position: right;
		background-repeat: no-repeat;

		&.is-open {

			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M3.33325 8.5H12.6666' stroke='%23111827' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

		}

	}

	&__box {

		clear: both;
		max-height: 0;
		transition: var(--transitionDefault);
		overflow: hidden;
		padding-top: 8px;

	}

	&__legend.is-open + &__box {

		max-height: 9999px;

	}

	.checkbox {

		width: 100%;

		&__label {

			&-ico {

				color: var(--accent);
				display: inline;
				vertical-align: middle;

			}

			b {

				font-weight: 400;

			}

		}

		&__input:checked + .checkbox__label {

			color: var(--main);

			b {

				color: currentColor;

			}

			&::after {

				background-color: var(--main);

			}

		}

	}

	&__range {

		display: flex;
		gap: 24px;
		margin-bottom: 8px;

		.input {

			height: 48px;

			&::placeholder {

				font-style: normal;

			}

		}

	}

	&__fastfilter {

		margin: 12px 0 16px;
		position: relative;

		&-reset,
		&-ico {

			position: absolute;
			top: 0;
			right: 16px;
			bottom: 0;
			margin: auto;
			display: flex;
			align-items: center;

		}

		.input:placeholder-shown ~ &-ico {

			opacity: 1;

		}

		&-ico {

			pointer-events: none;
			stroke-width: 2px;
			opacity: 0;

		}

	}

	&__scroll {

		max-height: 259px;
		margin: 8px 0 16px;
		position: relative;

	}

}

.filter-menu {

	&__bold {

		font-weight: 700;
		cursor: pointer;
		display: block;
		user-select: none;

		input:checked + span {

			color: var(--main);

		}

	}

	&__link {

		padding: 10px 8px;
		font-weight: 700;
		cursor: pointer;
		display: block;
		user-select: none;

		input:checked + span {

			color: var(--main);

		}

	}

}

.filter-letter {

	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px;

	&__btn {

		cursor: pointer;
		position: relative;
		user-select: none;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		display: block;
		color: #424242;
		padding: 4px;

		&:hover {

			color: var(--main);

		}

	}

}

.filter-btn-fixed {

	position: fixed;
	width: 96px;
	height: 28px;
	line-height: 28px;
	top: 0;
	right: 14px;
	z-index: 9;
	bottom: 0;
	margin: auto;
	background-color: var(--accent);
	color: #fff;
	transform: rotate(-90deg);
	transform-origin: right;

	.menu-show &,
	.modal-show &,
	.is-filter-show & {

		display: none;

	}

	@media $desktop {

		display: none;

	}

}