@font-face {
  font-family: 'Isabella Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Isabella_Sans.woff2');
}

@font-face {
  font-family: 'Isabella Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Isabella_Sans_Italic.woff2');
}

@font-face {
  font-family: 'Isabella Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Isabella_Sans_Medium.woff2');
}

@font-face {
  font-family: 'Isabella Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Isabella_Sans_Bold.woff2');
}
