.footer {

	flex-shrink: 0;
	position: relative;
	background-color: #F6F8F1;
	padding-top: 40px;

	.center {

		@media $smWidth {

			width: 100%;

		}

	}

	&__logo {

		display: flex;
		justify-content: center;

	}

	&__head {

		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: var(--main);
		margin-bottom: var(--gap);

	}

	&__grid {

		display: grid;
		gap: 24px 40px;
		padding-bottom: var(--gap);
		grid-template-columns: 352fr 200px 200px 352fr;

		@media $tablet {

			grid-template-columns: auto auto auto;

		}

		@media $smWidth {

			grid-template-columns: 1fr 1fr;

		}

	}

	&__contacts {

		@media $tablet {

			width: 100%;

		}

		@media $smWidth {

			grid-column: span 2;

		}

		&-item {

			display: flex;
			margin: 8px 0 24px;

			@media $mdWidth {

				margin: 8px 0;

				&::before {

					position: absolute;
					width: 38px;
					height: 38px;
					top: 0;
					left: 0;
					content: '';
					border: 1px solid var(--main);
					border-radius: 50%;

				}

				a, p {

					height: 40px;

				}

			}

			a, p {

				align-items: center;
				font-weight: 500;
				display: flex;
				gap: 8px;

			}

			svg {

				margin: 0 8px;
				color: var(--main);
				stroke-width: 2px;

			}

		}

	}

	&__menu {

		grid-row: span 2;

		@media $mdWidth {

			&:nth-of-type(2) {

				order: 10;
				grid-column: span 2;

			}

		}

		li {

			font-size: 14px;
			margin-bottom: 16px;

		}

		a {

			@media $desktop {

				&:hover {

					text-decoration: underline;

				}

			}

		}

		&-columns {

			column-count: 2;
			column-gap: var(--gap);

		}

	}

	&__social {

		align-self: flex-end;

		@media $mdWidth {

			margin: 48px 0;

		}

		&-list {

			display: flex;
			gap: 16px;
			color: var(--main);

		}

	}

	hr {

		background-color: var(--accent);

	}

	&__bottom {

		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		padding: 16px 0;

	}

	&__payment {

		display: flex;
		align-items: center;
		gap: 16px;

		@media $xsWidth {

			gap: 8px;

			img {

				width: auto;
				max-height: 24px;

			}

		}

	}

	&__copyright {

		font-weight: 500;
		text-transform: uppercase;
		color: var(--accent);
		white-space: nowrap;

	}

}

.page-up {

	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	left: var(--indent);
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--accent);
	background-color: #fff;
	z-index: 6;

	@media $mdWidth {

		width: 40px;
		height: 40px;

		svg {

			width: 32px;
			height: 32px;
			stroke-width: 2px;

		}

	}

	@media $smWidth {

		bottom: 80px;

	}

}

.callback-fixed {

	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: 702px;
	border-radius: 40px;
	box-shadow: var(--box-shadow);
	background-color: #fff;
	z-index: 7;
	height: 80px;
	overflow: hidden;
	transition: var(--transitionDefault);

	@media $mdWidth {

		display: none;

	}

	@media (max-width: 1599px) {

		margin-left: 0;
		left: auto;
		right: 40px;

	}

	&:hover {

		height: 240px;

	}

	&__btn {

		width: 80px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--accent);
		stroke-width: 2px;

	}

}

.footer-subscribe {

	margin: 40px auto;
	width: 800px;
	max-width: 100%;
	color: var(--text);

	&__head {

		text-align: center;

		@media $smWidth {

			margin-bottom: 24px;

		}

	}

	&__title {

		font-size: 24px;
		line-height: 1.2;
		margin-bottom: 8px;
		font-weight: 700;

	}

	&__fieldset {

		margin: 20px 0;

	}

	&__inputbox {

		margin-bottom: 16px;
		position: relative;

	}

	&__input {

		width: 100%;

		@media $mdWidth {

			height: 40px;

		}

	}

	&__submit {

		position: absolute;
		top: 0;
		right: 16px;
		bottom: 0;
		margin: auto;
		width: 24px;
		height: 24px;
		color: var(--gray);

		@media $desktop {

			&:hover {

				color: var(--color);

			}

		}

	}

	&__note {

		line-height: 18px;
		font-size: 12px;

		a:not(:hover) {

			text-decoration: underline;

		}

	}

}

.cart-fixed {

	position: fixed;
	top: 256px;
	left: 50%;
	margin-left: 702px;
	border-radius: 50%;
	box-shadow: var(--box-shadow);
	background-color: #F6F8F1;
	z-index: 7;
	width: 72px;
	height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--main);

	@media $mdWidth {

		display: none;

	}

	@media (max-width: 1599px) {

		margin-left: 0;
		left: auto;
		right: 40px;

	}

}