fieldset {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	display: block;
	appearance: none;

}

.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: 0;
	color: transparent;
	text-align: center;
	white-space: nowrap;
	display: block;
	appearance: none;
	text-decoration: none;

	&:focus {

		outline: none;

	}

	&:hover {

		cursor: pointer;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	padding: 0 16px;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	font-weight: 400;
	color: var(--color);
	border-radius: 2px;

 	&--blue {

		color: #fff;
		background-color: var(--blue);

		@media ($desktop) {

			&:hover {

				color: var(--color);
				background-color: #fff;
				box-shadow: inset 0 0 0 1px var(--blue);

			}

		}

	}

	&--pink {

		background-color: var(--pink);
		color: #fff;

		@media ($desktop) {

			&:hover {

				color: #fff;
				background-color: var(--pink);

			}

		}

	}

	&--white {

		background-color: #fff;
		box-shadow: inset 0 0 0 1px var(--border);

		@media ($desktop) {

			&:hover {

				background-color: var(--border);

			}

		}

	}

	&--outline {

		background-color: #fff;
		box-shadow: inset 0 0 0 1px var(--blue);

		@media ($desktop) {

			&:hover {

				color: #fff;
				background-color: var(--blue);

			}

		}

	}

	&--link {

		line-height: 18px;
		height: 18px;
		padding: 0;
		border-bottom: 1px solid;
		border-radius: 0;

		@media ($desktop) {

			&:hover {

				border-bottom-color: transparent;

			}

		}

	}

	&--read {

		line-height: 18px;
		height: 18px;
		padding: 0;
		color: var(--blue);
		font-style: italic;
		border-bottom: 1px dotted;
		border-radius: 0;
		font-weight: 500;

		@media ($desktop) {

			&:hover {

				border-bottom-color: transparent;

			}

		}

	}

	&--remove {

		line-height: 30px;
		height: 30px;
		padding: 0 10px 0 20px;
		color: #818181;
		font-weight: 500;
		font-size: 11px;

		svg {

			position: absolute;
			top: 6px;
			left: 0;
			fill: #818181;

		}

		@media ($desktop) {

			&:hover {

				color: var(--color);

				svg {

					fill: var(--color);

				}

			}

		}

	}

	&--next {

		background-color: var(--pink);
		color: #fff;
		font-weight: 700;
		min-width: 184px;
		height: 44px;
		padding: 0 40px;
		line-height: 44px;
		border-radius: 5px;

		&::after {

			position: absolute;
			width: 17px;
			height: 9px;
			top: 0;
			right: 16px;
			bottom: 0;
			content: '';
			margin: auto;
			background-image: url("data:image/svg+xml,%3Csvg width='17' height='9' viewBox='0 0 17 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.26h15.5M11.5.76l4 3.5-4 3.5' stroke='%23fff'/%3E%3C/svg%3E");

		}

		@media ($desktop) {

			&:hover {

				color: #fff;
				background-color: var(--pink);

			}

		}

	}

}

.input {

	height: 44px;
	line-height: 24px;

	padding: 10px 14px;

	font-size: 16px;

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px); /* FIX for iOS safari https://forum.ionicframework.com/t/ion-input-shows-only-the-first-entered-character-on-ios/73107/5 */

	background-color: #fff;
	border: 1px solid var(--ico);
	border-radius: 2px;

	color: var(--color);

	&--small {

		height: 26px;
		line-height: 26px;
		padding: 0 14px;
		border-color: var(--border);

	}

	textarea& {

		resize: none;
		height: 110px;
		overflow: auto;

	}

	&::placeholder {

		color: var(--ico);
		opacity: 1;
		font-size: 14px;

	}

	&::-ms-clear {

		display: none;

	}

	&:-webkit-autofill {

		animation-name: autofill;
		animation-fill-mode: both;

	}

	&:valid {

		border-color: var(--blue);

	}

	&:focus {

		outline: none;
		border-color: var(--blue);

		&::placeholder {

			opacity: 0.5;

		}

	}

	&:disabled {

		pointer-events: none;

	}

	&--error {

		background-color: color(var(--error) a(25%)) !important;

	}

	&:invalid {

		box-shadow: none;

	}

}

@keyframes autofill {

	to {

		color: var(--text);
		background-color: #fff;

	}

}

.checkbox {

	display: block;
	position: relative;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	color: #7f7f7f;

	&__input {

		position: absolute;
		width: 12px;
		height: 12px;
		top: 0;
		left: 0;
		opacity: 0.001;
		z-index: -1;
		appearance: none;

	}

	&__label {

		display: block;
		padding-left: 18px;

		&::before {

			width: 10px;
			height: 10px;
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			background-color: #fafafa;
			border: 1px solid var(--blue);

		}

		a {

			text-decoration: underline;
			font-style: italic;

			@media ($desktop) {

				&:hover {

					text-decoration: none;

				}

			}

		}

	}

	&__input:checked + &__label::before {

		background-color:var(--blue);

	}

/* v2 */

	&-2 {

		display: block;
		position: relative;
		font-size: 14px;
		line-height: 20px;
		color: var(--text);
		cursor: default;

		&__input {

			position: absolute;
			width: 14px;
			height: 14px;
			top: 0;
			left: 0;
			opacity: 0.001;
			z-index: -1;
			appearance: none;

		}

		&__label {

			display: block;
			padding-left: 21px;
			cursor: pointer;

			&::before {

				width: 11px;
				height: 11px;
				position: absolute;
				border-radius: 2px;
				top: 3px;
				left: 0;
				content: '';
				background-color: #fff;
				border: 1px solid #bfbfbf;

			}

			a {

				text-decoration: underline;

				@media ($desktop) {

					&:hover {

						text-decoration: none;

					}

				}

			}

			&-suf {

				color: #ababab;
				font-weight: 300;

			}

			&.is-title {

				font-weight: 600;

			}

			&.is-star::after {

				position: relative;
				width: 14px;
				height: 13px;
				content: '';
				top: 1px;
				display: inline-block;
				vertical-align: baseline;
				background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.92.45l1.53 4.7h4.94l-4 2.9 1.53 4.7-4-2.9-4 2.9 1.53-4.7-4-2.9h4.94L6.92.45z' fill='%23FFD12E'/%3E%3C/svg%3E");

			}

		}

		&__input:checked + &__label {

			&::before {

				background-position: center;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.85 1.32L4.52 5.1l3.64-3.78' stroke='%23595959'/%3E%3C/svg%3E");

			}

			&.is-pink::before {

				border-color: var(--pink);
				background-color: var(--pink);
				background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.85 1.32L4.52 5.1l3.64-3.78' stroke='%23fff'/%3E%3C/svg%3E");

			}

			&.is-blue::before {

				border-color: var(--blue);
				background-color: var(--blue);
				background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.85 1.32L4.52 5.1l3.64-3.78' stroke='%23fff'/%3E%3C/svg%3E");

			}

		}

		&__input:disabled + &__label {

			pointer-events: none;

			&::before {

				border-color: #e4e4e4 !important;
				background-color: #f5f5f5 !important;

			}

		}

		&__input:disabled:checked + &__label::before {

			background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.85 1.32L4.52 5.1l3.64-3.78' stroke='%23e4e4e4'/%3E%3C/svg%3E") !important;

		}


	}

/* radio */

	&-radio {

		display: block;
		position: relative;
		font-size: 14px;
		line-height: 20px;
		color: var(--text);
		cursor: default;

		&__input {

			position: absolute;
			width: 14px;
			height: 14px;
			top: 0;
			left: 0;
			opacity: 0.001;
			z-index: -1;
			appearance: none;

		}

		&__label {

			display: block;
			padding-left: 21px;
			cursor: pointer;

			&::before {

				width: 11px;
				height: 11px;
				position: absolute;
				border-radius: 2px;
				top: 3px;
				left: 0;
				content: '';
				border-radius: 50%;
				background-color: #fff;
				border: 1px solid var(--blue);

			}

			&.is-pink::before {

				border-color: var(--pink);

			}

		}

		&__input:checked:not(:disabled) + &__label {

			&::before {

				box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 11px var(--blue);

			}

			&.is-pink::before {

				box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 11px var(--pink);

			}

		}

		&__input:disabled + &__label {

			pointer-events: none;

			&::before {

				border-color: #e4e4e4;
				background-color: #f5f5f5;

			}

		}

	}
/* only */

	&-only {

		display: block;
		position: relative;
		width: 15px;
		height: 15px;

		&__input {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0.001;
			z-index: -1;
			appearance: none;

		}

		&__check {

			display: block;
			height: 15px;
			cursor: pointer;
			border-radius: 2px;
			border: 1px solid #bfbfbf;
			background-color: #fff;

		}

		&__input:checked + &__check {

			border-color: var(--blue);
			background-color: var(--blue);
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 .5l3.3 5L8 .5' stroke='%23fff'/%3E%3C/svg%3E");

		}

		&__check-text {

			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1;
			margin-top: 8px;
			color: var(--pink);
			font-size: 14px;
			font-weight: 500;
			white-space: nowrap;
			padding: 10px 14px;
			background-color: #fff;
			box-shadow: 0px 2px 15px rgba(56, 93, 116, 0.25);
			opacity: 0;
			pointer-events: none;
			transition: opacity var(--transitionDefault) linear 3s;

			&.is-show {

				opacity: 1;
				transition: opacity var(--transitionDefault);

			}

			&::before {

				position: absolute;
				top: -4px;
				left: 4px;
				content: '';
				width: 8px;
				height: 8px;
				background-color: #fff;
				transform: rotate(45deg);

			}

		}

	}

}



.checkbox-toggle {

	display: block;
	position: relative;

	&__input {

		position: absolute;
		width: 40px;
		height: 24px;
		top: 0;
		right: 0;
		opacity: 0.001;
		z-index: -1;
		appearance: none;

	}

	&__label {

		color: var(--text);
		font-size: 14px;
		font-weight: 600;
		line-height: 24px;
		padding-right: 50px;
		cursor: pointer;
		display: block;

		&::before {

			position: absolute;
			width: 40px;
			height: 24px;
			top: 0;
			right: 0;
			background-color: #d7d7d7;
			border-radius: 12px;
			transition: background-color var(--transitionDefault);
			content: '';

		}

		&::after {

			position: absolute;
			width: 20px;
			height: 20px;
			top: 2px;
			right: 2px;
			content: '';
			border-radius: 50%;
			background-color: #fff;
			will-change: transform;
			transform: translate3d(-16px, 0, 0);
			transition: transform var(--transitionDefault);

		}

	}

	&__input:checked + &__label {

		&::before {

			background-color: var(--blue);

		}

		&::after {

			transform: translate3d(0, 0, 0);

		}

	}

}

.select {

	position: relative;
	display: block;

	&::after {

		position: absolute;
		top: 12px;
		right: 12px;
		content: '';
		pointer-events: none;
		width: 11px;
		height: 8px;
		background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.303 4.977L9.428.852l1.179 1.178-5.304 5.303L0 2.03 1.178.852l4.125 4.125z' fill='gray'/%3E%3C/svg%3E");

	}

	&.is-default select {

		color: #757575;

	}

	select {

		background-color: #fff;
		position: relative;
		display: block;
		font-size: 16px;
		font-family: inherit;
		color: var(--text);
		padding: 5px 9px;
		padding-right: 26px;
		width: 100%;
		max-width: 100%;
		border: 0;
		border-radius: 0;
		appearance: none;
		line-height: 22px;

		height: 32px;
		border: 1px solid #e5e5e5;
		border-radius: 2px;

		&::-ms-expand {

			display: none;

		}

		@media ($desktop) {

			font-size: 13px;

			&:hover {

				color: var(--color);
				cursor: pointer;

			}

		}

		&:focus {

			outline: none;

		}

	}

	option {

		font-size: 16px;
		font-family: inherit;
		color: var(--color);
		line-height: 1.4;

		&[value="none"] {

			display: none;

		}

	}

}

.form {

	&:invalid &__submit {

		color: #A6A6A6;
		border: 1px solid #dedede;
		background-color: #fff;
		box-shadow: 0px 2px 4px rgba(113, 113, 113, 0.25);

	}

}

.select-label-row {

	display: flex;
	align-items: center;

	&__label {

		white-space: nowrap;
		font-size: 14px;
		color: #818181;
		font-weight: 500;
		padding: 0 10px;

	}

}

.input-files {

	position: relative;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;

	&__input {

		position: absolute;
		top: 0;
		left: 0;
		font-size: 999px;
		opacity: 0;
		cursor: pointer;

	}

	&__label {

		color: var(--text);
		font-size: 14px;
		font-weight: 300;
		width: 280px;
		padding-right: 20px;

		small {

			display: block;
			font-size: 10px;
			font-weight: 300;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

		}

	}

	&__btn {

		margin-right: 20px;
		width: 100px;
		height: 28px;
		line-height: 28px;
		font-weight: 600;
		font-size: 12px;
		background-color: #fff;
		box-shadow: inset 0 0 0 1px var(--pink);

		@media ($desktop) {

			&:hover {

				color: #fff;
				background-color: var(--pink);

			}

		}

		&::befoer {

			position: absolute;
			top: -999px;
			left: -999px;
			right: -999px;
			bottom: -999px;
			content: '';

		}

	}

	&__suf {

		font-size: 12px;
		color: var(--text);

	}

}

.form {

	&__item {

		& + & {

			margin-top: 24px;

		}

	}

	&__label {

		font-size: 14px;
		line-height: 20px;
		color: var(--text);
		margin-bottom: 10px;
		display: block;

	}

}

.radio-btn {

	display: flex;
	flex-wrap: wrap;
	margin: -6px;

	&__item {

		margin: 6px;
		position: relative;

	}

	&__input {

		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		opacity: 0.001;
		z-index: -1;
		appearance: none;

	}

	&__label {

		white-space: nowrap;
		font-size: 14px;
		color: var(--text);
		padding: 0 8px;
		line-height: 24px;
		border: 1px solid var(--border);
		border-radius: 2px;
		font-weight: 500;
		cursor: pointer;
		display: block;

	}

	&__input:checked + &__label {

		color: #fff;
		border-color: var(--blue);
		background-color: var(--blue);

	}

}