fieldset {

	border: 0;
	min-width: 0;
	display: block;
	position: relative;

	&:focus {

		outline: none;

	}

}

legend {

	display: table;

	&:focus {

		outline: none;

	}

}

.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	display: block;

	&:hover {

		cursor: pointer;

	}

	&:focus {

		outline: none;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	padding: 0 24px;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	background-color: var(--purple);
	font-weight: 500;
	color: #fff;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-auto-flow: column;
	gap: 8px;

	svg {

		display: initial; /* fallback Grid not working in Safari */

	}

	&:disabled {

		color: var(--text);
		background-color: #cdcdcd;

	}

	@media $desktop {

		&:hover {

			/* background-color: var(--orangeHover); */

		}

	}

	&--medium {

		font-size: 14px;
		line-height: 37px;
		height: 37px;
		padding: 0 20px;

	}

	&--small {

		font-size: 12px;
		line-height: 26px;
		height: 26px;
		padding: 0 8px;
		font-weight: 400;

	}

	&--outline {

		background-color: rgba(255,255,255,.5);
		font-weight: 500;
		color: var(--purple);
		box-shadow: inset 0 0 0 1px var(--purple);

		@media $desktop {

			&:hover {

				/* box-shadow: inset 0 0 0 1px var(--gray); */

			}

		}

	}

	&--text {

		background-color: transparent !important;
		font-size: 14px;
		color: currentColor;
		padding: 0 !important;

	}

	&--hash {

		background-color: transparent !important;
		font-size: 14px;
		color: var(--purple);
		padding: 0 !important;
		height: 26px;
		line-height: 26px;
		border-bottom: 1px dashed;

		@media $desktop {

			&:hover {

				border-bottom-color: transparent;

			}

		}

		@media $smWidth {

			font-size: 12px;

		}

	}

	&--link {

		background-color: transparent !important;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5;
		height: 21px;
		color: currentColor;
		padding: 0 !important;
		text-decoration: underline;

		@media $desktop {

			&:hover {

				text-decoration-color: transparent;

			}

		}

	}

	&--more {

		background-color: transparent !important;
		color: var(--purple);
		border-bottom: 1px solid;
		padding: 0 4px;

		@media $desktop {

			&:hover {

				border-bottom-color: transparent;

			}

		}

	}

	&--favourite {

		width: 40px;
		height: 40px;
		padding: 0;
		border: 2px solid;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent !important;
		color: var(--purple);

	}

	&--filter {

		background-color: #ede9fe;
		border: 1px solid #4c1d95;
		color: var(--purple);
		font-size: 12px;

	}

}

.ico-box {

	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: var(--purple);
	box-shadow: var(--box-shadow);

}

.input {

	line-height: 24px;
	padding: 12px 16px;
	font-size: 16px;
	color: var(--color);

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px);

	height: 48px;

	border: 0;
	border-radius: 0;
	border-bottom: 1px solid var(--border);
	background-color: #fff;
	box-shadow: inset 0 0 0 100px #fff;

	textarea& {

		height: 128px;
		resize: none;

	}

	@media $desktop {


	}

	&::placeholder {

		opacity: 1;
		font-weight: 300;
		font-style: italic;

	}

	&::-ms-clear {

		display: none;

	}

	&:hover:not(:focus) {

	}

	&:focus {

		outline: none;
		color: var(--purple);
		border-color: var(--purple);

	}

	&:disabled {

		pointer-events: none;
		color: var(--text);
		background-color: #cdcdcd;
		box-shadow: inset 0 0 0 100px #cdcdcd;

	}

	&:invalid {

		box-shadow: none;

	}

}
/*
.checkbox {

	display: flex;

	&__control {

		position: relative;
		font-size: 14px;
		line-height: 24px;

	}

	&__input {

		position: absolute;
		width: 16px;
		height: 16px;
		top: 4px;
		left: 0;
		opacity: 0.001;
		z-index: -1;
		appearance: none;

	}

	&__label {

		display: block;
		cursor: pointer;
		user-select: none;
		padding-left: 30px;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Crect width='16.5' height='16.5' x='3.75' y='3.75' stroke='%23fa481c' stroke-width='1.5' rx='2.25'/%3E%3C/svg%3E%0A");

	}

	&__input:disabled ~ &__label {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Crect width='16.5' height='16.5' x='3.75' y='3.75' stroke='%23d9d8df' stroke-width='1.5' rx='2.25'/%3E%3C/svg%3E%0A");
		pointer-events: none;

	}

	&__input[type="radio"] + &__label {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='8.25' stroke='%23fa481c' stroke-width='1.5'/%3E%3C/svg%3E");
		padding-left: 33px;

	}

	&__input[type="radio"]:disabled + &__label {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='8.25' stroke='%23D9D8DF' stroke-width='1.5'/%3E%3C/svg%3E");

	}

	@media $desktop {

	}

	&__input:checked + &__label {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Crect width='18' height='18' x='3' y='3' fill='%23fa481c' rx='3'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-width='1.5' d='m7 11.5 3.5 3.5L17 9'/%3E%3C/svg%3E");

	}

	&__input:checked:disabled ~ &__label {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Crect width='18' height='18' x='3' y='3' fill='%23d9d8df' rx='3'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-width='1.5' d='m7 11.5 3.5 3.5L17 9'/%3E%3C/svg%3E");

	}

	&__input[type="radio"]:checked + &__label {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='5' fill='%23fa481c'/%3E%3Ccircle cx='12' cy='12' r='8.25' stroke='%23fa481c' stroke-width='1.5'/%3E%3C/svg%3E");

	}

	&__input[type="radio"]:checked:disabled + &__label {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='5' fill='%23D9D8DF'/%3E%3Ccircle cx='12' cy='12' r='8.25' stroke='%23D9D8DF' stroke-width='1.5'/%3E%3C/svg%3E");

	}

}
*/

/* phone-country */
.phone-country {

	position: relative;
	display: flex;
	align-items: center;

	&__list {

		padding: 19px 0;
		box-shadow: var(--box-shadow);

		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		background-color: #fff;
		z-index: 5;

		opacity: 0;
		pointer-events: none;
		transform: translate3d(0, 8px, 0);
		transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s;

		max-height: 256px;
		overflow-y: auto;

		scrollbar-width: thin;
		scrollbar-color: var(--border) transparent;

		&::-webkit-scrollbar {

			width: 6px;
			border-radius: 0;
			background-color: transparent;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 0;
			background-color: var(--border);

		}

	}

	&.is-open &__list {

		opacity: 1;
		pointer-events: auto;
		transform: translate3d(0, 0, 0);

	}

	&__item {

		display: block;
		width: 100%;
		white-space: normal;
		position: relative;
		transition: var(--transitionDefault);
		cursor: pointer;
		text-align: left;
		padding: 6px 16px;

	}

	&__btn {

		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		color: var(--gray);
		display: flex;
		align-items: center;
		position: absolute;
		height: 24px;
		top: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		z-index: 1;

	}

	&.is-open &__btn svg {

		transform: rotate(-90deg);

	}

	&__mask {

		padding-left: 60px;

	}

}

.input-rating {

	display: flex;
	gap: 8px;
	position: relative;

	&__btn {

		width: 24px;
		height: 24px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		text-indent: 100vw;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%239CA3AF' d='M17.56 21a1 1 0 0 1-.46-.11L12 18.22l-5.1 2.67a1 1 0 0 1-1.45-1.06l1-5.63-4.12-4a1 1 0 0 1-.25-1 1 1 0 0 1 .8-.68l5.7-.83 2.52-5.13a1 1 0 0 1 1.8 0l2.54 5.12 5.7.83a1 1 0 0 1 .8.68 1 1 0 0 1-.24 1l-4.12 4 1 5.63a1 1 0 0 1-.4 1 1 1 0 0 1-.62.18ZM12 16.1c.16 0 .32.03.46.11l3.77 2-.72-4.21a1 1 0 0 1 .29-.89l3-2.93-4.2-.62a1 1 0 0 1-.71-.56L12 5.25 10.11 9a1 1 0 0 1-.75.54l-4.2.62 3 2.93a1 1 0 0 1 .29.89l-.72 4.16 3.77-2a.92.92 0 0 1 .5-.04Z'/%3E%3C/svg%3E");

	}

	input[value="1"]:checked ~ [for="modal-review-rating-1"],
	input[value="2"]:checked ~ [for="modal-review-rating-1"],
	input[value="2"]:checked ~ [for="modal-review-rating-2"],
	input[value="3"]:checked ~ [for="modal-review-rating-1"],
	input[value="3"]:checked ~ [for="modal-review-rating-2"],
	input[value="3"]:checked ~ [for="modal-review-rating-3"],
	input[value="4"]:checked ~ [for="modal-review-rating-1"],
	input[value="4"]:checked ~ [for="modal-review-rating-2"],
	input[value="4"]:checked ~ [for="modal-review-rating-3"],
	input[value="4"]:checked ~ [for="modal-review-rating-4"],
	input[value="5"]:checked ~ [for] {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%234C1D95' d='M17.56 21a1 1 0 0 1-.46-.11L12 18.22l-5.1 2.67a1 1 0 0 1-1.45-1.06l1-5.63-4.12-4a1 1 0 0 1-.25-1 1 1 0 0 1 .8-.68l5.7-.83 2.52-5.13a1 1 0 0 1 1.8 0l2.54 5.12 5.7.83a1 1 0 0 1 .8.68 1 1 0 0 1-.24 1l-4.12 4 1 5.63a1 1 0 0 1-.4 1 1 1 0 0 1-.62.18Z'/%3E%3C/svg%3E");

	}

}

.is-scroll {

	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--purple) #d9d9d9;

	&::-webkit-scrollbar {

		width: 5px;
		border-radius: 0px;
		background-color: #d9d9d9;

	}

	&::-webkit-scrollbar-thumb {

		border-radius: 0px;
		background-color: var(--purple);

	}

}