fieldset {

	border: 0;
	min-width: 0;
	display: block;
	position: relative;

	&:focus {

		outline: none;

	}

}

legend {

	display: table;

	&:focus {

		outline: none;

	}

}

.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	display: block;

	&:hover {

		cursor: pointer;

	}

	&:focus {

		outline: none;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	padding: 0 24px;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	background-color: var(--main);
	font-weight: 500;
	color: #fff;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-auto-flow: column;
	gap: 8px;
	border-radius: 8px;

	svg {

		display: initial; /* fallback Grid not working in Safari */

	}

	&:disabled {

		color: #efefef;
		background-color: var(--border);

	}

	@media $desktop {

		&:hover {

			--main: var(--accent);

		}

	}

	&--big {

		font-size: 18px;
		line-height: 56px;
		height: 56px;

	}

	&--medium {

		line-height: 48px;
		height: 48px;

	}

	&--small {

		font-size: 12px;
		line-height: 24px;
		height: 24px;
		padding: 0 16px;

	}

	&--ico {

		padding: 0 4px;
		padding: 0 8px;
		padding: 0 12px;
		padding: 0 16px;

	}

	&--outline {

		background-color: #fff;
		color: var(--main);
		box-shadow: inset 0 0 0 1px var(--main);

	}

	&--text {

		background-color: transparent !important;
		font-size: 14px;
		color: currentColor;
		padding: 0 !important;

	}

	&--hash {

		background-color: transparent !important;
		color: var(--main);
		padding: 0 !important;
		height: 24px;
		line-height: 24px;
		border-bottom: 1px dashed;
		border-radius: 0;
		text-transform: uppercase;

		@media $desktop {

			&:hover {

				border-bottom-color: transparent;

			}

		}

		@media $smWidth {

			font-size: 12px;

		}

	}

	&--hash&--small {

		font-size: 14px;
		height: 26px;
		line-height: 26px;

	}

	&--link {

		background-color: transparent !important;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5;
		height: 21px;
		color: currentColor;
		padding: 0 !important;
		text-decoration: underline;
		border-radius: 0;

		@media $desktop {

			&:hover {

				text-decoration-color: transparent;

			}

		}

	}

	&--more {

		background-color: transparent !important;
		color: var(--main);
		border-bottom: 1px solid;
		padding: 0 4px;
		border-radius: 0;

		@media $desktop {

			&:hover {

				border-bottom-color: transparent;

			}

		}

	}

	&--favourite {

		width: 40px;
		height: 40px;
		padding: 0;
		border: 2px solid;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent !important;
		color: var(--main);

	}

	&--filter {

		background-color: #ede9fe;
		border: 1px solid var(--accent);
		color: var(--main);

	}

	&--select {

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 8px 7px 16px;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		background-color: #fff;
		border-bottom: 1px solid;
		color: var(--gray);
		border-radius: 0;
		width: 100%;

	}

}

.ico-box {

	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--main);

}

.input {

	line-height: 24px;
	padding: 12px 16px;
	font-size: 16px;
	color: var(--color);

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px);

	height: 48px;

	border: 0;
	border-radius: 0;
	border-bottom: 1px solid var(--border);
	background-color: #fff;
	box-shadow: inset 0 0 0 100px #fff;

	textarea& {

		height: 128px;
		resize: none;

	}

	@media $desktop {


	}

	&::placeholder {

		opacity: 1;
		color: var(--gray);

	}

	&::-ms-clear {

		display: none;

	}

	&:hover:not(:focus) {

	}

	&:focus {

		outline: none;
		border-color: var(--color);

	}

	&:disabled {

		pointer-events: none;
		color: var(--text);
		background-color: #cdcdcd;
		box-shadow: inset 0 0 0 100px #cdcdcd;

	}

	&:invalid {

		box-shadow: none;

	}

	&.is-error {

		color: var(--red);
		border-bottom-color: var(--red);

	}

}

.checkbox {

	display: block;
	position: relative;
	user-select: none;

	&__input {

		top: 28px;
		left: 0;

	}

	&__input:checked + &__label {

		&::after {

			position: absolute;
			width: 8px;
			height: 8px;
			top: 14px;
			left: 4px;
			content: '';
			background-color: var(--gray);

		}

	}

	&__input:disabled + &__label {

		color: #9ca3af;
		pointer-events: none;

		&::after {

			background-color: #9ca3af;

		}


		b {

			font-weight: 600;

		}

	}

	&__label {

		display: block;
		padding: 8px 0 8px 24px;
		cursor: pointer;
		color: var(--text);

		b {

			color: var(--main);

		}

		a {

			text-decoration: underline;

			@media $desktop {

				&:hover {

					text-decoration: none;

				}

			}

		}

		&::before {

			position: absolute;
			width: 14px;
			height: 14px;
			top: 10px;
			left: 0;
			content: '';
			border: 1px solid;

		}

		@media $desktop {

			&:hover {

				color: var(--main);

			}

		}

	}

	&__input[type="radio"] + &__label {

		&::before,
		&::after {

			border-radius: 50%;

		}

	}

}

/* phone-country */
.phone-country {

	position: relative;
	display: flex;
	align-items: center;
	color: var(--color);

	&__list {

		padding: 19px 0;
		box-shadow: var(--box-shadow);

		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		background-color: #fff;
		z-index: 5;

		opacity: 0;
		pointer-events: none;
		transform: translate3d(0, 8px, 0);
		transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s;

		max-height: 256px;
		overflow-y: auto;

		scrollbar-width: thin;
		scrollbar-color: var(--border) transparent;

		&::-webkit-scrollbar {

			width: 6px;
			border-radius: 0;
			background-color: transparent;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 0;
			background-color: var(--border);

		}

	}

	&.is-open &__list {

		opacity: 1;
		pointer-events: auto;
		transform: translate3d(0, 0, 0);

	}

	&__item {

		display: block;
		width: 100%;
		white-space: normal;
		position: relative;
		transition: var(--transitionDefault);
		cursor: pointer;
		text-align: left;
		padding: 6px 16px;

	}

	&__btn {

		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		color: var(--gray);
		display: flex;
		align-items: center;
		position: absolute;
		height: 24px;
		top: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		z-index: 1;

	}

	&.is-open &__btn svg {

		transform: rotate(-90deg);

	}

	&__mask {

		padding-left: 60px;

	}

}

.input-rating {

	display: flex;
	gap: 8px;
	position: relative;

	&__btn {

		width: 24px;
		height: 24px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		text-indent: 100vw;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%239CA3AF' d='M17.56 21a1 1 0 0 1-.46-.11L12 18.22l-5.1 2.67a1 1 0 0 1-1.45-1.06l1-5.63-4.12-4a1 1 0 0 1-.25-1 1 1 0 0 1 .8-.68l5.7-.83 2.52-5.13a1 1 0 0 1 1.8 0l2.54 5.12 5.7.83a1 1 0 0 1 .8.68 1 1 0 0 1-.24 1l-4.12 4 1 5.63a1 1 0 0 1-.4 1 1 1 0 0 1-.62.18ZM12 16.1c.16 0 .32.03.46.11l3.77 2-.72-4.21a1 1 0 0 1 .29-.89l3-2.93-4.2-.62a1 1 0 0 1-.71-.56L12 5.25 10.11 9a1 1 0 0 1-.75.54l-4.2.62 3 2.93a1 1 0 0 1 .29.89l-.72 4.16 3.77-2a.92.92 0 0 1 .5-.04Z'/%3E%3C/svg%3E");

	}

	input[value="1"]:checked ~ [for="modal-review-rating-1"],
	input[value="2"]:checked ~ [for="modal-review-rating-1"],
	input[value="2"]:checked ~ [for="modal-review-rating-2"],
	input[value="3"]:checked ~ [for="modal-review-rating-1"],
	input[value="3"]:checked ~ [for="modal-review-rating-2"],
	input[value="3"]:checked ~ [for="modal-review-rating-3"],
	input[value="4"]:checked ~ [for="modal-review-rating-1"],
	input[value="4"]:checked ~ [for="modal-review-rating-2"],
	input[value="4"]:checked ~ [for="modal-review-rating-3"],
	input[value="4"]:checked ~ [for="modal-review-rating-4"],
	input[value="5"]:checked ~ [for] {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%239fb270' d='M17.56 21a1 1 0 0 1-.46-.11L12 18.22l-5.1 2.67a1 1 0 0 1-1.45-1.06l1-5.63-4.12-4a1 1 0 0 1-.25-1 1 1 0 0 1 .8-.68l5.7-.83 2.52-5.13a1 1 0 0 1 1.8 0l2.54 5.12 5.7.83a1 1 0 0 1 .8.68 1 1 0 0 1-.24 1l-4.12 4 1 5.63a1 1 0 0 1-.4 1 1 1 0 0 1-.62.18Z'/%3E%3C/svg%3E");

	}

}

.is-scroll {

	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--main) #d9d9d9;

	&::-webkit-scrollbar {

		width: 5px;
		border-radius: 0px;
		background-color: #d9d9d9;

	}

	&::-webkit-scrollbar-thumb {

		border-radius: 0px;
		background-color: var(--main);

	}

}

.inputbox {

	margin: 32px 0;
	position: relative;

	.input {

		padding: 8px 16px;
		height: 40px;
		line-height: 24px;
		border-bottom-color: var(--text);

	}

	textarea.input {

		height: 90px;

	}

	&__text {

		padding: 4px 0;
		margin-left: 16px;
		display: block;

	}

	&__label {

		display: block;
		padding: 8px 0 8px 16px;
		line-height: 1.2;
		color: var(--accent);
		font-weight: 700;

	}

	&.is-error .input {

		color: var(--red);
		border-bottom-color: var(--red);

		&::placeholder {

			color: var(--red);

		}

	}

	&.is-error &__text,
	&.is-error &__label {

		color: var(--red);

	}

	&.is-error &__note,
	&.is-error &__label {

		color: var(--red);

	}

	&__note {

		position: absolute;
		padding: 4px 0 4px 16px;
		top: 100%;
		left: 0;
		right: 0;
		color: var(--gray);

	}

	.phone-country__btn {

		padding-left: 16px;

	}

	.phone-country__mask {

		padding-left: 76px;

		&::placeholder {

			font-style: normal;

		}

	}

}

.cdek-radio {

	display: block;
	width: 100%;
	position: relative;
	cursor: pointer;
	user-select: none;

	font-size: 14px;
	line-height: 1.2;
	color: var(--gray);

	&__name {

		display: block;
		font-weight: 600;
		position: relative;
		padding-left: 12px;

		&::before {

			position: absolute;
			width: 6px;
			height: 6px;
			top: 0;
			left: 0;
			bottom: 0;
			content: '';
			border-radius: 50%;
			margin: auto;
			background-color: #ffb422;

		}

	}

	&__address {

		display: block;
		margin-top: 8px;

	}

	&__desc {

		display: block;
		margin-top: 16px;
		font-size: 13px;
		line-height: 16px;
		color: var(--text);

	}

	&__info {

		display: block;
		margin-top: 8px;
		font-size: 13px;
		line-height: 16px;

	}

}