.header {

	color: #fff;
	background-color: var(--blue);
	margin-bottom: 8px;

	&__top {

		display: flex;
		justify-content: space-between;
		padding: 5px 0 6px;

	}

	&__left {

		display: flex;
	}

	&__right {

		display: flex;
		padding-top: 1px;

	}

	&__btn-menu {

		width: 37px;
		position: relative;
		left: -4px;
		padding-top: 1px;

	}

	&__wishlist {

		font-size: 8px;
		line-height: 8px;
		font-weight: 300;
		text-align: center;
		color: #fff;
		text-decoration: none;

		svg {

			margin: auto;
			fill: var(--heavenly);

		}

	}

	&__cart {

		font-size: 8px;
		line-height: 8px;
		font-weight: 300;
		text-align: center;
		color: #fff;
		position: relative;
		text-decoration: none;
		margin-left: 8px;
		flex-shrink: 0;

		&-count {

			position: absolute;
			top: 0;
			right: 0;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			line-height: 12px;
			font-weight: 500;
			font-size: 10px;

		}

		svg {

			margin: auto;
			fill: #fff;

		}

	}

	hr {

		background-color: var(--heavenly);
		margin: 0 -20px;

		@media ($mobile) {

			margin: 0 -16px;

		}

	}

	&__bottom {

		display: flex;
		justify-content: space-between;
		padding: 2px 0;

	}

	&__city {

		position: relative;
		padding-left: 18px;
		padding-right: 15px;
		font-size: 11px;
		line-height: 14px;
		color: #fff;

		&-ico {

			fill: #fff;
			position: absolute;
			top: 0;
			left: 0;

		}

		&-arrow {

			fill: #fff;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;

		}

	}

	&__phone {

		font-size: 11px;
		line-height: 14px;

		a {

			color: #fff;
			text-decoration: none;

		}

	}

	&__fixed {

		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9;
		background-color: var(--blue);
		transition: var(--transitionDefault);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 6px 20px;

		@media ($mobile) {

			padding: 6px 16px;

		}

		&.is-hidden {

			opacity: 0;
			pointer-events: none;

		}

		a {

			font-weight: 300;
			font-size: 8px;
			line-height: 8px;
			color: #fff;
			text-decoration: none;
			text-align: center;
			height: 28px;

		}

		svg {

			fill: #fff;
			margin: auto;

		}

	}

}

.btn-menu-toggle {

	width: 28px;
	height: 28px;
	position: relative;
	flex-shrink: 0;
	font-size: 8px;
	line-height: 8px;
	font-weight: 300;
	text-align: center;
	color: #fff;

	svg {

		margin: auto;
		fill: #fff;

	}

}

@media ($tablet) {
}