.header {

	flex-shrink: 0;
	position: sticky;
	z-index: 8;
	top: -37px;
	left: 0;
	right: 0;
	background-color: #fff;
	margin-bottom: 16px;

	@media $mdWidth {

		margin-bottom: 0;

	}

	@media $smWidth {

		position: relative;
		top: 0;

	}

	.center {

		@media $mdWidth {

			width: 100%;

		}

	}

	&__top {

		color: #f2f2f2;
		background-color: var(--purple);
		font-weight: 500;
		position: relative;
		z-index: 4;

	}

	&__city {

		flex-shrink: 0;
		margin-right: 20px;
		position: relative;

	}

	&-city {

		&__btn {

			height: 37px;
			line-height: 37px;
			text-decoration: underline;
			gap: 4px;
			color: #fff;

			@media $desktop {

				&:hover {

					text-decoration: none;

				}

			}

		}

	}

	&__menu-top {

		flex-grow: 1;
		flex-shrink: 0;

		@media $mdWidth {

			display: none;

		}

	}

	&__phone-mobile {

		display: none;

		@media $mdWidth {

			display: block;
			margin-left: auto;

			a {

				display: flex;
				gap: 4px;
				align-items: center;
				height: 37px;
				line-height: 37px;
				color: #fff;

			}

		}

	}

	&__user {

		display: flex;
		flex-shrink: 0;
		position: relative;

		@media $desktop {

			&:hover {

				.header-user {

					display: block;

				}

			}

		}

		@media $mdWidth {

			display: none;

		}

		.btn {

			height: 37px;
			line-height: 37px;
			margin-left: 40px;

			svg {

				fill: #fff;

			}

			@media $desktop {

				&:hover {

					color: #fff;

				}

			}

		}

	}

	&__main {

		@media $mdWidth {

			display: none;

		}

		&-left,
		&-right {

			width: 224px;
			flex-shrink: 0;

		}

		&-inner {

			display: flex;
			justify-content: space-between;
			transition: var(--transitionDefault);
			position: relative;
			z-index: 1;

			.is-fixed & {

				pointer-events: none;
				opacity: 0;
				transform: translateY(-64px);

			}

		}

		&-fixed {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 var(--indent);

			.header__main-left,
			.header__main-right {

				display: flex;
				gap: 16px;
				transition: var(--transitionDefault);
				opacity: 0;
				pointer-events: none;

				.is-fixed & {

					opacity: 1;
					pointer-events: auto;
					transition: var(--transitionDefault) var(--transitionDefault);

				}

			}

			.header__main-right {

				justify-content: flex-end;

			}

		}

	}

	&__phones {

		position: relative;

		font-weight: 500;
		font-size: 16px;
		line-height: 1.2;
		margin: 16px 0;
		padding: 2px 44px;
		white-space: nowrap;

		&-value {

			display: flex;
			gap: 16px;
			color: var(--purple)


		}

		.ico-box {

			position: absolute;
			top: 0;
			left: 0;

		}

		&-time {

			font-weight: 400;
			font-size: 14px;
			color: #828282;

		}

	}

	&__callback {

		width: 224px;

		.btn {

			width: 100%;

		}

	}

	&__logo {

		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		img {

			z-index: 2;

			@media $desktop {

				width: 193px;
				height: 128px;
				transition: var(--transitionDefault);
				will-change: width, height;

				.is-fixed & {

					width: 90px;
					height: 60px;

				}

			}

		}

	}

	&__cart {

		margin: 16px 0;

	}

	&-cart {

		position: relative;
		padding: 2px 0 2px 44px;
		display: block;

		@media $desktop {

			&:hover {

				--purple: var(--color);

			}

		}

		.ico-box {

			position: absolute;
			top: 0;
			left: 0;

		}

		&__title {

			font-weight: 500;
			font-size: 16px;
			line-height: 1.2;
			color: var(--purple);
			display: block;

		}

		&__value {

			font-size: 14px;
			color: #828282;
			line-height: 1.2;
			display: block;

		}

	}

	&__search {

		@media $mdWidth {

			margin-top: 8px;
			width: 100%;

		}

	}

	&-search {

		position: relative;

		&__input {

			height: 40px;
			padding: 8px 40px 8px 16px;

			&::placeholder {

				font-weight: 400;
				font-size: 14px;
				color: var(--gray);

			}

			@media $mdWidth {

				border: 1px solid var(--gray);

				&::placeholder {

					font-size: 12px;

				}

			}

		}

		&__submit {

			position: absolute;
			top: 8px;
			right: 16px;
			color: var(--gray);

		}

	}

	&__mobile {

		display: none;

		&-left,
		&-right {

			display: flex;
			gap: 8px;

		}

		@media $mdWidth {

			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			padding: 8px var(--indent);

		}

	}

	@media $desktop {

		&.is-search.is-fixed + .menu-catalog {

			opacity: 0;
			pointer-events: none;

		}

		&.is-search.is-fixed &__mobile {

			display: block;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			padding: 24px;
			background-color: #fff;
			box-shadow: var(--box-shadow);
			z-index: 2;

			& > * {

				display: none;

			}

			.header__search {

				display: block !important;

				.header-search__input {

					width: 100% !important;

				}

			}

		}

	}

	&__search {

		position: relative;
		z-index: 3;

		@media $desktop {

			display: flex;
			justify-content: flex-end;

		}

	}

}

.city-auto {

	position: fixed;
	top: 30px;
	left: var(--indent);
	z-index: 9;
	padding: 40px;
	width: 318px;
	background-color: #fff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 8px 8px 16px rgba(0, 0, 0, 0.08);

	@media $mdWidth {

		width: auto;
		padding: 24px;

	}

	@media $desktop {

		left: 50%;
		margin-left: -620px;

	}

	&__title {

		font-size: 16px;
		line-height: 12px;
		margin-bottom: 40px;
		color: var(--gray);

		b {

			font-weight: 500;

		}

	}

	&__foot {

		display: flex;

		.btn {

			flex-grow: 1;

			& + .btn {

				margin-left: 24px;

			}

		}

	}

}

.header-search {

	flex-shrink: 0;

	&__input {

		&:focus,
		&.is-focus {

			@media $desktop {

				width: 400px;

			}

			& ~ .header-search__result {

				display: block;

			}

		}

	}

	&__result {

		position: absolute;
		width: 100%;
		top: 100%;
		display: none;

		&-inner {

			padding: 16px 0;
			max-height: 584px;
			background-color: #fff;
			box-shadow: var(--box-shadow);

		}

		&-all {

			display: flex;
			justify-content: center;

		}

		&-link {

			display: block;
			font-weight: 500;
			font-size: 14px;
			line-height: 1.2;
			color: var(--gray);
			padding: 8px 15px;
			border-bottom: 1px solid #e5e7eb;
			margin-bottom: 8px;

		}

		.preview-card-row {

			padding: 8px 16px;
			border: 0;

		}

	}

}

.header-user {

	position: absolute;
	padding: 24px;
	width: 329px;
	right: 0;
	top: 30px;
	background-color: #fff;
	z-index: 1;
	box-shadow: var(--box-shadow);
	display: none;

	&__notification {

		float: right;
		width: 24px;
		height: 24px;
		margin-top: 4px;
		color: var(--purple);
		position: relative;

		span {

			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: #fff;
			position: absolute;
			width: 16px;
			height: 16px;
			left: -4px;
			top: -4px;
			text-align: center;
			background-color: var(--red);
			border-radius: 8px;

		}

	}

	&__name,
	&__phone {

		margin-bottom: 8px;
		font-weight: 400;
		font-size: 24px;
		line-height: 1.2;
		color: #000;

	}

	&__menu {

		margin-top: 40px;

		&-item {

			margin-top: 8px;

			&.is-sep {

				margin-top: 24px;

			}

		}

		a {

			display: flex;
			align-items: center;
			font-weight: 600;
			font-size: 14px;
			color: var(--gray);

			svg {

				fill: var(--purple);
				margin: 8px 12px 8px 8px;
				flex-shrink: 0;

			}

		}

	}

}