.header {

	flex-shrink: 0;
	position: sticky;
	z-index: 8;
	top: -32px;
	left: 0;
	right: 0;
	background-color: #fff;

	&.is-fixed {

		box-shadow: 0 4px 4px rgba(23, 25, 0, 0.05)

	}

	@media $smWidth {

		position: relative;
		top: 0;

	}

	.center {

		@media $mdWidth {

			width: 100%;

		}

	}

	&__top {

		color: #fff;
		background-color: var(--color);
		position: relative;
		z-index: 4;

	}

	&__user {

		display: flex;
		flex-shrink: 0;
		position: relative;

		@media $desktop {

			&:hover {

				.header-user {

					display: block;

				}

			}

		}

		@media $mdWidth {

			display: none;

		}

		.btn {

			height: 32px;
			line-height: 32px;
			font-size: 12px;
			margin-left: 40px;

			@media $desktop {

				&:hover {

					text-decoration: underline;

				}

			}

		}

	}

	&__city {

		flex-shrink: 0;
		margin-right: 20px;
		position: relative;

	}

	&-city {

		&__btn {

			height: 32px;
			line-height: 32px;
			font-size: 12px;
			gap: 4px;

			@media $desktop {

				&:hover {

					text-decoration: underline;

				}

			}

		}

	}

	&__menu-top {

		flex-grow: 1;
		flex-shrink: 0;

		@media $mdWidth {

			display: none;

		}

	}

	&__main {

		padding: 16px 0;

		@media $mdWidth {

			display: none;

		}

		&-inner {

			display: flex;

		}

	}

	&__logo {

		align-self: center;

	}

	&__search {

		flex-grow: 1;
		display: flex;
		align-self: center;
		justify-content: center;

	}

	&-search {

		position: relative;
		width: 416px;

		&__input {

			padding: 8px 48px 8px 16px;
			font-size: 20px;
			border-color: #06070A;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-radius: 0;

		}

		&__submit {

			position: absolute;
			top: 8px;
			right: 16px;

		}

	}

	&__phone {

		padding-left: 40px;

	}

	&-phone {

		position: relative;
		display: block;
		white-space: nowrap;
		color: var(--main);

		&__ico {

			padding: 4px;
			position: absolute;
			top: 0;
			right: 100%;
			margin-right: 4px;

		}

		&__number {

			display: block;

		}

		&__time {

			font-weight: 400;
			font-size: 12px;
			line-height: 1;
			display: block;
			color: var(--gray);

		}

	}

	&__callback {

		margin-left: 24px;

	}

	@media $desktop {

		&.is-search.is-fixed + .menu-catalog {

			opacity: 0;
			pointer-events: none;

		}

	}

}

.header-search {

	@media $desktop {

		flex-shrink: 0;

	}

	&__input {

		&:focus,
		&.is-focus {

			& ~ .header-search__result {

				display: block;

			}

		}

	}

	&__result {

		position: absolute;
		width: 100%;
		top: 100%;
		right: 0;
		z-index: 1;

		@media $smWidth {

			width: calc( 200% + 8px );

		}

		&-inner {

			padding: 16px 0;
			max-height: 584px;
			background-color: #fff;
			box-shadow: var(--box-shadow);

		}

		&-all {

			display: flex;
			justify-content: center;

		}

		&-link {

			display: block;
			font-weight: 500;
			font-size: 14px;
			line-height: 1.2;
			color: var(--gray);
			padding: 8px 15px;
			border-bottom: 1px solid #e5e7eb;
			margin-bottom: 8px;

		}

		.preview-card-row {

			padding: 8px 16px;
			border: 0;

		}

	}

}

.header-user {

	position: absolute;
	padding: 24px;
	width: 329px;
	right: 0;
	top: 30px;
	background-color: #fff;
	z-index: 1;
	box-shadow: var(--box-shadow);
	display: none;

	&__notification {

		float: right;
		width: 24px;
		height: 24px;
		margin-top: 4px;
		color: var(--main);
		position: relative;

		span {

			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: #fff;
			position: absolute;
			width: 16px;
			height: 16px;
			left: -4px;
			top: -4px;
			text-align: center;
			background-color: var(--red);
			border-radius: 8px;

		}

	}

	&__name,
	&__phone {

		margin-bottom: 8px;
		font-weight: 400;
		font-size: 24px;
		line-height: 1.2;
		color: #000;

	}

	&__menu {

		margin-top: 40px;

		&-item {

			margin-top: 8px;

			&.is-sep {

				margin-top: 24px;

			}

		}

		a {

			display: flex;
			align-items: center;
			font-weight: 600;
			font-size: 14px;
			color: var(--gray);

			svg {

				fill: var(--main);
				margin: 8px 12px 8px 8px;
				flex-shrink: 0;

			}

		}

	}

}