.lk {

	&-header {

		margin-bottom: 40px;

		hr {

			background-color: #e4e4e4;
			margin: 20px -10px;

		}

	}

	&__title {

		font-size: 19px;
		color: var(--text);
		margin: 10px 0;
		font-weight: 400;

	}

	&__text {

		color: #000;
		font-weight: 500;
		font-size: 14px;
		margin: 20px 0;

		&--small {

			font-size: 13px;
			color: #818181;
			margin: 10px 0;

		}

		&--desc {

			color: var(--text);

		}

	}

	&-btn {

		height: 26px;
		line-height: 26px;
		font-size: 12px;
		padding: 0 20px;

	}

	&-row-flex {

		display: flex;
		align-items: center;
		margin: -10px;

		&__item {

			margin: 10px;

		}

	}

	&-list-row {

		display: flex;
		margin: 10px -10px;
		background: rgba(196, 196, 196, 0.17);

		li {

			margin: 2px 10px;
			font-weight: 500;
			font-size: 11px;
			line-height: 14px;
			color: #818181;

		}

	}

	&__img-hover-tr {

		position: fixed;
		display: flex;
		transform: translate3d(-50%, 20px, 0);
		pointer-events: none;
		opacity: 0;
		z-index: 2;

		img {

			border: 1px solid #e4e4e4;
			margin: 6px;

		}

	}

/* menu */

	&-menu {

		&__main {

			background: rgba(196, 196, 196, 0.17);
			border-top: 1px solid var(--border);
			border-bottom: 1px solid var(--border);
			white-space: nowrap;
			margin-bottom: 20px;

		}

		&__list {

			display: flex;

			&-second {

				display: flex;
				margin-bottom: 20px;

				a {

					display: block;
					font-size: 14px;
					line-height: 24px;
					color: var(--text);
					padding: 0 16px;
					text-decoration: none;
					background-color: #F5F5F5;
					border: 1px solid var(--border);
					border-radius: 2px;

					@media ($desktop) {

						&:hover {

							color: var(--blue);
							border-color: var(--blue);

						}

					}


				}

			}

			a {

				display: block;
				font-size: 15px;
				line-height: 40px;
				color: #818181;
				padding: 0 5px;
				text-decoration: none;
				text-align: center;
				position: relative;

				@media ($desktop) {

					&:hover {

						color: var(--blue);

					}

				}

			}

		}

		&__item {

			flex-grow: 1;
			border-left: 1px solid var(--border);

			&:first-child {

				border-left: 0;

			}

			&.is-current {

				a {

					font-weight: 600;
					color: var(--blue);
					background-color: #fff;

				}

				&::before {

					position: absolute;
					top: -1px;
					left: -1px;
					right: -1px;
					bottom: -1px;
					content: '';
					border: 1px solid var(--border);
					border-bottom-color: #fff;

				}

			}

			&-second {

				margin-right: 10px;

				&.is-current {

					a {

						font-weight: 600;
						color: #fff;
						pointer-events: none;
						border-color: transparent;
						background-color: var(--blue);

					}

				}

			}

		}

	}

/* table */

	&-table {

		margin: 0 -10px;

		table {

			width: 100%;

		}

		tfoot {

			td {

				border-bottom: 0;

			}

			tr:first-child td {

				padding-top: 20px;

			}

		}

		th, td {

			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			color: #9B9B9B;
			text-align: left;
			padding: 8px 10px;
			border-bottom: 1px solid var(--border);

		}

		th {

			white-space: nowrap;
			padding: 10px;

		}

		td {

			font-weight: 300;
			font-size: 13px;
			color: #4D4D4D;

			a {

				color: var(--blue);
				text-decoration: none;

				@media ($desktop) {

					&:hover {

						text-decoration: underline;

					}

				}

			}

		}

		tbody tr {

			@media ($desktop) {

				&:hover {

					background-color: #f5f5f5;

				}

			}

		}

		&-2 {

			margin: 0 -10px;

			table {

				width: 100%;

			}

			th, td {

				font-weight: 500;
				font-size: 12px;
				line-height: 12px;
				color: var(--text);
				text-align: left;
				padding: 15px 10px;
				border-bottom: 1px solid var(--border);

			}

			th {

				white-space: nowrap;
				vertical-align: bottom;
				padding: 6px 10px;

			}

			td {

				font-size: 15px;
				color: #4D4D4D;

				a {

					font-size: 14px;

				}

			}

			tbody tr {

				@media ($desktop) {

					&:hover {

						background-color: #f5f5f5;

					}

				}

			}

		}

	}

/* order */

	&-order {

		&__remove {

			display: flex;
			align-items: center;
			white-space: nowrap;

			.button {

				top: -1px;
				left: -4px;

				@media ($desktop) {

					&:hover svg {

						fill: var(--blue);

					}

				}

			}

			svg {

				fill: #9B9B9B;

			}

		}

		&__forms {

			margin: 16px -6px;
			display: flex;

			.form {

				margin: 6px;

			}

		}

	}

	&-orders {


	}

/* faq */

	&-mini-faq {

		display: flex;
		justify-content: space-between;

		&__item {

			width: 360px;

		}

		&__head {

			font-weight: 600;
			font-size: 14px;
			margin: 10px 0;

		}

		&__body {

			font-size: 14px;
			line-height: 20px;
			color: var(--text);

			a {

				color: var(--blue);
				text-decoration: none;

				@media ($desktop) {

					&:hover {

						text-decoration: underline;

					}

				}

			}

		}

	}

/* detail */

	&-detail {

		display: flex;
		margin: 30px 0;

		&__item {

			width: 50%;

		}

	}

/* message */

	&-message {

		margin: 30px 0;

		&__head {

			display: flex;
			align-items: center;

		}

		&__title {

			font-weight: 500;
			font-size: 13px;
			color: var(--text);
			display: flex;
			align-items: center;
			margin-right: 60px;

			svg {

				fill: var(--blue);
				margin-right: 6px;

			}

		}

		&__btn-new-post {

			font-style: normal;
			font-size: 13px;

			svg {

				position: absolute;
				top: 0;
				left: -22px;
				fill: var(--blue);

			}

		}

		&__form {

			display: none;

		}

		&__list {

			&-item {

				margin: 24px 0;
				font-size: 12px;
				font-weight: 500;
				color: var(--text);

			}

			&-logo {

				margin-left: -28px;

			}

			&-date {

				color: #818181;
				margin: 6px 0;

			}

		}

	}

/* filter-date */

	&-filter-date {

		display: flex;
		align-items: center;
		flex-wrap: wrap;
		font-size: 14px;
		color: var(--text);

		&__item {

			display: flex;
			align-items: center;
			padding-right: 5px;

		}

		&__pref {

			padding-right: 5px;

		}

		&__all-orders {

			margin-left: 10px;
			font-size: 14px;
			color: var(--blue);

		}

		.input {

			font-size: 13px;

		}

	}

/* form */

	&-form {

		.checkbox-2,
		.checkbox-radio {

			margin: 5px 0;

			small {

				display: block;
				font-size: 10px;
				line-height: 12px;
				font-weight: 300;

			}

		}

		&__head {

			font-size: 15px;
			font-weight: 600;
			color: var(--text);
			margin: 12px 0;

		}

		&__text {

			font-size: 13px;
			color: var(--text);
			margin: 12px 0;

		}

		&__text + &__table {

			margin-top: 0;

		}

		&__table {

			margin: 32px 0;
			display: table;
			width: 380px;

			&--club {

				width: auto;

				.lk-form__label {

					width: 120px;

				}

			}

		}

		&__row {

			display: table-row;

		}

		&__label {

			font-size: 15px;
			font-weight: 500;
			color: var(--text);
			line-height: 20px;
			display: table-cell;
			vertical-align: top;
			padding: 8px 0;

			&--required::after {

				content: '*';
				color: var(--red);

			}

		}

		&__control {

			display: table-cell;
			padding: 3px 0 3px 16px;

			.input {

				height: 30px;
				line-height: 30px;
				padding: 0 10px;

				@media ($desktop) {

					font-size: 14px;

				}

				&:valid:not(:focus) {

					border-color: var(--border);

				}

			}

			&--row {

				display: flex;

				.checkbox-radio + .checkbox-radio {

					margin-left: 20px;

				}

			}

		}

		&__note-required {

			font-size: 14px;
			color: var(--text);
			font-weight: 300;
			margin: 32px 0;

			&::before  {

				content: '*';
				color: var(--red);

			}

		}

		&__submit {

			width: 100%;
			max-width: 380px;
			margin: 32px 0;
			height: 40px;

		}

		&__flex {

			display: flex;

		}

		&__club {

			display: flex;

			&-item {

				padding: 5px 30px 5px 0;

			}

			&-type {

				margin-bottom: 20px;
				display: flex;

			}

		}

		&__files {

			.input-files {

				margin: 8px 0;

			}

		}

	}

}

/* key-value */
.key-value {

	color: var(--text);
	font-size: 13px;

	a {

		text-decoration: none;

		@media ($desktop) {

			&:hover {

				text-decoration: underline;

			}

		}

	}

	&__title {

		font-size: 15px;

	}

	&__list {

		margin: 12px 0;

	}

	&__row {

		display: flex;
		align-items: baseline;
		margin: 8px 0;

	}

	&__key {

		font-weight: 600;
		white-space: nowrap;
		padding-right: 6px;

	}

	&__value {

		color: #5A5A5A;

	}

	&__list.is-reverse &__key {

		font-weight: 400;

	}

	&__list.is-reverse &__value {

		font-weight: 600;

	}

	&__list.is-big {

		margin: 20px 0;

	}

	&__list.is-big &__key {

		font-size: 15px;
		font-weight: 400;

	}

	&__list.is-big &__value {

		font-size: 18px;
		font-weight: 400;

	}

}