.lk {

	margin-bottom: 96px;

	&__head {

		font-weight: 600;
		font-size: 18px;
		line-height: 1.2;
		color: #1f2937;

	}

	&-accordions {

		.accordion {

			margin: 0;
			border: 0;

		}

	}

}

.lk-menu {

	margin: 24px 0;
	display: flex;
	user-select: none;

	ul {

		display: flex;

		@media $mdWidth {

			display: none;
			position: absolute;
			top: 0;
			left: 0;
			padding: 40px 16px 16px;
			width: 320px;
			background-color: #fff;
			box-shadow: var(--box-shadow);

			a {

				font-weight: 500;
				font-size: 16px;
				color: var(--gray);
				display: flex;
				align-items: center;
				padding: 16px;
				justify-content: space-between;

				&.is-current {

					background-color: #eef2ff;

				}

			}

		}

		@media $xsWidth {

			width: 300px;

		}

	}

	@media $mdWidth {

		position: sticky;
		top: var(--scrollMargin);
		z-index: 2;

	}

	@media $smWidth {

		top: 24px;

	}

	&__toggle-btn {

		border-radius: 0;
		background-color: #fff;
		left: calc( var(--indent) * -1 );

		@media $desktop {

			display: none;

		}

		@media $mdWidth {

			use + use {

				display: none;

			}

			&.is-open {

				z-index: 1;
				left: 280px;
				box-shadow: none;

				use {

					display: none;

					& + use {

						display: block;

					}

				}

				& + ul {

					display: block;

				}

			}

		}

		@media $xsWidth {

			&.is-open {

				left: 260px;

			}

		}

	}

	@media $desktop {

		a {

			display: flex;
			align-items: center;
			padding: 16px 40px;
			height: 51px;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.2;
			color: #9ca3af;
			border-bottom: 2px solid;
			transition: var(--transitionDefault);

			&:hover {

				color: var(--gray);

			}

			&.is-current {

				color: var(--main);

			}

			svg {

				display: none;

			}

		}

	}

}

.lk-form {

	@media $desktop {

		&__column-2,
		&__column-3 {

			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 24px;

			.is-column-span-2 {

				grid-column: span 2;

			}
		}

		&__column-2 {

			grid-template-columns: 1fr 1fr;

		}

	}

	&__checkbox {

		display: flex;
		margin: 24px 0;

	}

	&__edit-link {

		margin: 20px 0;
		font-size: 14px;

		a {

			color: var(--main);
			border-bottom: 1px dashed;

		}

	}

	&__row-inputbox {

		display: flex;
		gap: 24px;

		.inputbox {

			margin: 0;

		}

	}

	&__submit {

		.btn {

			min-width: 240px;

		}

	}

	@media $desktop {

		.inputbox.is-one-row {

			min-height: 100px;

			.inputbox__text {

				position: absolute;
				top: 100%;
				left: 0;
				right: 0;

			}

		}

	}

	textarea.autosize {

		height: 40px;

	}

}

[data-clipboard-success]::after {

	position: absolute;
	left: 50%;
	transform: translate3d(-50%, -12px, 0);
	bottom: 100%;
	font-size: 14px;
	box-shadow: var(--box-shadow);
	padding: 6px 12px;
	line-height: 1;
	transition: var(--transitionDefault);
	color: var(--main);
	content: attr(data-clipboard-success);
	background-color: #fff;
	border-radius: 3px;
	z-index: 1;
	pointer-events: none;
	opacity: 0;

	.is-clipboard-success&  {

		opacity: 1;

	}

}

.orderlist {

	padding: 8px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	margin: 16px 0;
	position: relative;

	&__head {

		border-left: 8px solid;
		padding-left: 12px;
		display: grid;
		gap: 12px;
		grid-template-columns: 1fr 1fr 328px 32px;

		@media $smWidth {

			display: block;

		}

		&.is-yellow {

			border-left-color: #d97706;

		}

		&.is-gray {

			border-left-color: #9CA3AF;

		}

		&.is-green {

			border-left-color: #059669;

		}

	}

	&__label {

		font-size: 14px;
		margin-bottom: 8px;
		color: var(--text);

	}

	&__status {

		font-weight: 600;
		font-size: 14px;
		line-height: 1.2;
		color: var(--gray);

	}

	&__price {

		font-size: 20px;
		line-height: 1.2;
		color: var(--gray);

	}

	&__products {

		display: flex;
		justify-content: flex-end;
		gap: 8px;

		@media $smWidth {

			justify-content: flex-start;
			margin-top: 8px;

			& > a:nth-child(n+4) {

				display: none;

			}

		}

		@media $xsWidth {

			& > a:nth-child(n+3) {

				display: none;

			}

		}

		&-more {

			font-weight: 500;
			font-size: 16px;
			color: var(--text);
			text-align: center;
			min-width: 40px;
			line-height: 38px;
			border: 1px solid;
			align-self: center;

		}

	}

	&__toggle {

		color: var(--main);

		@media $smWidth {

			position: absolute;
			top: 8px;
			right: 8px;

		}

	}

	&.is-open &__toggle .button {

		transform: scaleY(-1);

	}

	&.is-open &__open-hide {

		opacity: 0;
		pointer-events: none;

		@media $smWidth {

			opacity: 1;
			pointer-events: auto;

		}

	}

	&__body {

		display: grid;
		gap: 4px;
		grid-template-columns: 306px 1fr;
		transition: opacity var(--transitionDefault);

		@media $mdWidth {

			display: block;

		}

	}

	&:not(.is-open) &__body {

		overflow: hidden;
		height: 0;
		opacity: 0;

	}

	&__details {

		padding-bottom: 16px;

		&-foot {

			display: flex;
			justify-content: space-between;
			margin-top: 32px;

			@media $smWidth {

				display: block;

			}

			.btn {

				min-width: 240px;

				@media $smWidth {

					width: 100%;
					margin-top: 16px;

				}

			}

		}

	}

	&__table {

		width: 100%;

		font-size: 14px;
		line-height: 1.2;
		color: #000;

		th {

			text-align: left;
			font-weight: 600;
			padding-bottom: 16px;

		}

		td {

			padding-bottom: 16px;
			text-align: right;

		}

	}

	&-details-product {

		margin: 8px 0;
		padding: 8px;
		border: 1px solid #d1d5db;
		display: grid;
		gap: 4px;
		grid-template-columns: 64px 1fr 64px 64px 64px;
		color: var(--gray);

		@media $smWidth {

			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

		}

		&__img {

			@media $smWidth {

				width: 64px;
				flex-shrink: 0;

			}

		}

		&__name {

			font-size: 14px;
			line-height: 1.2;

			@media $smWidth {

				width: calc( 100% - 8px - 64px );

			}

		}

		&__dl {

			white-space: nowrap;

			@media $smWidth {

				margin-top: 10px;

			}

			dt {

				margin-bottom: 8px;
				font-size: 14px;
				color: var(--text);

			}

			s {

				color: var(--red);
				display: block;

			}

		}

	}

	&-info {

		color: var(--gray);
		padding: 8px 20px;

		@media $smWidth {

			padding: 24px 20px 0;

		}

		&__head {

			font-weight: 600;
			font-size: 16px;
			line-height: 1.2;
			margin-bottom: 24px;

		}

		&__heading {

			font-weight: 600;
			font-size: 14px;
			line-height: 1.2;
			margin-bottom: 24px;

		}

		&__text {

			font-size: 14px;
			margin-top: 20px;

			b {

				font-weight: 600;

			}

		}

		&__map {

			display: flex;
			margin: 8px 0;

			.btn {

				font-weight: 500;

			}

		}

		&__track {

			margin: 24px 0;
			display: flex;

			@media $smWidth {

				a {

					width: 100%;

				}

			}

		}

	}

}

.lk-orderlist-sort {

	@media $smWidth {

		.sort-select__item {

			width: 80px;

		}

		.catalog__sort-inputsearch {

			width: calc( 100% - 96px );

		}

	}

}