.main-service {

	margin: 20px 0;
	display: flex;
	justify-content: space-between;

	@media $mdWidth {

		display: none;

	}

	&__item {

		width: 288px;
		min-height: 64px;
		padding-left: 40px;

		dt {

			line-height: 1;
			margin-bottom: 6px;
			color: var(--main);

		}

		dd {

			line-height: 1.2;

			a {

				color: var(--main);

			}

		}

	}

	&__ico {

		width: 32px;
		height: 32px;
		position: absolute;
		top: 0;
		left: 0;
		color: var(--main);
		stroke-width: 2px;

	}

}