.visible-tablet,
.visible-desktop {

	display: none;

}

.center {

	margin: 0 auto;
	width: 600px;
	max-width: 100%;
	position: relative;
	padding: 0 20px;

}

@media ($mobile) {

	.center {

		padding: 0 16px;

	}

}
/*
@media ($tablet) {

	.hidden-tablet {

		display: none !important;

	}

	.visible-tablet {

		display: block;

	}

	.center {

		width: 1000px;

	}

}

@media ($desktop) {

	.hidden-desktop {

		display: none !important;

	}

	.visible-desktop {

		display: block;

	}

	.center {

		width: 1200px;
		padding: 0 30px;

	}

} */