.visible-md,
.visible-sm {

	display: none;

}

.center {

	width: 1304px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0 var(--indent);

}

@media $desktop {

}

@media (max-width: 1335px) {


}

@media $tablet {

}

@media $mdWidth {

	:root {

	--indent: 40px;
	--gap: 24px;
		--space: 72px;

	}

	.hidden-md {

		display: none !important;

	}

	.visible-md {

		display: block;

	}

	.center {

		width: 768px;

	}

}

@media $smWidth {

	:root {

		--indent: 16px;
		--gap: 24px;

	}

	.hidden-sm {

		display: none !important;

	}

	.visible-sm {

		display: block;

	}

	.center {

		width: 464px;

	}

}

@media $xsWidth {

	:root {

		--indent: 10px;

	}

	.hidden-xs {

		display: none !important;

	}

}