.menu {

	display: none;
	padding: 10px 16px;
	flex-grow: 1;
	background-color: #fff;

	&__list {

		margin-bottom: 16px;

	}

	&__item.is-parent &__link::after {

		width: 5px;
		height: 8px;
		margin-left: 10px;
		background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='8' viewBox='0 0 5 8'%3E%3Cpath d='M4.56 4a.559.559 0 01-.164.396l-3.44 3.44a.56.56 0 11-.792-.792L3.208 4 .164.956A.56.56 0 01.956.164l3.44 3.44c.11.11.164.253.164.396z' fill='%23424242'/%3E%3C/svg%3E");
		content: '';
		transition: var(--transitionDefault);

	}

	&__link {

		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		text-decoration: none;
		display: flex;
		align-items: center;
		margin: 12px 0;

		@media ($desktop) {

			&:hover {

				color: var(--blue);

			}

		}

	}

	&__list--second &__link {

		font-size: 14px;
		line-height: 18px;
		display: block;
		margin: 10px 0;

	}

	&__item.is-open &__link::after {

		transform: rotate(-90deg);

	}

	&__item.is-open &__sub {

		max-height: 10000px;
		opacity: 1;

	}

	&__sub {

		overflow: hidden;
		max-height: 0;
		opacity: 0;
		margin-top: -8px;
		position: relative;
		transition: var(--transitionDefault);

		&-link {

			font-size: 14px;
			line-height: 18px;
			display: block;
			font-weight: 500;
			margin: 8px 0 8px 16px;
			text-decoration: none;

			@media ($desktop) {

				&:hover {

					color: var(--blue);

				}

			}

		}

	}

	&__btn-close {

		position: relative;
		margin-left: -4px;
		margin-bottom: 16px;

	}

}

.menu-filter {

	&__select {

		display: flex;
		justify-content: space-between;
		margin: 8px 0 16px;

		.select {

			width: 150px;

			& + .select {

				width: 90px;

			}

		}

	}

	&__form {

		margin-bottom: 16px;

	}

	&__list {

		margin: 10px;

	}

	&__item {

		&--first,
		&--first.hide ~ &:not(.hide) {

			&::before {

				position: absolute;
				top: -2px;
				left: -10px;
				content: attr(data-letter);

			}

		}

	}

}