.menu-top {

	display: flex;

	a {

		display: block;
		padding: 0 20px;
		line-height: 37px;

		@media $desktop {

			&:hover {

				color: #fff;

			}

		}

	}

}

.menu-main {

	&__list {

		display: flex;
		justify-content: space-between;
		margin: 0 -16px;
		position: relative;

	}

	&__item {

		position: static;

	}

	&__link {

		display: block;
		font-weight: 500;
		color: var(--gray);
		padding: 16px;
		white-space: nowrap;

		@media $desktop {

			&:hover {

				color: var(--purple);

			}

		}

		&--brand {

			color: var(--purple);
			text-transform: uppercase;

		}

		&--sale {

			color: var(--red);
			text-transform: uppercase;

		}

		&.is-btn {

			position: relative;
			padding-right: 20px !important;

			svg {

				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				margin: auto;

			}

		}

	}

	&__sub {

		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		padding: 32px 16px;
		display: none;
		background-color: #fff;

	}

	@media $desktop {

		&__item:hover &__sub {

			display: block;

		}

	}

	&__grid {

		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 24px;

	}

	&__level-2 {

		max-width: 240px;

	}

	&__level-2 &__link {

		padding: 8px 0;
		font-size: 16px;

		&.is-open {

			svg {

				rect:first-child {

					opacity: 0;

				}

			}

		}

	}

	&__level-2 &__link:not(.is-open) + &__level-3 {

		display: none;

	}

	&__level-3 &__link {

		font-size: 14px;
		color: var(--border);
		padding-left: 16px;

	}

	&__brand-logo {

		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 40px;
		padding: 16px 0;

	}

}