.modal {

	flex-grow: 1;
	position: relative;
	z-index: 10;
	display: none;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: var(--indent);

	@media $smWidth {

		padding: 0;

	}

	&__box {

		position: relative;
		max-width: 100%;

	}

	&__item {

		background-color: #fff;
		max-width: 100%;
		width: 600px;
		padding: 32px;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 8px 8px 16px rgba(0, 0, 0, 0.08);

		&--sms {

			width: 400px;

		}

		@media $smWidth {

			padding: 24px;

		}

	}

	&__title {

		font-weight: 400;
		font-size: 24px;
		line-height: 1.2;
		text-transform: uppercase;
		color: var(--gray);
		margin-bottom: 16px;

		@media $smWidth {

			font-size: 20px;

		}

	}

	&__text {

		font-size: 14px;
		line-height: 21px;
		color: var(--gray);

		& + & {

			margin-top: 21px;

		}

	}

	&__close-btn {

		position: absolute;
		top: 8px;
		right: 8px;
		color: var(--purple);
		transition: none;

		@media $desktop {

			&:hover {

				color: var(--text);

			}

		}

	}

	&__checkbox {

		display: flex;

	}

	&__checkbox + &__row {

		margin-top: 24px;

	}

	&__row {

		display: flex;
		justify-content: space-between;

		@media $smWidth {

			display: block;

		}

		& + & {

			margin-top: 32px;

		}

	}

	&__row {

		.inputbox,
		.modal__column {

			width: calc( 50% - 20px );
			margin: 0;

			@media $smWidth {

				width: auto;
				margin-top: 32px;

			}

		}

	}

	&__column {

		.btn,
		.inputbox {

			width: 100%;

		}

	}

	&__grid {

		display: grid;
		gap: 40px 32px;
		grid-template-columns: 1fr 1fr;

		@media $smWidth {

			display: block;

		}

		.inputbox {

			margin: 0;

			&.is-textarea {

				grid-row-start: 1;
				grid-row-end: 3;
				grid-column-start: 2;
				grid-column-end: 3;

			}

			&.is-rating .inputbox__label {

				padding-left: 0;

			}

		}

	}

	&__foot {

		display: flex;
		justify-content: flex-end;
		margin-top: 42px;

		@media $smWidth {

			justify-content: center;

		}

		&.is-center {

			margin-top: 32px;
			justify-content: center;

		}

		.btn {

			width: 240px;

		}

	}

	&__rule {

		flex-grow: 1;
		margin: -8px 16px -8px 0;

	}

}

.modal-file {

	display: flex;
	margin: 16px 0;

	@media $smWidth {

		display: block;

	}

	&__head {

		flex-grow: 1;
		padding-right: 24px;
		font-weight: 600;
		font-size: 14px;
		line-height: 1.2;
		color: var(--gray);

	}

	&__desc {

		display: block;
		font-weight: 400;
		font-size: 12px;
		line-height: 1.5;
		color: var(--gray);

	}

	&__body {

		width: calc( 50% - 20px );
		flex-shrink: 0;
		position: relative;

		@media $smWidth {

			margin-top: 16px;
			display: block;
			width: 240px;

		}

		.btn {

			background-color: var(--text);
			font-size: 14px;

		}

	}

}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 9;
			opacity: .4;
			background-color: var(--gray);

		}

	}

}

.modal-city {

	width: 800px;

	@media $smWidth {

		min-height: 100vh;

	}

	&__title {

		font-weight: 600;
		font-size: 18px;
		line-height: 1.2;
		color: var(--gray);
		margin-bottom: 24px;

		&:first-child {

			padding: 8px 16px;

		}

	}

	&__inputbox {

		position: relative;

		.input {

			padding: 8px 48px 8px 16px;
			height: 40px;
			line-height: 24px;
			border-bottom-color: #9ca3af;

			&::placeholder {

				font-size: 14px;
				font-weight: 400;
				color: #9ca3af;

			}

		}

		.button {

			position: absolute;
			width: 24px;
			height: 24px;
			top: 0;
			right: 8px;
			bottom: 0;
			margin: auto;
			color: var(--purple);

		}

	}

	&__auto {

		padding: 4px 16px;
		color: var(--purple);
		margin-bottom: 40px;

	}

	&__list {

		column-count: 3;
		column-gap: 48px;
		margin: 30px 0 -8px;

		@media $smWidth {

			column-count: auto;

		}

	}

	&__btn {

		display: block;
		cursor: pointer;
		break-inside: avoid;
		margin-bottom: 16px;
		text-align: left;

	}

	&__label {

		display: block;
		font-size: 14px;
		line-height: 1.2;
		color: var(--gray);

	}

	&__country {

		display: block;
		font-weight: 600;
		font-size: 12px;
		line-height: 1.2;
		color:  #9ca3af;

	}

}

.modal-callback {

	.modal__text {

		margin-bottom: 32px;

	}

}

.modal-review {

	width: 1200px;
	display: flex;
	padding: 80px 65px 80px 32px;

	@media $mdWidth {

		width: 100%;
		display: block;
		padding: 32px;

	}

	&__head {

		@media $desktop {

			width: 439px;
			flex-shrink: 0;

		}

		@media $mdWidth {

			margin-bottom: 32px;

		}

	}

	&__fieldset {

		@media $desktop {

			margin-left: 32px;
			flex-grow: 1;

		}

	}

	.modal__foot {

		display: block;
		margin-top: 0;

		.modal__rule {

			margin: 24px 0;

			@media $desktop {

				margin-top: -50px;

			}

		}

	}

}

.modal-card-color {

	width: 1000px;
	display: flex;
	padding: 40px;
	justify-content: space-between;

	@media $mdWidth {

		width: 100%;
		padding: 32px;

	}

	@media $smWidth {

		display: block;
		padding: 16px 24px 32px;

	}

	&__left {

		width: 500px;
		padding: 0 16px;

		@media $mdWidth {

			width: calc( 100% - 360px - 24px);
			padding: 0;

		}

		@media $smWidth {

			width: auto;
			margin-bottom: 24px;

		}

	}

	&__title {

		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		color: var(--gray);
		margin-bottom: 16px;
		max-width: 392px;

		@media $smWidth {

			font-weight: 600;
			font-size: 14px;

		}

	}

	&__photo {

		position: relative;
		border: 1px solid #f3f4f6;

		img {

			object-fit: contain;

		}

		@media $mdWidth {

			width: 100%;

			img {

				max-width: 100%;
				height: auto;

			}

		}

		@media $smWidth {

			width: 200px;
			margin: auto;

		}

	}

	&__right {

		padding: 16px 16px 40px;
		width: 396px;
		box-shadow: var(--box-shadow);

		@media $mdWidth {

			width: 360px;

		}

		@media $smWidth {

			width: auto;
			padding: 0;
			box-shadow: none;

		}

	}

	&__availability {

		margin-bottom: 24px;

	}

	&__price {

		margin-bottom: 24px;

	}

	&__label {

		color: var(--gray);
		margin-bottom: 24px;

		b {

			display: block;
			font-weight: 600;

		}

		&-count {

			display: block;
			margin-top: 4px;
			font-size: 12px;
			line-height: 1.2;

		}

	}

	&__list {

		max-height: 336px;
		padding-right: 8px;

		@media $smWidth {

			max-height: 298px;

		}

	}

	&__item {

		&.is-checked &-btn::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			content: '';
			background-color: #f5f3ff;
			border: 1px solid var(--purple);

		}

		&:first-child &-btn::before {

			display: none;

		}

		&-btn {

			display: flex;
			justify-content: center;
			align-items: center;
			padding: 8px;
			cursor: pointer;
			width: 100%;
			z-index: 1;
			position: relative;
			user-select: none;

			&::before {

				position: absolute;
				height: 1px;
				top: 0;
				left: 0;
				right: 0;
				content: '';
				z-index: -1;
				background-color: #e5e7eb;

			}

		}

		&-img {

			flex-shrink: 0;
			margin-right: 8px;

			img {

				border-radius: 50%;

			}

		}

		&-label {

			font-size: 13px;
			color: var(--gray);

		}

	}

	&__submit {

		margin-top: 24px;

		.btn {

			width: 100%;

		}

	}

	.overlay-disabled {

		&__btn {

			@media $smWidth {

				padding: 0 16px;
				line-height: 30px;
				height: 30px;
				font-size: 11px;

			}

		}

	}

}

#modal-form-best-price-product,
#modal-form-find-notify-product,
#modal-form-find-analogue-product {

	margin: 24px 0;

}

.fileupload {

	display: flex;

	&__btn {

		padding: 4px 16px;
		display: flex;
		gap: 8px;
		position: relative;

	}

	&__name {

		color: #1f2937;

	}

	.btn {

		color: var(--purple);

	}

}

.modal-login {

	padding: 24px;
	color: var(--gray);
	width: 400px;

	&__title {

		font-weight: 600;
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 8px;
		text-align: center;

		& ~ & {

			margin-top: 56px;

		}

		&--uppercase {

			text-transform: uppercase;
			font-weight: 400;
			font-size: 28px;

			@media $smWidth {

				font-size: 24px;

			}

		}

	}

	&__intro {

		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 16px;
		text-align: center;

		[role="button"] {

			color: var(--purple);
			cursor: pointer;
			user-select: none;

			&:hover {

				text-decoration: none;

			}

		}

	}

	&__text {

		margin-bottom: 32px;
		text-align: center;

		.btn--link {

			display: inline;
			color: var(--purple);

		}

		code {

			display: inline;
			padding: 4px 10px;
			border: 2px solid var(--green);
			border-radius: 3px;

		}

		&-error {

			margin-bottom: 24px;
			color: var(--red);

		}

	}

	&__inputbox {

		margin: 10px auto;
		max-width: 240px;

		&--code {

			.input {

				text-align: center;
				padding: 0;

			}

		}

	}

	&__btn {

		display: flex;
		margin-top: 24px;
		justify-content: center;

		.btn {

			min-width: 240px;

		}

	}

	&__after {

		display: flex;
		text-align: center;
		color: var(--text);
		margin-top: 24px;
		justify-content: center;

	}

	&__rule {

		margin: 20px 0;

	}

}

.modal-club {

	width: 600px;

	&__btn-code {

		display: flex;
		align-items: flex-end;

		.btn {

			width: 100%;

		}

	}

}

.modal-cdek {

	width: 840px;
	padding: 24px;

	&__head {

		text-align: center;

	}

	&__box {

		margin: 24px 0;

	}

	&__foot {

		display: flex;
		margin-top: 48px;
		justify-content: center;

		@media $smWidth {

			margin: 24px -12px 0;

			.btn {

				padding: 0;
				flex-grow: 1;

			}

		}

		.btn {

			padding: 0 40px;
			margin: 0 12px;

		}

	}

}

.map-points-issue {

	display: flex;

	@media $smWidth {

		flex-direction: column-reverse;

	}

	&__map {

		width: 480px;
		height: 480px;
		flex-shrink: 0;
		position: relative;
		background-color: #ededed;

		.page-shipping & {

			@media $desktop {

				width: 600px;
				height: 600px;

			}

		}

		@media $mdWidth {

			width: 400px;

		}

		@media $smWidth {

			width: 100%;
			height: 256px;

		}

	}

	&__list {

		margin-left: 24px;
		height: 480px;
		display: flex;
		flex-direction: column;

		.page-shipping & {

			@media $desktop {

				height: 600px;

			}

		}

		@media $smWidth {

			width: 100%;
			height: auto;
			margin: 24px 0;

		}

	}

	&__filter {

		margin-bottom: 24px;

		.inputbox {

			margin: 0;

			.input {

				padding-right: 48px;

				&::placeholder {

					color: var(--gray);

				}

			}

			&__label {

				font-size: 18px;
				color: #595959;
				padding-left: 0;

			}

			svg {

				pointer-events: none;
				position: absolute;
				right: 16px;
				bottom: 8px;

			}

		}

	}

	&__scroll {

		.cdek-radio {

			margin-bottom: 16px;

		}

		.is-checked {
			border: solid 1px;
			border-color: #4c1d95;
			padding: 5px;
		}

		@media $smWidth {

			max-height: 128px;

		}

	}

}

.modal-calendar {

	padding: 24px;

	&__title {

		font-weight: 600;
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 8px;
		text-align: center;

	}

	&__text {

		margin-bottom: 32px;
		text-align: center;
		font-size: 16px;

	}

	&__time {

		display: flex;
		flex-wrap: wrap;
		gap: 0 8px;
		max-width: 348px;
		margin: 24px auto;

		.checkbox__label {

			&::before,
			&::after {

				border-radius: 0 !important;

			}

		}

	}

	&__foot {

		display: flex;
		margin-top: 48px;
		justify-content: center;

		@media $smWidth {

			margin: 24px -12px 0;

			.btn {

				padding: 0;
				flex-grow: 1;

			}

		}

		.btn {

			padding: 0 40px;
			margin: 0 12px;

		}

	}

}

.drag-and-drop {

	text-align: center;

	&__btn {

		margin: 16px 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 16px 24px;
		gap: 4px;
		border: 1px dashed #e4e7ec;
		border-radius: 8px;

		label&:hover {

			cursor: pointer;
			border-style: solid;

		}

	}

	&__label {

		font-size: 14px;
		line-height: 20px;
		color: #667085;

		span {

			color: var(--purple);

		}

	}

	&__reset {

		color: var(--purple);
		height: 20px;

	}

	&__ico {

		width: 40px;
		height: 40px;
		background-color: #f2f4f7;
		border: 6px solid #f9fafb;
		border-radius: 50%;
		display: flex;
		align-items: center;
		margin-bottom: 8px;
		justify-content: center;

		svg {

			fill: none;
			stroke: #475467;

		}

	}

}

.modal-club {

	&__files {

		margin-bottom: 72px;

		@media $smWidth {

			margin-bottom: 32px;

			& + .modal__row .modal__column {

				margin-top: 24px;

			}

		}

	}

	&__checkbox {

		.inputbox__label {

			padding-left: 0;

		}

		@media $smWidth {

			.modal__column {

				margin-top: 0;

			}

		}

	}

	img {


	}

	&__done {

		width: 240px;
		margin: auto;

		img {

			margin: 24px auto;

		}

		.btn {

			width: 100%;

		}

	}

}

#modal-product-select {

	width: 768px;

	.modal-product-select {

		display: flex;
		gap: var(--gap);

		@media $smWidth {

			display: block;

		}

		&__img {

			width: 340px;
			flex-shrink: 0;

			img {

				width: 100%;
				height: auto;

			}

			@media $smWidth {

				width: auto;
				height: calc(100vw - 48px);
				display: flex;
				justify-content: center;

			}

		}

		&__body {

			display: flex;
			flex-direction: column;

			@media $smWidth {

				height: calc(100vh - 100vw + 48px - 48px);
				padding-top: var(--gap);

			}

		}

		&__price {

			margin-bottom: 24px;

			.price {

				position: relative;
				padding-top: 32px;

				&__old {

					position: absolute;
					top: 0;
					left: 0;

				}

				&__value {

					font-size: 32px;
					line-height: 1.2;

				}

			}

		}

		&__list {

			max-height: 30vh;
			flex-grow: 1;

			@media $smWidth {

				max-height: 100vh;

			}

		}

		&__btn {

			padding: 12px 0;
			width: 100%;
			display: flex;
			gap: 10px;
			align-items: center;
			white-space: normal;
			text-align: left;

			@media $smWidth {

				border-top: 1px solid #f3f4f6;

			}

			@media $desktop {

				&:hover {

					background-color: #f3f4f6;

				}

			}

			&.is-current {

				color: var(--violet);

			}

			img {

				flex-shrink: 0;

			}

		}

		&__buy {

			margin-top: var(--gap);

			.btn {

				width: 100%;

			}

		}

	}

}
