.news {

	@media ($desktop) {

		display: flex;
		position: relative;
		justify-content: space-between;

	}

	&__body {

		@media ($desktop) {

			flex-grow: 1;
			width: 940px;

		}

		.is-full-new & {


		}

		hr {

			height: 2px;
			background-color: #e1e1e1;
			margin: 16px 0;

			@media ($tablet) {

				margin: 32px 0;

			}

		}

	}

	&__logo-brand  {

		float: right;
		margin-left: 20px;
		margin-bottom: 10px;

		img {

			border: 1px solid #e7e7e7;

		}

	}

	&__bar {

		&-sticky {

			position: sticky;
			top: 24px;

		}

		@media ($desktop) {

			flex-shrink: 0;
			width: 256px;
			margin-left: 24px;
			position: relative;

		}

	}

	&-bar {

		padding: 24px 18px;
		background: rgba(196, 196, 196, 0.14);
		margin-bottom: 32px;

		@media ($mobile) {

			margin: 0 -10px 10px;

		}

		@media ($responsive) {

			margin: 0 -16px 16px;

		}

		@media ($tablet) {

			margin: 0 0 24px;

		}

		&__logo {

			margin-bottom: 10px;

		}

		p {
			color: #595959;
			font-size: 13px;
			line-height: 23px;
			font-weight: 500;
			margin-bottom: 20px;

			@media ($desktop) {

				text-align: center;

			}

			b {

				font-weight: 600;

			}

			a {

				color: var(--pink);

			}

		}

		&__list {

			@media ($responsive) {

				display: flex;
				margin: -5px;
				justify-content: center;

			}

		}

		&__link-img {

			@media ($responsive) {

				margin: 5px;
				max-width: 215px;
				width: calc(100% / 3 - 10px);

				img {

					width: 100%;
					height: auto;

				}

			}

			@media ($desktop) {

				display: block;
				margin-top: 20px;

			}

		}

	}

	&-item {

		position: relative;
		margin-top: 20px;

		@media ($desktop) {

			margin-top: 40px;

		}

		&--article {

			@media ($desktop) {

				margin-top: 20px;

			}

		}

		&--first {

			@media ($desktop) {

				margin-top: 0;

				.news-item__img img {

					width: 396px;
					height: 264px;

				}

			}

			.billboard {

				margin-bottom: 24px;

				&__item {

					padding: 0 !important;

				}

			}

		}

		&__flex {

			@media ($tablet) {

				display: flex;
				align-items: flex-start;

			}

		}

		&__img {

			margin-right: 20px;
			flex-shrink: 0;
			width: 100%;
			position: relative;

			img {

				width: 100%;
				object-fit: cover;

			}

			@media ($desktop) {

				width: 396px;

			}

			@media ($tablet) {

				width: 294px;

			}

		}

		&__label {

			position: absolute;
			top: 0;
			left: 0;

			&-item {

				color: #fff;
				border-radius: 0 2px 2px 0;
				padding: 0 6px;
				text-align: center;
				line-height: 25px;
				font-size: 13px;
				font-weight: 600;
				margin-bottom: 4px;
				display: block;
				background-color: var(--pink);

			}

		}

		&__head {

			display: flex;
			color: #999;
			font-size: 13px;
			line-height: 13px;
			font-weight: 500;
			align-items: baseline;

			.news-item__label {

				position: relative;
				display: flex;

				&-item {

					margin-left: 8px;

				}

			}

		}

		&__header &__head {

			font-size: 14px;

		}

		&__header &__title {

			@media ($desktop) {

				font-size: 24px;

			}

		}

		&__cat {

			a& {

				color: var(--pink);
				font-weight: 600;
				text-decoration: none;

			}

		}

		&__cat + &__date {

			margin-left: 8px;
			padding-left: 8px;
			border-left: 2px solid;

		}

		&__title {

			font-weight: 600;
			color: #303030;
			font-size: 19px;
			margin: 18px 0 10px;
			text-decoration: none;

			a {

				color: var(--pink);

			}

			&.is-first-letter:first-letter {

				color: var(--pink);

			}

		}

		&__text {

			font-weight: 500;
			color: #595959;
			font-size: 14px;
			line-height: 21px;

			p {

				margin: 24px 0;

				&:first-child {

					margin-top: 0;

				}

				a {

					text-decoration: none;

				}

			}

			a:not([class]) {

				color: var(--pink);

			}

			.img-pull-right {

				float: right;
				max-width: 40%;
				margin: 0 0 10px 16px;

			}

			h2 {

				font-weight: 600;
				font-size: 16px;
				line-height: 25px;

				u {

					text-decoration-color: var(--pink);

				}

			}

		}

		&__read {

			font-weight: 600;
			color: #595959;

		}

		&__img-center {

			display: flex;
			justify-content: center;

			img {

				max-width: 100%;

			}

		}

	}

	&-column &-item__img {

		@media ($desktop) {

			width: 294px;

		}

	}

	&-column {

		@media ($desktop) {

			display: flex;
			flex-wrap: wrap;
			margin: 20px -14px;

		}

		&__item {

			@media ($desktop) {

				width: 294px;
				margin: 14px;

				.news-item {

					margin: 0;

					&__flex {

						display: block;

					}

				}

			}

		}

	}

}