.order {

	&__box {

		display: flex;
		margin: 64px 0 80px;

		@media $mdWidth {

			margin: 48px 0;

		}

		@media $smWidth {

			display: block;
			margin-bottom: 24px;

		}

	}

	&__body {

		flex-grow: 1;

		@media $smWidth {

			margin: 24px 0;

		}

	}

	&__foot {

		width: 392px;
		flex-shrink: 0;
		margin-left: 48px;

		@media $mdWidth {

			width: 320px;
			margin-left: 16px;

		}

		@media $smWidth {

			width: auto;
			margin: 24px 0;

		}

	}

	&__tabs {

		display: flex;
		justify-content: space-between;

		@media $desktop {

			margin-bottom: 64px;

		}

		@media $smWidth {

			justify-content: center;

		}

		&-head {

			border: 0;
			cursor: text !important;
			color: var(--gray);

			@media $mdWidth {

				display: none;

			}

		}

	}

	&__step {

		.inputbox {

			@media $desktop {

				margin: 0;

			}

		}

		.select__value {

			padding-left: 16px;

		}

		.inputbox__note {

			position: static;

		}

	}

	&__column {

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 24px 40px;
		margin: 24px 0;

		@media $mdWidth {

			display: block;

		}

		.order-1 {

			order: 1;

		}

		.order-2 {

			order: 2;

		}

		.order-3 {

			order: 3;

		}

		.order-4 {

			order: 4;

		}

		.order-5 {

			order: 5;

		}

		.order-6 {

			order: 6;

		}

		.order-7 {

			order: 7;

		}

	}

	&__steps {

		display: flex;
		justify-content: space-between;
		counter-reset: headings 0;

		@media $mdWidth {

			display: none;

		}

		&-item {

			width: 360px;
			font-weight: 600;
			counter-increment: headings 1;

		}

		a {

			display: flex;
			align-items: center;

			&::before  {

				content: counter(headings, decimal);
				width: 40px;
				height: 40px;
				margin-right: 16px;
				border-radius: 50%;
				flex-shrink: 0;
				font-weight: 600;
				font-size: 24px;
				line-height: 40px;
				text-align: center;
				color: #9ca3af;
				outline: 1px solid #9ca3af;

			}

			&.is-active::before {

				color: #fff;
				outline: none;
				background-color: var(--purple);

			}

		}

	}

	&__head {

		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 14px;

		.ico-box {

			margin-right: 16px;

			&.is-current {

				background-color: var(--purple);
				color: #fff;

			}

		}

	}

	&__row-inputbox {

		display: flex;
		gap: 40px;

		.inputbox {

			margin: 0;

		}

		@media $smWidth {

			gap: 32px;

		}

	}

	&__rules {

		margin: 36px 0;
		display: flex;
		gap: 8px;
		flex-direction: column;
		align-items: flex-start;

	}

	&__next {

		margin-top: 60px;
		display: flex;
		gap: 24px;
		justify-content: flex-end;

		@media $mdWidth {

			margin-top: 32px;

		}

		@media $xsWidth {

			gap: 16px;

		}

		.btn {

			@media $mdWidth {

				flex-grow: 1;

			}

			@media $xsWidth {

				padding: 0;

			}

			@media $desktop {

				min-width: 240px;
				padding: 0 40px;

			}

		}

	}

	.input.autosize {

		height: 40px;

	}

	&__file {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 64px;

		.fileupload__btn {

			padding: 0;

		}

		&-head {

			width: 100%;
			font-size: 18px;
			line-height: 1.2;
			font-weight: 600;

		}

		&-text {

			margin: 8px 0;
			font-size: 12px;
			max-width: 444px;

		}

	}

}