.order {

	&__box {

		display: flex;
		margin: 64px 0 80px;

		@media $mdWidth {

			margin: 48px 0;

		}

		@media $smWidth {

			display: block;
			margin-bottom: 24px;

		}

	}

	&__body {

		flex-grow: 1;

		@media $smWidth {

			margin: 24px 0;

		}

	}

	&__foot {

		width: 392px;
		flex-shrink: 0;
		margin-left: 48px;

		@media $mdWidth {

			width: 320px;
			margin-left: 16px;

		}

		@media $smWidth {

			width: auto;
			margin: 24px 0;

		}

	}

	&__tabs {

		display: flex;
		justify-content: space-between;
		margin: 48px 0 64px;

		.btn.is-active {

			border-bottom-color: transparent;

		}

	}

	&__column {

		display: flex;
		justify-content: space-between;

	}

	&__fieldset {

		width: 360px;

		.inputbox + .inputbox {

			margin-top: 60px;

		}

	}

	&__head {

		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 14px;

		.ico-box {

			margin-right: 16px;

			&.is-current {

				background-color: var(--purple);
				color: #fff;

			}

		}

	}

	&__rules {

		margin: 24px 0;
		display: flex;
		gap: 8px;
		flex-direction: column;
		align-items: flex-start;

	}

	&__next {

		margin-top: 60px;
		display: flex;
		justify-content: flex-end;

		.btn {

			min-width: 240px;
			padding: 0 40px;
			margin-left: 24px;

		}

	}

}