.page {

	&-head {

		@media ($desktop) {

			margin: 32px 0 24px;

		}

		&__title {

			font-size: 16px;
			margin: 10px 0;

			@media ($desktop) {

				font-size: 26px;
				color: var(--text);

			}

			&.is-first-letter:first-letter {

				color: var(--pink);

			}

			&[data-counter]::after {

				content: attr(data-counter);
				color: #818181;
				font-size: 14px;
				font-weight: 400;
				margin-left: 10px;

			}

		}

		&__text {

			font-size: 14px;
			line-height: 23px;
			color: #595959;
			margin: 10px 0;

		}

		&__tags {

			display: flex;
			flex-wrap: wrap;
			margin: -5px;

			&-item {

				margin: 5px;

				&.is-active {

					a {

						background-color: var(--blue);
						color: #fff;

					}

				}

			}

			a {

				font-size: 13px;
				color: var(--text);
				font-weight: 500;
				display: block;
				padding: 0 10px;
				line-height: 26px;
				border-radius: 20px;
				text-decoration: none;
				border: 2px solid var(--blue);

			}

		}

	}

	&-pagin {

		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px 0;

		&__next,
		&__prev {

			text-decoration: none;
			font-weight: 500;
			font-size: 12px;
			display: flex;
			align-items: center;

			svg {

				fill: none;
				stroke: var(--blue);

			}

		}

		&__next {

			svg {

				margin-left: 10px;

			}

		}

		&__prev {

			svg {

				margin-right: 10px;

			}

		}

	}

	&-achtung {

		position: relative;
		padding: 7px 0 0 40px;
		font-size: 14px;
		min-height: 32px;
		line-height: 18px;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.75 15.29a12 12 0 11-24 0 12 12 0 0124 0zm-10.5 6a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm-1.5-13.5c-.82 0-1.5.67-1.5 1.5v6a1.5 1.5 0 103 0v-6c0-.83-.67-1.5-1.5-1.5z' fill='%23ED4993'/%3E%3C/svg%3E");

	}

	&-counter-increment {

		counter-reset: headings 0;

		&__item {

			counter-increment: headings 1;
			margin: 16px 0;
			overflow: hidden;

			@media ($tablet) {

				margin: 32px 0;

			}

			&.is-flex {

				@media ($tablet) {

					display: flex;

				}

			}

		}

		&__img {

			flex-shrink: 0;
			position: relative;
			max-width: 40%;
			float: left;
			margin-right: 10px;
			margin-bottom: 5px;

			@media ($tablet) {

				margin-right: 20px;
				margin-bottom: 0;

			}

			img {

				border: 1px solid var(--border);
				max-width: 100%;
				height: auto;

			}

			&.is-counter::after {

				position: absolute;
				top: 0;
				left: 0;
				font-size: 16px;
				line-height: 23px;
				min-width: 40px;
				text-align: center;
				border-radius: 0 0 2px 0;
				border: 1px solid var(--border);
				content: counter(headings, decimal);
				background-color: #fff;

			}

		}

		&__text {

			position: relative;

			&.is-counter::before {

				content: counter(headings, decimal) '.';
				float: left;
				margin-right: 4px;

			}

		}

	}

}