.page-shipping {

	&__item {

		scroll-margin: var(--scrollMargin);
		margin: 64px 0;

		h2 {

			margin: 24px 0;

		}

		& > p {

			margin: 1em 0;
			font-size: 14px;

		}

	}

}

.page-shipping-place {

	display: flex;
	padding: 24px;
	gap: 24px;
	border: 1px solid #d1d5db;

	@media $smWidth {

		display: block;

	}

	&__label {

		color: var(--gray);
		max-width: 333px;

	}

	&__fieldset {

		width: 507px;
		position: relative;

		@media $mdWidth {

			width: 340px;

		}

		@media $smWidth {

			width: 100%;
			margin-top: 24px;

		}

		.input {

			height: 40px;
			padding-right: 48px;

			&::placeholder {

				font-size: 14px;

			}

		}

		.button {

			position: absolute;
			top: 8px;
			right: 16px;
			color: var(--gray);

		}

	}


}

.page-shipping-type {

	margin: 24px 0 64px;
	display: grid;
	gap: 24px;
	margin: 24px 0;
	grid-template-columns: 1fr 1fr 1fr;

	@media $mdWidth {

		grid-template-columns: 1fr 1fr;

	}

	@media $smWidth {

		display: block;

	}

	&__item {

		padding: 24px;
		font-weight: 600;
		font-size: 18px;
		line-height: 1.2;
		text-align: center;
		color: var(--gray);
		border: 1px solid var(--violet);

		@media $smWidth {

			margin: 24px 0;

		}

	}

	&__img {

		height: 64px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 16px;

	}

	.ico-box {

		width: 56px;
		height: 56px;
		color: var(--violet);
		box-shadow: 0 0 0 1px var(--violet);

	}

}

.page-shipping-table {

	margin: 24px 0;

	@media $smWidth {

		display: flex;

		margin: 12px calc( var(--indent) * -1);
		padding: 12px var(--indent);
		overflow-x: auto;

		background:
			linear-gradient(to right, white, white),
			linear-gradient(to right, white, white),
			radial-gradient(farthest-side at 0 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
			radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,0.2), rgba(0,0,0,0)) 0 100%;

		background-position: 0 0, 100%, 0 0, 100%;
		background-repeat: no-repeat;
		background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
		background-attachment: local, local, scroll, scroll;

		thead {

			position: sticky;
			top: 0;

		}

	}

	table {

		width: 100%;

	}

	th {

		color: var(--text);
		padding: 12px 8px;
		font-size: 16px;
		font-weight: 400;
		text-align: left;
		/* background-color: #fcfcfd; */
		box-shadow: inset 0 0 0 100vw rgba(204,204,221,.05);
		min-width: 128px;
		border-bottom: 1px solid var(--pink);
		white-space: nowrap;

	}

	td {

		padding: 16px 8px;
		vertical-align: top;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;

		small {

			display: block;
			font-weight: 400;
			font-size: 13px;
			color: var(--text);

		}

	}

}

.page-shipping-warning {

	margin: 24px 0 !important;
	padding-left: 24px;
	border-left: 2px solid var(--pink);

}

.page-shipping-current-city {

	margin: 24px 0;
	font-size: 18px;

	li {

		margin: 8px 16px;
		list-style: disc;
		list-style-position: inside;

	}

	a {

		color: var(--purple);
		text-decoration: underline;
		text-decoration-style: dashed;

	}

}