.page-faq {

	.page-bar__h2 {

		text-align: left;
		margin: 64px 0 24px;

		&:first-child {

			margin-top: 24px;

		}

		@media $smWidth {

			font-size: 18px;

		}

	}

}

.page-about {

	& > .page-bar__h2 {

		text-align: left;
		font-size: 28px;

	}

	.video-clip {

		margin: 32px 0;

	}

	&__dl {

		display: grid;
		gap: 32px 24px;
		grid-template-columns: 1fr 1fr 1fr;
		font-size: 12px;

		@media $smWidth {

			display: block;

			dt {

				margin-top: 24px;

			}

		}

		dt {

			font-weight: 600;
			font-size: 18px;
			line-height: 1.2;
			margin-bottom: 8px;

		}

		a {

			text-decoration: underline;
			color: var(--purple);

			&:hover {

				text-decoration: none;

			}

		}

	}

	&__review {

		margin: 128px 0;

		@media $desktop {

			.preview-swiper {

				margin: 0;

			}

			.preview-swiper__wrap {

				padding: 0 var(--indent);

			}

			.swiper-container {

				width: 912px !important;
				max-width: 100%;

				&:not(.swiper-initialized) {

					overflow: hidden;

				}

			}

			.preview-swiper__item {

				width: calc( ( 100% - ( var(--gap) * 2 ) ) / 3) !important;

			}

		}

	}

	&__certificates {

		.certificates {

			margin: 8px 0;

		}

	}

}

.video-clip {

	display: block;
	position: relative;

	&__link {

		display: block;
		position: relative;

		img {

			width: 100%;
			height: auto;
			transition: var(--transitionDefault);

		}

		&::after {

			position: absolute;
			width: 56px;
			height: 56px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			content: '';
			border-radius: 50%;
			box-shadow: var(--box-shadow);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56'%3E%3Cpath fill='%23EA0B98' d='M44 28 20 41.86V14.14L44 28Z'/%3E%3C/svg%3E");
			background-color: #fff;
			transition: var(--transitionDefault);

		}

	}

	iframe {

		border: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;

	}

	&.is-iframe img,
	&.is-iframe::after {

		opacity: 0;
		pointer-events: none;

	}

}