.page-sale {

	.billboard {

		margin: 40px 0 32px;

		img {

			max-width: 100%;
			height: auto;

		}

	}

	&__list {

		display: grid;
		gap: 48px;
		margin-bottom: 120px;
		grid-template-columns: 1fr 1fr;

		@media $mdWidth {

			gap: 24px;

		}

		@media $smWidth {

			display: block;
			margin-bottom: 80px;

		}

	}

	.sale-card {

		@media $smWidth {

			margin: 24px 0;

		}

	}

}

.sale-card {

	position: relative;
	padding: 24px 42px;
	display: flex;
	min-height: 360px;
	color: var(--gray);

	@media $mdWidth {

		padding: 36px 24px;

	}

	@media $xsWidth {

		padding: 24px;

	}

	&__head {

		font-weight: 300;
		font-size: 16px;
		text-transform: uppercase;
		margin-top: 24px;
		flex-shrink: 0;

	}

	&__link {

		display: block;
		font-weight: 600;
		font-size: 36px;

		@media $smWidth {

			font-size: 22px;

		}

		@media $xsWidth {

			font-size: 20px;

		}

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';

		}

	}

	&__text {

		font-size: 18px;
		flex-grow: 1;
		max-width: 320px;

		@media $xsWidth {

			font-size: 16px;

		}

	}

	&__inner {

		display: flex;
		flex-direction: column;

	}

	&__foot {

		display: flex;
		margin: 16px 0 8px;
		flex-shrink: 0;

		.btn {

			@media $desktop {

				padding: 0 40px;

			}

			@media $smWidth {

				width: 100%;
				padding: 0;

			}

		}

	}

	img {

		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		object-position: right bottom;
		object-fit: cover;

	}

}

.page-sale-sort {

	margin: 32px 0 24px;
	display: flex;

	@media $smWidth {

		margin: 16px calc( var(--indent) * -1 );
		padding-left: var(--indent);
		padding-bottom: 10px;
		overflow-x: auto;

	}

	&__btn {

		margin-right: 24px;

		@media $smWidth {

			margin-right: var(--indent);

		}

	}

	&__label {

		@media $desktop {

			padding: 0 40px;

		}

	}

	&__input:not(:checked) + &__label {

		--purple: #6b7280;

	}



}

.sale-toptext {
	margin-bottom: 10px;
}

.sale-toptext a {
	color: rgb(76 29 149);
}

.sale-toptext a:hover {
	text-decoration: underline;
}