.pagin {

	display: flex;
	gap: 16px;

	@media $mdWidth {

		justify-content: center;

	}

	@media $xsWidth {

		gap: 8px;

	}

	&__item {

		font-weight: 500;
		font-size: 16px;
		color: var(--text);
		border-bottom: 1px solid;
		min-width: 40px;
		height: 40px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	&__item--current {

		pointer-events: none;
		border: 1px solid;
		color: var(--purple);

	}

	&__link {

		display: block;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';

		}

		&:hover {

			color: var(--gray);

		}

	}

}