.pagin {

	display: flex;
	justify-content: flex-end;
	margin: 20px 0;

	&__list {

		display: flex;

	}

	&__item {

		flex-shrink: 0;

		&--current {

			a {

				color: #818181;

			}

		}

		&--sep {

			padding: 0 2px;

		}

	}

	a {

		color: #bebebe;
		font-size: 14px;
		line-height: 22px;
		padding: 0 4px;
		display: block;
		height: 22px;
		text-decoration: none;

		@media ($desktop) {

			&:hover {

				color: #999;

				svg {

					stroke: #999;

				}

			}

		}

		svg {

			fill: none;
			margin: 4px;
			stroke: #dbdbdb;

		}

	}

}