.preview-swiper {

	margin: 135px 0 190px;

	@media $mdWidth {

		margin: 72px 0;

		.swiper-navigation {

			display: none;

		}

		.swiper-pagination {



		}

	}

	&--video &__title {

		margin-bottom: 8px;

	}

	&__title {

		text-align: center;
		margin-bottom: 16px;

		& + .tabs {

			margin-top: 19px;

		}

	}

	&__intro {

		text-align: center;
		font-size: 18px;
		margin-top: 8px;

	}

	&__box {

		margin: 0 calc( var(--indent) * -1 );

		@media $desktop {

			&.is-pagination-hide .swiper-pagination {

				display: none;

			}

		}

	}

	&__wrap {

		position: relative;
		padding: 0 calc( var(--indent) - 12px );

		.swiper-navigation {

			top: var(--gap);
			bottom: 158px;

		}

	}

	&__swiper {

		padding: var(--gap) 12px 158px !important; /* preview-card for box-shadow, and hover */
		margin-bottom: -158px !important;

	}

	&__list {

		display: flex;

		&:hover {

			z-index: 1;
			position: relative;

		}

		&--news {

			justify-content: space-between;
			margin: 24px 0;

			@media $tablet {

				.preview-swiper__item:nth-child(n+4) {

					display: none;

				}

			}

		}

	}

	&__item {

		flex-shrink: 0;
		display: flex;
		width: calc( ( 100% - ( var(--gap) * 3 ) ) / 4) !important;

		&--billboard {

			width: calc( ( 100% - ( var(--gap) * 3 ) ) / 4 * 2 + var(--gap) ) !important;

		}

		&--video {

			width: calc( ( 100% - ( var(--gap) * 4 ) ) / 5) !important;

		}

		@media $tablet {

			width: calc( ( 100% - ( var(--gap) * 2 ) ) / 3) !important;

			&--billboard {

				width: calc( ( 100% - ( var(--gap) * 2 ) ) / 3 * 2 + var(--gap) ) !important;

			}

			&--video {

				width: calc( ( 100% - ( var(--gap) * 2 ) ) / 3) !important;

			}

		}

	}

	&__box:not(.swiper-container-style) &__item {

		margin-right: var(--gap);

		&:last-child {

			margin-right: 0;

		}

	}

	@media $desktop {

		&__box:not(.swiper-container-style) &__item:not(&__item--video):nth-child(n+5),
		&__box:not(.swiper-container-style) &__item--video + &__item:nth-child(n+6),
		&__box:not(.swiper-container-style) &__item--billboard + &__item:nth-child(n+1) {

			display: none;

		}

	}

	@media $tablet {

		&__box:not(.swiper-container-style) &__item:not(&__item--video):nth-child(n+4),
		&__box:not(.swiper-container-style) &__item--video + &__item:nth-child(n+4),
		&__box:not(.swiper-container-style) &__item--billboard + &__item:nth-child(n+1) {

			display: none;

		}

	}

	@media $smWidth {

		&__box:not(.swiper-container-style) &__item:nth-child(n+3) {

			/* display: none; */

		}

	}

	&__all {

		display: flex;
		justify-content: center;
		margin-top: var(--gap);

		.btn {

			min-width: 240px;

		}

	}

/* billboard-1 | revlon */

	&__billboard-1 {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 36px 22px;
		font-weight: 300;
		font-size: 16px;
		text-transform: uppercase;
		color: var(--gray);

		@media $mdWidth {

			font-size: 14px;
			font-weight: 400;

		}

		a {

			display: block;

			&::after {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';

			}

		}

		b {

			display: block;
			font-weight: 600;
			font-size: 36px;

			@media $mdWidth {

				font-size: 20px;
				line-height: 1.2;

			}

		}

		img {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			object-fit: cover;

		}

	}

/* billboard-2 | revlon */

	&__billboard-2 {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 89px 42px;

		a {

			display: block;
			font-weight: 300;
			font-size: 16px;
			text-transform: uppercase;
			color: var(--gray);

			b {

				display: block;
				font-weight: 600;
				font-size: 36px;

			}

			&::after {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';

			}

		}

		p {

			max-width: 320px;
			font-size: 18px;
			height: 113px;

		}

		.btn {

			width: 300px;
			margin-top: 13px;

		}

		img {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			object-fit: cover;

		}

	}

}