.preview-swiper {

	margin: 103px 0 184px;

	@media $desktop {

		.swiper-pagination {

			margin: 48px 0;

		}

		.swiper-navigation {

			top: var(--gap);
			bottom: 158px;

		}

		&--news,
		&--video,
		&--review,
		&--consultations {

			.swiper-navigation {

				bottom: 32px;

			}

			.swiper-pagination {

				display: flex;

			}

		}

		&--news,
		&--review {

			.preview-swiper__all {

				display: none;

			}

		}

	}

	@media $mdWidth {

		margin: 72px 0 96px;

		.swiper-container {

			overflow: visible;

		}

		.swiper-pagination {

			margin: 0;

		}

		.swiper-navigation {

			display: none;

		}

	}

	@media $smWidth {

		.tabs__nav {

			margin-bottom: 24px;

		}

	}

	&--video &__title {

		margin-bottom: 8px;

	}

	&__title {

		margin-bottom: 16px;

		& + .tabs {

			margin-top: 40px;

		}

	}

	&__intro {

		text-align: center;
		font-size: 18px;
		margin-top: 8px;

		@media $smWidth {

			margin-bottom: 24px;

		}

	}

	&__box {

		margin: 0 calc( var(--indent) * -1 );

		@media $mdWidth {

			overflow: hidden;

		}

		@media $smWidth {

			margin-top: -24px;

		}

	}

	&__wrap {

		position: relative;
		padding: 0 calc( var(--indent) - 12px );

		@media $mdWidth {

			padding: 0 calc( var(--indent) / 2 );

		}

	}

	&__swiper {

		@media $desktop {

			padding: var(--gap) 12px 158px !important; /* preview-card for box-shadow, and hover */
			margin-bottom: -158px !important;

		}

		@media $mdWidth {

			padding: 0;

		}

	}

	&__list {

		display: flex;

		&:hover {

			z-index: 1;
			position: relative;

		}

	}

	&__item {

		flex-shrink: 0;
		display: flex;
		width: calc( ( 100% - ( var(--gap) * 3 ) ) / 4) !important;

		&--billboard {

			width: calc( ( 100% - ( var(--gap) * 3 ) ) / 4 * 2 + var(--gap) ) !important;

		}

		&--video {

			width: calc( ( 100% - ( var(--gap) * 4 ) ) / 5) !important;

		}

		&--consultations {

			width: calc( ( 100% - ( var(--gap ) * 2 ) ) / 2) !important;
			padding: 0 !important;

		}

		@media $tablet {

			width: calc( 100% / 3 ) !important;
			padding: 24px 8px;

			&--billboard {

				width: calc( ( 100% - ( var(--gap) * 2 ) ) / 3 * 2 + var(--gap) ) !important;

			}

			&--consultations {

				width: 100% !important;

			}

		}

		@media $smWidth {

			width: 50% !important;
			padding: 24px 8px;

			&--news {

				width: 288px !important;

			}

			&--consultations {

				width: 100% !important;

			}

		}

		@media $xsWidth {

			width: 100% !important;

			&--news {

				width: 288px !important;

			}

		}

	}

	@media $desktop {

		&__box:not(.swiper-container-style) &__item {

			margin-right: var(--gap);

			&--consultations {

				margin-right: calc( var(--gap) * 2 );

			}

			&:last-child {

				margin-right: 0;

			}

		}

		&__box:not(.swiper-container-style) &__item:not(&__item--video):nth-child(n+5),
		&__box:not(.swiper-container-style) &__item--video + &__item:nth-child(n+6),
		&__box:not(.swiper-container-style) &__item--billboard + &__item:nth-child(n+1),
		&__box:not(.swiper-container-style) &__item--consultations + &__item:nth-child(n+3) {

			display: none;

		}

	}

	@media $tablet {

		&__box:not(.swiper-container-style) &__item:not(&__item--video):nth-child(n+4),
		&__box:not(.swiper-container-style) &__item--video + &__item:nth-child(n+4),
		&__box:not(.swiper-container-style) &__item--billboard + &__item:nth-child(n+1),
		&__box:not(.swiper-container-style) &__item--consultations + &__item:nth-child(n+1) {

			display: none;

		}

	}

	@media $smWidth {

		&__box:not(.swiper-container-style) &__item:not(&__item--video):nth-child(n+3),
		&__box:not(.swiper-container-style) &__item--video + &__item:nth-child(n+3),
		&__box:not(.swiper-container-style) &__item--news + &__item:nth-child(n+2),
		&__box:not(.swiper-container-style) &__item--consultations + &__item:nth-child(n+1) {

			display: none;

		}

	}

	&__all {

		display: flex;
		justify-content: center;
		margin-top: var(--gap);

		@media $smWidth {

			margin-top: 8px;

		}

		.btn {

			min-width: 240px;

		}

	}

/* consultations */

	&--consultations {

		@media $mdWidth {

			.swiper-pagination {

				margin: 24px 0;

			}

		}

		.preview-swiper__box {

			margin-top: 40px;

			@media $mdWidth {

				margin-top: 24px;

			}

		}

		.preview-swiper__swiper {

			margin: 0 !important;
			padding: 0 !important;

		}

		.preview-swiper__wrap {

			padding: 0 var(--indent);

		}

		.swiper-navigation {

			top: 0 !important;

		}

	}

/* billboard-1 | revlon */

	&__billboard-1 {

		flex-grow: 1;
		position: relative;
		padding: 36px 22px;
		font-weight: 300;
		font-size: 16px;
		text-transform: uppercase;
		color: var(--gray);

		@media $mdWidth {

			font-size: 14px;
			font-weight: 400;

		}

		a {

			display: block;

			&::after {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';

			}

		}

		b {

			display: block;
			font-weight: 600;
			font-size: 36px;

			@media $mdWidth {

				font-size: 20px;
				line-height: 1.2;

			}

		}

		img {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			object-fit: cover;

		}

	}

/* billboard-2 | revlon */

	&__billboard-mobile &__billboard-2 {

		margin: 24px 0;
		padding: 24px;

		a {

			font-weight: 400;
			font-size: 14px;
			text-transform: none;

			b {

				font-size: 20px;
				line-height: 1.2;
				text-transform: uppercase;

			}

		}

		p {

			font-size: 14px;
			height: 63px;

		}

		.btn {

			width: 256px;
			font-size: 14px;
			margin-top: 13px;

		}

	}

	&__billboard-2 {

		position: relative;
		flex-grow: 1;
		padding: 89px 42px;

		a {

			display: block;
			font-weight: 300;
			font-size: 16px;
			text-transform: uppercase;
			color: var(--gray);

			b {

				display: block;
				font-weight: 600;
				font-size: 36px;

			}

			&::after {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';

			}

		}

		p {

			max-width: 320px;
			font-size: 18px;
			min-height: 113px;

		}

		.btn {

			width: 300px;
			margin-top: 13px;

		}

		img {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			object-fit: cover;

		}

	}


/* billboard-consultations | revlon */

	&__billboard-consultations {

		flex-grow: 1;
		position: relative;
		padding: 36px 22px;

		a {

			display: block;
			font-weight: 300;
			font-size: 16px;
			text-transform: uppercase;
			color: var(--gray);

			@media $mdWidth {

				font-size: 14px;
				font-weight: 400;

			}

			&::after {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';

			}

		}

		b {

			display: block;
			font-size: 18px;
			font-weight: 700;

			@media $mdWidth {

				font-size: 14px;

			}

		}

		img {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			object-fit: cover;

		}

		.btn {

			position: absolute;
			left: 22px;
			bottom: 16px;

		}

	}

}