.preview-news {

	position: relative;
	transition: box-shadow var(--transitionDefault);

	&:hover {

		box-shadow: var(--box-shadow);

	}

	&__img {

		display: block;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 1;

		}

		img {

			object-fit: cover;

		}

	}

	&__category {

		display: flex;
		justify-content: center;

		a {

			padding: 0 24px;
			background-color: #fff;
			box-shadow: var(--box-shadow);
			font-weight: 500;
			font-size: 12px;
			color: var(--purple);
			margin-top: -13px;
			line-height: 26px;
			position: relative;
			z-index: 1;

		}

	}

	&__body {

		padding: 12px 16px;
		position: relative;

	}

	&__date {

		display: flex;
		align-items: center;
		font-size: 12px;
		color: var(--gray);
		margin-bottom: 16px;

		svg {

			fill: var(--purple);
			margin-right: 8px;

		}

	}

	&__title {

		display: block;
		font-weight: 600;
		font-size: 14px;
		line-height: 1.2;
		color: var(--gray);
		margin-bottom: 16px;

	}

	&__text {

		font-size: 13px;
		line-height: 20px;
		color: var(--gray);
		opacity: .75;
		margin-bottom: 4px;

	}

}