.preview-card {

	display: flex;
	flex-direction: column;
	padding: 8px;
	position: relative;
	transition: box-shadow var(--transitionDefault);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
	width: 100%;

	.modal-card-color {

		display: none;

	}

	@media $desktop {

		&:hover {

			box-shadow: var(--box-shadow);

			.preview-card__hover-inner {

				opacity: 1;
				pointer-events: auto;

			}

		}

		&__hover {

			position: relative;

			&-inner {

				position: absolute;
				top: -8px;
				left: -8px;
				right: -8px;
				padding: 24px;
				opacity: 0;
				pointer-events: none;
				transition: opacity var(--transitionDefault);
				background-color: #fff;
				box-shadow: var(--box-shadow);
				z-index: 2;

				&::before {

					position: absolute;
					top: -10px;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';
					pointer-events: none;
					background-color: #fff;

				}

			}

		}

	}

	&__head {

		position: relative;
		margin-bottom: 16px;

	}

	&__img {

		display: flex;
		align-items: center;
		justify-content: center;

		img {

			object-fit: contain;
			width: 100%;

			@media $mdWidth {

				height: 110px;

			}

		}

	}

	&__label {

		position: absolute;
		top: 8px;
		left: 8px;
		display: flex;
		z-index: 1;

		@media $mdWidth {

			top: 0;
			left: 0;

		}

		&-item {

			flex-shrink: 0;
			width: 40px;
			height: 40px;
			position: relative;
			border-radius: 50%;
			margin-right: -21px;
			background-position: center;
			background-repeat: no-repeat;
			text-align: center;
			color: #fff;
			line-height: 40px;
			font-size: 16px;

			@media $mdWidth {

				font-size: 13px;
				width: 32px;
				height: 32px;
				line-height: 32px;
				margin-right: -16px;

			}

			&.is-discount {

				background-color: #c02ba8;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='m21.47 11.58-6.42-6.41a1 1 0 0 0-.61-.29L5.09 4A1 1 0 0 0 4 5.09l.88 9.35a1 1 0 0 0 .29.61l6.41 6.42a1.82 1.82 0 0 0 2.57 0l7.32-7.32c.7-.71.7-1.86 0-2.57Zm-9.9 0a1.5 1.5 0 1 1-.01-2.12c.58.58.58 1.52 0 2.1v.02Z'/%3E%3C/svg%3E");

			}

			&.is-gift {

				background-color: #5284d4;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M18.26 7.09h1.84c.5 0 .9.59.9 1.31v3.93c0 .72-.4 1.31-.9 1.31h-7.28V7.09h-1.64v6.55H3.9c-.5 0-.9-.59-.9-1.31V8.4c0-.72.4-1.31.9-1.31h1.84c-.19-.38-.29-.8-.29-1.23A2.87 2.87 0 0 1 8.32 3 4.21 4.21 0 0 1 12 5.57 4.21 4.21 0 0 1 15.68 3a2.87 2.87 0 0 1 2.87 2.86c0 .43-.1.85-.29 1.23ZM6.99 5.98c.06.67.65 1.17 1.33 1.11h2.58c-.39-1.01-1.18-2.45-2.58-2.45A1.23 1.23 0 0 0 7 5.98Zm8.7 1.11H13.1c.4-1 1.18-2.45 2.58-2.45a1.23 1.23 0 1 1 0 2.45ZM4.63 15.27v4.82c0 .5.42.91.92.91h5.62v-5.73H4.64ZM12.82 21h5.62c.5 0 .91-.4.92-.91v-4.82h-6.54V21Z'/%3E%3C/svg%3E");

			}

			&.is-sale {

				background-color: var(--red);

			}

		}

	}

	&__flag {

		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 1;

		@media $mdWidth {

			top: 0;
			right: 0;

		}

		&-item {

			padding: 0 8px;
			margin-bottom: 8px;
			font-size: 12px;
			line-height: 24px;
			font-weight: 600;
			border: 1px solid;
			border-radius: 2px;
			transition: var(--transitionDefault);
			background-color: rgba(255,255,255,.5);
			color: var(--color);
			text-transform: uppercase;

			&.is-red {

				--color: var(--red);

			}

			&.is-green {

				--color: var(--green);

			}

			&.is-violet {

				--color: var(--violet);

			}

		}

	}

	&:hover &__flag-item {

		color: #fff;
		border-color: var(--color);
		background-color: var(--color);

	}

	&__rating {

		display: flex;
		gap: 16px;
		justify-content: center;
		align-items: center;
		margin-bottom: 16px;

	}

	&__review {

		font-weight: 500;
		font-size: 12px;
		letter-spacing: 0.05em;
		text-decoration: underline;
		color: var(--text);

		@media $desktop {

			&:hover {

				text-decoration: none;

			}

		}

		@media $mdWidth {

			font-size: 10px;

		}

	}

	&__madein {

		font-weight: 600;
		line-height: 16px;
		text-align: center;
		color: var(--text);
		margin-bottom: 8px;

		@media $mdWidth {

			font-size: 12px;
			line-height: 14px;

		}

	}

	&__title {

		display: block;
		font-weight: 600;
		line-height: 1.2;
		text-align: center;
		color: var(--gray);
		margin: 0 8px 24px;

		@media $mdWidth {

			font-size: 12px;
			font-weight: 500;
			margin: 0 0 16px;

		}

		@media $smWidth {

			max-height: 60px;
			overflow: hidden;

		}

	}

	&__price {

		padding-bottom: 16px;
		display: flex;
		justify-content: center;
		margin-top: auto;

		@media $mdWidth {

			padding-bottom: 8px;

		}

		&.is-after-registration {

			display: block;
			text-align: center;

			.btn {

				color: var(--red);
				margin: auto;

			}

		}

	}

	&__form-set {

		display: flex;
		justify-content: space-between;
		align-items: center;

		&-btn-add {

			width: 162px;

			.btn {

				height: 40px;
				width: 100%;
				padding: 0;

			}

			@media $mdWidth {

				width: auto;
				flex-grow: 1;

			}

		}

		.tooltip {

			summary {

				padding: 8px;

				&::after {

					height: 10px;
					width: 80px;
					margin-bottom: 30px;
					margin-left: -40px;
					background-color: #fff;

					@media $smWidth {

						width: 40px;
						margin-left: -20px;

					}

				}

				&::before {

					background-color: transparent;
					width: 0;
					height: 0;
					border: 25px solid #fff;
					border-top-color: transparent;
					border-left-color: transparent;
					margin-bottom: 10px;
					margin-left: -25px;
					border-radius: 0;
					box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

					@media $smWidth {

						margin-left: -10px;
						border-width: 10px;

					}

				}

			}

			&__inner {

				width: 482px;
				background-color: #fff;
				border-radius: 0;
				box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
				line-height: 1.5;
				margin-bottom: 30px;

				@media $smWidth {

					width: 320px;
					margin-bottom: 19px;

				}

				h4 {

					font-size: 14px;
					font-weight: 600;
					margin: 12px 0;

				}

				ul {

					li {

						padding-left: 14px;

						&::before {

							position: absolute;
							width: 2px;
							height: 2px;
							top: 10px;
							left: 4px;
							content: '';
							background-color: var(--gray);
							border-radius: 50%;

						}

					}

				}

			}

		}

	}

	&__param {

		text-align: center;
		font-size: 12px;
		margin: 3px 0;
		position: relative;
		top: -12px;
		color: var(--text);

		dt, dd {

			display: inline;

			@media $smWidth {

				display: block;

			}

		}

		dt {

			font-weight: 600;

		}

	}

	&__volume {

		margin-bottom: 16px;
		user-select: none;
		position: relative;
		z-index: 1;
		white-space: nowrap;

		&-mobile {

			svg {

				fill: var(--text);
				position: absolute;
				top: 0;
				right: 8px;
				bottom: 0;
				margin: auto;
				pointer-events: none;

			}

			select {

				position: absolute;
				width: 100%;
				height: 26px;
				top: 0;
				left: 0;
				border: 0;
				appearance: none;
				opacity: 0;
				padding: 0;

			}

			@media $desktop {

				display: none !important;

			}

		}

		@media $mdWidth {

			display: flex;
			justify-content: center;

		}

		&-wrap {

			display: flex;
			justify-content: center;
			position: relative;

		}

		&-list {

			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			@media $desktop {

				margin: -4px;

			}

			@media $mdWidth {

				pointer-events: none;

			}

		}

		&-item {

			cursor: pointer;
			position: relative;

			@media $desktop {

				margin: 4px;

			}

		}

		&-name {

			font-size: 12px;
			line-height: 28px;
			padding: 0 7px;
			color: var(--text);
			position: relative;
			border: 1px solid;
			display: block;

			@media $mdWidth {

				display: none;

				height: 26px;
				padding: 0 8px;
				line-height: 24px;
				font-weight: 500;

			}

			&:hover {

				color: var(--purple);

			}

		}

		&-input:checked + &-name {

			@media $desktop {

				color: #fff;
				border-color: var(--purple);
				background-color: var(--purple);

			}

			@media $mdWidth {

				display: block;
				padding-right: 32px;

			}

		}

	}

	&__color {

		position: relative;
		margin-bottom: 16px;
		display: flex;
		align-items: center;
		height: 40px;
		width: 100%;
		padding: 8px;
		color: var(--gray);
		border-bottom: 1px solid;
		max-width: 100%;

		&-img {

			margin-right: 8px;
			flex-shrink: 0;

			img {

				border-radius: 50%;

			}

			@media $mdWidth {

				display: none;

			}

		}

		&-name {

			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;

			@media $desktop {

				flex-grow: 1;
				text-align: left;

			}

		}

		&-arrow {

			flex-shrink: 0;

			@media $mdWidth {

				width: 16px;
				height: 16px;

			}

		}

		@media $mdWidth {

			border: 1px solid;
			color: var(--text);
			height: 26px;
			padding: 0 8px;
			width: auto;
			gap: 8px;
			margin: 0 auto 16px;
			font-size: 12px;
			line-height: 24px;
			font-weight: 500;
			justify-content: center;


		}

	}

	&__foot {

		display: flex;
		gap: 16px;
		justify-content: center;

		@media $tablet {

			margin-bottom: 8px;

		}

		@media $smWidth {

			gap: 8px;

			&-buy {

				flex-grow: 1;
				max-width: 180px;

			}

		}

	}

	&__buy {

		padding: 0 40px;

		&.is-double-line {

			line-height: 16px;
			font-size: 15px;
			--border-width: 2px;

		}

		@media $mdWidth {

			padding: 0 20px;

		}

		@media $smWidth {

			padding: 0;
			font-size: 12px;
			width: 100%;

			&.is-double-line {

				font-size: 12px;

			}


		}

	}

	&__modal-select {

		margin-bottom: var(--gap);
		display: flex;
		justify-content: flex-end;

		@media $desktop {

			display: none;

		}

	}

	&__select {

		margin-bottom: var(--gap);
		position: relative;

		@media $desktop {

			&-btn {

				white-space: normal;

				&.is-current {

					display: none;

				}

			}

			&-list {

				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				background-color: #fff;
				z-index: 1;
				border: 1px solid #f3f4f6;
				border-top: 0;
				display: none;

			}

			&-btn.is-open + &-list {

				display: block;

			}

			&-list &-btn {

				border: 0;

				&:hover {

					background-color: #f3f4f6;

				}

			}

			&-btn.is-open &-arrow {

				transform: scaleY(-1);

			}

		}

		@media $mdWidth {

			&-name {

				text-overflow: ellipsis;
				overflow: hidden;

			}

			&-btn {

				flex-shrink: 0;
				width: auto;
				max-width: 100%;

				& + & {

					border-left: 0;

				}

				&--open {

					display: none;

				}

				&.is-current {

					&::after {

						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						content: '';
						z-index: 1;
						pointer-events: none;
						outline: 1px solid var(--border);

					}

				}

			}

			&-list {

				display: flex;
				padding-bottom: 10px;
				overflow-x: auto;
				padding-right: 8px;

			}

			& {

				margin-right: -8px;

				&::after {

					position: absolute;
					width: 24px;
					top: 0;
					right: 0;
					bottom: 10px;
					content: '';
					pointer-events: none;
					background-image: linear-gradient( to right, rgba(255,255,255,0), rgba(255,255,255,1));

				}

			}

		}

		&-btn {

			padding: 6px 10px;
			border: 1px solid #f3f4f6;
			width: 100%;
			display: flex;
			gap: 10px;
			align-items: center;

		}

		&-img {

			flex-shrink: 0;

		}

		&-name {

			flex-grow: 1;
			text-align: left;

		}

		&-arrow {

			flex-shrink: 0;

		}

	}

}

.preview-card-row {

	display: flex;
	padding: 8px 16px;
	border: 1px solid #d1d5db;

	&__img {

		width: 80px;
		flex-shrink: 0;
		margin-right: 8px;

		img {

			max-width: 100%;
			margin: auto;

		}

	}

	&__body {

		flex-grow: 1;

	}

	&__title {

		font-weight: 600;
		font-size: 12px;
		line-height: 1.2;
		display: block;
		margin-bottom: 8px;
		color: var(--gray);

	}

	&__price {

		.price {

			&__old {

				font-size: 14px;

			}

			&__value {

				font-size: 16px;

			}

		}

	}

}