.product {

	&__grid {

		display: grid;
		gap: 0 24px;
		padding: 40px 0 80px;
		align-items: flex-start;

		@media $desktop {

			grid-template-columns: 464px 1fr 290px;
			grid-template-rows: auto auto 1fr;

		}

		@media $mdWidth {

			grid-template-columns: 1fr 290px;

		}

		@media $smWidth {

			display: block;
			padding: 24px 0;

		}

	}

	&__specs {

		@media $desktop {

			grid-row-start: 3;
			grid-row-end: 4;
			grid-column-start: 2;
			grid-column-end: 3;

			tbody + tbody {

				display: none;

			}

		}

		@media $tablet {

			grid-column: span 2;

			tbody + tbody,
			tr:nth-child(n+4) {

				display: none;

			}

		}

		@media $smWidth {

			&:not(.is-open) {

				tbody + tbody,
				tr:nth-child(n+4) {

					display: none;

				}

			}

		}

	}

	&__gallery {

		@media $desktop {

			grid-row-start: 1;
			grid-row-end: 4;
			grid-column-start: 1;
			grid-column-end: 2;

		}

		@media $mdWidth {

			width: 424px;

			img {

				width: 100%;
				height: auto;

			}

		}

		@media $smWidth {

			width: 100%;

		}

	}

	&__bar {

		background-color: #FCFCFD;
		border-radius: var(--radius);
		box-shadow: 0px 5px 15px #00000026;
		padding: 16px;

		@media $desktop {

			grid-row-start: 1;
			grid-row-end: 4;

		}

		@media $mdWidth {

			grid-row-start: 2;
			grid-row-end: 4;
			grid-column-start: 2;
			grid-column-end: 3;

		}

		@media $smWidth {

			margin: 16px 0;

		}

	}

	&__title {

		font-weight: 700;
		font-size: 28px;
		line-height: 1.2;

		@media $desktop {

			grid-column-start: 2;
			grid-column-end: 3;

		}

		@media $mdWidth {

			font-size: 18px;
			font-weight: 600;
			grid-column: span 2;

		}

	}

	&__description {

		color: var(--text);
		font-weight: 500;
		margin-bottom: var(--gap);

		@media $desktop {

			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 2;
			grid-column-end: 3;

		}

		@media $mdWidth {

			grid-row-start: 3;
			grid-row-end: 4;
			margin-top: var(--gap);

		}

	}

	&__table {

		tbody {

			font-size: 14px;
			color: var(--text);

			a {

				text-decoration: underline;
				color: var(--main);

				&:hover {

					text-decoration-color: transparent;

				}

			}

			th {

				font-weight: 600;
				text-align: left;
				padding: 8px 0;
				vertical-align: top;

			}

			td {

				padding: 8px 0 8px 24px;
				vertical-align: top;

				&.is-set {

					width: 50%;
					font-size: 14px;
					color: var(--main);

				}

			}

		}

	}

	&__open-tab {

		margin: 8px 0;
		display: flex;

		@media $desktop {

			.btn:not([data-alt]) {

				width: 100%;
				margin: 8px 0;

			}

		}

		@media $smWidth {

			.product__specs.is-open & .btn {

				overflow: hidden;
				display: block;

				&::before {

					content: attr(data-alt);
					display: block;

				}


			}

		}

	}

	&__tabs {

		@media $tablet {

			.tabs__btn {

				font-size: 16px;
				line-height: 24px;
				white-space: normal;
				height: 64px;
				padding: 0 16px;

			}

		}

		@media $smWidth {

			.tabs__btn {

				white-space: normal;

			}

		}

	}

}

.product-gallery {

	@media $desktop {

		.swiper-container:not(:hover) .swiper-navigation {

			opacity: 0;

		}

	}

	@media $smWidth {

		.swiper-navigation {

			display: none;

		}

	}

	&__wrap {

		position: relative;
		overflow: hidden;

	}

	&__list {

		display: flex;

	}

	&__item {

		width: 100%;
		flex-shrink: 0;

		img {

			object-fit: contain;

		}

	}

	@media $desktop {

		.swiper-container:not(.swiper-initialized) &__item + &__item {

			display: none;

		}

	}

	@media $tablet {


	}

	@media $smWidth {


	}

	&__preview {

		display: flex;
		gap: 16px;
		margin: 16px 0;

		@media $desktop {

			flex-wrap: wrap;

		}

		@media $mdWidth {

			overflow-x: auto;
			padding-bottom: 6px;
			margin-bottom: 10px;

		}

		&-item {

			width: 80px;
			height: 80px;
			position: relative;
			flex-shrink: 0;

			&.is-current::after {

				border-color: var(--main);

			}

		}

	}

	.overlay-disabled {

		@media $mdWidth {

			gap: 16px;
			font-size: 14px;

		}

		&__btn {

			@media $mdWidth {

				font-size: 14px;

			}

		}

	}

}

.product-buy {

	&__price {

		margin-bottom: 24px;

		.price {

			position: relative;
			padding-top: 32px;

			&__value {

				font-size: 36px;
				line-height: 1.2;

			}

		}

		&-infosale {

			display: block;
			margin: 8px 0;
			color: var(--red);

			small {

				display: block;
				font-size: 100%;
				margin-top: 8px;
				color: var(--gray);

				&::before {

					content: '*';
					color: var(--red);

				}

			}

		}

	}

	&__best-price {

		margin-bottom: 10px;

	}

	.board-login {

		margin-bottom: 24px;

	}

	&__availability {

		margin-bottom: 8px;

	}

	&__key-value {

		margin-bottom: 24px;

		dt {

			display: inline;
			font-weight: 500;

		}

		dd {

			display: inline;

		}

	}

	&__volume {

		margin-bottom: 24px;
		user-select: none;
		position: relative;
		z-index: 1;
		white-space: nowrap;

		&-wrap {

			display: flex;
			position: relative;

		}

		&-list {

			display: flex;
			flex-wrap: wrap;
			margin: -4px;

		}

		&-item {

			cursor: pointer;
			position: relative;
			margin: 4px;

		}

		&-name {

			font-size: 14px;
			line-height: 28px;
			padding: 0 7px;
			color: var(--text);
			position: relative;
			border: 1px solid;
			display: block;

		}

		@media $desktop {

			&-item:hover &-name {

				color: var(--main);

			}

		}

		&-input:checked + &-name {

			color: #fff !important;
			border-color: var(--main);
			background-color: var(--main);

		}

	}

	&__label {

		color: var(--gray);
		margin-bottom: 16px;

		b {

			display: block;
			font-weight: 600;

		}

		&-count {

			display: block;
			margin-top: 4px;
			font-size: 14px;
			line-height: 1.2;

		}

	}

	&__color {

		position: relative;
		margin-bottom: 24px;
		display: flex;
		align-items: center;
		height: 55px;
		width: 100%;
		padding: 8px;
		color: var(--gray);
		border-bottom: 1px solid;
		max-width: 100%;

		&-img {

			margin-right: 8px;
			flex-shrink: 0;

			img {

				border-radius: 50%;

			}

		}

		&-name {

			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 13px;
			flex-grow: 1;
			text-align: left;


		}

		&-arrow {

			flex-shrink: 0;

			@media $mdWidth {

				width: 16px;
				height: 16px;

			}

		}

	}

	&__submit {

		margin-bottom: 16px;

		.btn {

			width: 100%;

		}

	}

	&__favourite {

		margin-bottom: 24px;

		.btn {

			width: 100%;
			background-color: transparent;

			svg {

				fill: var(--accent);

			}

		}

	}

	&__modal-select {

		margin-bottom: var(--gap);

	}

	&__select {

		margin-bottom: var(--gap);
		position: relative;

		@media $desktop {

			&-btn {

				white-space: normal;

				&:not(.is-open):hover {

					border-color: var(--accent);

				}

				&.is-current {

					display: none;

				}

			}

			&-list {

				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				background-color: #fff;
				z-index: 1;
				border: 1px solid #f3f4f6;
				min-width: 256px;
				max-height: 30vh;
				border-top: 0;

			}

			&-list &-btn {

				border: 0;

				&:hover {

					background-color: #f3f4f6;

				}

			}

			&-btn:not(.is-open) + &-list {

				display: none;

			}

		}

		@media $mdWidth {

			&-name {

				text-overflow: ellipsis;
				overflow: hidden;

			}

			&-btn {

				& + & {

					border-left: 0;

				}

				&--open {

					display: none;

				}

				&.is-current {

					&::after {

						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						content: '';
						z-index: 1;
						pointer-events: none;
						outline: 1px solid var(--border);

					}

				}

			}

			&-list {

				display: flex;
				padding-bottom: 10px;
				padding-right: 16px;

			}

			& {

				margin-right: -16px;

				&::after {

					position: absolute;
					width: 24px;
					top: 0;
					right: 0;
					bottom: 10px;
					content: '';
					pointer-events: none;
					background-image: linear-gradient( to right, rgba(255,255,255,0), rgba(255,255,255,1));

				}

			}

		}

		&-btn {

			padding: 6px 10px;
			border: 1px solid #f3f4f6;
			width: 100%;
			display: flex;
			gap: 10px;
			align-items: center;

		}

		&-img {

			flex-shrink: 0;

		}

		&-name {

			flex-grow: 1;
			text-align: left;

		}

		&-arrow {

			flex-shrink: 0;

		}

		&-btn.is-open &-arrow {

			transform: scaleY(-1);

		}

	}

}

.product-service {

	margin: 24px 0;

	&__item {

		position: relative;
		min-height: 40px;
		padding-left: 48px;
		padding-right: 16px;

		.ico-box {

			position: absolute;
			top: 0;
			left: 0;
			stroke-width: 2px;
			color: var(--main);

		}

		& + & {

			margin-top: 24px;

		}

	}

	&__name {

		font-weight: 700;
		font-size: 14px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		a {

			text-decoration: underline;
			color: var(--main);

			&:hover {

				text-decoration: none;

			}

		}

	}

	&__text {

		font-size: 14px;
		line-height: 1.2;
		color: var(--gray);
		width: 100%;

		td {

			padding-top: 8px;
			vertical-align: top;

			&:last-child {

				text-align: right;

			}

		}

	}

	&__tooltip {

		position: absolute;
		top: 0;
		right: 0;

		table {

			width: 100%;

			thead {

				text-align: left;
				font-weight: 600;
				color: #0d0906;

				a {

					text-decoration: underline;

					&:hover {

						text-decoration: none;

					}

				}

			}

			tbody {

				td {

					padding-top: 16px;
					text-align: right;
					vertical-align: top;
					padding-left: 16px;

					&:first-child {

						text-align: left;
						padding-left: 0;

					}

				}

			}

		}

	}

}

.product-tabs {

	position: relative;

	.tabs__item {

		padding: 32px 0;
		position: static;
		top: 0;
		left: 0;

	}

	&__heading {

		position: absolute;
		top: calc( var(--scrollMargin) * -1 );
		left: 0;

		@media $smWidth {

			top: 0;

		}

	}

	&__description {

		width: 921px !important;
		margin: 0 auto !important;
		max-width: 100%;

	}

	&__description + &__specs {

		margin: 36px auto;

	}

	&__specs {

		display: flex;
		gap: 128px;
		justify-content: space-between;
		max-width: 912px;
		margin: 0 auto;

		@media $mdWidth {

			gap: 40px;

		}

		@media $smWidth {

			display: block;

		}

	}

	&__review {

		max-width: 1016px;
		margin: 0 auto;

	}

	&__certificates {

		max-width: 1016px;
		margin: 0 auto;

	}

}

.certificates {

	&__text {

		font-size: 18px;
		text-align: center;
		margin-bottom: 24px;

		@media $smWidth {

			font-size: 14px;

		}

	}

	&__foot {

		display: flex;
		justify-content: center;
		margin-top: 24px;

		@media $smWidth {

			margin: 0;

		}

	}

	&__wrap {

		width: 912px;
		margin: auto;
		position: relative;

		@media $mdWidth {

			width: 600px;

		}

		@media $smWidth {

			width: auto;
			margin: 0 calc( var(--indent) * -1);

			.swiper-navigation {

				display: none;

			}

			.swiper-pagination {

				margin: 24px 0;

			}

		}

		.swiper-pagination {

			margin: 48px 0 0;

		}

		.swiper-navigation {

			bottom: 56px;
			left: -40px;
			right: -40px;

		}

	}

	&__swiper {

		overflow: hidden;

	}

	&__list {

		display: flex;

	}

	&__item {

		width: 288px !important;

		@media $smWidth {

			width: 100% !important;
			display: flex;
			justify-content: center;

		}

	}

	&__swiper:not(.swiper-initialized) &__item {

		margin-right: 24px;
		flex-shrink: 0;

		@media $smWidth {

			margin: 0;

		}

	}

}

.availability {

	font-weight: 700;
	color: #059669;

	&.is-not {

		color: var(--red);

	}

}

.price {

	display: flex;
	align-items: center;
	gap: 8px;
	line-height: 24px;
	white-space: nowrap;


	&__old {

		display: block;
		font-weight: 400;
		color: var(--gray);
		order: 2;

	}

	&__value {

		display: block;
		font-size: 16px;
		font-weight: 700;

	}

}

.overlay-disabled {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	background-color: rgba(0,0,0,.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 12px;
	gap: 16px;

	@media $mdWidth {

		gap: 8px;
		font-size: 10px;

	}

	&__title {

		font-weight: 600;
		line-height: 1.2;

	}

	&__text {

		font-weight: 500;
		line-height: 1.2;
		max-width: 220px;

	}

	&__btn {

		@media $mdWidth {

			line-height: 20px;
			height: 20px;

		}

	}

}

.board-login {

	position: relative;
	display: flex;
	align-items: flex-start;

	.ico-box,
	.tooltip {

		flex-shrink: 0;

	}

	&__text {

		font-size: 14px;
		line-height: 1.2;
		padding: 0 8px;
		color: var(--gray);

		b {

			display: block;
			font-size: 14px;
			line-height: 1.5;
			font-weight: 600;

		}

	}

}

.product-protokol-accordion {

	&__text {

		font-size: 18px;
		color: var(--gray);
		margin-top: -8px;

		@media $smWidth {

			font-size: 14px;

		}

		p + p,
		.readmore-text p {

			margin-top: 18px;

		}

	}

}

.product-protokol-step {

	&__bg {

		margin: 16px 0;
		padding: 24px 40px;
		background-color: #f9fafb;

		@media $mdWidth {

			padding: 24px var(--indent);
			margin: 16px calc( var(--indent) * -1);

		}

	}

	&__head {

		margin: 16px 0;
		font-weight: 600;
		font-size: 18px;
		line-height: 1.2;
		color: var(--main);

	}

	&__text {

		margin: 16px 0;
		font-size: 14px;
		color: var(--gray);
		max-width: 800px;

	}

	&__list {

		display: grid;
		margin-top: 24px;
		gap: var(--gap);
		grid-template-columns: 1fr 1fr 1fr 1fr;

		@media $mdWidth {

			grid-template-columns: 1fr 1fr 1fr;

		}

		@media $smWidth {

			grid-template-columns: 1fr 1fr;

		}

		@media $xsWidth {

			display: block;

		}

		.preview-card {

			background-color: #fff;

			@media $xsWidth {

				margin: var(--gap) 0;

			}

		}

	}

}

.product-protokol-total {

	padding: 40px 24px;
	border: 1px solid var(--main);

	@media $mdWidth {

		padding: 24px var(--indent);
		margin: 0 calc( var(--indent) * -1);

	}

	@media $xsWidth {


	}

	&__box {

		display: flex;
		justify-content: space-between;
		margin-top: 24px;

		@media $smWidth {

			flex-direction: column-reverse;

		}

	}

	&__list {

		flex-grow: 1;
		display: grid;
		gap: var(--gap);
		margin-right: var(--gap);
		grid-template-columns: 1fr 1fr 1fr;

		@media $mdWidth {

			grid-template-columns: 1fr 1fr;

		}

		@media $smWidth {

			margin: 0;

		}

		@media $xsWidth {

			display: block;

			.preview-card {

				margin: 20px 0;

			}

		}

	}

	&__bar {

		width: 290px;
		position: relative;

		@media $smWidth {

			width: 100%;
			margin-bottom: 24px;

		}

		&-sticky {

			position: sticky;
			top: var(--scrollMargin);
			background-color: #f5f3ff;
			box-shadow: var(--box-shadow);
			padding: 16px;

		}

	}

}

.product-protokol-table {

	@media $mdWidth {

		&__scroll {

			display: flex;

			margin: calc( var(--indent) * -1);
			padding: var(--indent);
			overflow-x: auto;

		}

	}

	table {

		width: 100%;

	}

	thead {

		th {

			height: 55px;
			background-color: #f9fafb;
			font-weight: 600;
			font-size: 14px;
			text-align: center;
			color: var(--text);
			padding: 12px 24px;

		}

	}

	& &__step {

		td {

			height: 60px;
			background-color: #f5f3ff;
			padding: 20px;
			font-weight: 600;
			font-size: 18px;
			color: var(--text);
			vertical-align: middle;

		}

	}

	&__section {

		display: block;
		font-weight: 600;
		font-size: 14px;
		line-height: 1.2;
		margin-bottom: 12px;

	}

	tbody {

		color: #1f2937;

		td {

			vertical-align: top;
			padding: 19px 8px;

		}

		tr:nth-child(2n+1) {

			background-color: #f9fafb;

		}

	}

	&__check {

		font-size: 14px;
		position: relative;
		padding-left: 32px;

		&::before {

			position: absolute;
			width: 18px;
			height: 18px;
			top: 0;
			left: 0;
			content: '';
			background-color: #f5f3ff;
			border: 1px solid var(--main);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath fill='%234C1D95' d='M5.75 10.5a.58.58 0 0 1-.43-.19L2.5 7.3a.58.58 0 1 1 .85-.8l2.4 2.56 4.9-5.37a.58.58 0 1 1 .87.78l-5.33 5.84a.58.58 0 0 1-.43.19Z'/%3E%3C/svg%3E");
			background-position: center;

		}

	}

	&__product {

		font-size: 14px;
		display: flex;

		&-img {

			width: 40px;
			margin-right: 12px;
			flex-shrink: 0;

		}

	}

	&__value {

		white-space: nowrap;
		text-align: center;

	}

	&__text {

		font-size: 14px;

	}

	&__foot {

		display: flex;
		gap: 8px;
		margin: 40px 0;

		@media $smWidth {

			display: block;

		}

	}

	&__left {

		width: 544px;
		flex-shrink: 0;

		@media $mdWidth {

			width: 480px;

		}

		@media $smWidth {

			width: auto;
			margin-bottom: 24px;

		}

		&-note {

			margin-top: 8px;

			&::before {

				color: var(--red);
				content: '*';

			}

		}

		&-green {

			font-weight: 600;
			color: var(--main);
			margin-top: 8px;

		}

		&-sku {

			margin-top: 8px;

			b {

				font-weight: 600;

			}

		}

	}

	&__right {

		.h1 {

			s {

				display: block;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				text-transform: lowercase;
				color: var(--text);

			}

		}

		&-red {

			color: var(--red);
			margin-top: 8px;

		}

		&-text {

		}

	}

}