.product {

	&__grid {

		display: grid;
		gap: 0 24px;
		padding: 40px 0 80px;
		align-items: flex-start;

		@media $desktop {

			grid-template-columns: 1fr 496px 288px;
			grid-template-rows: auto auto 1fr;

		}

		@media $mdWidth {

			grid-template-columns: 1fr 288px;

		}

		@media $smWidth {

			display: block;
			padding: 24px 0;

		}

	}

	&__specs {

		@media $desktop {

			grid-row-start: 3;
			grid-row-end: 4;
			grid-column-start: 1;
			grid-column-end: 2;

		}

		@media $mdWidth {

			grid-column: span 2;

		}

	}

	&__gallery {

		@media $desktop {

			padding: 0 16px;
			grid-row-start: 1;
			grid-row-end: 4;

		}

		@media $mdWidth {

			width: 424px;

			img {

				width: 100%;
				height: auto;

			}

		}

		@media $smWidth {

			width: 100%;

		}

	}

	&__bar {

		box-shadow: var(--box-shadow);
		padding: 16px;

		@media $desktop {

			grid-row-start: 1;
			grid-row-end: 4;

		}

		@media $mdWidth {

			grid-row-start: 2;
			grid-row-end: 4;
			grid-column-start: 2;
			grid-column-end: 3;

		}

		@media $smWidth {

			margin: 16px 0;

		}

	}

	&__title {

		margin-bottom: 8px;
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		color: var(--gray);

		@media $mdWidth {

			font-size: 18px;
			font-weight: 600;
			margin-bottom: 16px;
			grid-column: span 2;

		}

	}

	&__description {

		color: var(--gray);
		margin-bottom: 24px;

		@media $desktop {

			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: 2;

		}

		@media $mdWidth {

			grid-row-start: 3;
			grid-row-end: 4;
			margin-top: 24px;

		}

	}

	&__table {

		tbody {

			font-size: 12px;
			color: var(--gray);

			a {

				text-decoration: underline;
				color: var(--purple);

				&:hover {

					text-decoration-color: transparent;

				}

			}

			th {

				font-weight: 600;
				text-align: left;
				padding: 8px 0;
				vertical-align: top;

			}

			td {

				padding: 8px 0 8px 24px;
				vertical-align: top;

			}

		}

	}

	&__open-tab {

		margin: 8px 0;
		display: flex;

	}

	&__tabs {

		@media $tablet {

			.tabs__btn {

				font-size: 16px;
				line-height: 64px;
				padding: 0 16px;

			}

		}

	}

}

.product-gallery {

	@media $desktop {

		.swiper-container:not(:hover) .swiper-navigation {

			opacity: 0;

		}

	}

	@media $smWidth {

		.swiper-navigation {

			display: none;

		}

	}

	&__wrap {

		position: relative;
		overflow: hidden;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			pointer-events: none;
			border: 1px solid #f3f4f6;

		}

	}

	&__list {

		display: flex;

	}

	&__item {

		width: 100%;
		flex-shrink: 0;

	}

	@media $desktop {

		.swiper-container:not(.swiper-initialized) &__item + &__item {

			display: none;

		}

	}

	@media $tablet {


	}

	@media $smWidth {


	}

	&__preview {

		display: flex;
		gap: 16px;
		margin: 16px 0;

		@media $desktop {

			flex-wrap: wrap;

		}

		@media $mdWidth {

			overflow-x: auto;
			padding-bottom: 6px;
			margin-bottom: 10px;

		}

		&-item {

			width: 80px;
			height: 80px;
			position: relative;
			flex-shrink: 0;

			&.is-current::after {

				border-color: var(--purple);

			}

			&::after {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				pointer-events: none;
				border: 1px solid #f3f4f6;

			}

		}

	}

	&__overlay {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: #fff;
		background-color: rgba(0,0,0,.6);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 12px;
		gap: 16px;

		&-title {

			font-weight: 600;
			line-height: 1.2;

		}

		&-text {

			font-weight: 500;
			line-height: 1.2;
			max-width: 300px;

		}

		&-btn {

			font-size: 12px;
			padding: 0 40px;
			border-radius: 2px;
			--purple: #fff;

		}

	}

}

.product-buy {

	&__price {

		margin-bottom: 24px;

		.price {

			position: relative;
			padding-top: 32px;

			&__old {

				position: absolute;
				top: 0;
				left: 0;

			}

			&__value {

				font-size: 32px;
				line-height: 1.2;

			}

		}

	}

	&__availability {

		margin-bottom: 8px;

	}

	&__key-value {

		color: var(--gray);
		margin-bottom: 24px;

		dt {

			display: inline;
			font-weight: 600;

		}

		dd {

			display: inline;

		}

	}

	&__volume {

		margin-bottom: 24px;
		user-select: none;
		position: relative;
		z-index: 1;
		white-space: nowrap;

		&-wrap {

			display: flex;
			position: relative;

		}

		&-list {

			display: flex;
			flex-wrap: wrap;
			margin: -4px;

		}

		&-item {

			cursor: pointer;
			position: relative;
			margin: 4px;

		}

		&-name {

			font-size: 12px;
			line-height: 28px;
			padding: 0 7px;
			color: var(--text);
			position: relative;
			border: 1px solid;
			display: block;

		}

		&-input:checked + &-name {

			color: var(--gray);

		}

	}

	&__label {

		color: var(--gray);
		margin-bottom: 16px;

		b {

			display: block;
			font-weight: 600;

		}

		&-count {

			display: block;
			margin-top: 4px;
			font-size: 12px;
			line-height: 1.2;

		}

	}

	&__color {

		position: relative;
		margin-bottom: 24px;
		display: flex;
		align-items: center;
		height: 55px;
		width: 100%;
		padding: 8px;
		color: var(--gray);
		border-bottom: 1px solid;
		max-width: 100%;

		&-img {

			margin-right: 8px;
			flex-shrink: 0;

			img {

				border-radius: 50%;

			}

		}

		&-name {

			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 13px;
			flex-grow: 1;
			text-align: left;


		}

		&-arrow {

			flex-shrink: 0;

			@media $mdWidth {

				width: 16px;
				height: 16px;

			}

		}

	}

	&__submit {

		margin-bottom: 16px;

		.btn {

			width: 100%;

		}

	}

	&__favourite {

		margin-bottom: 24px;

		.btn {

			width: 100%;

			svg {

				fill: var(--pink);

			}

		}

	}

}

.product-service {

	margin: 24px 0;

	&__item {

		position: relative;
		min-height: 40px;
		padding-left: 48px;
		padding-right: 16px;

		.ico-box {

			position: absolute;
			top: 0;
			left: 0;

		}

		& + & {

			margin-top: 24px;

		}

	}

	&__name {

		font-weight: 600;
		font-size: 14px;
		color: var(--gray);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		a {

			text-decoration: underline;
			color: var(--purple);

			&:hover {

				text-decoration: none;

			}

		}

	}

	&__text {

		font-size: 12px;
		line-height: 1.2;
		color: var(--gray);
		width: 100%;

		td {

			padding-top: 8px;
			vertical-align: top;

			&:last-child {

				text-align: right;

			}

		}

	}

	&__tooltip {

		position: absolute;
		top: 0;
		right: 0;

		font-size: 12px;
		line-height: 1.2;

		table {

			width: 100%;

			thead {

				text-align: left;
				font-weight: 600;
				color: #0d0906;

				a {

					text-decoration: underline;

					&:hover {

						text-decoration: none;

					}

				}

			}

			tbody {

				td {

					padding-top: 16px;
					text-align: right;
					vertical-align: top;
					padding-left: 16px;

					&:first-child {

						text-align: left;
						padding-left: 0;

					}

				}

			}

		}

	}

}

.product-tabs {

	position: relative;

	.tabs__item {

		padding: 32px 0;
		position: static;
		top: 0;
		left: 0;

	}

	&__heading {

		position: absolute;
		top: calc( var(--scrollMargin) * -1 );
		left: 0;

		@media $smWidth {

			top: 0;

		}

	}

	&__description {

		max-width: 808px;
		margin: 0 auto;
		font-size: 14px;
		line-height: 21px;
		color: var(--gray);

		h3, h4, h5 {

			font-size: 24px;
			line-height: 29px;
			font-weight: 400;
			text-transform: uppercase;
			margin: 16px 0;

			@media $smWidth {

				font-size: 18px;
				font-weight: 600;
				text-transform: none;
				line-height: 1.5;

			}

		}

		h4 {

			font-size: 20px;

		}

		h5 {

			font-size: 16px;

		}

		p, ul {

			margin: 16px 0;

		}

		ul {

			li {

				padding-left: 22px;

				&::before {

					position: absolute;
					top: 10px;
					left: 10px;
					content: '';
					background-color: var(--gray);
					width: 3px;
					height: 3px;
					border-radius: 50%;

				}

			}

		}

		ol {

			counter-reset: headings 0;

			li {

				padding-left: 22px;
				counter-increment: headings 1;

				&::before {

					position: absolute;
					top: 0;
					left: 0;
					content: counter(headings, decimal) '.';

				}

			}

		}

	}

	&__specs {

		display: flex;
		gap: 128px;
		justify-content: space-between;
		max-width: 912px;
		margin: 0 auto;

		@media $mdWidth {

			gap: 40px;

		}

		@media $smWidth {

			display: block;

		}

	}

	&__review {

		max-width: 1016px;
		margin: 0 auto;

	}

}


.availability {

	font-weight: 600;
	color: var(--green);

	&.is-not {

		color: var(--red);

	}

}

.price {

	display: flex;
	align-items: center;
	gap: 8px;
	line-height: 24px;

	&__old {

		font-size: 16px;
		display: block;
		color: var(--text);

	}

	&__value {

		display: block;
		font-size: 20px;
		font-weight: 400;
		color: var(--gray);

	}

}