.readmore-text {

	&__body {

		transition: opacity var(--transitionDefault);

	}

	&:not(.is-open) &__body {

		overflow: hidden;
		height: 0;
		opacity: 0;

	}

	&__foot {

		display: flex;

		&--right {

			justify-content: flex-end;

		}

	}

	&__btn {

		text-transform: uppercase;

	}

}