.review {

	&__btns {

		display: flex;
		justify-content: center;

		@media $smWidth {

			display: block;

			.btn {

				margin: 16px auto;

			}

		}

		.btn {

			margin: 0 20px;
			min-width: 240px;

		}

	}

	&__item {

		padding: 16px 0;
		position: relative;
		color: var(--gray);
		border-bottom: 1px solid #e5e7eb;
		display: flex;

		@media $smWidth {

			display: block;

		}

	}

	&__sub {

		transition: opacity var(--transitionDefault);

	}

	&__group {

		margin: 40px 0;

		@media $mdWidth {

			margin: 32px 0;

		}

	}

	&__group:not(.is-open) &__sub {

		overflow: hidden;
		height: 0;
		opacity: 0;

	}

	&__sub &__item {

		padding-left: 40px;
		margin-top: 40px;

		@media $mdWidth {

			margin-top: 32px;

		}

	}

	&__head {

		width: 288px;
		margin-right: 40px;
		flex-shrink: 0;

		@media $mdWidth {

			margin-right: 32px;
			width: 256px;

		}

		@media $smWidth {

			width: auto;
			margin-right: 0;
			margin-bottom: 24px;

		}

	}

	&__body {

		flex-grow: 1;

		@media $desktop {

			padding-left: 40px;

		}

	}

	&__text {

		max-width: 560px;

		p {

			margin-bottom: 8px;

		}

	}

	&__foot {

		display: flex;
		justify-content: space-between;

		@media $smWidth {

			.btn {

				font-size: 13px;
				height: 36px;
				line-height: 36px;

			}

		}

	}

	&__toggle-sub {

		span {

			color: #9ca3af;

		}

	}

	&__name {

		font-weight: 600;
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 8px;

	}

	&__rating {

		display: flex;
		margin-bottom: 8px;

	}

	&__date {

		margin-bottom: 8px;
		display: block;

	}

	&__mark {

		display: flex;
		align-items: center;

		svg {

			fill: var(--green);
			margin-right: 4px;

		}

	}

}