.search {

	position: relative;
	max-width: 626px;

	@media ($mobile) {

	}

	@media ($tablet) {


	}

	@media ($desktop) {


	}

	&__inner {

		position: relative;
		display: flex;

	}

	&__input {

		flex-grow: 1;
		height: 32px;
		padding: 5px 14px;
		border-color: var(--blue);

		@media ($desktop) {


		}

	}

	&__reset {

		position: absolute;
		top: 11px;
		right: 11px;

		@media ($desktop) {

			right: 60px;

		}

	}

	&__submit {

		width: 44px;
		background-color: var(--blue);
		padding: 0;
		height: 32px;
		flex-shrink: 0;
		border-radius: 0 2px 2px 0;

		svg {

			fill: #fff;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;

		}

	}

	&__result {

		position: absolute;
		top: 100%;
		left: -1px;
		right: -1px;
		z-index: 8;
		padding: 6px 0;
		border: 1px solid var(--border);
		background-color: #fff;
		border-radius: 2px;

		&-item {

			position: relative;
			display: flex;
			align-items: center;
			color: var(--text);
			font-size: 14px;
			line-height: 16px;
			padding: 4px 10px 4px 28px;
			text-decoration: none;
			background-position: 8px center;
			background-repeat: no-repeat;
			background-size: auto 14px;

			&--pre-search {

				background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23bdbdbd' d='M5.038 9.53A4.497 4.497 0 01.546 5.038 4.497 4.497 0 015.038.545 4.497 4.497 0 019.53 5.038 4.497 4.497 0 015.038 9.53zm0-8.133a3.645 3.645 0 00-3.64 3.64 3.645 3.645 0 003.64 3.641 3.645 3.645 0 003.64-3.64 3.645 3.645 0 00-3.64-3.641zm6.284 9.933a.426.426 0 000-.602L9.416 8.822a.426.426 0 10-.602.602l1.905 1.906a.425.425 0 00.603 0z'/%3E%3C/svg%3E");

			}

			@media ($desktop) {

				a&:hover {

					color: var(--blue);

					svg {

						fill: var(--blue);

					}

				}

			}

		}

		hr {

			background-color: #f5f5f5;
			margin: 5px 0;

		}

		&-remove {

			margin-left: auto;

			@media ($desktop) {

				&:hover svg {

					fill: #757575;

				}

			}

		}

		&-value {

		}

	}

}