.search {

	position: relative;
	max-width: 626px;

	&__inner {

		display: flex;
		z-index: 8;
		position: relative;

	}

	&__input {

		flex-grow: 1;
		height: 32px;
		padding: 5px 14px;
		border-radius: 2px 0 0 2px;
		border-color: var(--blue);

	}

	&__reset {

		position: absolute;
		top: 11px;
		right: 11px;

		@media ($desktop) {

			right: 60px;

		}

	}

	&__submit {

		width: 44px;
		background-color: var(--blue);
		padding: 0;
		height: 32px;
		flex-shrink: 0;
		border-radius: 0 2px 2px 0;

		svg {

			fill: #fff;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;

		}

	}

	&__result {

		position: absolute;
		top: -10px;
		left: -10px;
		right: -10px;
		z-index: 7;
		padding: 10px;
		padding-top: 50px;
		border: 1px solid var(--border);
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0px 1px 5px rgba(65, 142, 188, 0.5);

		&-not {

			margin: 12px;

		}

		.card-item {

			display: flex;
			flex-direction: row;
			align-items: center;
			text-decoration: none;
			border-bottom: 0;
			border-left: 0;
			border-right: 0;
			padding: 0;

			&:first-child {

				border-top: 0;

			}

			&__img {

				width: 34px;
				height: 34px;
				margin-right: 8px;

				img {

					width: 34px;
					height: 34px;

				}

			}

			&__title {

				flex-grow: 1;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				margin-left: 5px;

			}

			&__price {

				width: 80px;
				justify-content: flex-end;

			}

		}

	}

}