.select {

	display: block;
	position: relative;
	user-select: none;
	transition: z-index 0s var(--transitionDefault);

	&.is-disabled {

		pointer-events: none;

	}

	&.is-open {

		z-index: 5;
		transition: none;

	}

	&.is-open &__value {

		border-color: var(--purple);

		svg {

			transform: scaleY(-1);

		}

	}

	&.is-open &__list {

		opacity: 1;
		pointer-events: auto;
		transform: translate3d(0, 8px, 0);
		transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s;

	}

	&__value {

		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		cursor: pointer;
		gap: 16px;
		padding: 8px;
		font-size: 14px;
		min-width: 128px;
		line-height: 1.5;
		transition: color var(--transitionDefault);
		z-index: 1;
		background-color: #fff;
		border-bottom: 1px solid var(--border);
		color: var(--gray);

		@media $mdWidth {

			pointer-events: none;

		}

		svg {

			transition: var(--transitionDefault);
			pointer-events: none;
			flex-shrink: 0;

		}

		&-inner {

			white-space: nowrap;
			display: block;
			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;

		}

	}

	&__list {

		position: absolute;
		top: 100%;
		padding: 8px 0;
		left: 0;
		border-radius: 0;
		background-color: #fff;
		opacity: 0;
		pointer-events: none;
		transform: translate3d(0, 0, 0);
		transition: opacity var(--transitionDefault) 0s, transform 0s var(--transitionDefault);
		min-width: 100%;
		max-height: 248px;
		box-shadow: var(--box-shadow);

		@media $mdWidth {

			display: none;

		}

		&-item {

			padding: 4px 16px;
			transition: var(--transitionDefault);
			width: 100%;
			display: block;
			text-align: left;
			cursor: pointer;
			position: relative;

			span {

				display: block;
				white-space: nowrap;

			}

			&[value=""],
			&[value="none"] {

				display: none;

			}

			@media $desktop {

				&:hover {

					color: var(--text);

				}

			}

		}

	}

	select {

		border: 0;
		border-bottom: 1px solid var(--border);
		padding: 8px;
		line-height: 1.5;
		font-size: 16px;
		background-color: #fff;
		height: 37px;
		border-radius: 0;
		appearance: none;
		display: block;
		width: 100%;

		@media $desktop {

			font-size: 14px;

		}

	}

	&.is-ready select {

		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;

		@media $desktop {

			pointer-events: none;

		}

	}

}