.service {

	margin: 52px 14px;
	position: relative;

	@media ($responsive) {

		display: none;

	}

	&__list {

		display: flex;
		justify-content: space-between;
	}

	&__item {

		padding-left: 60px;
		position: relative;
		font-size: 14px;
		line-height: 25px;

		b {

			font-size: 18px;
			font-weight: 400;

		}

	}

	svg {

		fill: #707070;
		position: absolute;
		top: 2px;
		left: 0;

	}

}