.social {

	margin: 14px 0;

	&__title {

		margin: 14px 0;

	}

	&__list {

		display: flex;
		margin: -4px;

	}

	&__item {

		margin: 4px;

	}

	&__link {

		display: flex;
		align-items: center;
		justify-content: center;
		width: 66px;
		height: 36px;
		background-color: #fff;
		border: 1px solid var(--hr);
		border-radius: 2px;

		@media ($desktop) {

			&:hover {

				border-color: var(--blue);

			}

		}

	}

}