.support {

	margin: var(--space) 0 96px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--gap);
	color: var(--main);

	.catalog + & {

		margin-top: 96px;

	}

	@media $smWidth {

		display: block;
		margin: 96px 0 65px;

	}

	&__item {

		padding: 24px 16px 24px 48px;
		border-radius: 24px;
		box-shadow: 0px 10px 20px 4px #1719000D;
		display: flex;
		position: relative;
		flex-direction: column;

		@media $tablet {

			&:nth-child(n+3) {

				display: none;

			}

		}

		@media $smWidth {

			display: block;
			margin: 56px 0;

		}

		p:not([class]) {

			color: #06070A;
			margin-bottom: 16px;

		}

	}

	&__ico {

		position: absolute;
		top: 26px;
		left: 16px;
		stroke-width: 2px;

	}

	&__btn {

		margin-top: auto;
		display: flex;

	}

}