.support {

	margin: 200px 0 96px;
	display: flex;
	justify-content: space-between;

	&__item {

		padding: 0 8px;
		max-width: 390px;
		text-align: center;
		display: flex;
		flex-direction: column;

		@media $tablet {

			&:nth-child(n+3) {

				display: none;

			}

		}

		p {

			color: var(--gray);
			margin: 8px 0 40px;

		}

	}

	&__btn {

		margin-top: auto;
		display: flex;
		justify-content: center;

		.btn:not(.btn--more) {

			min-width: 240px;
			box-shadow: var(--box-shadow);

		}

	}

}