.tabs {

	&__nav {

		display: flex;
		justify-content: center;

	}

	&__btn {

		font-size: 20px;
		line-height: 84px;
		padding: 0 40px;
		color: var(--text);
		border-bottom: 2px solid #9ca3af;

		&.is-active {

			color: var(--purple);
			border-bottom-color: var(--purple);

		}

	}

}