.tabs {

	margin: 20px 0;
	font-size: 14px;
	line-height: 22px;
	color: #595959;

	&--small {

		font-size: 12px;
		line-height: 16px;
		margin: 16px 0;

	}

	&__btn {

		display: none;

	}

	&--small &__nav-btn {

		@media ($desktop) {

			height: 20px;
			line-height: 20px;
			font-size: 12px;
			margin-left: 20px;
			font-weight: 500;

		}

	}

	&__nav {

		display: flex;
		border-bottom: 1px solid var(--border);

		&-btn {

			height: 28px;
			line-height: 28px;
			color: #a1a1a1;
			font-size: 20px;
			white-space: nowrap;
			margin-left: 40px;
			font-weight: 600;
			padding: 0;

			@media ($desktop) {

			}

			@media ($responsive) {

				font-size: 14px;

			}

			&:first-child {

				margin-left: 0;

			}

			&.is-active {

				color: #595959;

				&::after {

					position: absolute;
					height: 1px;
					top: 100%;
					left: 0;
					right: 0;
					content: '';
					background-color: var(--blue);

				}

			}

		}

	}

	&__item {

		display: none;
		padding: 14px 0;

		&.is-show {

			display: block;

		}

	}

}