.tooltip-title {

	position: relative;

	&.is-show &__inner {

		opacity: 1;

	}

	&__inner {

		font-weight: 500;
		font-size: 12px;
		padding: 8px;
		line-height: 18px;
		text-align: center;
		color: var(--gray);
		background-color: #f9fafb;
		border-radius: 8px;
		position: absolute;
		left: 8px;
		right: 8px;
		margin-bottom: 8px;
		bottom: 100%;
		z-index: 5;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		opacity: 0;
		transition: var(--transitionDefault);
		pointer-events: none;

		&::before {

			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			bottom: -4px;
			left: 50%;
			margin-left: -4px;
			background-color: #f9fafb;
			transform: rotate(45deg);
			border-radius: 1px;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

		}

		&::after {

			content: '';
			position: absolute;
			height: 8px;
			bottom: 0;
			left: 0;
			right: 0;
			width: 20px;
			margin: auto;
			background-color: #f9fafb;

		}

	}

}

.tooltip {

	position: relative;

	&__btn {

		position: relative;
		list-style: none;
		user-select: none;
		cursor: default;
		text-decoration: underline;
		text-decoration-style: dotted;
		text-underline-position: under;

		@media $desktop {

			&:hover {

				text-decoration-color: transparent;

			}

		}

		&::before {

			left: 50%;
			margin-left: -10px;
			bottom: 100%;
			content: '';
			border: 10px solid transparent;
			position: absolute;
			border-top-color: rgba(0,0,0,.85);
			border-bottom: 0;
			margin-bottom: 2px;
			pointer-events: none;
			opacity: 0;

		}

		&::-webkit-details-marker {

			display: none;

		}

		&::marker {

			display: none;

		}

		&:focus {

			outline: none;

		}

	}

	&__inner {

		width: 320px;
		color: #fff;
		padding: 10px;
		position: absolute;
		left: -24px;
		margin-bottom: 12px;
		font-size: 13px;
		bottom: 100%;
		line-height: 16px;
		background-color: rgba(0,0,0,.85);
		text-align: left;
		pointer-events: none;
		z-index: 9;
		opacity: 0;

		@media $smWidth {

			width: 280px;

		}

		@media $xsWidth {

			width: 256px;

		}

	}

	&[open] &__inner,
	&[open] &__btn::before {

		animation: opacity var(--transitionDefault);
		pointer-events: auto;
		opacity: 1;

	}

}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}