.tooltip {

	position: relative;

	&__btn {

		position: relative;
		list-style: none;
		user-select: none;
		cursor: default;
		text-decoration: underline;
		text-decoration-style: dotted;
		text-underline-position: under;

		@media $desktop {

			&:hover {

				text-decoration-color: transparent;

			}

		}

		&::before {

			left: 50%;
			margin-left: -10px;
			bottom: 100%;
			content: '';
			border: 10px solid transparent;
			position: absolute;
			border-top-color: rgba(0,0,0,.85);
			border-bottom: 0;
			margin-bottom: 2px;
			pointer-events: none;
			opacity: 0;

		}

		&::-webkit-details-marker {

			display: none;

		}

		&::marker {

			display: none;

		}

		&:focus {

			outline: none;

		}

	}

	&__inner {

		width: 320px;
		color: #fff;
		padding: 10px;
		position: absolute;
		left: -24px;
		margin-bottom: 12px;
		font-size: 13px;
		bottom: 100%;
		line-height: 16px;
		background-color: rgba(0,0,0,.85);
		text-align: left;
		pointer-events: none;
		z-index: 9;
		opacity: 0;

		@media $smWidth {

			width: 280px;

		}

		@media $xsWidth {

			width: 256px;

		}

	}

	&[open] &__inner,
	&[open] &__btn::before {

		animation: opacity var(--transitionDefault);
		pointer-events: auto;
		opacity: 1;

	}

}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}