:root {

	--color: #202020;
	--text: #424242;

	--blue: #418ebc;
	--blueHover: #5db2e4;
	--pink: #ed4993;
	--red: #ff3737;
	--error: #f00;
	--border: #e4e4e4;
	--bg: #fff;
	--ico: #bdbdbd;
	--transitionDefault: .3s;
	--heightHeaderFixed: 118px;

}

$mobile: (max-width: 359px);   /*  <  360  */
$tablet: (min-width: 768px);   /*  >= 768  */
$desktop: (min-width: 1250px); /*  >= 1250 */
$responsive: (max-width: 1249px);   /*  <  1250  */