:root {

	--color: #0d0906;
	--text: #6b7280;
	--gray: #111827;
	--purple: #4c1d95;
	--indigo: #312e81;
	--red: #dc2626;
	--green: #059669;
	--violet: #c02ba8;
	--error: #f00;
	--bg: #fff;
	--border: #4b5563;
	--box-shadow:  0 5px 15px rgba(0, 0, 0, .15);

	--transitionDefault: 0s;
	--scrollMargin: 0; /* heightHeader */

	--heightProductScroll: 0; /* product-scroll__inner */

	--indent: 40px;
	--gap: 24px;
	--space: 112px;

}

$desktop: (min-width: 1250px);
$tablet:  (min-width: 768px) and (max-width: 1249px);
$mdWidth: (max-width: 1249px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 374px);