:root {

	--color: #212121;
	--text: #424242;

	--blue: #418ebc;
	--heavenly: #b3d4fc;
	--pink: #ed4993;
	--lilac: #92348f;
	--error: #f00;
	--border: #e5e5e5;
	--bg: #fff;
	--hr: #e0e0e0;
	--ico: #bdbdbd;
	--transitionDefault: .3s;
	/* --heightHeader: 62px; */

}

$mobile: (max-width: 359px);   /*  < 360   */
$tablet: (min-width: 768px);   /*  >= 768  */
$desktop: (min-width: 1200px); /*  >= 1200 */