			<form action="/" class="modal__item modal__item--callback modal-callback">

				<h3 class="modal__title">
					Заказать обратный звонок
				</h3>

				<p class="modal__text">
					Наши консультанты перезвонят вам в течении 10 минут или в начале рабочего дня если сейчас не рабочее время
				</p>

				<div class="modal-callback__inputrow">

					<div class="modal-callback__inputbox">

						<label class="modal-callback__label" for="modal-callback-name">
							Как вас зовут
						</label>

						<input class="input" name="name" placeholder="Кузякина Марина" required="required" id="modal-callback-name">

					</div>

					<div class="modal-callback__inputbox">

						<label class="modal-callback__label" for="modal-callback-phone">
							Ваш телефон
						</label>

						<div class="phone-country">

							<button class="phone-country__btn button" type="button">

								<span class="phone-country__value">
									RUS
								</span>

								<svg width="20" height="20" viewBox="0 0 20 20">
									<path d="M10 12.92a.83.83 0 0 1-.6-.24L6.09 9.34a.84.84 0 0 1 1.18-1.18L10 10.92l2.75-2.65a.83.83 0 1 1 1.15 1.2l-3.33 3.21a.83.83 0 0 1-.57.24Z"/>
								</svg>

							</button>

							<input class="phone-country__mask input inputmask inputmask--phone" type="tel" name="phone" data-mask="+\7 (999) 999 99 99" placeholder="+7 (---) --- -- --" required="required" id="modal-callback-phone">

							<ul class="phone-country__list">

{% for item in [

{
	name : "Россия",
	mask : "+7 (999) 999 99 99",
	code : "RUS"
},
{
	name : "Беларусь",
	mask : "+375 99 999 99 99",
	code : "BYN"
},
{
	name : "Казахстан",
	mask : "+7 999 999 99 99",
	code : "KZT"
}

] %}

								<li>

									<label class="phone-country__item">

										<input class="phone-country__radio visuallyhidden" type="radio" name="country" value="{{ item.code }}" data-mask="{{ item.mask }}"{% if loop.first %} checked="checked"{% endif %}>

										{{ item.name }}

									</label>

								</li>

{% endfor %}

							</ul>

						</div>

					</div>

				</div>

				<div class="modal-callback__inputbox">

					<label  class="modal-callback__label"for="modal-callback-text">
						Задайте вопрос (необязательно)
					</label>

					<input class="input" name="text" placeholder="Что вы хотели узнать?" id="modal-callback-text">

				</div>

				<div class="modal-callback__foot">

					<button class="btn">
						Отправить
					</button>

				</div>

			</form>