			<form action="/" class="modal__item modal__item--callback form-modal form">

				<h3 class="form-modal__title h3">
					Заказать звонок
				</h3>

				<div class="form-modal__input-box">

					<input type="tel" class="input" placeholder="Введите Ваш номер телефона" aria-label="Ваш номер телефона" required="required" name="phone">

				</div>

				<div class="form-modal__input-box">

					<input class="input" placeholder="Введите Ваше имя" aria-label="Ваше имя" required="required" name="name">

				</div>

				<div class="form-modal__checkbox">

					<label class="checkbox">

						<input type="checkbox" class="checkbox__input" required="required">

						<span class="checkbox__label white-space-nowrap">
							Я согласен на обработку <a href="/" target="_blank">персональных данных</a>
						</span>

					</label>

				</div>

				<button class="form-modal__submit btn btn--blue">
					Отправить
				</button>

			</form>

			<form action="/" class="modal__item modal__item--help form-modal form">

				<h3 class="form-modal__title h3">
					Тех. поддержка
				</h3>

				<p class="form-modal__info">
					Мы работаем пн-пт с 9:00 до 20:00 <br>
					Перезвоним Вам при первой возможности
				</p>

				<div class="form-modal__input-box">

					<input type="tel" class="input" placeholder="Введите Ваш номер телефона" aria-label="Ваш номер телефона" required="required" name="phone">

				</div>

				<div class="form-modal__input-box">

					<input class="input" placeholder="Введите Ваше имя" aria-label="Ваше имя" required="required" name="name">

				</div>

				<div class="form-modal__input-box">

					<textarea class="input" placeholder="Введите Ваш вопрос" aria-label="Ваш вопрос" required="required" name="text"></textarea>

				</div>

				<div class="form-modal__checkbox">

					<label class="checkbox">

						<input type="checkbox" class="checkbox__input" required="required">

						<span class="checkbox__label white-space-nowrap">
							Я согласен на обработку <a href="/" target="_blank">персональных данных</a>
						</span>

					</label>

				</div>

				<button class="form-modal__submit btn btn--blue">
					Отправить
				</button>

			</form>