			<form action="/" class="modal__item modal__item--callback modal-callback">

				<input type="hidden" name="id">
				<input type="hidden" name="subject" value="Заказать обратный звонок">

				<h3 class="modal__title">
					Заказать обратный звонок
				</h3>

				<p class="modal__text">
					Наши консультанты перезвонят вам в течении 10 минут или в начале рабочего дня если сейчас не рабочее время
				</p>

				<div class="modal__row">

					<div class="inputbox">

						<label class="inputbox__label" for="modal-callback-name">
							Как вас зовут
						</label>

						<input class="input" name="name" placeholder="Кузякина Марина" required="required" id="modal-callback-name">

					</div>

					<div class="inputbox">

{% include "template/modal/modal-callback-phone.html" %}

					</div>

				</div>

				<div class="inputbox">

					<label for="modal-callback-text" class="inputbox__label">
						Задайте вопрос (необязательно)
					</label>

					<input class="input" name="text" placeholder="Что вы хотели узнать?" id="modal-callback-text">

				</div>

				<div class="modal__foot">

					<button class="btn">
						Отправить
					</button>

				</div>

			</form>