			<form action="/" class="modal__item modal__item--cdek modal-cdek">

				<div class="modal-cdek__head">

					<p class="modal__title">
						Екатеринбург: пункты выдачи и постаматы
					</p>

					<p class="modal__text">
						Если даты не подходят- сообщите менеджеру, указав удобные даты в комментариях к заказу
					</p>

				</div>

				<div class="modal-cdek__box">

{% include "template/modal/map-points-issue.html" %}

				</div>

				<div class="modal-cdek__foot">

					<button class="btn btn--outline modal__close" type="button">
						Отмена
					</button>

					<button class="btn">
						Выбрано
					</button>

				</div>

			</form>