			<form action="/" class="modal__item modal__item--cities form-city">

				<h3 class="form-city__title h3">
					Введите название города
				</h3>

				<input class="input form-city__input modal__focus" aria-label="Введите свой город" name="searchword">

				<div class="form-city__result"></div>

				<h3 class="form-city__head h4">
					Наиболее популярные города
				</h3>

{% set cities = [
	'Москва',
	'Санкт-Петербург',
	'Екатеринбург',
	'Нижний Новгород',
	'Новосибирск',
	'Краснодар',
	'Красноярск',
	'Кемерово',
	'Ростов-на-Дону',
	'Тюмень',
	'Челябинск'
] %}

				<ul class="form-city__list">

{% for city in cities %}

					<li>
						<a href="/">
							{{ city }}
						</a>
					</li>

{% endfor %}

				</ul>

			</form>

			<form action="/" class="modal__item modal__item--points modal-points" novalidate="novalidate">

				<h3 class="modal-points__title h3">
					Москва - пункты выдачи и постаматы
				</h3>

				<div class="modal-points__box">

					<div class="modal-points__map"></div>

					<div class="modal-points__search">

						<p class="modal-points__head h4">
							Выбор пункта выдачи
						</p>

						<input class="modal-points__input input" placeholder="Найти по станции метро или улице" aria-label="Введите адрес" name="searchword">

						<div class="modal-points__result scroll-bar">

							<a href="/" class="modal-points__result-item">

								<h4 class="modal-points__result-metro">
									Новогиреево
								</h4>

								<p class="modal-points__result-address">
									г. Москва, ул. улица Фёдора Полетаева, дом 34, корпус 1
								</p>

								<p class="modal-points__result-detail">
									Постамат Box 3024 <br>Срок хранения заказа: 2 дн
								</p>

							</a>

							<a href="/" class="modal-points__result-item">

								<p class="modal-points__result-address">
									г. Москва, ул. улица Фёдора Полетаева, дом 34, корпус 1
								</p>

								<p class="modal-points__result-detail">
									Постамат Box 3024 <br>Срок хранения заказа: 2 дн
								</p>

							</a>

						</div>

					</div>

				</div>

			</form>