			<form action="/" class="modal__item modal__item--city-confirm form-city-confirm modal-info">

				<input type="hidden" name="city" value="Екатеринбург">

				<h3 class="modal-info__title modal-info__title--city h4">
					Ваш город <b>Екатеринбург?</b>
				</h3>

				<div class="modal-info__btn">

					<button class="btn btn--outline">
						Да
					</button>

				</div>

				<div class="modal-info__foot">

					<button class="btn btn--link" type="button" data-modal="cities">
						Выбрать другой
					</button>

				</div>

			</form>

			<form action="/" class="modal__item modal__item--cities form-city">

				<input class="input form-city__input" placeholder="Введите название города..." aria-label="Введите свой город" name="searchword">

				<div class="form-city__result"></div>

				<h3 class="form-city__title h4">
					Наиболее популярные города
				</h3>

{% set cities = [
	'Москва',
	'Санкт-Петербург',
	'Екатеринбург',
	'Нижний Новгород',
	'Новосибирск',
	'Краснодар',
	'Красноярск',
	'Кемерово',
	'Ростов-на-Дону',
	'Тюмень',
	'Челябинск'
] %}

				<ul class="form-city__list">

{% for city in cities %}

					<li>
						<button type="button" class="form-city__select button" data-id="123">
							{{ city }}
						</button>
					</li>

{% endfor %}

				</ul>

			</form>