			<div class="modal__item modal__item--club-done modal-login modal-club">

				<p class="modal-login__title modal-login__title--uppercase">
					спасибо за Заявку на вступление в клуб <span class="color-purple">профессионалов Cosmogid Профи</span>
				<p>

				<p class="modal-login__text">
					Наши специалисты свяжутся с вам как можно быстрее
				</p>

				<div class="modal-club__done">

					<img src="/img/logo.svg" loading="lazy" alt="{{ site }}" width="193" height="128">

					<button class="btn modal__close" type="button">
						Закрыть
					</button>

				</div>

			</div>