			<div class="modal__item modal__item--club modal-login modal-club">

				<form class="modal-login__form" action="/">

					<p class="modal-login__title modal-login__title--uppercase">
						Заявка на вступление в клуб <span class="color-purple">профессионалов Cosmogid Профи</span>
					<p>

					<p class="modal-login__text">
						Для оформления заявки заполните поля формы отправки, приложив сканы ваших документов об образовании в бьюти-сфере.
					</p>

					<div class="modal__row">

						<div class="inputbox">

							<label class="inputbox__label" for="modal-club-name">
								Как вас зовут
							</label>

							<input class="input" name="name" placeholder="Маша" id="modal-club-name">

						</div>

						<div class="inputbox">

							<label class="inputbox__label" for="modal-club-lastname">
								Ваша фамилия
							</label>

							<input class="input" name="lastname" placeholder="Кузякина" id="modal-club-lastname">

						</div>

					</div>

					<div class="modal__row">

						<div class="inputbox">

{% set modalMod = 'club' %}

{% include "template/modal/modal-callback-phone.html" %}

						</div>

						<div class="inputbox modal-club__btn-code">

							<button class="btn" type="button">
								Получить код
							</button>

						</div>

						<div class="inputbox hide">

							<label class="inputbox__label" for="modal-club-code">
								Код подтверждения
							</label>

							<input class="input" name="code" placeholder="1234" id="modal-club-code" inputmode="numeric">

						</div>

					</div>

					<div class="modal__row hide">

						<div class="modal-login__title">
							Повторно запросить код через:
						</div>

						<div class="modal-login__text">
							<b>60</b> секунд
						</div>

						<div class="modal-login__text hide">

							<button class="btn btn--link" type="button">
								Получить новый код
							</button>

						</div>

					</div>

					<div class="modal__row">

						<div class="inputbox">

							<label class="inputbox__label" for="modal-club-email">
								Ваша почта
							</label>

							<input class="input" name="email" placeholder="kuzyakina@mail.ru" id="modal-club-email" type="email">

						</div>

						<div class="inputbox">

							<label class="inputbox__label" for="modal-club-org">
								Ваша организация (если есть)
							</label>

							<input class="input" name="org" placeholder="Название" id="modal-club-org">

						</div>

					</div>

					<div class="modal__row">

						<div class="inputbox">

							<label class="inputbox__label" for="modal-club-site">
								Сайт или страница в соцсети
							</label>

							<input class="input" name="site" placeholder="kuzyakina.ru" id="modal-club-site">

						</div>

						<div class="inputbox">

							<label class="inputbox__label" for="modal-club-birthdate">
								Дата рождения
							</label>

							<input class="input" name="birthdate" placeholder="ДД.ММ.ГГГГ" id="modal-club-birthdate" onFocus="this.type='date'">

						</div>

					</div>

					<p class="modal-login__title">
						Давайте познакомимся поближе
					<p>

					<div class="inputbox">

						<p class="inputbox__label">
							Кто вы
						</p>

						<div class="select select--white">

							<select name="bisness">

								<option value="1">Владелец собственного бизнеса</option>
								<option value="2">Владелец собственного бизнеса 2</option>
								<option value="3">Владелец собственного бизнеса 3</option>
								<option value="4">Владелец собственного бизнеса 4</option>
								<option value="5">Владелец собственного бизнеса 5</option>

							</select>

						</div>

					</div>

					<div class="modal-club__checkbox">

						<div class="inputbox">

							<p class="inputbox__label">
								Выберите направление
							</p>

							<div class="modal__row">

								<div class="modal__column">

{% for label in ["Косметология","Массаж","Парикмахерское искусство","Покупаю для себя","Депиляция","Другое","Маникюр и педикюр"] %}

									<label class="checkbox">

										<input type="checkbox" class="checkbox__input visuallyhidden">

										<span class="checkbox__label">
											{{ label }} {{ list.length }}
										</span>

									</label>

							{% if loop.index === 4 %}

								</div>

								<div class="modal__column">

							{% endif %}

{% endfor %}

								</div>

							</div>

						</div>

					</div>

					<div class="inputbox">

						<label class="inputbox__label" for="modal-club-brand">
							Предпочтения по бренду
						</label>

						<input class="input" name="brand" placeholder="Можно перечислить через запятую" id="modal-club-brand">

					</div>

					<div class="inputbox">

						<label class="inputbox__label" for="modal-club-message">
							Ваши комментарии, пожелания
						</label>

						<input class="input" name="message" placeholder="Можно перечислить через запятую" id="modal-club-message">

					</div>

					<p class="modal-login__title">
						Загрузите сканы документов:
					<p>

					<p class="modal-login__text">
						Только для специалистов
					</p>

					<div class="modal-club__files">

{% for file in [
	{
		label : "Первый разворот паспорта",
		desc  : "Максимальный размер файла 2Мб"
	},
	{
		label : "Ваше фото с паспортом в руке",
		desc  : "Максимальный размер файла 2Мб"
	},
	{
		label : "Дипломы",
		desc  : "Можно выбрать несколько файлов"
	},
	{
		label : "Реквизиты организации",
		desc  : "В формате doc, pdf, txt, макс. размер 1 Мб"
	}
] %}

						<div class="modal-file">

							<p class="modal-file__head">

								{{ file.label }}

								<small class="modal-file__desc">
									{{ file.desc }}
								</small>

							</p>

							<label class="modal-file__body">

								<input type="file" name="files[]" class="modal-file__input visuallyhidden" multiple="multiple">

								<span class="btn btn--gray">
									Загрузить
								</span>

							</label>

						</div>

{% endfor %}

					</div>

					<div class="modal-login__rule">

{% include "template/modal/checkbox-rule.html" %}

					</div>

					<div class="modal__row">

						<div class="modal__column">

							<button class="btn btn--outline modal__close">
								Отмена
							</button>

						</div>

						<div class="modal__column">

							<button class="btn">
								Отправить
							</button>

						</div>

					</div>

				</form>

			</div>