			<div class="modal__item modal__item--club-ok is-full">

				<div class="modal-full">

					<h3 class="modal-full__title">
						Ваша заявка на вступление в клуб профессионалов <span class="color-pink">Cosmogid Профи</span> принята!
					</h3>

					<div class="modal-full__text">

						<p>
							После рассмотрения заявки, мы с Вами свяжемся!
						</p>

						<p>
							Также статус заявки можно отследить в <a href="/" class="color-pink">личном кабинете</a>.
						</p>

					</div>

				</div>

			</div>