			<div class="modal__item modal__item--consultation modal-login">

				<form class="modal-login__form" action="/">

					<p class="modal-login__title">
						Подобрать личную схему ухода
					</p>

					<p class="modal-login__text">
						Наши специалисты работают с разными брендами и могут посоветовать лучшее индивидуально для&nbsp;Вас
					</p>

					<div class="modal__row">

						<div class="inputbox">

							<label class="inputbox__label" for="modal-consultation-name">
								Как вас зовут
							</label>

							<input class="input input--medium" name="name" placeholder="Кузякина Марина" id="modal-consultation-name">

							<span class="inputbox__text">
								Информационное сообщение
							</span>

						</div>

						<div class="inputbox">

							<label class="inputbox__label" for="modal-consultation-email">
								Ваша почта
							</label>

							<input class="input input--medium" name="email" placeholder="kuzyakina@mail.ru" id="modal-consultation-email" type="email">

						</div>

					</div>

					<div class="modal__row">

						<div class="inputbox">

{% set modalMod = 'consultation' %}

{% include "template/modal/modal-callback-phone.html" %}

						</div>

						<div class="inputbox">

							<label class="inputbox__label" for="modal-consultation-telegram">
								Ваш телеграмм
							</label>

							<input class="input input--medium" name="telegram" placeholder="Телефон или @никнейм" id="modal-consultation-telegram">

						</div>

					</div>

					<p class="modal-login__title">
						Опишите проблему и укажите ваши пожелания
					</p>

					<p class="modal-login__text">
						Опишите проблему чтобы наши специалисты могли получить первичное представление о Вас и квалифицированно проконсультировать&nbsp;Вас
					</p>

					<div class="inputbox">

						<label class="inputbox__label" for="modal-consultation-message">
							Опишите проблему (обязательно)
						</label>

						<textarea class="input autosize" name="message" placeholder="Вот тут можно описать проблему" required="required" id="modal-consultation-message"></textarea>

					</div>

					<div class="modal__row">

						<div class="inputbox">

							<label class="inputbox__label" for="modal-consultation-price">
								Желаемый бюджет
							</label>

							<input class="input input--medium" name="price" placeholder="от 500 до 1000 рублей" id="modal-consultation-price">

						</div>

						<div class="inputbox">

							<label class="inputbox__label" for="modal-consultation-brand">
								Предпочтения по бренду
							</label>

							<input class="input input--medium" name="brand" placeholder="Бренд или Страна" id="modal-consultation-brand">

						</div>

					</div>

					<div class="modal-login__rule">

{% include "template/modal/checkbox-rule.html" %}

					</div>

					<div class="modal__row">

						<div class="modal__column">

							<button class="btn btn--medium btn--outline modal__close">
								Отмена
							</button>

						</div>

						<div class="modal__column">

							<button class="btn btn--medium">
								Отправить
							</button>

						</div>

					</div>

				</form>

			</div>