			<div class="modal__item modal__item--consultations-select-ok is-full">

				<div class="modal-full">

					<h3 class="modal-full__title">
						Ваша заявка на подбор личной схемы ухода принята!
					</h3>

					<div class="modal-full__text">

						<p>
							В ближайшее время мы с Вами свяжемся!
						</p>

					</div>

				</div>

			</div>

			<div class="modal__item modal__item--consultations-question-ok is-full">

				<div class="modal-full">

					<h3 class="modal-full__title">
						Ваш вопрос принят!
					</h3>

					<div class="modal-full__text">

						<p>
							В ближайшее время мы с Вами свяжемся!
						</p>

					</div>

				</div>

			</div>