	<aside class="modal__item modal__item--promo modal__item--delay-promo modal-delay-promo">

		<div class="modal-delay-promo__body">

			<p class="modal-delay-promo__label">
				Встречайте весну с подарком!
			<p>

			<p class="modal-delay-promo__title h1">
				Скидка -15% к красоте ждет Вас после авторизация!
			</p>

			<p class="modal-delay-promo__text">
				Просто введите волшебное слово <b>HELLO</b> в корзине — оно раскроет бутон вашей первой скидки.
			</p>

			<ul class="modal-delay-promo__list">
				<li>
					Не суммируется с другими акциями.
				</li>
				<li>
					Действует на всё, кроме брендов-исключений.
				</li>
			</ul>

		</div>

		<div class="modal-delay-promo__bg">

			<picture>

				<source srcset="/img/modal/delay-promo/1000x450.webp 1x, /img/modal/delay-promo/2000x900.webp 2x" type="image/webp">
				<source srcset="/img/modal/delay-promo/1000x450.jpg 1x, /img/modal/delay-promo/2000x900.jpg 2x">

				<img src="/img/modal/delay-promo/1000x450.jpg" alt="Встречайте весну с подарком!" loading="lazy" width="1000" height="450">

			</picture>

		</div>

	</aside>