			<form action="/" class="modal__item modal__item--find-notify" id="modal-form-find-notify">

				<h3 class="modal__title">
					Уведомить о наличии
				</h3>

				<p class="modal__text">
					Наши специалисты поставят Вас в лист ожидания и свяжутся сразу при поступлении товара
				</p>

				<div id="modal-form-find-notify-product">

				</div>

				<div class="modal__checkbox">

					<label class="checkbox">

						<input class="checkbox__input visuallyhidden" type="checkbox" name="inform-messenger">

						<span class="checkbox__label">
							Не звоните, напишите в WhatsApp или Telegram
						</span>

					</label>

				</div>

				<div class="modal__checkbox">

					<label class="checkbox">

						<input class="checkbox__input visuallyhidden" type="checkbox" name="find-analogue" checked="checked">

						<span class="checkbox__label">
							Не хочу ждать - подберите аналог
						</span>

					</label>

				</div>

				<div class="modal__row">

					<div class="inputbox">

						<label class="inputbox__label" for="modal-find-notify-name">
							Как вас зовут
						</label>

						<input class="input" name="name" placeholder="Кузякина Марина" required="required" id="modal-find-notify-name">

					</div>

					<div class="inputbox">

{% set modalMod = 'find-notify' %}

{% include "template/modal/modal-callback-phone.html" %}

					</div>

				</div>

				<div class="modal__foot">

					<button class="btn">
						Отправить
					</button>

				</div>

			</form>