			<form action="/" class="modal__item modal__item--find-notify" id="modal-form-find-notify">

				<h3 class="modal__title">
					Уведомить / Найти аналогичный товар
				</h3>

				<p class="modal__text">
					Наши консультанты перезвонят вам в течении 10 минут или в начале рабочего дня если сейчас не рабочее время и помогут подобрать аналогичный товар
				</p>

				<div id="modal-form-find-notify-product">

				</div>

				<div class="modal__row">

					<div class="modal__inputbox">

						<label class="modal__label" for="modal-callback-name">
							Как вас зовут
						</label>

						<input class="input" name="name" placeholder="Кузякина Марина" required="required" id="modal-callback-name">

					</div>

					<div class="modal__inputbox">

{% include "template/modal/modal-callback-phone.html" %}

					</div>

				</div>

				<div class="modal__foot">

					<button class="btn">
						Отправить
					</button>

				</div>

			</form>