			<form action="/" class="modal__item modal__item--find-analogue" id="modal-form-find-analogue">

				<p class="modal__title">
					Найти аналогичный товар
				<p>

				<p class="modal__text">
					Наши специалисты могут помочь подобрать качественный аналогичный товар
				</p>

				<div id="modal-form-find-analogue-product">

				</div>

				<div class="modal__checkbox">

					<label class="checkbox">

						<input class="checkbox__input visuallyhidden" type="checkbox" name="inform-messenger">

						<span class="checkbox__label">
							Не звоните, напишите в WhatsApp или Telegram
						</span>

					</label>

				</div>

				<div class="modal__row">

					<div class="inputbox">

						<label class="inputbox__label" for="modal-find-analogue-name">
							Как вас зовут
						</label>

						<input class="input input--medium" name="name" placeholder="Кузякина Марина" required="required" id="modal-find-analogue-name">

					</div>

					<div class="inputbox">

{% set modalMod = 'find-analogue' %}

{% include "template/modal/modal-callback-phone.html" %}

					</div>

				</div>

				<div class="modal__foot">

					<div class="modal__rule">

{% include "template/modal/checkbox-rule.html" %}

					</div>

					<button class="btn btn--big">
						Отправить
					</button>

				</div>

			</form>