			<form action="/" class="modal__item modal__item--login form-lk form-login">

				<div class="form-lk__head">

					<h3 class="form-lk__title h3">
						Вход в личный кабинет
					</h3>

				</div>

				<label class="form-lk__label" for="form-login">
					Введите телефон или эл.почту
				</label>

				<input class="form-lk__input modal__focus input" required="required" name="login" id="form-login">

				<p class="form-lk__after">
					Найдем Вас в Cosmogid или зарегистрируем
				</p>

				<button class="form-lk__submit btn btn--blue">
					Отправить
				</button>

			</form>

			<form action="/" class="modal__item modal__item--sms form-lk form-sms">

				<div class="form-lk__head">

					<button class="button form-lk__back" type="button" aria-label="Изменить номер телефона" data-modal="login">
						<svg width="8" height="13" viewBox="0 0 8 13">
							<path fill="none" d="M7.5.5l-6 6 6 6" stroke="#595858"/>
						</svg>
					</button>

					<h3 class="form-lk__title h3" id="modal-sms__phone">
						Авторизация через телефон
					</h3>

				</div>

				<label class="form-lk__label" for="form-sms">
					Введите 4 цифры кода подтверждения
				</label>

				<input class="form-lk__input modal__focus input" required="required" name="sms" id="form-sms" type="tel">

				<p class="form-lk__after">
					Мы отправили SMS с кодом на ваш номер
				</p>

				<button class="form-lk__submit btn btn--blue">
					Войти
				</button>

				<div class="form-lk__repeat">

					Не получили код?

					<span class="form-sms__repeat-text">
						Попробуйте через <span class="form-sms__timer">60</span> сек.
					</span>

					<button class="form-lk__repeat-sms btn btn--read hide" type="button">
						Отправить новое sms
					</button>

				</div>

			</form>