			<form action="/" class="modal__item modal__item--login-email modal-login">

				<h3 class="modal-login__title">
					Войдите по почте
				</h3>

				<p class="modal-login__text">
					Только для зарегистрированных пользователей
				</p>

				<div class="modal-login__inputbox">

					<div class="inputbox">

						<label class="inputbox__label" for="modal-login-email">
							Ваша почта
						</label>

						<input class="input" name="email" placeholder="mail@mail.ru" required="required" id="modal-login-email" type="email">

					</div>

				</div>

				<div class="modal-login__rule">

{% include "template/modal/checkbox-rule.html" %}

				</div>

				<div class="modal-login__btn">

					<button class="btn btn--big">
						Войти
					</button>

				</div>

				<div class="modal-login__after">

					<button class="btn btn--hash btn--small" type="button" data-modal="login-phone">
						Войти по номеру телефона
					</button>

				</div>

			</form>