			<form action="/" class="modal__item modal__item--login-sms modal-login is-autofocus">

				<h3 class="modal-login__title">
					Введите код
				</h3>

				<p class="modal-login__text">
					Мы отправили код подтверждения <br>
					на номер +7 919 888 91 35. <button class="btn btn--link" type="button" data-modal="login-phone">Изменить</button>
				</p>

				<div class="modal-login__inputbox modal-login__inputbox--code">

					<input class="input" name="code" autocomplete="off" inputmode="numeric" type="tel" maxlength="4" autofocus="autofocus" required="required">

				</div>

				<div class="modal-login__btn">

					<button class="btn" disabled="disabled">
						Авторизироваться
					</button>

				</div>

				<div class="modal-login__after">

					Получить новый код можно <br> через 00:59

				</div>

				<div class="modal-login__after">

					<button class="btn btn--hash btn--small" type="button">
						Получить новый код
					</button>

				</div>

			</form>