			<form action="/" class="modal__item modal__item--buy-one-click form-buy-one-click form-modal form">

				<h3 class="form-modal__title h3">
					Быстрая покупка
				</h3>

				<div class="form-buy-one-click__product">

					<input type="hidden" name="id">
					<input type="hidden" name="storeid">
					<input type="hidden" name="articleid">

					<div class="card-item">

						<div class="card-item__img"></div>

						<div class="card-item__cat"></div>

						<div class="card-item__title"></div>

						<div class="card-item__price" data-suf="₽"></div>

					</div>

				</div>

				<div class="form-modal__input-box">

					<input class="input" placeholder="Введите ФИО" aria-label="Ваше ФИО" required="required" name="name">

				</div>

				<div class="form-modal__input-box">

					<input type="tel" class="input" placeholder="Введите Ваш номер телефона" aria-label="Ваш номер телефона" required="required" name="phone">

				</div>

				<div class="form-modal__input-box">

					<input type="email" class="input" placeholder="Введите Ваш e-mail" aria-label="Ваш e-mail" required="required" name="email">

				</div>

				<div class="form-modal__checkbox">

					<label class="checkbox">

						<input type="checkbox" class="checkbox__input" required="required">

						<span class="checkbox__label white-space-nowrap">
							Я согласен на обработку <a href="/" target="_blank">персональных данных</a>
						</span>

					</label>

				</div>

				<button class="form-modal__submit btn btn--blue">
					Заказать
				</button>

			</form>