			<form action="/" class="modal__item modal__item--product-select" id="modal-product-select">

				<div class="modal-product-select">

					<div class="modal-product-select__img">

						<img src="https://i.makeupstore.co.il/9/9s/9swdbvr7r6oe.jpg" width="280" height="280" alt="">
{#
	Все состояния для (Спец товар, Снят с продаж)
	аналогияные как и были .overlay-disabled
	шаблоны html в id="overlay-disabled-template"
#}
					</div>

					<div class="modal-product-select__body">

						<div class="modal-product-select__price">

							<span class="price">

								<s class="price__old">
									3456 ₽
								</s>

								<b class="price__value">
									2581 ₽
								</b>

							</span>
{#
	Если "Спец товар", то вместо цены выводим:

							<div class="board-login">

								<span class="ico-box">
									<svg width="24" height="24" viewBox="0 0 24 24">
										<use xlink:href="#svg-profi"/>
									</svg>
								</span>

								<div class="board-login__text">

									<b>
										Товар для специалистов
									</b>

									<div class="flex">

										<button class="btn btn--link" type="button" data-modal="request-price">
											Запросите цену
										</button>

									</div>

								</div>

								<details class="tooltip">

									<summary>
										<svg width="16" height="16" viewBox="0 0 24 24">
											<use xlink:href="#svg-info"/>
										</svg>
									</summary>

									<div class="tooltip__inner">

										<p>
											Вы можете его купить после прохождения авторизации
										</p>

									</div>

								</details>

							</div>
#}

						</div>

						<div class="modal-product-select__availability">

							<span class="availability">
								есть в наличии
							</span>
{#
	Если нет в наличии
							<span class="availability is-not">
								нет в наличии
							</span>
#}
						</div>

						<div class="modal-product-select__list is-scroll">

{% for btn in [
	{
	  img   : "o/oa/oaybhhv8w4yo",
	  name  : "0.00",
	  price : 2581
	},
	{
	  img   : "c/c1/c1e3jbjbvoia",
	  name  : "0.11 - Ash",
	  price : 1000
	},
	{
	  img   : "f/fx/fxdrxfolfea3",
	  name  : "0.22 - Pearl",
	  price : 1000
	},
	{
	  img   : "r/ru/ruhowwgb7cdh",
	  name  : "0.44 - Copper",
	  price : 1000
	},
	{
	  img   : "j/jw/jwbbdz3j2vxh",
	  name  : "1.0 - Black",
	  price : 2000
	},
	{
	  img   : "j/jq/jqolqys9e6ze",
	  name  : "1.1 - Blue Black",
	  price : 1000
	},
	{
	  img   : "h/hu/hupfddcmkf6o",
	  name  : "3.0 - Dark Brown Natural",
	  price : 3000
	},
	{
	  img   : "x/xd/xdfggcj4ygzf",
	  name  : "3.66 - Dark Brown Extra Red",
	  price : 3000
	},
	{
	  img   : "e/el/el9op3d2ur01",
	  name  : "4.0 - Medium Brown Natural",
	  price : 4000
	},
	{
	  img   : "u/um/umwbwdkr7hjs",
	  name  : "4.1 - Medium Brown Ash",
	  price : 4000
	},
	{
	  img   : "s/sg/sg4ielfpnt8b",
	  name  : "4.3 - Medium Brown Golden",
	  price : 4000
	},
	{
	  img   : "g/gv/gvvgkblgfijk",
	  name  : "4.4 - Medium Brown Copper",
	  price : 4000
	},
	{
	  img   : "c/c1/c1sgcy6kd6d7",
	  name  : "4.8+",
	  price : 4000
	},
	{
	  img   : "m/mh/mh8aicqzc0yx",
	  name  : "4.35 - Medium Brown Golden Red",
	  price : 4000
	},
	{
	  img   : "h/ha/hafi2pdw4fzw",
	  name  : "4.38 Medium Brown Chocolate Golden",
	  price : 4000
	},
	{
	  img   : "b/b1/b1wyplpzfbxz",
	  name  : "4.86 - Medium Brown Chocolate Red",
	  price : 4000
	},
	{
	  img   : "5/5b/5bvkwclgfko0",
	  name  : "5.0 - Light Brown Natural",
	  price : 5000
	},
	{
	  img   : "n/nb/nbt0pqq2ib94",
	  name  : "5.03 - Light Brown Natural Golden",
	  price : 5000
	},
	{
	  img   : "x/xi/xiu8r58ywuuy",
	  name  : "5.6+",
	  price : 5000
	},
	{
	  img   : "i/ii/iids8n7b28a7",
	  name  : "5.8 - Light Brown Chocolate",
	  price : 5000
	},
	{
	  img   : "q/qy/qy5f4wxekxf7",
	  name  : "5.11",
	  price : 5000
	},
	{
	  img   : "a/as/as1hehnkl61d",
	  name  : "5.35 - Light Brown Golden Mahogany",
	  price : 5000
	},
	{
	  img   : "w/ws/ws3mzenfeene",
	  name  : "5.56 - Light Brown Mahogany Red",
	  price : 5000
	},
	{
	  img   : "v/v5/v545nipiujtd",
	  name  : "5.66x",
	  price : 5000
	},
	{
	  img   : "m/m7/m7zqcixhfudc",
	  name  : "5.77",
	  price : 5000
	},
	{
	  img   : "c/cb/cbxzkmvas2uo",
	  name  : "5.82 - Light Brown Chocolate Pearl",
	  price : 5000
	},
	{
	  img   : "x/xh/xh2avm6hbuiq",
	  name  : "6.0 - Medium Blonde Natural",
	  price : 6000
	},
	{
	  img   : "g/gi/giobny17ghnf",
	  name  : "6.0+",
	  price : 6000
	},
	{
	  img   : "2/2v/2vgv8vm4h28l",
	  name  : "6.03 - Medium Blonde Natural Golden",
	  price : 6000
	},
	{
	  img   : "y/yw/ywhnqawz8vfm",
	  name  : "6.1 - Medium Blonde Ash Intensely Ash",
	  price : 6000
	},
	{
	  img   : "0/0p/0pmjd66ulfp5",
	  name  : "6.3 - Medium Blonde Golden",
	  price : 6000
	},
	{
	  img   : "r/r9/r970cndawpuy",
	  name  : "6.4 - Medium Blonde Copper",
	  price : 6000
	},
	{
	  img   : "o/od/oddpauyf8ci9",
	  name  : "6.6+",
	  price : 6000
	},
	{
	  img   : "2/2p/2prc1g0oeaux",
	  name  : "6.8+",
	  price : 6000
	},
	{
	  img   : "d/dm/dmvnimtjv2jc",
	  name  : "6.11",
	  price : 6000
	},
	{
	  img   : "v/vf/vfdbdpoqfcpv",
	  name  : "6.18",
	  price : 6000
	},
	{
	  img   : "l/lp/lp69yrnqfafd",
	  name  : "6.34 - Medium Blonde Golden Copper",
	  price : 6000
	},
	{
	  img   : "r/rp/rpwfg8dzcsfh",
	  name  : "6.35 - Medium Blonde Golden Mahogany",
	  price : 6000
	},
	{
	  img   : "c/ca/caxftfk56i7o",
	  name  : "6.38 Medium Blonde Golden Chocolate",
	  price : 6000
	},
	{
	  img   : "b/br/brkdtosbkgbl",
	  name  : "6.38+ - Dark Blonde Gold Chocolate Intense",
	  price : 6000
	},
	{
	  img   : "x/xa/xadz2whxpmfj",
	  name  : "6.44 - Medium Blonde Intense Copper",
	  price : 6000
	},
	{
	  img   : "i/ie/ieojoqofj267",
	  name  : "6.60 - Dark Blonde Red Natural",
	  price : 6000
	},
	{
	  img   : "a/ae/aeamd07kpjzu",
	  name  : "6.66x",
	  price : 6000
	},
	{
	  img   : "w/wa/wa4zj8kjwyfp",
	  name  : "6.77x - Medium Blonde Extra Violet",
	  price : 6000
	},
	{
	  img   : "n/ng/ng5zuonzjkai",
	  name  : "6.83 - Dark Blonde Chocolate Golden",
	  price : 6000
	},
	{
	  img   : "w/w7/w77wle0usgkq",
	  name  : "6.84 - Medium Blonde Chocolate Copper",
	  price : 6000
	},
	{
	  img   : "l/ly/lyuji4m1mzro",
	  name  : "7.03 - Medium Blonde Natural Golden",
	  price : 7000
	},
	{
	  img   : "s/sv/svqvoo4psyqg",
	  name  : "7.2 - Medium Blonde Pearl",
	  price : 7000
	},
	{
	  img   : "y/yi/yi0yfkon7gqw",
	  name  : "7.2+",
	  price : 7000
	},
	{
	  img   : "u/ux/uxbiyoug7a2r",
	  name  : "7.3 - Medium Blonde Golden",
	  price : 7000
	},
	{
	  img   : "g/gd/gdwhoz8oaaee",
	  name  : "7.3+",
	  price : 7000
	},
	{
	  img   : "w/wi/wieufu7g2rfr",
	  name  : "7.8 - Medium Chocolate Blonde",
	  price : 7000
	},
	{
	  img   : "b/bk/bkhqpyk4v1nh",
	  name  : "7.32 - Medium Blonde Golden Pearl",
	  price : 7000
	},
	{
	  img   : "z/zh/zhpnlif2kddf",
	  name  : "7.35 - Medium Blonde Golden Mahogany",
	  price : 7000
	},
	{
	  img   : "o/ou/ou86tw8cn5bq",
	  name  : "7.38 - Medium Blonde Golden Chocolate",
	  price : 7000
	},
	{
	  img   : "r/r9/r9q0expkgs7p",
	  name  : "7.38+ - Medium Blonde Golden Intense Chocolate",
	  price : 7000
	},
	{
	  img   : "k/ki/kivnbafu2aw5",
	  name  : "7.76 - Medium Blonde Violet Red",
	  price : 7000
	},
	{
	  img   : "n/nq/nqi6y7zn4qhx",
	  name  : "7.82 - Medium Blonde Chocolate Pearl",
	  price : 7000
	},
	{
	  img   : "u/ue/uewhag3skq1k",
	  name  : "7.83 - Medium Blonde Chocolate Golden",
	  price : 7000
	},
	{
	  img   : "c/ct/ctyimum6aq3z",
	  name  : "7.86",
	  price : 7000
	},
	{
	  img   : "u/uw/uwdjqagy9vqx",
	  name  : "8.0 - Light Blonde Natural",
	  price : 8000
	},
	{
	  img   : "s/sv/sv3vgowl6wbg",
	  name  : "8.0+",
	  price : 8000
	},
	{
	  img   : "e/ex/exymlqwd34ly",
	  name  : "8.03 - Light Blonde Natural Golden",
	  price : 8000
	},
	{
	  img   : "w/wp/wpqilf0vaxx1",
	  name  : "8.3 - Light Blonde Golden",
	  price : 8000
	},
	{
	  img   : "c/ck/ckc8kobvgujk",
	  name  : "8.8+",
	  price : 8000
	},
	{
	  img   : "g/gb/gbgejpltumf6",
	  name  : "8.18",
	  price : 8000
	},
	{
	  img   : "d/dj/djsfyky1ddce",
	  name  : "8.32 - Light Blonde Golden Pearl",
	  price : 8000
	},
	{
	  img   : "j/jh/jhokhgsz9dht",
	  name  : "8.34 - Light Blonde Golden Copper",
	  price : 8000
	},
	{
	  img   : "a/ag/agfxgfc1dgse",
	  name  : "8.44x - Light Blonde Intense Copper",
	  price : 8000
	},
	{
	  img   : "j/ji/jisy3uk4m8tl",
	  name  : "8.66x",
	  price : 8000
	},
	{
	  img   : "u/u7/u78xdu19vsye",
	  name  : "8.77x - Light Blonde Extra Violet",
	  price : 8000
	},
	{
	  img   : "h/hz/hzj4dasg0ccw",
	  name  : "9.0 - Very Light Blonde Natural",
	  price : 9000
	},
	{
	  img   : "e/eh/ehdyt0knbtfp",
	  name  : "9.0+",
	  price : 9000
	},
	{
	  img   : "r/rf/rfl5mz6isyjo",
	  name  : "9.03 - Very Light Blonde Natural Golden",
	  price : 9000
	},
	{
	  img   : "9/9y/9yeyddlefjqe",
	  name  : "9.2 - Very Light Blonde Pearl",
	  price : 9000
	},
	{
	  img   : "1/1t/1tcbpv6toyqh",
	  name  : "9.2+",
	  price : 9000
	},
	{
	  img   : "e/ec/ecw7ksnb4hsu",
	  name  : "9.3 - Very Light Blonde Golden",
	  price : 9000
	},
	{
	  img   : "a/ad/ad3kws8txgq5",
	  name  : "9.11 - Very Light Blonde Ash Golden",
	  price : 9000
	},
	{
	  img   : "i/ib/ibappnotknfx",
	  name  : "9.32 - Very Light Blonde Golden Beige",
	  price : 9000
	},
	{
	  img   : "z/zu/zu1n5mqlthne",
	  name  : "9.38 Very Light Blonde Chocolate Golden",
	  price : 9000
	},
	{
	  img   : "u/un/une0pvosr85y",
	  name  : "9.44 - Very Light Blonde",
	  price : 9000
	},
	{
	  img   : "h/hi/hikvknl0bnmg",
	  name  : "9.82 - Very Light Blonde Chocolate Pearl",
	  price : 9000
	}
]%}

							<button class="modal-product-select__btn button{% if loop.first %} is-current{% endif %}" type="button" data-id="{{ loop.index }}" data-price="{{ btn.price }}">

								<img src="https://i.makeupstore.co.il/{{ btn.img }}.jpg" width="24" height="24" loading="lazy" alt="{{ btn.name }}">

								{{ btn.name }}

							</button>
{% endfor %}

						</div>

						<div class="modal-product-select__buy flex">

							<button class="btn flex--grow-1">
								Купить
							</button>

							<button class="btn btn--favourite" type="button" aria-label="В избранное">
								<svg width="24" height="24" viewBox="0 0 24 24">
									<use xlink:href="#svg-favourite"/>
								</svg>
							</button>

{#
	Если уже добавлен в избранное

							<button class="btn btn--favourite" type="button" aria-label="Удалить из избранного">
								<svg width="24" height="24" viewBox="0 0 24 24">
									<use xlink:href="#svg-favourite-fill"/>
								</svg>
							</button>
#}

						</div>

					</div>

				</div>

			</form>