	<form action="/" class="modal__item modal__item--promo modal__item--professional-callback-login modal-professional-callback">

		<div class="modal-professional-callback__body">

			<div class="modal-professional-callback__head">

				<p class="modal-professional-callback__label">
					Профессиональная косметика
				<p>

				<p class="modal-professional-callback__title h1">
					товар продается только после <b>бесплатной</b> консультации специалиста
				</p>

				<p class="modal-professional-callback__text">
					Для заказа  товара, свяжитесь с нами с помощью мессенджеров или заполните форму, и получите консультацию нашего менеджера
				</p>

			</div>

			<div class="modal-professional-callback__fieldset hide">

				<p class="modal-professional-callback__heading">
					Введите код ниже
				</p>

				<p class="modal-professional-callback__phone-demo">
					6 последний цифр номера с которого вам позвонили, например&nbsp;<b>+7 495 1<span>23 45 67</span></b>
				</p>

				<div class="modal-professional-callback__number">
					<input type="hidden" name="number">
					<input class="input" type="tel" maxlength="1" placeholder="–">
					<input class="input" type="tel" maxlength="1" placeholder="–">
					<input class="input" type="tel" maxlength="1" placeholder="–">
					<input class="input" type="tel" maxlength="1" placeholder="–">
					<input class="input" type="tel" maxlength="1" placeholder="–">
					<input class="input" type="tel" maxlength="1" placeholder="–">
				</div>

				<button class="button modal-professional-callback__repeat" type="button" disabled="disabled">
					Перезвоните через 00:17 секунд
				</button>

			</div>

			<div class="modal-professional-callback__foot">

				<button class="btn btn--outline btn--big js-modal-professional-callback-open">
					Получить консультацию
				</button>

				<div class="modal-professional-callback__foot-messenger">

					<a class="btn btn--ico-color" href="https://wa.me/79222977730" target="_blank" rel="noopener nofollow">
						<svg width="40" height="40" viewBox="0 0 40 40">
							<use xlink:href="#svg-whatsapp-color"/>
						</svg>
					</a>

					<a class="btn btn--ico-color" href="https://t.me/cosmo_gid_bot" target="_blank" rel="noopener nofollow">
						<svg width="40" height="40" viewBox="0 0 40 40">
							<use xlink:href="#svg-telegram-color"/>
						</svg>
					</a>

				</div>

			</div>

		</div>

		<div class="modal-professional-callback__img">

			<picture>

				<source srcset="/img/modal/professional-callback/370x370.webp 1x, /img/modal/professional-callback/740x740.webp 2x" type="image/webp">
				<source srcset="/img/modal/professional-callback/370x370.jpg 1x, /img/modal/professional-callback/740x740.jpg 2x">

				<img src="/img/modal/professional-callback/370x370.jpg" alt="Профессиональная косметика" loading="lazy" width="370" height="370">

			</picture>

		</div>

	</form>