			<form action="/" class="modal__item modal__item--recovery modal-login">

				<p class="modal-login__title">
					Восстановление пароля
				<p>

				<p class="modal-login__text">
					Введите Ваш адрес электронный почты, и Вам на него будет выслан пароль для авторизации на сайте.
				</p>

				<div class="inputbox">

					<label class="inputbox__label" for="modal-recovery-email">
						Ваша почта
					</label>

					<input class="input" name="email" placeholder="mail@mail.ru" required="required" id="modal-recovery-email" type="email">

				</div>

				<div class="modal__row">

					<div class="modal__column">

						<button class="btn btn--outline" type="button" data-modal="login">
							Отмена
						</button>

					</div>

					<div class="modal__column">

						<button class="btn">
							Восстановить
						</button>

					</div>

				</div>

			</form>