			<form action="/" class="modal__item modal__item--reg modal-login">

				<p class="modal-login__title">
					Войти
				</p>

				<p class="modal-login__intro">
					Введите номер телефона
				</p>

				<p class="modal-login__text">
					Мы отправим код или позвоним. Отвечать на звонок не нужно. Код может прийти на почту или в СМС
				</p>

				<div class="modal__row">

					<div class="inputbox">

{% set modalMod = 'reg' %}

{% include "template/modal/modal-callback-phone.html" %}

					</div>

				</div>

				<div class="modal__foot">

					<button class="btn">
						Войти
					</button>

				</div>

			</form>