			<form action="/" class="modal__item modal__item--review modal-review">

				<input type="hidden" name="id">

				<div class="modal-review__head">

					<h3 class="modal__title">
						Вы можете оставить отзыв
					</h3>

					<p class="modal__text">
						Используйте данную форму для того, чтобы оставить отзыв или задать вопрос о товаре.
					</p>

					<p class="modal__text">
						Все комментарии, не касающиеся продукта, будут удалены!
					</p>

					<p class="modal__text">
						Комментарий будет выведен только после предварительной проверки нашими сотрудниками.
					</p>

					<p class="modal__text">
						*Оставьте свой email и мы отправим оповещение сразу после того, как специалист обработает ваше сообщение.
					</p>

				</div>

				<div class="modal-review__fieldset">

					<div class="modal__grid">

						<div class="inputbox">

							<label class="inputbox__label" for="modal-review-name">
								Как вас зовут
							</label>

							<input class="input" name="name" placeholder="Кузякина Марина" required="required" id="modal-review-name">

						</div>

						<div class="inputbox">

							<label class="inputbox__label" for="modal-review-email">
								Ваша почта
							</label>

							<input class="input" name="email" placeholder="info@mail.ru" required="required" id="modal-review-email" type="email">

						</div>

						<div class="inputbox is-textarea">

							<label for="modal-review-text" class="inputbox__label">
								Напишите отзыв
							</label>

							<textarea class="input" name="text" placeholder="Напишите свой отзыв или задайте вопрос по товару" id="modal-review-text"></textarea>

							<div class="modal-review__file">

{% include "template/modal/file.html" %}

							</div>

						</div>

						<div class="inputbox is-rating">

							<label class="inputbox__label">
								Поставьте оценку товару
							</label>

							<div class="input-rating">

								<input id="modal-review-rating-1" class="visuallyhidden" type="radio" name="rating" value="1">
								<input id="modal-review-rating-2" class="visuallyhidden" type="radio" name="rating" value="2">
								<input id="modal-review-rating-3" class="visuallyhidden" type="radio" name="rating" value="3">
								<input id="modal-review-rating-4" class="visuallyhidden" type="radio" name="rating" value="4">
								<input id="modal-review-rating-5" class="visuallyhidden" type="radio" name="rating" value="5">

								<label for="modal-review-rating-1" class="input-rating__btn">
									1 звезда
								</label>

								<label for="modal-review-rating-2" class="input-rating__btn">
									2 звезды
								</label>

								<label for="modal-review-rating-3" class="input-rating__btn">
									3 звезды
								</label>

								<label for="modal-review-rating-4" class="input-rating__btn">
									4 звезды
								</label>

								<label for="modal-review-rating-5" class="input-rating__btn">
									5 звезд
								</label>

							</div>

						</div>

						<div class="modal__foot">

							<button class="btn">
								Отправить
							</button>

						</div>

					</div>

				</div>

			</form>