			<form action="/" class="modal__item modal__item--sms modal-login">

				<p class="modal-login__title">
					Введите код из SMS
				</p>

				<p class="modal-login__text">
					На телефон <b class="nowrap" role="button" data-modal="login">+7 (777) 777-77-77</b> <br>
					отправлен код в sms
				</p>

				<div class="modal__row">

					<div class="modal__column">

						<div class="inputbox">

							<label class="inputbox__label" for="modal-sms-code">
								Код
							</label>

							<input class="input input--medium" name="code" placeholder="Код из sms" required="required" id="modal-sms-code" inputmode="numeric">

						</div>

					</div>

					<div class="modal__column flex flex--align-end">

						<button class="btn btn--medium">
							Войти
						</button>

					</div>

				</div>

			</form>