		<div class="product-img">

			<div class="product-img__swiper swiper-container-style gallery-set">

				<div class="swiper-container swiper-container--product">

					<ul class="product-img__list swiper-wrapper">

{% for item in [1,2] %}

						<li class="product-img__item swiper-slide">

							<a class="product-img__link gallery-set__item articleid-events__img" href="/img/product/big.jpg">

								<picture>

									<source srcset="/img/product/320x320.webp 1x, /img/product/640x640.webp 2x" type="image/webp" media="(min-width: 1250px) or (max-width: 360px)">
									<source srcset="/img/product/320x320.jpg 1x, /img/product/640x640.jpg 2x" media="(min-width: 1250px) or (max-width: 360px)">

									<source srcset="/img/product/600x600.webp" type="image/webp" media="(min-width: 768px)">
									<source srcset="/img/product/600x600.jpg" media="(min-width: 768px)">

									<source srcset="/img/product/848x848.webp" type="image/webp" media="(min-width: 424px)">
									<source srcset="/img/product/848x848.jpg" media="(min-width: 424px)">

									<source srcset="/img/product/750x750.webp" type="image/webp" media="(min-width: 375px)">
									<source srcset="/img/product/750x750.jpg" media="(min-width: 375px)">

									<img class="product-img__img" src="/img/product/320x320.jpg" alt="{{ title }}" loading="lazy" width="320" height="320">

								</picture>

							</a>

						</li>

{% endfor %}

					</ul>

				</div>

				<button class="product-img__zoom button" type="button" aria-label="Увеличить фото">
					<svg width="32" height="32" viewBox="0 0 32 32">
						<path d="M14 23a9 9 0 100-18 9 9 0 000 18zM27 27l-6.63-6.63M14 10v8M10 14h8" stroke-width="2"/>
					</svg>
				</button>

				<div class="product-img__wishlist">

					<form action="/" class="form-wishlist">

						<input type="hidden" name="id" value="123">
						<input type="hidden" name="type" value="0">
						<input type="hidden" name="mode" value="add">

						<button class="button">
							в избранное
						</button>

					</form>

				</div>

			</div>

			<ul class="product-img__preview">
				<li class="product-img__preview-item is-active">
					<picture>
						<source srcset="/img/product/50x50.webp 1x, /img/product/100x100.webp 2x" type="image/webp">
						<source srcset="/img/product/50x50.jpg 1x, /img/product/100x100.jpg 2x">
						<img class="product-img__img" src="/img/product/50x50.jpg" alt="{{ title }}" loading="lazy" width="50" height="50">
					</picture>
				</li>
				<li class="product-img__preview-item">
					<picture>
						<source srcset="/img/product/50x50.webp 1x, /img/product/100x100.webp 2x" type="image/webp">
						<source srcset="/img/product/50x50.jpg 1x, /img/product/100x100.jpg 2x">
						<img class="product-img__img" src="/img/product/50x50.jpg" alt="{{ title }}" loading="lazy" width="50" height="50">
					</picture>
				</li>
			</ul>

			<div class="visible-desktop">

{% include "product/procedure/info.html" %}

			</div>

		</div>