		<div class="procedure-step">

			<p class="procedure-step__number h1">
				Шаг 2 - <a href="/">Предупреждение и коррекция</a>
			</p>

			<div class="procedure-table">

				<h3 class="procedure-table__head">
					Слабая форма высыпаний (1-2 элемента)
				</h3>

{% for item in list2a %}

{% include "product/procedure/table__row.html" %}

{% endfor %}

				<h3 class="procedure-table__head">
					Средняя форма высыпаний (3-6 элемента)
				</h3>

{% for item in list2b %}

{% include "product/procedure/table__row.html" %}

{% endfor %}

				<h3 class="procedure-table__head">
					Сильная форма высыпаний (от 6 элементов)
				</h3>

{% for item in list2c %}

{% include "product/procedure/table__row.html" %}

{% endfor %}

			</div>

		</div>