					<tr class="procedure-product procedure-product--{{ item.id }}">

						<td>

							<div class="procedure-product__head">

								<div class="procedure-product__check">

									<label class="checkbox-only">

										<input

											class="checkbox-only__input"
											type="checkbox"

											value="{{ item.id }}"
											data-articleid="{% if item.article %}{{ item.article[0].id }}{% else %}0{% endif %}"
											data-storeid="0"

											{% if item.check %}
												checked="checked"
											{% endif %}

										>

										<span class="checkbox-only__check"></span>

										<span class="checkbox-only__check-text">
											Добавлен в программу
										</span>

									</label>

								</div>

								<p class="procedure-product__type">
									{{ loop.index }}. {{ item.type }}
								</p>

								<p class="procedure-product__desc">
									({{ item.desc }})
								</p>

							</div>

						</td>

						<td>

							<div class="procedure-product__body">

								<a href="/" class="procedure-product__img">

									<picture>

										<source srcset="/img/procedure/{{ item.img }}--34x34.webp 1x, /img/procedure/{{ item.img }}--68x68.webp 2x" type="image/webp">

										<source srcset="/img/procedure/{{ item.img }}--34x34.jpg 1x, /img/procedure/{{ item.img }}--68x68.jpg 2x">

										<img src="/img/procedure/{{ item.img }}--68x68.jpg" alt="{{ item.title }}" loading="lazy" width="34" height="34">

									</picture>

								</a>

								<div class="procedure-product__text">

									<p class="procedure-product__title">
										<span class="color-blue">{{ item.brand }}</span>
										{{ item.title }}
									</p>

{% if item.article %}

									<form action="/" class="articleid-events__form">

	{% for article in item.article %}

										<label class="articleid-events__item">

											<input

												class="visuallyhidden"
												name="articleid"
												type="radio"

												{% if loop.first %}
													checked="checked"
												{% endif %}

												value="{{ article.id }}"

												data-parent-id="{{ item.id }}"

												data-price="{{ article.price }}"
												data-old-price="{{ article.oldPrice }}"
												data-sale="{{ article.sale }}"
												data-storeid="0"

												data-volume="{{ article.volume }}"

											>

											<span class="articleid-events__label">
												{{ article.volume }}
											</span>

										</label>

	{% endfor %}

									</form>

{% endif %}

								</div>

							</div>

						</td>

						<td class="white-space-nowrap align-center procedure-product__volume">

{% if item.article %}

	{{ item.article[0].volume }}

{% else %}

	{{ [200,960,180,240] | random }} мл

{% endif %}

						</td>

						<td class="white-space-nowrap align-center">

							<span class="procedure-product__price-value">
								{{ item.price }}
							</span>
							₽

						</td>

						<td class="white-space-nowrap align-center">

							{{ [2,5,3,"0,5"] | random }} мл

						</td>

						<td>

							<p>
								{{ ["Втирать во влажную кожу в течение примерно 1 минуты. Удалить влажными тёплыми салфетками или ватными спонжами.","Аккуратно втирать в течении 1 минуты. Оставить на коже и затем использовать Гель-активатор полирующего средства.","Аккуратно втирать в кожу лица до растворения кристаллов. Легкое ощущение тепла – нормальная реакция. Удалить влажными теплыми салфетками или ватным спонжем."] | random }}
							</p>

						</td>

					</tr>