		<div class="procedure-table-step">

			<table>

				<thead>

					<tr>
						<th>
							Этап
						</th>
						<th>
							Продукт
						</th>
						<th>
							Объем
						</th>
						<th>
							Себестоимость
						</th>
						<th>
							Расход
						</th>
						<th>
							Инструкция
						</th>
					</tr>

				</thead>

{% include "product/procedure/table-step-1.html" %}
{% include "product/procedure/table-step-2.html" %}
{% include "product/procedure/table-step-3.html" %}

			</table>

		</div>