			<div class="consultations-online-faq">

				<h2 class="consultations-online__head">
					Как получить онлайн консультацию косметолога?
				</h2>

				<ol>

{% for item in [
	{
		head : "Выберите подходящую консультацию",
		text : "Если не нашли нужной - напишите нам и мы что нибудь придумаем для вас",
		consultation : true
	},
	{
		head : "Заполнение анкеты для сбора данных",
		text : "Это займёт не более 10 минут. Мы задаём уточняющие вопросы для максимально точного подбора средств.",
		anketa : true
	},
	{
		head : "Оплата услуги консультации",
		text : "Мы свяжемся с вами для согласования, зададим  уточняющие вопросы и отправим данные для оплаты."
	},
	{
		head : "Получение рекомендаций косметолога",
		text : "Вы получаете письменные рекомендации в развёрнутом виде с подбором средств. <br>Получаете сопровождение косметолога- можете задавать любые вопросы, касающиеся назначенного ухода и состояния вашей кожи от применения средств-в течении месяца с момента получения рекомендаций."
	},
	{
		head : "Оформление заказа",
		text : "В зависимости от ваших пожеланий, согласовываете с менеджером - какие средства приобретаете и вносите оплату"
	},
	{
		head : "Доставка и получение Бьюти комплекса",
		text : "Мы скомплектуем ваш заказ и согласуем дату доставки. <br>Вместе с заказом вы получите персональную пошаговую схему ухода с вашими средствами."
	}
] %}

					<li>

						<h3>
							{{ item.head }}
						</h3>

						<p>
							{{ item.text | safe }}
						</p>

						{% if item.consultation %}

						<button class="btn btn--more" type="button" data-modal="consultation">
							Заказать
						</button>

						{% endif %}

						{% if item.anketa %}

						<a href=".pdf" target="_blank" class="btn btn--more">
							Пример анкеты
						</a>

						{% endif %}

					</li>

{% endfor %}

				</ol>

			</div>