		<article class="page-article">

{% include "consultations/item/schema.html" %}

			<header class="page-article__header">

				<h1 class="title">
					{{ title }}
				</h1>

				<div class="consultations-card">

					<figure class="consultations-card__expert">

						<picture>

							<source srcset="/img/consultations/expert/1--80x80.webp 1x, /img/consultations/expert/1--160x160.webp 2x" type="image/webp">
							<source srcset="/img/consultations/expert/1--80x80.jpg 1x, /img/consultations/expert/1--160x160.jpg 2x">

							<img src="/img/consultations/expert/1--80x80.jpg" alt="Мария Кузякина" loading="lazy" width="80" height="80">

						</picture>

						<figcaption>

							эксперт <br>
							Мария Кузякина

						</figcaption>

					</figure>

					<blockquote class="consultations-card__question">

						<address class="consultations-card__question-name">
							Вопрос от Ольги:
						</address>

						<p class="consultations-card__question-text">
							Лишь действия представителей оппозиции освещают чрезвычайно интересные особенности картины в целом, однако.
						</p>

						<ul class="consultations-card__question-tags">
							<li>
								#уход за кожей
							</li>
							<li>
								#маски
							</li>
							<li>
								#revlon
							</li>
						</ul>

					</blockquote>

				</div>

				<div class="page-article__header-bar">

					<div class="page-article__share">

						<button class="page-article__share-btn button" type="button">

							<span class="ico-box">
								<svg width="24" height="24" viewBox="0 0 24 24">
									<use xlink:href="#svg-share"/>
								</svg>
							</span>

							Поделиться

						</button>

						<ul class="page-article__share-list">

							<li>
								<a class="ico-box" href="https://t.me/share/url?url=https://cosmogid.htmlpluscss.website/news/article/&text={{ title }}" target="_blank" rel="noopener nofollow" title="Поделиться в Telegram">
									<svg width="24" height="24" viewBox="0 0 24 24">
										<use xlink:href="#svg-telegram"/>
									</svg>
								</a>
							</li>

							<li>
								<a class="ico-box" href="https://api.whatsapp.com/send?text={{ title }}%20https://cosmogid.htmlpluscss.website/news/article/" target="_blank" rel="noopener nofollow" title="Поделиться в WhatsApp">
									<svg width="24" height="24" viewBox="0 0 24 24">
										<use xlink:href="#svg-whatsapp"/>
									</svg>
								</a>
							</li>

							<li>
								<a onClick=" window.open(this.href, '', 'scrollbars=1,height='+Math.min(500, screen.availHeight)+',width='+Math.min(500, screen.availWidth)); return false" class="ico-box" href="https://vk.com/share.php?url=https://cosmogid.htmlpluscss.website/news/article/&title={{ title }}" target="_blank" rel="noopener nofollow" title="Поделиться Вконтакте">
									<svg width="24" height="24" viewBox="0 0 24 24">
										<use xlink:href="#svg-vkontakte"/>
									</svg>
								</a>
							</li>

						</ul>

					</div>

					<time class="page-article__date" datetime="2022-09-25">

						<svg width="32" height="32" viewBox="0 0 24 24">
							<use xlink:href="#svg-calendar"/>
						</svg>

						25.09.2022

					</time>

				</div>

			</header>

			<div class="page-article__body">

				<p>
					Предварительные выводы неутешительны: курс на социально-ориентированный национальный проект играет определяющее значение для кластеризации усилий. Прежде всего, выбранный нами инновационный путь создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса поэтапного и последовательного развития общества. Приятно, граждане, наблюдать, как некоторые особенности внутренней политики, которые представляют собой яркий пример континентально-европейского типа политической культуры.
				</p>

				<p>
					Предварительные выводы неутешительны: курс на социально-ориентированный национальный проект играет определяющее значение для кластеризации усилий. Прежде всего, выбранный нами инновационный путь создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса поэтапного и последовательного развития общества. Приятно, граждане, наблюдать, как некоторые особенности внутренней политики, которые представляют собой яркий пример континентально-европейского типа политической культуры.
				</p>

				<h2>
					Топ-5 средств для окрашивания тон в тон
				</h2>

				<ol>

{% for i in range(0,5) %}

					<li>
						<a href="/product/" target="_blank">Joico Luminishine Permanent Creme Color (Перманентная крем-краска), 74 мл - Эксклюзивная технология ArgiPlex</a> реконструирует волосы во время окрашивания и обеспечивает стойкие, глубокие, насыщенные цвета. Цена 1378 р.
					</li>

{% endfor %}

				</ol>

				<div class="page-article__product-swiper">

					<h3 class="page-article__product-swiper-title">
						Товары из этой статьи
					</h3>

					<div class="page-article__product-swiper-wrap">

						<div class="swiper-container swiper-container--product-article">

							<ul class="swiper-wrapper">

{% for i in range(0, 12) %}

								<li class="swiper-slide">

{% include "main/preview-swiper__preview-card.html" %}

								</li>

{% endfor %}

							</ul>

						</div>

					</div>

				</div>

				<p>
					Предварительные выводы неутешительны: курс на социально-ориентированный национальный проект играет определяющее значение для кластеризации усилий. Прежде всего, выбранный нами инновационный путь создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса поэтапного и последовательного развития общества. Приятно, граждане, наблюдать, как некоторые особенности внутренней политики, которые представляют собой яркий пример континентально-европейского типа политической культуры.
				</p>

				<p>
					Предварительные выводы неутешительны: курс на социально-ориентированный национальный проект играет определяющее значение для кластеризации усилий. Прежде всего, выбранный нами инновационный путь создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса поэтапного и последовательного развития общества. Приятно, граждане, наблюдать, как некоторые особенности внутренней политики, которые представляют собой яркий пример континентально-европейского типа политической культуры.
				</p>

			</div>

		</article>