{% set title = "Club Cosmogid" %}

{% set lk = true %}

{% set breadcrumbs = [title] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="lk">

		<header class="center">

			<h1 class="title">
				{{ title }}
			</h1>

{% include "lk/menu.html" %}

		</header>

		<div class="club">

			<div class="center">

{% include "club/billboard.html" %}

{% include "club/decimal.html" %}

			</div>

{% include "club/for-whom.html" %}

			<div class="center">

{% include "club/faq.html" %}

			</div>

		</div>

	</article>

{% endblock %}