			<div class="lk-menu">

				<button class="ico-box button lk-menu__toggle-btn" aria-label="открыть меню" type="button">

					<svg width="24" height="24" viewBox="0 0 24 24">
						<use xlink:href="#svg-menu"/>
						<use xlink:href="#svg-close"/>
					</svg>

				</button>

				<ul>

{% for item in [
	{
		name : "Контактная информация",
		link : "lk"
	},
	{
		name : "Адресная книга",
		link : "lk/address"
	},
	{
		name : "Избранное",
		link : "lk/favourites"
	},
	{
		name : "Заказы",
		link : "lk/orderlist"
	},
	{
		name : "Club Cosmogid",
		link : "lk/club"
	}
]%}

					<li>

						<a href="/{{ item.link }}/"{% if title === item.name %} class="is-current"{% endif %}>

							{{ item.name }}

							<svg width="24" height="24" viewBox="0 0 24 24">
								<use xlink:href="#svg-chevron-right"/>
							</svg>

						</a>

					</li>
{% endfor %}

				</ul>

			</div>