{% set title = "Доставка и оплата" %}

{% set description = "Варианты доставки и оплаты очень разнообразны. Каждый может выбрать для себя максимально удобный вариант. Доставка заказа осуществляется курьером лично в руки, либо до пункта самовывоза." %}

{% set urlPage = "oplata-i-dostavka" %}

{% set breadcrumbs = [title] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="center">

		<div class="service-page">

			<p class="h1">
				Помощь
			</p>

			<div class="service-page__box">

				<div class="service-page-bar">

{% include "service-page/menu.html" %}

				</div>

				<div class="service-page__body">

					<article>

						<header class="service-page__content">

							<h1 class="h2">
								<u>Доставка</u>
							</h1>

						</header>

						<form action="/" class="dostavka">

							<div class="dostavka__fieldset">

								<div class="dostavka__row">

									<label for="dostavka-city" class="dostavka__label">
										Ваш город:
									</label>

									<div class="dostavka__control">

										<div class="select">

											<select name="city" id="dostavka-city">
												<option value="1">Екатеринбург</option>
											</select>

										</div>

									</div>

								</div>

								<div class="dostavka__row">

									<p class="dostavka__label">
										Способ доставки:
									</p>

									<div class="dostavka__control">

										<label class="checkbox-2">

											<input type="radio" class="checkbox-2__input" name="type" value="1" checked="checked">

											<span class="checkbox-2__label is-pink">
												Курьерская доставка
											</span>

										</label>

										<label class="checkbox-2">

											<input type="radio" class="checkbox-2__input" name="type" value="2">

											<span class="checkbox-2__label is-pink">
												Самовывоз
											</span>

										</label>

										<label class="checkbox-2">

											<input type="radio" class="checkbox-2__input" name="type" value="3">

											<span class="checkbox-2__label is-pink">
												Почта России
											</span>

										</label>

									</div>

								</div>

							</div>

							<div class="dostavka__result">

								<table class="dostavka__table">

									<thead>

										<tr>
											<th>
												Место доставки
											</th>
											<th>
												Сроки
											</th>
											<th>
												Стоимость
											</th>
											<th>
												Способ оплаты
											</th>
										</tr>

									</thead>

									<tbody>

										<tr>
											<td>
												<b>Центральные районы города</b>
											</td>
											<td class="white-space-nowrap">
												1-2 дня<span class="color-red">*</span>
											</td>
											<td class="white-space-nowrap">
												При заказе от 1000 ₽ - <span class="color-red">Бесплатно</span> <br>
												Менее 1000 ₽ - 150 ₽
											</td>
											<td class="white-space-nowrap">
												Наличными или банковской картой
											</td>
										</tr>

										<tr>
											<td>
												<b>Отдаленные районы города:</b> Изоплит,Калиновка, Птицефабрика, Елизавет,Нижнеисетский, Эльмаш, Уралмаш,Химмаш,Вторчермет, Сортировка, Семь ключей, Кольцово, Чусовское озеро, Широкая речка, Уктус, Академический
											</td>
											<td class="white-space-nowrap">
												1-2 дня<span class="color-red">*</span>
											</td>
											<td class="white-space-nowrap">
												При заказе от 2500 ₽ - <span class="color-red">Бесплатно</span> <br>
												Менее 1000 ₽ - 250 ₽
											</td>
											<td class="white-space-nowrap">
												Наличными или банковской картой
											</td>
										</tr>

										<tr>
											<td>
												<b>Пригород Екатеринбурга:</b> Арамиль, Верхняя Пышма, Березовский
											</td>
											<td class="white-space-nowrap">
												1-2 дня<span class="color-red">*</span>
											</td>
											<td class="white-space-nowrap">
												При заказе от 6000 ₽ - <span class="color-red">Бесплатно</span> <br>
												Менее 1000 ₽ - 350 ₽
											</td>
											<td class="white-space-nowrap">
												Наличными или банковской картой
											</td>
										</tr>

									</tbody>

									<tfoot>

										<tr>
											<td colspan="4">
												<p class="dostavka__note">
													*Срок доставки указан в рабочих днях, не считая дня сборки
												</p>
											</td>
										</tr>

									</tfoot>

								</table>

							</div>

							<p class="dostavka__achtung">
								<svg width="31" height="31" viewBox="0 0 31 31">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M30.78 15.1a15 15 0 11-30 0 15 15 0 0130 0zm-13.12 7.5a1.87 1.87 0 11-3.75 0 1.87 1.87 0 013.75 0zM15.78 5.74c-1.03 0-1.87.84-1.87 1.88v7.5a1.88 1.88 0 003.75 0V7.6c0-1.04-.84-1.88-1.88-1.88z"/>
								</svg>
								Уважаемые покупатели! <br>Пожалуйста проверяйте заказанный товар при получении. После получения товара ответственность переходит к покупателю.
							</p>

						</form>

					</article>

					<hr>

					<article class="service-page__content">>

						<h1 class="h2">
							<u>Оплата</u>
						</h1>

						<p>
							Безопасная оплата удобным для вас способом!
						</p>

						<p>
							Не переживайте за безопасность своих банковских карт и личных данных при покупках в магазине или онлайн. <br>Выбирайте, примеряйте и наслаждайтесь покупками, об остальном позаботимся мы!
						</p>

						<h2 class="h2">
							<svg width="24" height="22" viewBox="0 0 24 22">
								<path d="M19.63 11.32h-.92V6.9c0-1.06-.82-1.92-1.83-1.92h-1.23L14.38 2.6c-.2-.36-.56-.59-.96-.59-.19 0-.37.05-.53.15L8.03 4.98H2.6C1.59 4.98.77 5.84.77 6.9v13.18c0 1.06.82 1.92 1.83 1.92h14.28c1.01 0 1.83-.86 1.83-1.92v-3.87h.92v-4.9zm-2.75-5.57c.57 0 1.03.45 1.09 1.02h-1.38l-.54-1.02h.83zm-3.64-2.93c.18-.1.4-.03.5.14l2.02 3.81h-9.3l6.78-3.95zm4.74 17.26c0 .64-.5 1.15-1.1 1.15H2.6c-.6 0-1.1-.51-1.1-1.15V6.9c0-.63.5-1.15 1.1-1.15H6.7L4.96 6.77H2.83c-.2 0-.37.18-.37.39 0 .21.16.38.37.38h15.15v3.78h-2.67a2.31 2.31 0 00-2.25 2.36v.17c0 1.3 1 2.36 2.25 2.36h2.67v3.87zm.91-4.64h-3.58c-.84 0-1.52-.71-1.52-1.6v-.16c0-.88.68-1.6 1.52-1.6h3.58v3.36zm-2.46-1.64c0 .46-.36.84-.81.84a.83.83 0 01-.8-.84c0-.47.35-.85.8-.85.45 0 .8.38.8.85z"/>
							</svg>
							Наличный расчет
						</h2>

						<p>
							Оплатить заказ наличными вы всегда можете курьеру, либо при Самовывозе.
						</p>

						<h2 class="h2">
							<svg width="24" height="20" viewBox="0 0 24 20">
								<path d="M18.89 6.94H2.65c-.42 0-.82.17-1.11.46-.3.3-.47.69-.47 1.1v9.88a1.54 1.54 0 00.98 1.44c.2.08.4.12.6.12H18.9a1.55 1.55 0 001.58-1.56V8.5c0-.41-.17-.8-.46-1.1-.3-.3-.7-.46-1.12-.46zm-17 3h17.76v1.9H1.89v-1.9zm.76-2.2H18.9c.2 0 .4.09.54.23s.22.33.22.53v.64H1.9V8.5c0-.2.08-.4.22-.53a.77.77 0 01.54-.22zm16.24 11.4H2.65c-.2 0-.4-.08-.54-.22a.75.75 0 01-.22-.54v-5.74h17.76v5.73a.75.75 0 01-.47.7c-.1.05-.2.07-.3.07z"/><path d="M16.9 14.81a1.58 1.58 0 00-1.18.53 1.58 1.58 0 00-2.76 1.04 1.55 1.55 0 001.03 1.45 1.6 1.6 0 001.74-.44 1.57 1.57 0 002.12.2 1.55 1.55 0 00.62-1.35 1.54 1.54 0 00-.82-1.25 1.59 1.59 0 00-.75-.18zm-2.34 2.31a.77.77 0 01-.71-.47.75.75 0 01.17-.82.77.77 0 011.3.53c0 .2-.08.4-.22.54a.77.77 0 01-.54.22zm2.33 0a.77.77 0 01-.7-.47.75.75 0 01.16-.82.77.77 0 011.3.53c0 .2-.07.4-.21.54a.77.77 0 01-.55.22z"/>
							</svg>
							Банковской картой онлайн
						</h2>

						<p>
							Вы можете оплатить товар банковской картой в момент оформления заказа на сайте или в мобильном приложении, если выбираете адресную доставку домой/в пункт самовывоза. <br>Безопасность платежей обеспечивает система CloudPayments – многопрофильный процессинговый центр для обработки платежей по банковским картам международных платежных систем Visa, MasterCard и Мир. При оплате картами MasterCard и Мир доп. скидка 3 %.
						</p>

						<p>
							<b>Мы принимаем к оплате карты следующих платежных систем:</b>

						</p>

						<img src="/img/service-page/pay-system.png" srcset="/img/service-page/pay-system@2x.png 2x" alt="принимаем к оплате карты следующих платежных систем" loading="lazy" width="160" height="26">

						<p>
							При оплате картами <span class="color-pink">MasterCard</span> и <span class="color-pink">Мир</span> доп. скидка <b class="color-pink">3 %</b>
						</p>

						<p>
							<b>Мы принимаем к оплате карты следующих банков:</b>
						</p>

						<div class="img-scroll">

							<img src="/img/service-page/pay-bank.png" srcset="/img/service-page/pay-bank@2x.png 2x" alt="принимаем к оплате карты следующих банков" loading="lazy" width="350" height="27">

						</div>

						<p>
							Уважаемые покупатели! <br>Платёжные данные отправляем после подтверждения заказа.
						</p>

						<h4 class="h2">
							<u>Как</u> оплатить?
						</h4>

						<p>
							После подтверждения заказа мы отправим Вам платежные данные. при этом система откроет платежную форму, где вам будет предложено ввести данные банковской карты:
						</p>

						<ul>
							<li>
								номер банковской карты;
							</li>
							<li>
								срок действия карты;
							</li>
							<li>
								имя владельца карты;
							</li>
							<li>
								CVC2/CVV2;
							</li>
							<li>
								адрес электронной почты (по желанию), на которую придет уведомление о платеже.
							</li>
						</ul>

						<p>
							Если ваша банковская карта поддерживает технологию защиты платежей 3-D Secure, здесь же откроется окно банка-эмитента карты для ввода соответствующего пароля. После завершения оплаты система уведомит вас о результатах авторизации:
						</p>

						<ul>
							<li>
								в случае подтверждения авторизации ваш платеж будет выполнен, о чем на указанный адрес электронной почты будет выслано уведомление;
							</li>
							<li>
								в случае отказа в авторизации карты вы сможете увидеть причину отказа и повторить процедуру оплаты.
							</li>
						</ul>

						<p>
							Передача данных вашей карты производится с соблюдением всех необходимых мер безопасности.
						</p>

						<h2 class="h2">
							<svg width="24" height="24" viewBox="0 0 24 24">
								<path d="M21 10.08l-1-1.02a1.19 1.19 0 00-1.7 0l-2.12 2.15V4.3c0-1.02-.81-1.84-1.8-1.84H2.62c-1 0-1.8.82-1.8 1.84v17.2c0 1.02.8 1.84 1.8 1.84h11.74c1 0 1.8-.82 1.8-1.83v-4.86L21 11.81c.46-.48.46-1.25 0-1.73zm-7.2 7.24l-1.8.85.84-1.83 4.49-4.57.99 1-4.51 4.55zm1.26 4.28c0 .34-.35.72-.69.72H2.63c-.33 0-.72-.38-.72-.72v-8.7l.12-8.6a.6.6 0 01.6-.62h11.74c.34 0 .6.28.6.62v8.13c-3.33 3.4-3.11 3.15-3.17 3.3l-1.6 3.45c-.1.23-.05.51.13.7a.6.6 0 00.68.11l3.4-1.61c.12-.06.22-.42.65-.84v4.06zm4.12-9.68l-1-1.02.96-.98 1 1.03-.96.97z"/><path d="M4.04 7.64H13a.6.6 0 00.6-.61.6.6 0 00-.6-.61H4.04a.6.6 0 00-.6.6c0 .35.26.62.6.62zM4.04 10.9h7.05a.6.6 0 00.6-.6.6.6 0 00-.6-.62H4.04a.6.6 0 00-.6.61c0 .34.26.61.6.61zM9.16 12.94H4.04a.6.6 0 00-.6.61c0 .34.26.62.6.62h5.12a.6.6 0 00.6-.62.6.6 0 00-.6-.6z"/>
							</svg>
							Банковский перевод
						</h2>

						<p>
							Счет выставляется менеджером при подтверждении заказа. В течении трех рабочих дней необходимо оплатить данный счет и сообщить менеджеру. Товар резервируется на три рабочих дня до момента оплаты счета.
						</p>

						<h2 class="h2">
							<svg width="24" height="24" viewBox="0 0 24 24">
								<path d="M19.8 7.55h-3.78c.1-.08.21-.16.31-.26.4-.4.62-.9.62-1.45 0-1.15-.98-2.1-2.2-2.1-.41 0-.77.14-.94.21-.53.23-1.89 1.35-2.8 2.13-.92-.78-2.28-1.9-2.8-2.13-.18-.07-.54-.2-.95-.2-1.22 0-2.2.94-2.2 2.09a2.03 2.03 0 00.93 1.7H2.2c-.66 0-1.2.52-1.2 1.14v2.67c0 .62.54 1.13 1.2 1.13h.63v8.7c0 .82.7 1.48 1.56 1.48h13.23c.86 0 1.55-.66 1.55-1.48v-8.7h.64c.66 0 1.2-.5 1.2-1.13V8.68c0-.62-.54-1.13-1.2-1.13zm-5.52-2.62c.15-.07.33-.1.47-.1.59 0 1.07.45 1.07 1s-.45 1-1.02 1.02h-3a21.13 21.13 0 012.48-1.92zm-7.02-.1c.14 0 .32.03.47.1.33.15 1.46 1.06 2.48 1.92h-3A1.03 1.03 0 016.2 5.84c0-.56.48-1.02 1.07-1.02zm-5.06 6.9a.39.39 0 01-.4-.38V8.68c0-.2.18-.38.4-.38h6.9v3.43H2.2zM9.1 21.9H4.38a.74.74 0 01-.76-.72v-8.7H9.1v9.42zm3.02 0H9.89V8.3h2.23v13.6zm6.26-.72c0 .4-.34.72-.76.72h-4.7v-9.42h5.46v8.7zm1.83-9.83c0 .2-.18.38-.4.38H12.9V8.3h6.9c.22 0 .4.17.4.38v2.67z"/>
							</svg>
							Подарочная карта
						</h2>

						<p>
							Счет выставляется менеджером при подтверждении заказа. В течении трех рабочих дней необходимо оплатить данный счет и сообщить менеджеру. Товар резервируется на три рабочих дня до момента оплаты счета.
						</p>

					</article>

				</div>

			</div>

		</div>

	</section>

{% endblock %}