{% set title = site %}

{% set dev = true %}
{% set cart = true %}
{% set favourite = true %}

{% extends "template/base.html" %}

{% block content %}

<div class="center">

<script>

setTimeout( ()=> {

	const eventModalShow = new CustomEvent("modalShow", {
		detail: {
			selector: "preview-card-color"
		}
	});

//	window.modal.dispatchEvent(eventModalShow);
})

</script>

	<h1>
		Страницы
	</h1>

	<ul class="h3">
		<li><a href="https://cosmogid_2020.htmlpluscss.website/">2020</a></li>
		<li><a href="/main/">Главная</a></li>
		<li><a href="/catalog/">Каталог</a></li>
		<li><a href="/product/">Карточка товара</a></li>
		<li><a href="/product/color/">Карточка товара (Выберите цвет краски | Бесплатная доставка | Удалить из избранного | нет в наличии)</a></li>
		<li><a href="/contacts/">Контакты</a></li>
		<li><a href="/sale/">Акции и скидки</a></li>
		<li><a href="/news/">Новости</a></li>
		<li><a href="/news/article/">Новость</a></li>
		<li><a href="/favourites/">Избранное</a></li>
		<li><a href="/brand/">Бренды</a></li>
	</ul>

	<h2>
		Корзина
	</h2>

	<ul class="h3">
		<li><a href="/cart/">Корзина</a></li>
		<li><a href="/cart/order/">Оформление заказа</a></li>
	</ul>

	<h2>
		Modal
	</h2>

	<div class="flex flex--wrap">

		<div class="item">

			<button class="btn" type="button" data-modal="city">
				Новый город
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="callback">
				Заказ обратного звонка
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="review" data-id="123">
				Оставить отзыв
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="callback" data-title="Задать вопрос">
				Задать вопрос
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="callback" data-title="Узнать больше">
				Узнать больше
			</button>

		</div>

		<div class="item hide">

			<form action="/" class="form-buy">

				<input type="hidden" name="id" value="19021">

				<button class="btn form-buy__submit">
					Купить
				</button>

			</form>

		</div>

		<div class="item hide">

			<form action="/" class="form-buy">

				<input type="hidden" name="id" value="19021">

				<input type="hidden" name="modal" value="get-price">
				<input type="hidden" name="img" value="https://forthouse.ru/pic/180x180/r-wb642vu0_gmg.jpg">
				<input type="hidden" name="name" value="Холодильник Hitachi R-WB642VU0 GMG">

				<button class="btn form-buy__submit">
					Запросить цену
				</button>

			</form>

		</div>

		<div class="item">

			<button

				class="btn btn--outline js-find-analogue"
				type="button"
				data-modal="find-analogue"
				data-id="123"
				data-articleid="234"
				data-link="/product/"
				data-price="2581"
				data-price-old="2581"
				data-img="/img/preview-card/preview-80x80.jpg"
				data-img2x="/img/preview-card/preview-160x160.jpg"
				data-name="Academie Ultimate Line Correcting serum (Корректирующая сыворотка от морщин), 30 мл"
			>
				Найти аналог
			</button>

		</div>

		<div class="item hide">

			<button class="btn" type="button" data-modal="ok" onclick="document.querySelector('.modal__item--ok .modal__title').innerHTML = `Заголовок`;document.querySelector('.modal__item--ok .modal__text').innerHTML = `Текст сообщения`">
				Info
			</button>

		</div>

		<div class="item hide">

			<a data-youtube="oSOiGLNVGg0" target="_blank" rel="nofollow noopener" href="https://www.youtube.com/watch?v=oSOiGLNVGg0" class="btn btn--big btn--outline">
				video youtube
			</a>

		</div>

	</div>

	<hr>

	<h2>
		Buttons
	</h2>

	<div class="flex flex--wrap">

		<div class="item">

			<button class="btn">
				btn
			</button>

		</div>

		<div class="item">

			<button class="btn btn--outline">
				btn btn--outline
			</button>

		</div>

		<div class="item">

			<button class="btn btn--more">
				btn btn--more
			</button>

		</div>

		<div class="item">

			<button class="btn" disabled="disabled">
				btn disabled
			</button>

		</div>

		<div class="item">

			<button class="btn btn--link">
				btn--link
			</button>

		</div>

		<div class="item">

			<button class="btn btn--hash">
				btn--hash
			</button>

		</div>

		<div class="item">

			<button class="btn btn--text">
				btn--text
			</button>

		</div>

		<div class="item">

			<button class="btn btn--text">

				<svg width="24" height="24" viewBox="0 0 24 24">
					<path d="M16 18a1 1 0 0 0 0-2H6.99A1 1 0 0 0 6 17a1 1 0 0 0 .99 1H16ZM6 7a1 1 0 0 0 1 1h13a1 1 0 0 0 1-1 1 1 0 0 0-1-1H7a1 1 0 0 0-1 1Zm14 6a1 1 0 1 0 0-2H7a1 1 0 1 0 0 2h13Z"/>
					<circle cx="4" cy="7" r="1"/>
					<circle cx="4" cy="12" r="1"/>
					<circle cx="4" cy="17" r="1"/>
				</svg>

				btn--text + ico

			</button>

		</div>

		<div class="item">

			<button class="btn btn--medium">
				btn--medium
			</button>

		</div>

		<div class="item">

			<button class="btn btn--small">
				btn--small
			</button>

		</div>

	</div>

	<h3>
		Checkbox
	</h3>

	<div class="flex flex--wrap">

		<div class="item hide">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="checkbox" class="checkbox__input">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

		<div class="item hide">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="checkbox" class="checkbox__input" checked="checked">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

		<div class="item hide">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="checkbox" class="checkbox__input" disabled="disabled">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

		<div class="item hide">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="checkbox" class="checkbox__input" disabled="disabled" checked="checked">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

	</div>

	<h3>
		Radio
	</h3>

	<div class="flex flex--wrap">

		<div class="item hide">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="radio" class="checkbox__input" name="radio">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

		<div class="item hide">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="radio" class="checkbox__input" name="radio" checked="checked">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

		<div class="item hide">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="radio" class="checkbox__input" disabled="disabled">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

		<div class="item hide">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="radio" class="checkbox__input" disabled="disabled" checked="checked">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

	</div>

	<hr>

	<h2>
		Input
	</h2>

	<div class="flex flex--wrap">

		<div class="item">

			<input class="input" placeholder="placeholder">

		</div>

		<div class="item">

			<input class="input" value="value">

		</div>

		<div class="item">

			<input class="input" value="disabled" disabled="disabled">

		</div>

	</div>

	<div class="flex flex--wrap hide">

		<div class="item hide">

			<div class="inputbox">

				<label for="inputbox" class="inputbox__label">
					* Индекс
				</label>

				<input id="inputbox" placeholder="Введите название" class="input" required="required">

			</div>

		</div>

		<div class="item hide">

			<div class="inputbox">

				<label for="inputbox-2" class="inputbox__label">
					* Индекс
				</label>

				<input id="inputbox-2" value="123" class="input" required="required">

			</div>

		</div>

	</div>

	<hr>

	<h2>
		Select
	</h2>

	<div class="flex flex--wrap">

		<div class="item">

			<div class="select">

				<select name="select">

					<option value="1">Все заказы</option>
					<option value="2">Готов к выдаче</option>
					<option value="3">Собирается</option>
					<option value="4">Отправлен</option>
					<option value="5">Получен заказчиком</option>
					<option value="6">Ожидает согласования</option>

				</select>

			</div>

		</div>

	</div>

</div>

{% endblock %}