{% set title = site %}

{% set description = "" %}
{% set profile = true %}

{% extends "template/base.html" %}

{% block content %}

	<div style="padding: 80px 40px">

		<h1 class="h1">Pages</h1>

		<ul style="margin-top: 10px">
			<li><a href="/home">home</a></li>
			<li><a href="/catalog">catalog</a></li>
			<li><a href="/catalog/column">catalog view column</a></li>
			<li><a href="/catalog/procedure">catalog procedure</a></li>
			<li><a href="/product/">product</a></li>
			<li><a href="/product/procedure">product procedure</a></li>
			<li><a href="/producers">producers</a></li>
			<li><a href="/404">404</a></li>
			<li><a href="/club">Клуб профессилоналов</a></li>
			<li><a href="/club/registration">Заявка в клуб</a></li>
			<li><a data-modal="club-ok">Заявка окно успеха</a></li>
			<li><a href="/wishlist/">Избранное</a></li>
			<li><a href="/compare/">Сравнение (не сделано адаптив и кнопка сравнить)</a></li>
			<li><a href="/news/">Новости</a></li>
			<li><a href="/news/article/">Новость</a></li>
			<li><a href="/articles/">Статьи</a></li>
			<li><a href="/articles/item/">Статья</a></li>
			<li><a href="/consultations/">Консультации</a></li>
			<li><a href="/consultations/item">Консультация</a></li>
			<li><a href="/consultations/select">Подобрать личную схему ухода (в работе)</a></li>
			<li><a href="/consultations/question">Задать вопрос специалисту (в работе)</a></li>
		</ul>

		<ul style="margin-top: 10px">
			<li><a href="/lk">Заказы</a></li>
			<li><a href="/lk/empty">Заказы (отсутствуют)</a></li>
			<li><a href="/lk/cancel">Заказы (отменен)</a></li>
			<li><a href="/lk/archive">Заказы (архив)</a></li>
			<li><a href="/lk/order">Заказ</a></li>
			<li><a href="/lk/catalog">Заказанные товары (фильтр)</a></li>
		</ul>
		<ul style="margin-top: 10px">
			<li><a href="/lk/setting/">Личные данные</a></li>
			<li><a href="/lk/notice/">Настройки</a></li>
			<li><a href="/lk/club/">клуб Cosmogid</a></li>
		</ul>

		<hr style="margin: 20px">

		<h1 class="h1">PageSpeed</h1>

		<ul style="margin-top: 10px">
			<li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2F{{ domain }}%2Fhome%2F&tab=desktop">home <b>0|0</b></a></li><li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2F{{ domain }}%2Fcatalog%2F&tab=desktop">catalog <b>0|0</b></a></li>
			<li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2F{{ domain }}%2Fproduct%2F&tab=desktop">product <b>0|0</b></a></li>
		</ul>

		<hr style="margin: 20px">

		<h1 class="h1">Schema & Open Graph</h1>
<!--
		<ul style="margin-top: 10px">
			<li><a target="_blank" href="https://search.google.com/structured-data/testing-tool?hl=ru#url=http%3A%2F%2F{{ domain }}%2Fproduct%2F">product</a></li>
		</ul>
 -->

		<button class="btn" type="button">
			.btn
		</button>

		<button class="btn btn--outline" type="button">
			.btn btn--outline
		</button>

		<button class="btn btn--blue" type="button">
			.btn btn--blue
		</button>

		<button class="btn btn--pink" type="button">
			.btn btn--pink
		</button>

		<button class="btn btn--link" type="button">
			.btn btn--link
		</button>

		<button class="btn btn--next" type="button">
			.btn btn--next
		</button>

		<button class="btn btn--super" type="button">
			.btn btn--super
		</button>

		<div class="select">

			<select>
				<option value="1">option 1</option>
				<option value="2">option 2</option>
				<option value="3">option 3</option>
				<option value="4">option 4</option>
			</select>

		</div>

		<input class="input" placeholder=".input">

	</div>

	<script>
		//setTimeout(()=>CG.modalShow('club-ok'),1000);
	</script>

{% endblock %}