{% set title = site %}

{% set dev = true %}
{% set cart = true %}
{% set favourite = true %}

{% extends "template/base.html" %}

{% block content %}

<div class="center">

<script>

setTimeout( ()=> {

	const eventModalShow = new CustomEvent("modalShow", {
		detail: {
			selector: "video-review"
		}
	});

//	window.modal.dispatchEvent(eventModalShow);
})

</script>

	<h1>
		Страницы
	</h1>

	<ul class="h3">
		<li><a href="https://cosmogid_2020.htmlpluscss.website/" style="font-size: 12px">2020</a></li>
		<li><a href="/main/">Главная</a></li>
		<li><a href="/catalog/">Каталог</a></li>
		<li><a href="/catalog/level2/">Каталог (в фильтре третий уровень меню категории Ароматерапия)</a></li>
		<li><a href="/product/">Карточка товара</a></li>
		<li><a href="/product/color/">Карточка товара (Выберите цвет краски | Бесплатная доставка | Удалить из избранного | нет в наличии)</a></li>
		<li><a href="/product/login/">Карточка товара (Товар для специалистов)</a></li>
		<li><a href="/sale/">Акции и скидки</a></li>
		<li><a href="/sale/item/">Страници акции</a></li>
		<li><a href="/news/">Новости</a></li>
		<li><a href="/news/article/">Новость</a></li>
		<li><a href="/favourites/">Избранное</a></li>
		<li><a href="/search/">Поиск</a></li>
		<li><a href="/brands/">Бренды</a></li>
		<li><a href="/brands/item/">Страница бренда</a></li>
		<li><a href="/brands/item/line/">Страница линии бренда</a></li>
		<li><a href="/consultations/">Консультации</a></li>
		<li><a href="/consultations/item/">Страница Консультации</a></li>
		<li><a href="/consultations/online/">Подбор ухода</a></li>
		<li><a href="/workshop/">Мастер классы</a></li>
		<li><a href="/workshop/item/">Мастер класс</a></li>
		<li><a href="/video-review/">Видео отзывы</a></li>
	</ul>

	<h2>
		Корзина
	</h2>

	<ul class="h3">
		<li><a href="/cart/">Корзина</a></li>
		<li><a href="/cart/order/">Оформление заказа (Новый покупатель)</a></li>
		<li><a href="/cart/order/cdek/#step-2">Оформление заказа (СДЭК)</a></li>
		<li><a href="/cart/order/ip/#step-2">Оформление заказа (Юридическое лицо)</a></li>
		<li><a href="/cart/finish">Спасибо за заказ</a></li>
	</ul>

	<h2>
		Информация
	</h2>

	<ul class="h3">
		<li><a href="/about/">О компании</a></li>
		<li><a href="/contacts/">Контакты</a></li>
		<li><a href="/payment/">Оплата</a></li>
		<li><a href="/shipping/">Доставка</a></li>
		<li><a href="/faq/">FAQ</a></li>
	</ul>

	<h2>
		Schema
	</h2>

	<ul class="h3">
		<li>
			<a target="_blank" href="https://validator.schema.org/#url=https%3A%2F%2Fcosmogid.htmlpluscss.website%2Fproduct%2F">Product, BreadcrumbList</a>
		</li>
		<li>
			<a target="_blank" href="https://validator.schema.org/#url=https%3A%2F%2Fcosmogid.htmlpluscss.website%2Fcontacts%2F">Organization</a>
		</li>
		<li>
			<a target="_blank" href="https://validator.schema.org/#url=https%3A%2F%2Fcosmogid.htmlpluscss.website%2Fconsultations%2Fitem%2F">FAQPage</a>
		</li>
	</ul>

	<h2>
		Lighthouse
	</h2>

	<ul class="h3">
		<li><a target="_blank" href="https://googlechrome.github.io/lighthouse/viewer/?psiurl=https%3A%2F%2Fcosmogid.htmlpluscss.website%2Fmain%2F&strategy=mobile&category=performance&category=accessibility&category=best-practices&category=seo&category=pwa&utm_source=lh-chrome-ext" style="color:red">Главная <b>00</b></a></li>
		<li><a target="_blank" href="https://googlechrome.github.io/lighthouse/viewer/?psiurl=https%3A%2F%2Fcosmogid.htmlpluscss.website%2Fcatalog%2F&strategy=mobile&category=performance&category=accessibility&category=best-practices&category=seo&category=pwa&utm_source=lh-chrome-ext" style="color:red">Каталог <b>87</b></a></li>
		<li><a target="_blank" href="https://googlechrome.github.io/lighthouse/viewer/?psiurl=https%3A%2F%2Fcosmogid.htmlpluscss.website%2Fproduct%2F&strategy=mobile&category=performance&category=accessibility&category=best-practices&category=seo&category=pwa&utm_source=lh-chrome-ext" style="color:red">Карточка товара <b>92</b></a></li>
	</ul>

	<h2>
		Modal
	</h2>

	<div class="flex flex--wrap">

		<div class="item w100p">

			<p>
				модальное окно можно вызвать и js:
			</p>

			<code>

	const eventModalShow = new CustomEvent("modalShow", {
		detail: {
			selector: "login"
		}
	});

	window.modal.dispatchEvent(eventModalShow);

			</code>

			<p>
				где `login` модификатор модального окна
			</p>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="city">
				Новый город
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="callback">
				Заказ обратного звонка
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="review" data-id="123">
				Оставить отзыв
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="video-review">
				Оставить видео-отзыв
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="callback" data-title="Задать вопрос">
				Задать вопрос
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="callback" data-title="Узнать больше">
				Узнать больше
			</button>

		</div>

	</div>

	<div class="flex flex--wrap">

		<div class="item">

			<button

				class="btn btn--outline js-find-analogue"
				type="button"
				data-modal="find-analogue"
				data-id="123"
				data-articleid="234"
				data-link="/product/"
				data-price="2581"
				data-price-old="2581"
				data-img="/img/preview-card/preview-80x80.jpg"
				data-img2x="/img/preview-card/preview-160x160.jpg"
				data-name="Academie Ultimate Line Correcting serum (Корректирующая сыворотка от морщин), 30 мл"
			>
				Найти аналог
			</button>

		</div>

		<div class="item">

			<button

				class="btn btn--outline js-find-notify"
				type="button"
				data-modal="find-notify"
				data-id="123"
				data-articleid="234"
				data-link="/product/"
				data-price="2581"
				data-price-old="2581"
				data-img="/img/preview-card/preview-80x80.jpg"
				data-img2x="/img/preview-card/preview-160x160.jpg"
				data-name="Academie Ultimate Line Correcting serum (Корректирующая сыворотка от морщин), 30 мл"
			>
				Уведомить о наличии
			</button>

		</div>

		<div class="item hide">

			<button class="btn" type="button" data-modal="ok" onclick="document.querySelector('.modal__item--ok .modal__title').innerHTML = `Заголовок`;document.querySelector('.modal__item--ok .modal__text').innerHTML = `Текст сообщения`">
				Info
			</button>

		</div>

	</div>

	<div class="flex flex--wrap">

		<div class="item">

			<button class="btn" type="button" data-modal="errors">
				Ошибки в формах
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="reg">
				Регистрация
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="login">
				Войти в систему
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="sms">
				Ввести код из SMS
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="recovery">
				Забыли пароль
			</button>

		</div>

	</div>

	<div class="flex flex--wrap">

		<div class="item">

			<button class="btn btn--outline" data-modal="cdek">
				Пункты выдачи и постоматы
			</button>

		</div>

		<div class="item">

			<button class="btn btn--outline" data-modal="calendar">
				Дата и время пикер
			</button>

		</div>

	</div>

	<div class="flex flex--wrap">

		<div class="item">

			<button class="btn" data-modal="consultation">
				О консультации
			</button>

		</div>

	</div>

	<hr>

	<h2>
		Buttons
	</h2>

	<div class="flex flex--wrap">

		<div class="item">

			<button class="btn">
				btn
			</button>

		</div>

		<div class="item">

			<button class="btn btn--gray">
				btn btn--gray
			</button>

		</div>

		<div class="item">

			<button class="btn btn--outline">
				btn btn--outline
			</button>

		</div>

		<div class="item">

			<button class="btn btn--more">
				btn btn--more
			</button>

		</div>

		<div class="item">

			<button class="btn" disabled="disabled">
				btn disabled
			</button>

		</div>

		<div class="item">

			<button class="btn btn--link">
				btn--link
			</button>

		</div>

		<div class="item">

			<button class="btn btn--hash">
				btn--hash
			</button>

		</div>

		<div class="item">

			<button class="btn btn--hash btn--small">
				btn--hash btn--small
			</button>

		</div>

		<div class="item">

			<button class="btn btn--text">
				btn--text
			</button>

		</div>

		<div class="item">

			<button class="btn btn--text">

				<svg width="24" height="24" viewBox="0 0 24 24">
					<path d="M16 18a1 1 0 0 0 0-2H6.99A1 1 0 0 0 6 17a1 1 0 0 0 .99 1H16ZM6 7a1 1 0 0 0 1 1h13a1 1 0 0 0 1-1 1 1 0 0 0-1-1H7a1 1 0 0 0-1 1Zm14 6a1 1 0 1 0 0-2H7a1 1 0 1 0 0 2h13Z"/>
					<circle cx="4" cy="7" r="1"/>
					<circle cx="4" cy="12" r="1"/>
					<circle cx="4" cy="17" r="1"/>
				</svg>

				btn--text + ico

			</button>

		</div>

		<div class="item">

			<button class="btn btn--big">
				btn--big
			</button>

		</div>

		<div class="item">

			<button class="btn btn--medium">
				btn--medium
			</button>

		</div>

		<div class="item">

			<button class="btn btn--small">
				btn--small
			</button>

		</div>

	</div>

	<h3>
		Checkbox
	</h3>

	<div class="flex flex--wrap">

		<div class="item">

			<label class="checkbox">

				<input type="checkbox" class="checkbox__input visuallyhidden">

				<span class="checkbox__label">
					Выберите значение
				</span>

			</label>

		</div>

		<div class="item">

			<label class="checkbox">

				<input type="checkbox" class="checkbox__input visuallyhidden" checked="checked">

				<span class="checkbox__label">
					Выберите значение
				</span>

			</label>

		</div>

		<div class="item">

			<label class="checkbox">

				<input type="checkbox" class="checkbox__input visuallyhidden" disabled="disabled">

				<span class="checkbox__label">
					Выберите значение
				</span>

			</label>

		</div>

		<div class="item">

			<label class="checkbox">

				<input type="checkbox" class="checkbox__input visuallyhidden" disabled="disabled" checked="checked">

				<span class="checkbox__label">
					Выберите значение
				</span>

			</label>

		</div>

	</div>

	<h3>
		Radio
	</h3>

	<div class="flex flex--wrap">

		<div class="item">

			<label class="checkbox">

				<input type="radio" class="checkbox__input visuallyhidden" name="radio">

				<span class="checkbox__label">
					Выберите значение
				</span>

			</label>

		</div>

		<div class="item">

			<label class="checkbox">

				<input type="radio" class="checkbox__input visuallyhidden" name="radio" checked="checked">

				<span class="checkbox__label">
					Выберите значение
				</span>

			</label>

		</div>

		<div class="item">

			<label class="checkbox">

				<input type="radio" class="checkbox__input visuallyhidden" disabled="disabled">

				<span class="checkbox__label">
					Выберите значение
				</span>

			</label>

		</div>

		<div class="item">

			<label class="checkbox">

				<input type="radio" class="checkbox__input visuallyhidden" disabled="disabled" checked="checked">

				<span class="checkbox__label">
					Выберите значение
				</span>

			</label>

		</div>

	</div>

	<hr>

	<h2>
		Input
	</h2>

	<div class="flex flex--wrap">

		<div class="item">

			<input class="input" placeholder="placeholder">

		</div>

		<div class="item">

			<input class="input" value="value">

		</div>

		<div class="item">

			<input class="input" value="disabled" disabled="disabled">

		</div>

	</div>

	<div class="flex flex--wrap">

		<div class="item">

			<div class="inputbox">

				<label for="inputbox" class="inputbox__label">
					* Индекс
				</label>

				<input id="inputbox" placeholder="Введите название" class="input" required="required">

			</div>

		</div>

		<div class="item">

			<div class="inputbox">

				<label for="inputbox-2" class="inputbox__label">
					* Индекс
				</label>

				<input id="inputbox-2" value="123" class="input" required="required">

			</div>

		</div>

	</div>

	<div class="flex flex--wrap">

		<div class="item">

			<div class="fileupload">

				<label class="fileupload__btn">

					<input type="file" name="file" class="visuallyhidden">

					<span class="btn btn--link">
						Добавить фото
					</span>

				</label>

			</div>

		</div>

		<div class="item">

			<div class="fileupload">

				<label class="fileupload__btn">

					<input type="file" name="file" class="visuallyhidden">

					<span class="btn btn--hash">
						Приложить файл с реквизитами
					</span>

				</label>

			</div>

		</div>


	</div>

	<hr>

	<h2>
		Select
	</h2>

	<div class="flex flex--wrap">

		<div class="item">

			<div class="select">

				<select name="select">

					<option value="1">Все заказы</option>
					<option value="2">Готов к выдаче</option>
					<option value="3">Собирается</option>
					<option value="4">Отправлен</option>
					<option value="5">Получен заказчиком</option>
					<option value="6">Ожидает согласования</option>

				</select>

			</div>

		</div>

		<div class="item">

			<div class="select select--white">

				<select name="select2">

					<option value="1">Все заказы</option>
					<option value="2" selected="selected">Готов к выдаче</option>
					<option value="3">Собирается</option>
					<option value="4">Отправлен</option>
					<option value="5">Получен заказчиком</option>
					<option value="6">Ожидает согласования</option>

				</select>

			</div>

		</div>

		<div class="item">

			<div class="select select--filter select--white">

				<select name="select-filter">
					<option value="none">Выбрать</option>
					<option value="1">ПАО Газпром нефть</option>
					<option value="2">Газпром</option>
					<option value="3">Газпром нефть - ЦР</option>
					<option value="4">Газпром нефть - ПИ</option>
					<option value="5">Газпром нефть - МА</option>
					<option value="6">Газпром нефть - ЩЫ</option>
					<option value="7">Газпром нефть - ЁЕ</option>
				</select>

			</div>

		</div>

	</div>

</div>

{% endblock %}