				<fieldset class="filter__fieldset">

					<legend class="filter__legend is-open">
						Бренды
					</legend>

					<div class="filter__box js-letter js-live-search">

						<ul class="filter-letter">

							<li class="filter-letter__item">

								<button class="filter-letter__btn js-letter__btn button" type="button" data-value="top">
									Все
								</button>

							</li>
{% set lastLetter = '' %}

{% for letter in brands %}

	{% if lastLetter | upper !== letter.name | first | upper %}

		{% set lastLetter = letter.name | first %}

							<li class="filter-letter__item">

								<button class="filter-letter__btn js-letter__btn button" type="button" data-value="{{ lastLetter }}">
									{{ lastLetter }}
								</button>

							</li>

	{% endif %}

{% endfor %}

						</ul>

						<div class="filter__fastfilter">

							<input class="input js-live-search__input" placeholder="Поиск">

							<button class="button filter__fastfilter-reset js-live-search__reset hide" type="button" aria-label="Очистить поле">
								<svg width="24" height="24" viewBox="0 0 24 24">
									<use xlink:href="#svg-close"/>
								</svg>
							</button>

						</div>

						<div class="filter__scroll is-scroll js-letter__scroll">

{% for checkbox in brands %}

							<label class="checkbox js-letter__item js-live-search__item" data-letter="{{ checkbox.name | first }}" data-live-search="{{ checkbox.name }}">

								<input class="checkbox__input visuallyhidden" type="checkbox"{% if range(0,10) | random === 0 %} disabled="disabled"{% endif %}{% if range(0,10) | random === 0 %} checked="checked"{% endif %}>

								<span class="checkbox__label">
									{{ checkbox.name }} <b>({{ range(0,1000) | random }})</b>
								</span>

							</label>

{% endfor %}

						</div>

					</div>

				</fieldset>