{% set title = "Справочник ингридиентов" %}

{% set description = "300 вариантов" %}

{% set urlPage = "spravka" %}

{% set breadcrumbs = ['Каталог','Справочник ингридиентов','Все'] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="center">

		<header class="catalog-head">

			<h1 class="h1 catalog-head__title" data-counter="300 вариантов">
				{{ title }}
			</h1>

		</header>

{% include "spravka/letters.html" %}

		<div class="producers-search">

{% include "spravka/search.html" %}

		</div>

		<div class="producers-list" data-empty="Подходящих ингридиентов не найдено">

{% include "producers/brand.html" %}

		</div>

	</section>

{% endblock %}