		<div class="product-img">

			<div class="product-img__swiper swiper-container-style">

				<div class="swiper-container swiper-container--product">

					<ul class="product-img__list swiper-wrapper">

{% for item in [
	'20b19e7730d19695647a78282a17b980',
	'7ddf1d8530d169e219e87f7f3f1ec591',
	'd1ed21a1f86e9b12d86c67bdcacd41bc'
] %}

						<li class="product-img__item swiper-slide{% if loop.index > 1 %} hide{% endif %}">

							<picture>

								<source srcset="/img/product/{{ item }}--tablet@1x.webp 1x, /img/product/{{ item }}--tablet@2x.webp 2x" type="image/webp" media="(min-width: 375px)">
								<source srcset="/img/product/{{ item }}--tablet@1x.jpg 1x, /img/product/{{ item }}--tablet@2x.jpg 2x" media="(min-width: 375px)">

								<source srcset="/img/product/{{ item }}--mobile@1x.webp 1x, /img/product/{{ item }}--mobile@2x.webp 2x" type="image/webp">
								<source srcset="/img/product/{{ item }}--mobile@1x.jpg 1x, /img/product/{{ item }}--mobile@2x.jpg 2x">

								<img class="product-img__img" src="/img/product/{{ item }}--tablet@1x.jpg" alt="Xiaomi Mi Pad 4 Plus 64GB/4GB Black" loading="lazy" width="210" height="210">

							</picture>

						</li>

{% endfor %}

					</ul>

				</div>

			</div>

		</div>