{% set title = "Крем для рук ERICSON LABORATOIRE mini-kit acti-biotic (мини-кит) 3 шт по 10 мл" %}

{% set description = "Краска для волос Orofluido Colour Elixir создана на основе арганового, льняного и кипарисового масел, которые перемешиваются с активатором для того, чтобы сделать цвет более интенсивным, а также гарантировать проникновение сквозь текстуру волоса окрашивающих пигментов без повреждений кутикулы." %}

{% set ogImage = "img/product/big.jpg" %}
{% set ogImage236 = "img/product/og-236.jpg" %}
{% set urlPage = "product" %}

{% set preloadImage = [
	{
		media: "(min-width: 375px)",
		img : "/img/product/640x640.webp"
	},
	{
		media: "(max-width: 374px)",
		img : "/img/product/640x640.webp"
	}
] %}

{% set breadcrumbs = ['Лицо','Для увлажнения кожи','Крем','Ericson laboratoire'] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

{% include "product/tab2.html" %}


	</article>

{% endblock %}