					<div class="tabs__item visuallyhidden">

						<h2 class="product-tabs__heading visuallyhidden" id="review">
							Отзывы
						</h2>

						<div class="product-tabs__review">

							<div class="review">

								<div class="review__btns">

									<button class="btn" type="button" data-modal="review" data-id="123">
										Оставить отзыв
									</button>

									<button class="btn btn--outline" type="button" data-modal="callback" data-title="Задать вопрос" data-id="123">
										Задать вопрос
									</button>

								</div>

{% for item in [
	{
		name : "Галина",
		text : "Имеется спорная точка зрения, гласящая примерно следующее: многие известные личности, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. Каждый из нас понимает очевидную вещь: дальнейшее развитие различных форм.",
		sub : [
			{
				name : "Администрация",
				text : "Как принято считать, реплицированные с зарубежных источников, современные исследования объявлены нарушающими общечеловеческие нормы этики и морали."
			},
			{
				name : "Майя Сидорофф",
				text : "Как принято считать, реплицированные с зарубежных источников, современные исследования объявлены нарушающими общечеловеческие нормы этики и морали."
			},
			{
				name : "Администрация",
				text : "Как принято считать, реплицированные с зарубежных источников, современные исследования объявлены нарушающими общечеловеческие нормы этики и морали."
			}
		]
	},
	{
		name : "Мария Кузякина",
		text : "Долго искала краску которую могу выдержать на голове что бы она не пекла и не палила мне голову и была щадящей к волосам. Попробовала Лореаль Иноа, Решила что это мое спасение и я смогу отрастить длину. Но спустя 9 месяцев пользования обнаружила что 20% моих волос просто отпали в 5 см от корня. Она просто мне перепалила волос. Такого не было даже при длительном использовании красок с амиаком.",
		sub : [
			{
				name : "Администрация",
				text : "Как принято считать, реплицированные с зарубежных источников, современные исследования объявлены нарушающими общечеловеческие нормы этики и морали."
			},
			{
				name : "Майя Сидорофф",
				text : "Как принято считать, реплицированные с зарубежных источников, современные исследования объявлены нарушающими общечеловеческие нормы этики и морали."
			}
		]
	},
	{
		name : "Эльвира",
		text : "Имеется спорная точка зрения, гласящая примерно следующее: многие известные личности, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. Каждый из нас понимает очевидную вещь: дальнейшее развитие различных форм."
	},
	{
		name : "Мирриам",
		text : "Имеется спорная точка зрения, гласящая примерно следующее: многие известные личности, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. Каждый из нас понимает очевидную вещь: дальнейшее развитие различных форм."
	}
] %}

								<div class="review__group">

{% include "product/review.html" %}

					{% if item.sub %}

									<div class="review__sub">

{% for item in item.sub %}

{% include "product/review.html" %}

{% endfor %}

									</div>

					{% endif %}

								</div>

{% endfor %}

							</div>

						</div>

					</div>