				<div class="tabs product-tabs">

					<div class="tabs__nav">

						<button class="tabs__btn button is-active" type="button">
							Описание
						</button>

						<button class="tabs__btn button" type="button">
							Характеристики
						</button>

						<button class="tabs__btn button" type="button">
							Отзывы
						</button>

						<button class="tabs__btn button" type="button">
							Сертификаты и документы
						</button>

					</div>

{% include "product/tab-1.html" %}

{% include "product/tab-2.html" %}

{% include "product/tab-3.html" %}

{% include "product/tab-4.html" %}

				</div>
