				<div class="tabs product-tabs">

					<div class="tabs__nav">

						<button class="tabs__btn button is-active" type="button">
							<span class="h4">
								Описание
							</span>
						</button>

						<button class="tabs__btn button" type="button">
							<span class="h4">
								Характеристики
							</span>
						</button>

						<button class="tabs__btn button" type="button">
							<span class="h4">
								Отзывы
							</span>
						</button>

						<button class="tabs__btn button" type="button">
							<span class="h4">
								Сертификаты и документы
							</span>
						</button>

					</div>

{% include "product/tab-1.html" %}

{% include "product/tab-2.html" %}

{% include "product/tab-3.html" %}

{% include "product/tab-4.html" %}

				</div>
