{% set title = "ZO Skin программа лечения акне для нормальной и сухой кожи" %}

{% set description = "Внезапно, сторонники тоталитаризма в науке неоднозначны и будут своевременно верифицированы! Являясь всего лишь частью общей картины, действия представителей оппозиции преданы социально-демократической." %}

{% set breadcrumbsMod = "is-small" %}
{% set breadcrumbs = ["Каталог", "Лицо", "Протоколы процедур", "ZO Skin программа лечения акне для нормальной и сухой кожи"] %}

{% set ogType = "article" %}
{% set urlPage = "product" %}
{% set ogImage = "img/product/gallery/1--928x928.jpg" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<article class="product">

{% include "product/schema.html" %}

			<div class="product__grid">

				<h1 class="product__title">
					{{ title }}
				</h1>

				<div class="product__gallery">

{% include "product/gallery.html" %}

				</div>

				<div class="product__bar">

{% include "product/set/buy.html" %}

{% include "product/service.html" %}

				</div>

				<div class="product__specs">

{% include "product/set/specs.html" %}

				</div>

				<p class="product__description">
					{{ description }}
				</p>

			</div>

			<div class="product__tabs">

{% include "product/set/tabs.html" %}

			</div>

		</article>

{% set previewSwiperTitle = "поддерживающий ежедневный домашний уход" %}
{% set previewSwiperDesc = "Не забывайте про поддерживающий и усиливающий действие уход, тогда курс процедур будет максимально эффективными и стойкий результат" %}

{% include "_include/recently-watched.html" %}

{% set previewSwiperTitle = "Другие профессиональные программы ухода Skin Health" %}

{% include "_include/recently-watched.html" %}

{% set previewSwiperTitle = "Вы недавно смотрели" %}

{% include "_include/recently-watched.html" %}

{% include "_include/support.html" %}

	</div>

{% endblock %}