					<table class="product__table">

						<tbody>

{% for tr in [
	{
		th : "Код",
		td : "494303"
	},
	{
		th : "Производитель",
		td : "<a href=\"/\">Moroccanoil (Израиль)</a>"
	},
	{
		th : "Косметическая линия",
		td : "<a href=\"/\">Шампуни и кондиционеры</a>"
	},
	{
		th : "Себестоимость при покупке всей программы в Cosmogid",
		td : "1500 pублей",
		class : "is-set"
	},
	{
		th : "Рекомендуемая стоимость в салонах красоты",
		td : "2500 рублей",
		class : "is-set"
	},
	{
		th : "Время проведения процедуры",
		td : "50 минут",
		class : "is-set"
	},
	{
		th : "Длительность курса",
		td : "5 месяцев",
		class : "is-set"
	}
]%}

							<tr>

								<th>
									{{ tr.th }}:
								</th>

								<td{% if tr.class %} class="{{ tr.class }}"{% endif %}>
									{{ tr.td | safe }}
								</td>

							</tr>

{% endfor %}

						</tbody>

					</table>

					<div class="product__open-tab">

						<a href="#description" class="btn">
							Что входит в протокол
						</a>

					</div>