					<div class="tabs__item">

						<h2 class="product-tabs__heading visuallyhidden" id="description">
							Описание и состав
						</h2>

						<div class="product-tabs__description content is-readmore-off">

							<p>
								Ощущаете ужасную стянутость кожи после каждого очищения? Если пропускать этап тонизирования, это негативно скажется на состоянии эпидермиса. Восстановление оптимального уровня pH крайне важно для здорового и сияющего внешнего вида. Гиалуроновый тоник с увлажняющим эффектом для сухой и нормальной кожи -  мгновенное успокоение эпидермиса, залог его готовности к дальнейшему уходу. Регулярные и последовательные бьюти-процедуры с брендом SKINBAR подарят вам длительную молодость и свежесть. Позаботьтесь о своем комфорте!
							</p>

							<h3>
								(h3) Особенности SKINBAR Hyaluronic Acid & Niacin Face Tonic:
							</h3>

							<ul>
								<li>
									предназначен для нормальной и сухой кожи;
								</li>

								<li>
									гиалуроновая кислота дарит глубокое увлажнение эпидермису;
								</li>

								<li>
									не нарушает кислотно-щелочной баланс;
								</li>

								<li>
									интенсивно питает и успокаивает кожу;
								</li>

								<li>
									снимает раздражения и воспалительные процессы на лице;
								</li>

								<li>
									выравнивает тон кожи;
								</li>

								<li>
									не оставляет ощущение стянутости и пленки.
								</li>
							</ul>

						</div>

						<div class="product-tabs__specs">

							<table class="product__table">

{% include "product/param-tbody.html" %}

							</table>

							<table class="product__table">

{% include "product/param-tbody.html" %}

							</table>

						</div>

{% include "product/set/accordion.html" %}

{% include "product/set/total.html" %}

					</div>