				<div class="tabs product-tabs">

					<div class="tabs__nav">

						<button class="tabs__btn button is-active" type="button">
							Описание и состав
						</button>

						<button class="tabs__btn button" type="button">
							Таблица поэтапного нанесения
						</button>

						<button class="tabs__btn button" type="button">
							Видео
						</button>

						<button class="tabs__btn button" type="button">
							Отзывы
						</button>

						<button class="tabs__btn button" type="button">
							Сертификаты
						</button>

					</div>

{% include "product/set/tab-1.html" %}

{% include "product/set/tab-2.html" %}

{% include "product/tab-5.html" %}

{% include "product/tab-3.html" %}

{% include "product/tab-4.html" %}

				</div>
